<div class="vacation-mode-banner" data-qa="vacationModeBanner" appDeviceClasses>
    <span>{{ 'navigation.holidaysModeActivated' | translate }}</span>
    <button kia-button variant="white-bordered" compact (click)="unableVacationMode()">
        {{ 'common.unable' | translate }}
    </button>
</div>
