@import 'src/variables';

.vacation-mode-banner {
    background-color: $kia-orange;
    padding: 10px 50px;
    font-size: 12px;
    box-sizing: border-box;
    height: $beta-banner-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #ffffff;
    width: 100%;

    &.handset {
        padding: 0;
    }

    > button {
        height: 30px;
    }
}
