<app-main-header *ngIf="deviceService.isHandset$ | async"></app-main-header>

<form [formGroup]="signUpForm!" (ngSubmit)="signUp()" name="signUpForm" appDeviceClasses>
    <div class="sign-up-container" [class.loading]="isLoading$ | async">
        <h1>{{ 'userForm.signUp' | translate }}</h1>
        <mat-form-field>
            <mat-label>{{ 'userForm.firstName' | translate }}</mat-label>
            <input
                autocomplete="given-name"
                maxlength="50"
                matInput
                formControlName="firstName"
                type="text"
                required
                data-qa="firstName"
            />
            <mat-error *ngIf="signUpForm?.controls?.firstName?.errors?.minlength">
                {{ 'userForm.error.minLength' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.firstName?.errors?.pattern">
                {{ 'userForm.error.pattern' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.firstName?.errors?.invalidName">
                {{ 'userForm.error.invalidName' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.lastName' | translate }}</mat-label>
            <input
                autocomplete="family-name"
                maxlength="50"
                matInput
                formControlName="lastName"
                type="text"
                required
                data-qa="lastName"
            />
            <mat-error *ngIf="signUpForm?.controls?.lastName?.errors?.minlength">
                {{ 'userForm.error.minLength' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.lastName?.errors?.pattern">
                {{ 'userForm.error.pattern' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.lastName?.errors?.invalidName">
                {{ 'userForm.error.invalidName' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.nickname' | translate }}</mat-label>
            <input
                autocomplete="nickname"
                matInput
                maxlength="50"
                formControlName="nickname"
                type="text"
                required
                data-qa="nickName"
            />
            <div matSuffix *ngIf="signUpForm?.controls?.nickname?.status === 'PENDING'">
                <mat-spinner [diameter]="15"></mat-spinner>
            </div>
            <mat-error *ngIf="signUpForm?.controls?.nickname?.errors?.retry">
                {{ 'userForm.error.retry' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.nickname?.errors?.notUnique">
                {{ 'userForm.error.nicknameTaken' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.nickname?.errors?.pattern">
                {{ 'userForm.error.invalidNickname' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.nickname?.errors?.unauthorizedName">
                {{ 'userForm.error.unauthorizedName' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.gender.title' | translate }}</mat-label>
            <mat-select formControlName="gender" required data-qa="gener">
                <mat-option value="F">{{ 'userForm.gender.women' | translate }}</mat-option>
                <mat-option value="M">{{ 'userForm.gender.men' | translate }}</mat-option>
                <mat-option value="U">{{ 'userForm.gender.unspecified' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.birthDate' | translate }}</mat-label>
            <input
                [imask]="{ mask: '00/00/0000' }"
                autocomplete="bday"
                matInput
                formControlName="birthDate"
                type="text"
                placeholder="JJ/MM/AAAA"
                required
                data-qa="birthDate"
            />
            <mat-hint>{{ 'userForm.hint.dateFormat' | translate }}</mat-hint>
            <mat-error *ngIf="signUpForm?.controls?.birthDate?.errors?.invalidFormat">
                {{ 'userForm.error.birthdateFormat' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.birthDate?.errors?.invalidLegalDate">
                {{ 'userForm.error.invalidLegalBirthdate' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.birthDate?.errors?.invalidDate">
                {{ 'userForm.error.invalidBirthdate' | translate }}
            </mat-error>
        </mat-form-field>
        <div class="france-only">
            <app-france-flag-icon></app-france-flag-icon>
            {{ 'userForm.franceOnly' | translate }}
        </div>
        <mat-form-field>
            <mat-label>{{ 'userForm.email' | translate }}</mat-label>
            <input
                autocomplete="email"
                matInput
                maxlength="70"
                formControlName="email"
                type="email"
                required
                data-qa="email"
            />
            <div matSuffix *ngIf="signUpForm?.controls?.email?.status === 'PENDING'">
                <mat-spinner [diameter]="15"></mat-spinner>
            </div>
            <mat-error *ngIf="signUpForm?.controls?.nickname?.errors?.retry">
                {{ 'userForm.error.retry' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.email?.errors?.invalid">
                {{ 'userForm.error.emailInvalid' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.email?.errors?.pattern">
                {{ 'userForm.error.emailFormat' | translate }}
            </mat-error>
            <mat-error *ngIf="signUpForm?.controls?.email?.errors?.notUnique">
                {{ 'userForm.error.emailTaken' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.emailConfirmation' | translate }}</mat-label>
            <input
                matInput
                maxlength="70"
                formControlName="emailConfirmation"
                type="email"
                required
                data-qa="emailConfirmation"
            />
            <mat-error *ngIf="signUpForm?.controls?.emailConfirmation?.errors?.mustMatch">
                {{ 'userForm.error.emailMustMatch' | translate }}
            </mat-error>
        </mat-form-field>

        <app-password-with-confirm formControlName="password" data-qa="password"></app-password-with-confirm>

        <re-captcha formControlName="reCaptcha"></re-captcha>

        <div class="conditions-acceptance">
            <mat-checkbox color="primary" formControlName="cgu" data-qa="cgu">
                {{ 'userForm.cgu.0' | translate }}
                <a *ngIf="!isNative" routerLink="/other/cgu" target="_blank">{{ 'userForm.cgu.1' | translate }}</a>
                <button *ngIf="isNative" class="link" (click)="openCguDialog()">
                    {{ 'userForm.cgu.1' | translate }}
                </button>
                *
            </mat-checkbox>
        </div>
        <div class="conditions-acceptance">
            <mat-checkbox color="primary" formControlName="lemonwayCGU" data-qa="lemonwayCGU">
                {{ 'userForm.lemonwayCgu.0' | translate }}
                <a *ngIf="!isNative" routerLink="/other/lemonway-cgu" target="_blank">{{
                    'userForm.lemonwayCgu.1' | translate
                }}</a>
                <button *ngIf="isNative" class="link" (click)="openLemonwayCguDialog()">
                    {{ 'userForm.lemonwayCgu.1' | translate }}
                </button>
                *
            </mat-checkbox>
        </div>
        <div class="conditions-acceptance">
            <mat-checkbox color="primary" formControlName="commercialEmails" data-qa="commercialEmails">
                {{ 'userForm.commercialEmails' | translate }}
            </mat-checkbox>
        </div>
        <button kia-button type="submit" class="sign-up-button" [disabled]="!!signUpForm?.invalid" data-qa="btnSubmit">
            {{ 'userForm.signUp' | translate }}
        </button>

        <div class="gdpr-reminder">
            <p [innerHTML]="'text.signup.0' | translate"></p>
            <p *ngIf="!isNative" [innerHTML]="'text.signup.1' | translate"></p>
            <p *ngIf="isNative">
                <span>{{ 'text.signup.nativeLink' | translate }} </span>
                <button class="link" (click)="openPrivacyDialog()">
                    {{ 'text.signup.nativePersonalData' | translate }}
                </button>
            </p>
        </div>
    </div>

    <div class="spinner" *ngIf="isLoading$ | async">
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>
</form>
