@import 'src/variables';

:host {
    form {
        background-color: $content-background-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.handset {
            padding-bottom: $footer-height;
        }
    }

    .spinner {
        position: absolute;
        top: 0;
        height: 100vh;
        align-items: center;
    }

    .sign-up-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        margin: 20px 0;
        width: calc(100% - 20px);
        max-width: 448px;
        box-sizing: border-box;

        &.loading {
            opacity: 0.3;
        }

        mat-form-field {
            margin-bottom: 12px;
        }

        .sign-up-button {
            margin-bottom: 12px;
        }

        a {
            width: 100%;
        }

        re-captcha {
            margin-bottom: 30px;
        }

        .conditions-acceptance {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            font-size: 10px;

            mat-checkbox {
                margin-right: 12px;
            }
        }
    }

    .france-only {
        margin-bottom: 12px;
        border: 1px solid $light-text-color;
        color: $light-text-color;
        padding: 0.75em;
        border-radius: 4px;

        app-france-flag-icon {
            margin-right: 4px;
        }
    }

    .gdpr-reminder {
        font-size: 12px;
        color: $light-text-color;
    }

    .link {
        background: none !important;
        border: none;
        padding: 0 !important;
        /*optional*/
        font-family: arial, sans-serif;
        /*input has OS specific font-family*/
        color: #0000ee;
        text-decoration: underline;
        cursor: pointer;
        font-size: 10px;
        line-height: 12px;
        text-align: left;
    }
}
