<div class="product-list" [ngClass]="{ 'no-product': noProductFound$ | async }">
    <app-product-list
        [loading]="loading$ | async"
        [products]="products"
        [totalElements]="totalElements"
        [showPublicity]="true"
        [parentScrollEl]="parentScrollEl"
        (fetchProducts)="onScroll()"
        *ngIf="(noProductFound$ | async) === false"
    ></app-product-list>
    <div class="no-product-found" *ngIf="noProductFound$ | async">
        <div>
            <app-animated-smiley></app-animated-smiley>
            <div class="no-product-found-title">
                {{ 'searchPage.noArticleFound' | translate }}
            </div>
        </div>
        <div class="tips">
            <div class="tips-title">
                {{ 'searchPage.tips.title' | translate }}
            </div>

            <div class="tips-item">
                {{ 'searchPage.tips.one' | translate }}
            </div>
            <div class="tips-item">
                {{ 'searchPage.tips.two' | translate }}
            </div>
        </div>
    </div>
</div>
