:host {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 40px;
    background: orange;
    z-index: 10000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
