@import 'src/variables';

.voucher-dialog-container {
    background-color: $content-background-color;
    height: 100%;
    position: relative;

    .picture-header {
        height: 180px;
        width: 100%;
        background-image: url('/assets/images/Profil_MesCagnottes_BonAchatDetail_Bg@2x.jpg');
        background-position: center;
        background-size: cover;
    }

    .amount-absolute-container {
        position: absolute;
        top: 90px;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;

        .amount-container {
            width: 85%;
            height: 120px;
            max-width: 315px;
            background-color: $kia-dark-blue;
            box-shadow: 0 -8px 14px rgba(4, 0, 55, 0.5);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;

            > span:first-child {
                font-size: $large-text-font-size;
                font-weight: bold;
            }

            > span:last-child {
                font-size: 50px;
                font-weight: bold;
            }
        }
    }

    .notice {
        color: $medium-text-color;
        font-size: $normal-text-font-size;
        background-color: $content-background-color;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0 20px;
        box-sizing: border-box;
    }

    .content-store {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        .barcode-component {
            width: 100%;
            margin-top: 20px;

            .barcode {
                width: 100%;

                svg {
                    width: 100%;
                    height: 70px;
                }
            }
        }

        .barcode-value {
            font-size: $small-text-font-size;
        }

        .good-to-know {
            color: $kia-green;
            font-size: $small-text-font-size;
            font-style: italic;
            text-align: center;
        }
    }

    .content-web {
        background-color: $content-background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }
    }

    .in-store {
        color: $kia-dark-blue;
        font-size: $small-text-font-size;
        font-weight: bold;
    }

    .explanation {
        color: $kia-dark-blue;
        font-size: $small-text-font-size;
    }
}
