<div class="voucher-dialog-container">
    <div class="picture-header"></div>
    <div class="amount-absolute-container">
        <div class="amount-container" data-qa="barcodeTitle">
            <span>{{ 'profile.storeCredit.voucherDialog.availableCredit' | translate }}</span>
            <span>{{ voucher.value | currency }}</span>
        </div>
    </div>
    <div class="notice">
        {{ 'profile.storeCredit.voucherDialog.notice' | translate }}
    </div>
    <div class="content-store">
        <div class="in-store">{{ 'profile.storeCredit.voucherDialog.inStore' | translate }}</div>
        <div class="explanation">{{ 'profile.storeCredit.voucherDialog.explanation' | translate }}</div>
        <ngx-barcode
            class="barcode-component"
            [bc-format]="'CODE128'"
            [bc-width]="1"
            [bc-value]="voucher.idCard"
            data-qa="barcodePrinted"
        ></ngx-barcode>
        <div class="barcode-value" data-qa="barcodeValue">{{ voucher.idCard }}</div>
        <p class="good-to-know" data-qa="goodToKnow">
            {{ 'profile.storeCredit.voucherDialog.goodToKnow' | translate }}
        </p>
    </div>
    <!--    todo reactivate v2-->
    <div class="content-web">
        <!--        <div class="in-store">{{ 'profile.storeCredit.voucherDialog.onWeb' | translate }}</div>-->
        <!--        <div class="explanation">{{ 'profile.storeCredit.voucherDialog.webExplanation' | translate }}</div>-->
        <div class="buttons">
            <button type="button" kia-button variant="bordered" mat-dialog-close data-qa="btnReturnVoucher">
                {{ 'common.back' | translate }}
            </button>
            <!--            <button type="button" kia-button (click)="copyIdCard()">-->
            <!--                {{ 'profile.storeCredit.voucherDialog.copyNumber' | translate }}-->
            <!--            </button>-->
            <!--        </div>-->
        </div>
    </div>
</div>
