@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filter-container {
    position: relative;
    padding: 0 10px 5px;

    .filter {
        border: none;
        height: 45px;
        padding: 0 40px;
        border-radius: 8px;
        box-sizing: border-box;
        width: 100%;
        font-size: 16px;
    }

    .search-picto {
        position: absolute;
        left: 18px;
        top: 9px;
        font-size: 26px;
    }

    .clear-filter-button {
        position: absolute;
        right: 8px;
    }
}

.selected-brands-list {
    margin-bottom: 12px;
    max-height: 150px;
    overflow-y: auto;
}

.scroll {
    flex: 1;
}
