<div class="filter-container">
    <input
        type="text"
        class="filter"
        [formControl]="inputSearch"
        [placeholder]="'filter.brands.searchPlaceholder' | translate"
    />
    <mat-icon class="search-picto">search</mat-icon>
    <button type="button" *ngIf="inputSearch.value" class="clear-filter-button" mat-icon-button (click)="clearFilter()">
        <mat-icon>clear</mat-icon>
    </button>
</div>

<div class="selected-brands-list scrollbar-handset" *ngIf="(selectedBrands$ | async)?.length">
    <app-filter-item-selectable
        *ngFor="let brand of selectedBrands$ | async; trackBy: trackById"
        [value]="true"
        (valueChange)="removeBrandFromFilter(brand)"
        [attr.data-qa]="brand.label"
    >
        {{ brand.label }}
    </app-filter-item-selectable>
</div>

<virtual-scroller #scroll [items]="(filteredBrands$ | async) || []" appDeviceClasses class="scroll scrollbar-handset">
    <app-filter-item-selectable
        *ngFor="let brand of scroll.viewPortItems; trackBy: trackById"
        [value]="false"
        (valueChange)="selectBrand(brand)"
        [attr.data-qa]="brand.label"
    >
        {{ brand.label }}
    </app-filter-item-selectable>
</virtual-scroller>
