<div class="product-card" [ngClass]="{ sold: product?.productStatus === ProductStatusEnum.UNAVAILABLE }">
    <a class="product-card_owner" *ngIf="displayOwner" [routerLink]="['/profile', product?.owner?.id]">
        <app-avatar
            class="avatar-product-card"
            [avatar]="product?.owner?.picture"
            [diameter]="(isHandset$ | async) ? 25 : 30"
        ></app-avatar>
        <span class="nickname" data-qa="nickname">
            {{ product?.owner?.nickname }}
        </span>
        <div class="pro-chip" *ngIf="product?.owner?.type === UserType.PROFESSIONAL">
            <app-chip variant="pink">Pro</app-chip>
        </div>
    </a>

    <button type="button" class="product-card_img" (click)="productClicked()">
        <img
            appDeviceClasses
            class="productPicture"
            [src]="getFullUrl(product!.pictures[0].fileName!)"
            [alt]="product?.label"
            (load)="onImageLoad()"
            [appThumbnailFormat]="{ origin: getFullUrl(product!.pictures[0].fileName!), format: 'listing' }"
            loading="lazy"
        />

        <span class="score-container" *ngIf="(isAdmin$ | async) && product && !!product.searchScore">
            {{ 'productCard.score' | translate: { score: product.searchScore } }}
        </span>

        <span class="picture-overlay" *ngIf="product?.productStatus === ProductStatusEnum.UNAVAILABLE"></span>
        <span class="picture-sold-overlay" *ngIf="product?.productStatus === ProductStatusEnum.UNAVAILABLE">
            {{ 'productCard.sold' | translate }}
        </span>

        <button
            type="button"
            class="cart-button mat-elevation-z4"
            [class.create-lot]="canCreateLot$ | async"
            [class.add-lot]="canAddToLot$ | async"
            [class.remove-lot]="canRemoveFromLot$ | async"
            (click)="onCartButtonClicked($event)"
            *ngIf="displayLotAction && product?.productStatus === ProductStatusEnum.AVAILABLE"
        >
            <ng-container *ngIf="canCreateLot$ | async">
                <mat-icon>local_mall</mat-icon>
                <span class="button-text">{{ 'common.createLot' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="canAddToLot$ | async">
                <mat-icon>add</mat-icon>
                <span class="button-text">{{ 'chat.addToLot' | translate }}</span>
            </ng-container>
            <ng-container *ngIf="canRemoveFromLot$ | async">
                <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                        d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"
                    />
                </svg>
                <span class="button-text">
                    {{ 'chat.removeFromLot' | translate }}
                </span>
            </ng-container>
        </button>

        <button
            type="button"
            class="like-button"
            mat-mini-fab
            (click)="onLikeButtonClicked($event)"
            appDisableIfUserBlocked
        >
            <app-heart-icon [active]="isProductFavorite$ | async"></app-heart-icon>
        </button>

        <div class="loader-container" *ngIf="loadingImage">
            <mat-spinner [diameter]="20"></mat-spinner>
        </div>
    </button>

    <div class="product-card_details">
        <div class="product-card_details_left">
            <p class="product-card_details_left_price" data-qa="productPrice">{{ product?.price | currency }}</p>
            <p class="product-card_details_left_brand" data-qa="productBrand">{{ product?.brand?.label }}</p>
            <p class="product-card_details_left_size" data-qa="productSize">
                {{ 'product.size.' + product?.size?.labelKey | translate }}
                - {{ 'condition.label.' + product?.condition?.labelKey | translate }}
            </p>
        </div>
    </div>

    <button
        type="button"
        class="moderation-container"
        *ngIf="
            (isCurrentUser$ | async) === true &&
            (product?.productStatus === ProductStatusEnum.MODERATED ||
                product?.productStatus === ProductStatusEnum.MODERATED_BY_ADMIN)
        "
        (click)="productClicked()"
    >
        <app-moderated-product-button [product]="product"></app-moderated-product-button>
    </button>
</div>
