@import 'src/variables';

app-product-card {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    .product-card {
        display: flex;
        flex-direction: column;
        width: inherit;

        .moderation-container {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: #f7f7f8;
            opacity: 0.9;
            z-index: 10;
            box-shadow: 0 0 10px $kia-lighten-dark-blue;

            display: block;
            border: none;

            &:focus {
                padding: 0;
                outline-color: $kia-dark-blue;
            }
        }

        .product-card_owner {
            color: inherit;
            text-decoration: none;
            display: flex;
            align-items: center;
            cursor: pointer;

            .avatar-product-card {
                margin: 0 8px 0 4px;
            }

            .nickname {
                font-size: 14px;
                margin-top: -8px;
                width: 100%;
                max-width: 200px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .pro-chip {
                display: block;
                margin-top: -8px;
            }
        }

        .product-card_img {
            display: block;
            border: none;
            background: none;
            position: relative;
            padding: 0;

            &:focus {
                padding: 0;
                outline-color: $kia-dark-blue;
            }

            .score-container {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                color: white;
                background-color: rgba(0, 0, 0, 0.25);
                text-align: center;
                font-size: 12px;
                padding: 6px 12px;
            }

            .productPicture {
                height: 260px;
                width: 100%;
                object-fit: cover;

                &.desktop {
                    height: 330px;
                }
            }

            .picture-overlay {
                background-color: rgba(200, 200, 200, 0.4);
                width: 100%;
                height: 100%;
                position: relative;
            }

            .picture-sold-overlay {
                background: $kia-dark-blue;
                width: 100%;
                height: 35px;
                position: absolute;
                top: 0;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
            }

            .check {
                height: 25px;
                width: 25px;
            }

            .cart-button {
                position: absolute;
                top: 10px;
                right: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100px;
                height: 32px;
                padding: 0 12px 0 8px;
                font-weight: bold;
                border: none;
                border-radius: 16px;
                font-size: 12px;
                transition: 200ms ease-in-out;

                &.create-lot {
                    width: 115px;
                    background-color: $kia-green;
                    color: white;

                    mat-icon {
                        width: 16px;
                        height: 16px;
                        font-size: 16px;
                    }

                    &:focus {
                        background-color: rgba(76, 175, 80, 0.7);
                        border: none;
                        outline: none;
                    }
                }

                &.add-lot {
                    width: 90px;
                    background-color: $kia-green;
                    color: white;

                    &:focus {
                        background-color: rgba(76, 175, 80, 0.7);
                        border: none;
                        outline: none;
                    }
                }

                &.remove-lot {
                    width: 90px;
                    background-color: $app-background-color;
                    color: $kia-dark-blue;

                    &:focus {
                        background-color: rgba(255, 255, 255, 0.7);
                    }
                }
            }

            .like-button {
                position: absolute;
                bottom: 10px;
                right: 10px;
                height: 32px;
                width: 32px;
                background-color: $app-background-color;
                border: none;
                border-radius: 50% !important;
            }

            .loader-container {
                background-color: #d8d8d8;
            }
        }

        .product-card_details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 8px;

            .product-card_details_left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: #000000;

                > * {
                    margin: 0;
                    font-size: $small-text-font-size;
                    color: $light-text-color;
                }

                .product-card_details_left_price {
                    font-weight: 600;
                    color: $kia-dark-blue;
                    font-size: $normal-text-font-size;
                }
            }
        }

        .product-card_action {
            width: 100%;
            display: flex;
            justify-content: center;

            > button {
                height: 35px;
                width: 115px;
                font-size: 14px;
                font-weight: bold;
                margin-top: 4px;

                svg {
                    margin-top: -2px;
                }

                &.not-in-lot {
                    .button-text {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    .product-card.sold {
        .product-card_details_left_price {
            color: $medium-text-color;
        }
    }
}
