@import 'src/variables';

.confirm-sell-dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .clear-container {
        position: absolute;
        top: 10px;
        right: 10px;

        > mat-icon {
            color: $kia-lighten-dark-blue;
        }
    }

    .header {
        width: 100%;
        height: 145px;
        background-color: white;
        color: $kia-dark-blue;
        text-align: center;
        padding: 34px 24px 24px 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .subtitle {
            font-size: 14px;
        }
    }

    > .content {
        background-color: $content-background-color;
        padding: 20px;
        box-sizing: border-box;
        flex: 1;
        overflow-y: auto;

        .radio-group {
            display: flex;
            flex-direction: column;

            .radio-button-container {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                height: 100px;
                margin-bottom: 20px;
                border-radius: 8px;

                &.selected {
                    background-color: $kia-light-green;
                }
                .radio-button {
                    color: $kia-dark-blue;
                    width: 85%;

                    .label {
                        white-space: pre-wrap;
                        margin-left: 20px;
                        font-size: 20px;
                    }
                }
            }

            .large {
                font-weight: bold;
                font-size: 16px;
            }

            .amount {
                font-weight: bold;
                font-size: 20px;
            }

            .white {
                color: white;
            }
        }

        .infos {
            font-size: 14px;
            text-align: center;
            color: $kia-dark-blue;

            > p {
                margin-bottom: 20px;
                margin-top: 2px;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;

        .actions {
            height: 70px;
            background-color: $darker-background-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px 10px 20px;
            box-sizing: border-box;

            > button {
                flex: 2;
                height: 45px;
                font-size: 16px;
            }

            > button:first-child {
                margin-right: 20px;
                flex: 1;
            }
        }
    }

    .bold {
        font-weight: bold;
    }
}
