<div class="confirm-sell-dialog-container">
    <div class="clear-container">
        <mat-icon mat-dialog-close class="clickable">clear</mat-icon>
    </div>
    <div class="header">
        <div class="title">{{ 'chat.packageCompliantDialogTitle' | translate }}</div>
        <div class="subtitle" [innerHTML]="'chat.packageCompliantDialogSubtitle' | translate"></div>
    </div>
    <div class="content">
        <mat-radio-group class="radio-group" [formControl]="compliancy" aria-labelledby="select payment type">
            <div class="radio-button-container" [ngClass]="{ selected: compliancy.value === confirmationEnum.CONFIRM }">
                <mat-radio-button class="radio-button" [value]="confirmationEnum.CONFIRM" data-qa="radioConfirm">
                    <div class="label" [innerHTML]="'chat.compliant' | translate"></div>
                </mat-radio-button>
            </div>
            <div class="radio-button-container" [ngClass]="{ selected: compliancy.value === confirmationEnum.REFUSE }">
                <mat-radio-button class="radio-button" [value]="confirmationEnum.REFUSE" data-qa="radioRefuse">
                    <div class="label" [innerHTML]="'chat.nonCompliant' | translate"></div>
                </mat-radio-button>
            </div>
        </mat-radio-group>
        <div class="infos">
            <p>{{ 'chat.nonCompliantInfos1' | translate }}</p>
            <p>{{ 'chat.nonCompliantInfos2' | translate }}</p>
        </div>
    </div>
    <div class="footer">
        <div class="actions">
            <button type="button" mat-stroked-button color="primary" mat-dialog-close data-qa="btnReturn">
                {{ 'common.back' | translate }}
            </button>
            <button
                type="submit"
                mat-flat-button
                color="primary"
                [mat-dialog-close]="compliancy.value"
                [disabled]="compliancy.invalid"
                data-qa="btnValidate"
            >
                {{ 'chat.validateChoice' | translate }}
            </button>
        </div>
    </div>
</div>
