@import 'src/variables';

.search-card {
    background-color: white;
    padding: 4px 12px 12px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-bottom: 1px solid $content-background-color;

    .search-card-title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search-card-title {
            font-size: 14px;
            color: $kia-dark-blue;
        }

        button[mat-icon-button] {
            color: $medium-text-color;

            &.yellow {
                color: $kia-yellow;
            }
        }
    }

    .search-criteria-container {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        color: $medium-text-color;
    }

    .search-card-date {
        font-size: 12px;
        color: $light-text-color;
        margin-top: 6px;
    }
}
