<div class="search-card" (click)="clicked.emit(search)">
    <div class="search-card-title-container">
        <span class="search-card-title">
            <ng-container *ngIf="search.keyword; else emptyKeyword">
                {{ search.keyword }}
            </ng-container>
            <ng-template #emptyKeyword>
                <ng-container *ngIf="criteria[0] | async as mainCriterion; else noMainCriterion">
                    {{ mainCriterion.key | translate: mainCriterion.params }}
                </ng-container>
                <ng-template #noMainCriterion>
                    {{ 'filter.searchHistory.emptyKeyword' | translate }}
                </ng-template>
            </ng-template>
        </span>
        <button
            mat-icon-button
            type="button"
            [matTooltip]="'filter.searchHistory.save.hint' | translate"
            (click)="save($event)"
            *ngIf="!search.saved; else unSaveButton"
        >
            <mat-icon>star_border</mat-icon>
        </button>
        <ng-template #unSaveButton>
            <button
                mat-icon-button
                type="button"
                class="yellow"
                [matTooltip]="'filter.searchHistory.unSave.hint' | translate"
                (click)="unSave($event)"
            >
                <mat-icon>star</mat-icon>
            </button>
        </ng-template>
    </div>
    <div class="search-criteria-container">
        <ng-container *ngIf="criteria.length > 0; else emptyCriteria">
            <ng-container *ngFor="let criterion$ of criteria; let last = last">
                <span *ngIf="criterion$ | async as criterion">
                    <span>{{ criterion.key | translate: criterion.params }}</span>
                    <span *ngIf="!last">,&#160;</span>
                </span>
            </ng-container>
        </ng-container>
        <ng-template #emptyCriteria>
            {{ 'filter.searchHistory.emptyCriteria' | translate }}
        </ng-template>
    </div>
    <span class="search-card-date">{{ search.creationDate | date }}</span>
</div>
