<div class="profile-handset-container">
    <a class="my-information" *ngIf="user$ | async as user" [routerLink]="['/profile', 'edit']">
        <app-avatar [avatar]="user.picture" [diameter]="75" class="avatar-profil"></app-avatar>
        <div class="pseudo">
            {{ user.nickname }}
        </div>
        <div class="view-profile">
            {{ 'profile.link.myInformation' | translate }}
        </div>
    </a>

    <mat-nav-list class="list">
        <ng-container *ngIf="showBanner && (userProfileSelectors.isNotBlockedByAdmin$ | async)">
            <a mat-list-item target="_blank" [href]="feedbackFormUrl" appExternalLink class="beta-link">
                <div class="link">
                    <div class="title-container">
                        <mat-icon class="material-icons-outlined icon">contact_support</mat-icon>
                        <div class="title">{{ 'profile.link.betaFeedback' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="userProfileSelectors.isBlockedByAdmin$ | async">
            <div class="blocked-by-admin">
                <div class="link">
                    <div class="title-container">
                        <mat-icon class="material-icons-outlined icon">dangerous</mat-icon>
                        <div class="title">{{ 'profile.link.userBlockBanner' | translate }}</div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </ng-container>

        <ng-container *ngIf="false">
            <a mat-list-item routerLink="/profile/edit" [ngClass]="{ error: isProfileModerated$ | async }">
                <div class="link" data-qa="myInformation">
                    <div class="title-container">
                        <mat-icon class="material-icons-outlined icon">perm_identity</mat-icon>
                        <div class="title">{{ 'profile.link.myInformation' | translate }}</div>
                    </div>
                    <div class="icon-container">
                        <div *ngIf="isProfileModerated$ | async" class="error-pin"></div>
                        <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                    </div>
                </div>
            </a>
            <mat-divider></mat-divider>
        </ng-container>

        <a
            mat-list-item
            *ngIf="user$ | async as user"
            [routerLink]="['/profile', user.id]"
            [ngClass]="{ error: isDressingModerated$ | async }"
        >
            <div class="link" data-qa="myDressing">
                <div class="title-container">
                    <app-my-dressing-icon class="icon"></app-my-dressing-icon>
                    <div class="title">{{ 'profile.link.myDressing' | translate }}</div>
                </div>
                <div class="icon-container">
                    <div *ngIf="isDressingModerated$ | async" class="error-pin"></div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/profile/wishlist">
            <div class="link" data-qa="myWishlist">
                <div class="title-container">
                    <app-heart-icon class="icon" color="secondary"></app-heart-icon>
                    <div class="title">{{ 'profile.link.myWishlist' | translate }}</div>
                </div>
                <div class="icon-container">
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/profile/credits">
            <div class="link" data-qa="myJackpots">
                <div class="title-container">
                    <app-my-jackpots-icon class="icon"></app-my-jackpots-icon>
                    <div class="title">{{ 'profile.link.myJackpots' | translate }}</div>
                </div>
                <div class="icon-container">
                    <div class="error-pin"></div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/profile/orders">
            <div class="link" data-qa="myPurchasesSales">
                <div class="title-container">
                    <app-my-purchases-sales-icon class="icon"></app-my-purchases-sales-icon>
                    <div class="title">{{ 'profile.link.myPurchasesSales' | translate }}</div>
                </div>
                <div class="icon-container">
                    <div class="error-pin"></div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item [disableRipple]="true">
            <div class="link cursor-auto" data-qa="vacationsMode">
                <div class="title-container">
                    <mat-icon class="vacation-icon">beach_access</mat-icon>
                    <div class="title">{{ 'profile.link.vacationsMode' | translate }}</div>
                </div>
                <div class="icon-container">
                    <mat-slide-toggle color="primary" [formControl]="vacationMode"></mat-slide-toggle>
                </div>
            </div>
        </a>
        <mat-divider></mat-divider>
    </mat-nav-list>

    <div class="second-bar-links">
        <a mat-flat-button routerLink="/profile/addresses" class="mr-5">
            <div class="myAddresses-button-container">
                <app-addresses-icon class="mb-3"></app-addresses-icon>
                <div class="mt-3">
                    {{ 'profile.link.myAddresses' | translate }}
                </div>
            </div>
        </a>

        <a mat-flat-button routerLink="/profile/bank-details" class="ml-5">
            <div class="myBankDetails-button-container">
                <app-bank-details-icon class="mb-3"></app-bank-details-icon>
                <div class="mt-3">
                    {{ 'profile.link.myBankDetails' | translate }}
                </div>
            </div>
        </a>
    </div>

    <div class="second-bar-links">
        <a mat-flat-button color="primary" routerLink="/guide">
            <div class="guide-button-container">
                <app-guide-icon class="mr-3"></app-guide-icon>
                <div class="ml-3">
                    {{ 'profile.link.guide' | translate }}
                </div>
            </div>
        </a>
    </div>

    <mat-nav-list class="list second-level-links">
        <a mat-list-item routerLink="/profile/change-password">
            <div class="link" data-qa="change-password">
                <div class="title-container">
                    <div class="title title-light">{{ 'profile.link.resetPassword' | translate }}</div>
                </div>
                <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
            </div>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/profile/notifications">
            <div class="link" data-qa="notifications">
                <div class="title-container">
                    <div class="title title-light">{{ 'profile.link.notifications' | translate }}</div>
                </div>
                <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
            </div>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/profile/infos">
            <div class="link" data-qa="infos">
                <div class="title-container">
                    <div class="title title-light">{{ 'profile.link.practicalInfos' | translate }}</div>
                </div>
                <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
            </div>
        </a>
        <mat-divider></mat-divider>

        <mat-list-item class="logout-list-item" disableRipple>
            <div class="logout-container">
                <button type="button" mat-flat-button color="warn" (click)="logout()" data-qa="btnLogout">
                    {{ 'profile.logout' | translate }}
                </button>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-nav-list>

    <div class="footer">
        <div class="version">
            {{ 'profile.version' | translate: { number: appVersion } }}
        </div>
        <p class="lemonway-information" [innerHTML]="'profile.lemonwayInformation' | translate | safeHtml"></p>
    </div>
</div>
