@import 'src/variables';

.profile-handset-container {
    position: relative;
    background-color: $content-background-color;
    height: 100%;
    overflow-y: auto;

    > .my-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        text-decoration: none;

        .avatar-profil {
            margin-bottom: 5px;
        }

        .pseudo {
            font-size: 14px;
            font-weight: bold;
            color: $kia-dark-blue;
            line-height: 16px;
            margin-bottom: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 95%;
            text-align: center;
        }

        .view-profile {
            font-size: 12px;
            color: $medium-text-color;
        }
    }

    > .list {
        padding-top: 0;
        background-color: #ffffff;

        .beta-link {
            text-decoration: none;
            display: block;
            background-color: $kia-dark-blue !important;

            div.title {
                color: white !important;
            }
        }

        .blocked-by-admin {
            text-decoration: none;
            display: block;
            background-color: $kia-red;

            > .link {
                padding: 0 16px;
                box-sizing: border-box;
            }

            div.title {
                color: white !important;
            }
        }

        .error {
            background-color: rgba($kia-light-red, 0.5);
            position: relative;

            .link {
                .title-container {
                    .icon {
                        color: $kia-dark-blue;
                    }
                }

                .icon-container {
                    display: flex;
                    align-content: center;
                    align-items: center;

                    .error-pin {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        background-color: #c13515;
                    }

                    .next-button {
                        color: $kia-dark-blue;
                    }
                }
            }
        }

        .link {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            width: 100%;

            .title-container {
                display: flex;
                align-items: center;

                .icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    color: $kia-lighten-dark-blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .vacation-icon {
                    color: #ccccd7;
                    margin-right: 10px;
                }

                .check-icon {
                    color: #ccccd7;
                    margin-right: 10px;
                }

                .title {
                    font-size: 16px;
                    line-height: 15px;
                    color: $kia-dark-blue;

                    &.title-light {
                        color: $medium-text-color;
                    }
                }
            }

            .next-button {
                color: $kia-lighten-dark-blue;
            }
        }
    }

    > .second-bar-links {
        margin: 20px 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        > a {
            flex: 1;
            white-space: pre-wrap;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 15px;
            color: $kia-dark-blue;
            padding: 4px;

            &.mat-primary {
                color: $app-background-color;
            }
        }

        .ml-5 {
            margin-left: 5px;
        }
        .mr-5 {
            margin-right: 5px;
        }
        .mt-3 {
            margin-top: 3px;
        }
        .mr-3 {
            margin-right: 3px;
        }
        .mb-3 {
            margin-bottom: 3px;
        }
        .ml-3 {
            margin-left: 3px;
        }

        .myAddresses-button-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .myBankDetails-button-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .guide-button-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    > .second-level-links {
        margin: 20px 25px;
        border-radius: 8px;

        .logout-list-item {
            margin: 6px 0;

            .logout-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    > .footer {
        display: flex;
        flex-direction: column;
        padding: 0 24px 24px;

        .version {
            text-align: center;
            color: $light-text-color;
            padding-bottom: 12px;
        }

        .lemonway-information {
            margin-top: 20px;
            color: $light-text-color;
            text-align: center;

            .logo {
                vertical-align: middle;
                height: 30px;
                margin: 0 4px;
            }
        }
    }

    .cursor-auto {
        cursor: auto;
    }
}
