<div class="user-dressing-handset-container" *ngIf="hasProductInDressing$ | async">
    <div class="dressing-title">
        <div
            class="dressing-title-text"
            [innerHTML]="
                'profile.view.dressing.' + ((isCurrentUser$ | async) === true ? 'mine' : 'title')
                    | translate
                        : {
                              name: user?.nickname | truncateWithDots: 15
                          }
            "
        ></div>

        <button
            type="button"
            mat-icon-button
            (click)="share()"
            *ngIf="canShareDressing"
            [attr.aria-label]="'profile.view.dressing.share.label' | translate"
        >
            <mat-icon>share</mat-icon>
        </button>
    </div>

    <div class="dressing-container" *ngIf="products$ | async as products" #dressing>
        <div class="card" *ngIf="(canCreateLot$ | async) === true">
            <app-voucher-icon class="illustration"></app-voucher-icon>
            <span class="text" [innerHTML]="'profile.view.dressing.voucher' | translate"></span>
        </div>

        <!-- 💡 : "isUserProfilePage === false" = Quick Fix en attendant la feature SH-1951 -->
        <div class="dressing-title-container">
            <span
                class="articles-number"
                [innerHTML]="'profile.view.dressing.articles' | translate: { number: productsCount$ | async }"
            ></span>
            <button
                class="filter-button"
                type="button"
                (click)="openFilterDialog()"
                *ngIf="showDressingFilter$ | async"
            >
                <mat-icon class="mr-6">tune</mat-icon>
                {{ 'common.filter' | translate }}
                <ng-container *ngIf="filterCount$ | async as count">
                    <span class="filter-number">{{ count }}</span>
                </ng-container>
            </button>
        </div>

        <div class="products" [class.bottom-spacer]="hasCartForSellerId$ | async">
            <app-product-list
                [displayOwner]="false"
                [displayLotAction]="(isCurrentUser$ | async) === false && products.length + hiddenProducts.length > 1"
                [loading]="productsSelectors.dressingLoading$ | async"
                [products]="products"
                [parentScrollEl]="scrollEl"
                [totalElements]="productsCount$ | async"
                (fetchProducts)="onScroll()"
            ></app-product-list>
        </div>

        <div class="no-product-found" *ngIf="productsSelectors.noProductInDressingFound$ | async">
            <div>
                <app-animated-smiley></app-animated-smiley>
                <div class="no-product-found-title">
                    {{ 'searchPage.noArticleFound' | translate }}
                </div>
            </div>
            <div class="tips">
                <div class="tips-title">
                    {{ 'searchPage.tips.title' | translate }}
                </div>
                <div class="tips-item">
                    {{ 'searchPage.tips.two' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="empty-dressing-container" *ngIf="isCurrentUserWithoutProduct$ | async">
    <app-empty-dressing-card></app-empty-dressing-card>
</div>
