@import 'src/variables';

.user-dressing-handset-container {
    box-shadow: 0px -2px 10px rgb(50 50 50 / 25%);
    padding: 1px;
    margin-top: 25px;

    .dressing-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $kia-dark-blue;
        margin: 20px 15px;

        .dressing-title-text {
            margin: 0 40px;
        }

        button {
            position: absolute;
            right: 10px;
        }
    }

    .dressing-container {
        position: relative;
        padding-top: 1px;

        .card {
            background-color: $kia-lighten-dark-blue;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 12px;
            margin-bottom: 16px;
            border: 0;

            .illustration {
                width: 55px;
                height: 55px;
                margin-right: 8px;
            }

            .text {
                text-align: left;
                color: $kia-dark-blue;
                font-size: 14px;
                margin: 0 15px;

                .bold {
                    font-size: 12px;
                    font-weight: bold;
                }

                .important {
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }

        .dressing-title-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 12px;

            .filter-button {
                display: flex;
                align-items: center;
                background: transparent;
                border: none;
                outline: none;

                .filter-number {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    background-color: white;
                    color: $kia-dark-blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 6px;
                }

                mat-icon {
                    width: 18px;
                    height: 18px;
                    font-size: 18px;
                    line-height: 18px;
                }
            }

            .articles-number {
                font-size: 12px;
            }
        }

        .products {
            &.bottom-spacer {
                padding-bottom: $product-footer-height;
            }
        }
    }

    .spinner {
        height: 60px;
        align-items: center;
    }

    .no-product-found {
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;

        .tips {
            margin-top: 20px;

            .tips-title {
                margin-bottom: 0;
            }
        }
    }
}

.empty-dressing-container {
    padding: 24px;
}
