<div class="blur-overlay" appDeviceClasses *ngIf="isBlocked$ | async">
    <app-warning-icon [height]="30" [width]="30" color="#040037"></app-warning-icon>
    <p>{{ 'chat.blockedUser.title' | translate }}</p>
    <p>{{ 'chat.blockedUser.content' | translate }}</p>
    <button type="button" mat-flat-button color="primary" (click)="unblockUser()">
        {{ 'chat.blockedUser.unblock' | translate }}
    </button>
</div>
