@import 'src/variables';

.validate-email-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-spinner {
        margin: 20px 0;
    }

    .error-container {
        padding: 12px;
        border-radius: 8px;
        background-color: $kia-light-red;
        color: $kia-red;
        display: flex;
        flex-direction: column;

        a {
            color: $kia-red;
        }
    }
}
