<app-main-header *ngIf="deviceService.isHandset$ | async"></app-main-header>
<div class="validate-email-container">
    <ng-container *ngIf="!haveFailed; else errorContainer">
        <mat-spinner color="primary" [diameter]="40"></mat-spinner>
        <span>{{ 'profile.validateEmail.loading' | translate }}</span>
    </ng-container>
    <ng-template #errorContainer>
        <div class="error-container">
            {{ 'profile.validateEmail.error' | translate }}
            <a routerLink="/login">{{ 'profile.validateEmail.login' | translate }}</a>
        </div>
    </ng-template>
</div>
