<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.secondHandCgu' | translate"
    [previousRoute]="'/profile/infos'"
></app-header-with-title>

<div class="cgu-container" appDeviceClasses data-qa="cgu">
    <div class="title">{{ 'text.secondHandCgu.title' | translate }}</div>
    <div [innerHTML]="'text.secondHandCgu.content' | translate: { email: contactEmail } | safeHtml"></div>
</div>
