<div class="loader-container" *ngIf="(user$ | async) === null">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
</div>

<div class="profile-container" appDeviceClasses>
    <app-profil-side-panel *ngIf="deviceService.isDesktop$ | async"></app-profil-side-panel>
    <router-outlet></router-outlet>
</div>
