.profile-container {
    &.handset {
        height: 100%;
        padding-bottom: 60px;
    }

    &.desktop {
        display: grid;
        grid-template-columns: 350px 0 1fr;

        > *:last-child {
            margin-top: 22px;
        }
    }
}
