@import 'src/variables';

app-header-with-profil {
    display: grid; // fonctionne uniquement avec grid, si quelqu'un sait pourquoi, je suis preneur !
    height: $header-height;
    width: 100vw;
    z-index: 1000;
    background-color: #ffffff;

    .toolbar {
        height: inherit;
        position: relative;

        mat-toolbar {
            position: absolute;
            top: 0;
            z-index: 3;
            padding-left: 0;
            padding-right: 0;
            background-color: #fff;
            height: 100%;

            .back-button {
                color: $light-text-color;
                font-size: $normal-text-font-size;

                mat-icon {
                    width: 28px;
                    height: 28px;
                    font-size: 28px;
                }
            }

            .other-user {
                color: $medium-text-color;
                font-weight: bold;
                flex: 1;

                &:disabled {
                    color: $medium-text-color;
                }

                .mat-button-wrapper {
                    display: flex;
                    align-items: center;

                    .other-user-left {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        min-width: 0;
                        margin-right: 10px;

                        .other-user-rate {
                            display: flex;
                            align-items: center;

                            app-rating {
                                margin-right: 6px;
                            }

                            .other-user-total-rate {
                                color: $kia-yellow;
                                line-height: 16px;
                            }
                        }

                        .other-user-nickname {
                            line-height: 16px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            max-width: 100%;
                            display: flex;
                            align-items: center;

                            app-chip {
                                margin-right: 8px;
                            }
                        }
                    }

                    .other-user-avatar {
                        height: 45px;
                        width: 45px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
        }

        .toolbar-box-shadow {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 40px;
            z-index: 2;
            border-radius: 20%;
            box-shadow: 0 0 6px 5px rgba(204, 204, 215, 0.7);
        }
    }
}
