<div class="toolbar">
    <mat-toolbar>
        <button type="button" class="back-button" mat-button (click)="back()" data-qa="btnHeaderReturn">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <span>{{ 'common.back' | translate }}</span>
        </button>
        <button
            type="button"
            *ngIf="user"
            mat-button
            class="other-user"
            aria-label="Other user"
            (click)="navigateToUserProfile()"
            [disabled]="!user.id"
            data-qa="btnProfil"
        >
            <span class="other-user-left">
                <span class="other-user-nickname" data-qa="headerNickName">
                    <app-chip *ngIf="user.type === 'PROFESSIONAL'" variant="pink">PRO</app-chip>
                    {{ nickname | deletedUser }}
                </span>
                <span class="other-user-rate" *ngIf="user.rate">
                    <app-rating [rate]="user.rate"></app-rating>
                    <span class="other-user-total-rate">({{ user.totalRate }})</span>
                </span>
            </span>
            <img
                class="other-user-avatar"
                [src]="avatarURL"
                [appThumbnailFormat]="{ origin: avatarURL, format: 'chat', fallback: 'avatar' }"
                alt="avatar"
                data-qa="headerProfilePicture"
            />
        </button>

        <button type="button" mat-icon-button (click)="onMoreButtonClicked()" *ngIf="displayMoreButton$ | async">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar>
    <div class="toolbar-box-shadow"></div>
</div>
