<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="
        'profile.link.followers.' + ((isCurrentUser$ | async) === true ? 'mine' : 'title')
            | translate
                : {
                      name: (user$ | async)?.nickname | truncateWithDots: 15
                  }
    "
>
    <mat-icon>check</mat-icon>
</app-header-with-title>

<div class="title" *ngIf="deviceService.isDesktop$ | async">
    {{
        'profile.link.followers.' + ((isCurrentUser$ | async) === true ? 'mine' : 'title')
            | translate
                : {
                      name: (user$ | async)?.nickname | truncateWithDots: 15
                  }
    }}
</div>

<ng-container>
    <div
        class="grid-container"
        appDeviceClasses
        *ngIf="(userFollowers$ | async) && (userFollowers$ | async)!.length > 0; else emptyFollowers"
        infiniteScroll
        [infiniteScrollDistance]="0"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
        [scrollWindow]="true"
        [fromRoot]="true"
    >
        <div class="grid">
            <a
                *ngFor="let user of userFollowers$ | async; trackBy: trackById"
                class="card"
                [routerLink]="['/profile', user.id]"
            >
                <div class="avatar-container">
                    <img
                        alt=""
                        class="avatar"
                        [src]="getAvatarUrl(user)"
                        [appThumbnailFormat]="{
                            origin: getAvatarUrl(user),
                            format: 'product-medium',
                            fallback: 'avatar'
                        }"
                    />
                </div>

                <div class="card-hidden-container">
                    <div class="card-container">
                        <div class="content">
                            <div class="information">
                                <div class="pseudo-container">
                                    <div class="pseudo">{{ user?.nickname }}</div>
                                    <div class="vacation-mode" *ngIf="user?.status === UserProfileStatus.VACATION">
                                        <mat-icon>beach_access</mat-icon>
                                    </div>
                                </div>
                                <a class="rating" [routerLink]="['/profile', user.id, 'rating']">
                                    <div class="flex-column">
                                        <div class="rating-title">{{ 'profile.view.rating' | translate }}</div>
                                        <div class="flex-row">
                                            <app-rating [rate]="user?.averageRating || 0"></app-rating>
                                            <span class="user-rating-number" data-qa="commentNumber">
                                                ({{ user?.totalRating }})
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="loader" *ngIf="isFollowersLoading$ | async">
        <mat-spinner color="primary" [diameter]="30"></mat-spinner>
    </div>

    <ng-template #emptyFollowers>
        <p class="empty-followers">
            {{ 'followers.empty.' + ((isCurrentUser$ | async) === true ? 'mine' : 'other') | translate }}
        </p>
    </ng-template>
</ng-container>
