<div class="dialog-container">
    <app-header-with-title
        [title]="'profile.link.' + legalContentProp | translate"
        [fakeBack]="true"
        (backClicked)="close()"
    ></app-header-with-title>
    <div class="content-container" data-qa="cgu">
        <img
            *ngIf="legalContentProp === 'lemonWayCgu'"
            src="assets/images/lemonway/Lemon-Way-Logo-Inline-200px.png"
            alt="lemonway logo"
        />
        <div class="title">{{ 'text.' + legalContentProp + '.title' | translate }}</div>
        <div
            [innerHTML]="'text.' + legalContentProp + '.content' | translate: { email: contactEmail } | safeHtml"
        ></div>
    </div>
</div>
