<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="height" viewBox="0 0 30 30">
    <g transform="translate(-11.4 -11.4)">
        <circle [ngStyle]="{ fill: color }" cx="1.516" cy="1.516" r="1.516" transform="translate(24.884 30.131)" />
        <path
            [ngStyle]="{ fill: color }"
            d="M41.4,26.4a15,15,0,1,0-15,15A15.009,15.009,0,0,0,41.4,26.4Zm-26.7,0A11.7,11.7,0,1,1,26.4,38.1,11.709,11.709,0,0,1,14.7,26.4Z"
        />
        <path
            [ngStyle]="{ fill: color }"
            d="M47.432,39.893a1.642,1.642,0,0,0,1.632-1.632V31.732a1.632,1.632,0,0,0-3.264,0v6.49A1.651,1.651,0,0,0,47.432,39.893Z"
            transform="translate(-21.032 -11.433)"
        />
    </g>
</svg>
