<a [routerLink]="['/profile', user.id]" class="user-avatar" *ngIf="user.id !== KIABI_ID">
    <app-avatar [avatar]="user.picture" [diameter]="52" shape="square"></app-avatar>
</a>
<div class="user-avatar" *ngIf="user.id === KIABI_ID">
    <app-avatar [avatar]="user.picture" [diameter]="52" shape="square"></app-avatar>
</div>

<div class="rating-content">
    <div class="rating-header">
        <a [routerLink]="['/profile', user.id]" class="nickname" *ngIf="user.id !== KIABI_ID">
            {{ user.nickname | deletedUser }}
        </a>
        <div class="nickname" *ngIf="user.id === KIABI_ID">
            {{ user.nickname | deletedUser }}
        </div>

        <app-rating [rate]="rating.value"></app-rating>
        <div class="date">
            {{ postDate$ | async }}
        </div>
    </div>
    <div class="comment-container">
        <ng-container *ngIf="user.id !== KIABI_ID; else automaticRating">
            <ng-container *ngIf="rating.comment">
                <ng-container *ngIf="!showFullComment; else fullComment">
                    {{ rating.comment | truncateWithDots: 220 }}
                    <button
                        mat-flat-button
                        type="button"
                        class="more-button"
                        (click)="displayFullComment()"
                        *ngIf="rating.comment.length > 220"
                    >
                        {{ 'profile.rating.list.more' | translate }}
                    </button>
                </ng-container>
                <ng-template #fullComment>
                    <p>{{ rating.comment }}</p>
                </ng-template>
            </ng-container>
        </ng-container>
        <ng-template #automaticRating>
            {{ 'profile.rating.automatic' | translate }}
        </ng-template>
    </div>
    <div class="answer" *ngIf="!enableAnswer && (canAnswer$ | async)">
        <button (click)="answerRating()">{{ 'profile.rating.answerRating' | translate }}</button>
    </div>
    <div class="pictures-container" *ngIf="pictures.length > 0">
        <button
            mat-flat-button
            type="button"
            class="picture-button"
            (click)="openPictureInFullScreen(picture)"
            *ngFor="let picture of pictures"
        >
            <img class="rating-picture" [src]="picture.pictureUrl" [alt]="picture.fileName" />
        </button>
    </div>

    <button
        type="button"
        class="edit-icon"
        mat-icon-button
        *ngIf="canEdit$ | async"
        (click)="onEditButtonClicked()"
        [matTooltip]="'profile.rating.edit' | translate"
    >
        <mat-icon>edit</mat-icon>
    </button>
    <div class="answer-container" *ngIf="enableAnswer">
        <textarea
            [formControl]="answerControl"
            appAutoExpandable
            class="answer-textarea"
            rows="2"
            [placeholder]="'profile.rating.writeAnswer' | translate"
        ></textarea>
        <button mat-icon-button (click)="sendReview()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
    <div class="rating-answer" *ngIf="!!rating.answerRate">
        <mat-icon>shortcut</mat-icon>
        <p>{{ rating.answerRate.comment }}</p>
    </div>
</div>
