@import 'src/variables';

:host {
    background-color: $app-background-color;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    margin-bottom: 6px;

    .user-avatar {
        width: 52px;
        height: 52px;
        border-radius: 8px !important;
        margin-right: 16px;
        padding: 0;
        min-width: unset;

        &:disabled {
            background: transparent;
        }

        .avatar {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }

    .rating-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;

        .comment-container {
            margin-top: 10px;
            color: $kia-dark-blue;
            word-break: break-word;

            .more-button {
                font-style: normal;
                font-size: 12px;
                line-height: 14px;
                color: $medium-text-color;
                padding: 0;
            }

            p {
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
            }
        }

        .pictures-container {
            margin-top: 10px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .picture-button {
                min-width: unset;
                padding: 0;
                border-radius: 4px;
                height: 45px;
                width: 45px;

                &:not(:last-child) {
                    margin-right: 6px;
                }

                .rating-picture {
                    height: 45px;
                    width: 45px;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }
        }

        .rating-header {
            display: flex;
            flex-direction: column;

            .nickname {
                font-weight: bold;
                font-size: 16px;
                color: $kia-dark-blue;
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0;
                background: transparent;
                border: none;
                outline: none;
                text-align: start;
                text-decoration: none;
            }

            .date {
                font-style: normal;
                font-size: 14px;
                color: $medium-text-color;
            }
        }

        .edit-icon {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -10px;
            margin-right: -10px;
        }

        .rating-answer {
            display: flex;
            align-items: flex-start;
            margin-top: 10px;

            mat-icon {
                transform: rotateX(180deg);
                margin-top: 6px;
            }

            p {
                background-color: $content-background-color;
                padding: 10px;
                border-radius: 8px;
                margin: 0px 0px 0px 5px;
                overflow-wrap: break-word;
                word-wrap: break-word;
                hyphens: auto;
            }
        }
    }

    .answer {
        button {
            border: none;
            background: none;
            padding: 0;
            color: $kia-dark-blue;
            margin-top: 8px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .answer-container {
        margin-top: 12px;
        position: relative;
        display: flex;
        align-items: center;

        .answer-textarea {
            height: 100%;
            width: 100%;
            line-height: 34px;
            border-radius: 8px;
            font: inherit;
            background-color: #f7f7f8;
            color: #817f9a;
            border: none;
            font-weight: normal;
            box-sizing: border-box;
            resize: none;
            outline: none;
            padding: 8px 40px 8px 8px;
            font-size: 14px;
        }

        button {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: absolute;
            right: 0;

            mat-icon {
                position: relative;
                font-size: 20px;
            }
        }
    }
}
