<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.legalNotice' | translate"
></app-header-with-title>
<div class="legal-notice-container" appDeviceClasses data-qa="legalNotice">
    <div class="title">{{ 'text.legalNotice.title' | translate }}</div>
    <div [innerHTML]="'text.legalNotice.content' | translate: { email: contactEmail } | safeHtml"></div>
</div>
