@import 'src/variables';

$process-stepper-height: 80px;

:host {
    height: 100%;
    width: 100%;

    .payment-dialog-container {
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 40vh;
        display: flex;
        flex-direction: column;

        > mat-icon {
            color: $light-text-color;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        app-stepper {
            height: $process-stepper-height;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
        }

        .content {
            flex: 1 1 auto;
            overflow-y: auto;
            height: 70vh;

            .confirmation {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .success {
                    color: $kia-green;
                    font-size: 60px;
                    width: 60px;
                    height: 60px;
                }

                .error {
                    color: $kia-red;
                    font-size: 60px;
                    width: 60px;
                    height: 60px;
                }

                > div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
