<div class="payment-dialog-container">
    <mat-icon mat-dialog-close class="clickable">clear</mat-icon>

    <app-stepper
        [steps]="steps"
        [activeStep]="activeStep"
        [doneSteps]="doneSteps"
        (stepClicked)="goToStep($event)"
    ></app-stepper>

    <div class="content">
        <ng-container [ngSwitch]="activeStep">
            <ng-container *ngSwitchCase="0">
                <app-payment-products [lot]="lot" (validate)="next()"></app-payment-products>
            </ng-container>

            <ng-container *ngSwitchCase="1">
                <app-payment-shipping
                    (back)="back()"
                    (next)="relaySelected($event)"
                    [user]="user$ | async"
                ></app-payment-shipping>
            </ng-container>

            <ng-container *ngSwitchCase="2">
                <app-payment-recap [lot]="lot" [relay]="relay" (back)="back()" (next)="next()"></app-payment-recap>
            </ng-container>

            <ng-container *ngSwitchCase="3">
                <app-payment-final-step
                    [lot]="lot"
                    [loading]="buyLoading"
                    (back)="back()"
                    (next)="buy()"
                ></app-payment-final-step>
            </ng-container>
        </ng-container>
    </div>
</div>
