@import 'src/variables';

.rating-detail {
    display: flex;
    align-items: center;
    height: 20px;
    margin: 5px 0;

    &.disabled * {
        color: #e5e5ea !important;
    }

    .star-container {
        color: $kia-dark-blue;
        display: flex;
        align-items: center;

        mat-icon {
            height: 15px;
            width: 15px;
            font-size: 15px;
            margin-left: 4px;
        }
    }

    .rating-number {
        font-style: normal;
        font-size: 12px;
        line-height: 14px;
        color: $kia-dark-blue;
    }

    .progress-bar-container {
        position: relative;
        flex: 1;
        background-color: #e5e5ea;
        border-radius: 13px;
        height: 10px;

        .progress-bar {
            position: absolute;
            height: 100%;
            background-color: $kia-yellow;
            border-radius: 13px;
        }
    }

    :not(:last-child) {
        margin-right: 10px;
    }
}
