<div class="rating-detail" [class.disabled]="number === 0">
    <div class="star-container">
        {{ starNumber }}
        <mat-icon>star</mat-icon>
    </div>
    <div class="rating-number">
        {{ 'profile.rating.number' | translate: { number: number } }}
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar" [style.width.%]="progression"></div>
    </div>
</div>
