<div mat-dialog-title>Reservation en cours</div>
<div mat-dialog-content>Vous avez une réservation en cours</div>
<div mat-dialog-actions>
    <a class="kiabi-links-dark" routerLink="/cart" mat-dialog-close>Voir ma reservation</a>
    <button type="button" mat-flat-button mat-dialog-close data-qa="cancel">Annuler</button>
</div>
