<div class="payment-stepper">
    <div class="steps">
        <button
            type="button"
            class="step"
            *ngFor="let step of steps; let index = index"
            [disabled]="index > activeStep"
            [ngClass]="{ done: index <= doneSteps }"
            (click)="clicked(index)"
        >
            <span class="step-icon">
                <img *ngIf="index > doneSteps; else doneStep" [src]="'assets/svg/' + step.icon" alt="recap-icon" />
                <ng-template #doneStep>
                    <img src="../../../../assets/svg/Tunnel_commande_Step_EtapeCheck.svg" alt="recap-icon" />
                </ng-template>
            </span>
            <span class="label" data-qa="stepLabel">{{ step.label | translate }}</span>
        </button>
    </div>
</div>
