@import 'src/variables';

$step-icon-width: 32px;

.payment-stepper {
    padding-top: 24px;
    height: 52px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .steps {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .step {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: relative;
            border: none;
            background: transparent;

            &:not(:last-child) {
                .step-icon::after {
                    position: absolute;
                    width: calc(100% - 32px);
                    border: 1px solid $kia-lighten-dark-blue;
                    content: '';
                    left: calc(50% + (32px / 2));
                }
            }

            &[disabled] {
                .step-icon {
                    background-color: $kia-lighten-dark-blue;
                }

                .label {
                    color: $kia-lighten-dark-blue;
                }
            }

            &.done {
                .step-icon {
                    background-color: $kia-green;

                    &::after {
                        border-color: $kia-green;
                    }
                }

                .label {
                    color: $kia-green;
                }
            }

            .step-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: $step-icon-width;
                height: $step-icon-width;
                background-color: $kia-dark-blue;
                border-radius: 50%;

                > img {
                    width: 20px;
                    height: 20px;
                }
            }

            .label {
                text-transform: uppercase;
                font-size: 10px;
                font-weight: bold;
                color: $kia-dark-blue;
            }
        }
    }
}
