@import 'src/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    form {
        flex: 1;
        overflow-y: auto;
        background-color: $content-background-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.handset {
            padding-bottom: $footer-height;
        }

        .change-password-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            margin: 20px 0;
            width: calc(100% - 20px);
            max-width: 448px;
            box-sizing: border-box;

            h1 {
                margin-top: 0;
            }

            mat-form-field {
                margin-bottom: 12px;
            }

            button[type='submit'] {
                margin-bottom: 12px;
            }

            .error-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $kia-light-red;
                padding: 12px;
                border-radius: 8px;

                span,
                a {
                    color: $kia-red;
                }

                a {
                    margin-top: 10px;
                }
            }
        }
    }
}
