<app-header-with-back-button *ngIf="deviceService.isHandset$ | async"></app-header-with-back-button>
<form [formGroup]="form!" (ngSubmit)="resetPassword()">
    <div class="loader-container" *ngIf="loading">
        <mat-spinner color="primary" [diameter]="30"></mat-spinner>
    </div>
    <div class="change-password-container" *ngIf="!loading">
        <h1>{{ 'resetPassword.newPassword' | translate }}</h1>
        <ng-container *ngIf="!error; else errorContainer">
            <app-password-with-confirm
                [resettingPassword]="true"
                formControlName="password"
            ></app-password-with-confirm>
            <button kia-button type="submit" [disabled]="!!form?.invalid">
                {{ 'common.validate' | translate }}
            </button>
        </ng-container>
        <ng-template #errorContainer>
            <div class="error-container">
                <span>{{ error }}</span>
                <a class="reset-password-link" routerLink="/reset-password">
                    {{ 'login.forgotYourPassword' | translate }}
                </a>
            </div>
        </ng-template>
    </div>
</form>
