<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.guide' | translate"
></app-header-with-title>

<div class="guide-container" appDeviceClasses>
    <div class="how-it-works-card">
        <a class="card-container" routerLink="/how-it-works">
            <app-how-it-works-icon class="icon" [width]="40" [height]="30"></app-how-it-works-icon>

            <div class="card-content">
                <p>{{ 'guide.how-it-works.title' | translate }}</p>
                <p [innerHTML]="'guide.how-it-works.subtitle' | translate"></p>
            </div>

            <app-arrow-right-icon></app-arrow-right-icon>
        </a>
    </div>

    <div class="qa-card">
        <a class="card-container" routerLink="/other/qa">
            <app-qa-icon class="icon" [width]="40" [height]="30"></app-qa-icon>

            <div class="card-content">
                <p>{{ 'guide.qa.title' | translate }}</p>
                <p [innerHTML]="'guide.qa.subtitle' | translate"></p>
            </div>

            <app-arrow-right-icon></app-arrow-right-icon>
        </a>
    </div>

    <div class="photo-guide-card">
        <a class="card-container" routerLink="/guide/photo">
            <app-take-photo-icon class="icon" [width]="40" [height]="30"></app-take-photo-icon>

            <div class="card-content">
                <p>{{ 'guide.photo-guide.title' | translate }}</p>
                <p [innerHTML]="'guide.photo-guide.subtitle' | translate"></p>
            </div>

            <app-arrow-right-icon></app-arrow-right-icon>
        </a>
    </div>
</div>
