@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .guide-container {
        &.handset {
            height: 100%;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            gap: 3px;
        }

        &.desktop {
            & {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                height: 100%;
            }

            .how-it-works-card,
            .qa-card,
            .photo-guide-card {
                width: 50%;
                margin: 3px;
            }

            .card-container {
                width: 450px;
            }
        }

        .how-it-works-card,
        .qa-card,
        .photo-guide-card {
            background-size: cover;
            background-position: center;
            position: relative;
            padding: 25px 20px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .how-it-works-card {
            background-image: url('/assets/images/guide/how-it-works.jpg');
        }
        .qa-card {
            background-image: url('/assets/images/guide/qa.jpg');
        }
        .photo-guide-card {
            background-image: url('/assets/images/guide/photo-guide.jpg');
        }

        .card-container {
            background-color: rgba(4, 0, 55, 0.5);
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            width: 100%;
            padding: 12px 20px;
            box-sizing: border-box;
            text-decoration: none;
            backdrop-filter: blur(5px);

            .icon {
                margin-right: 12px;
            }

            .card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 12px;

                > p {
                    margin: 0;
                }

                > p:first-child {
                    font-size: $small-text-font-size;
                    font-weight: bold;
                    color: white;
                    margin-bottom: 6px;
                }

                > p:last-child {
                    font-size: $normal-text-font-size;
                    color: $kia-lighten-dark-blue;

                    > .bold {
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
