@import 'src/variables';

:host {
    height: 45px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding: 0 16px;

    &[data-variant='primary'] {
        background-color: $kia-dark-blue;
        color: #ffffff;
    }

    // Not to use (looks like disabled)
    &[data-variant='secondary'] {
        background-color: $kia-lighten-dark-blue;
        color: #ffffff;
    }

    &[data-variant='bordered'] {
        border: 1px solid $kia-dark-blue;
        background-color: transparent;
        color: $kia-dark-blue;
    }

    &[variant='bordered-bold'] {
        border: 1px solid $kia-dark-blue;
        background-color: transparent;
        color: $kia-dark-blue;
        font-weight: bold;
    }

    &[data-variant='white-bordered'] {
        border: 1px solid white;
        background-color: transparent;
        color: white;
    }

    &[data-variant='success'] {
        background-color: $kia-green;
        color: #ffffff;
    }

    &[data-variant='warn'] {
        background-color: $kia-red;
        color: #ffffff;
    }

    &[data-variant='link'] {
        background-color: transparent;
        color: $kia-dark-blue;

        &:hover {
            text-decoration: underline;
        }
    }

    &[data-variant='link'][disabled] {
        background-color: transparent;
        text-decoration: line-through;
    }

    &[data-variant='bordered'][disabled] {
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.26);
        border: 1px solid rgba(0, 0, 0, 0.26);
        cursor: default;
    }

    &[disabled] {
        background-color: rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.26);
        cursor: default;
    }

    &[compact]:not([compact='false']) {
        font-size: 14px;
        padding: 0 10px;
    }

    &:focus {
        text-decoration: underline;
    }
}

:host,
.button-wrapper {
    border-radius: 8px;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
