<svg xmlns="http://www.w3.org/2000/svg" width="23" height="17.773" viewBox="0 0 23 17.773">
    <g transform="translate(-16.667 -33.333)">
        <g transform="translate(16.667 33.333)">
            <path
                class="a"
                d="M36.531,33.333H19.8a3.146,3.146,0,0,0-3.136,3.136v11.5A3.146,3.146,0,0,0,19.8,51.106H36.531a3.146,3.146,0,0,0,3.136-3.136v-11.5A3.146,3.146,0,0,0,36.531,33.333Zm1.045,15.682H18.758V35.424H37.576Z"
                transform="translate(-16.667 -33.333)"
            />
        </g>
        <g transform="translate(18.758 37.515)">
            <rect class="a" width="18.818" height="3.136" transform="translate(0)" />
        </g>
        <g transform="translate(20.849 44.833)">
            <rect class="a" width="3.136" height="2.091" transform="translate(0 0)" />
            <rect class="a" width="3.136" height="2.091" transform="translate(5.227 0)" />
        </g>
    </g>
</svg>
