@import 'src/variables';

.product-list-grid {
    .scrollable-content > div {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-column-gap: 6px;
        grid-row-gap: 12px;
        background-color: $content-background-color;
        padding: 6px;

        .product-list-grid-loader {
            grid-column: span 2;
            align-self: center;
            justify-self: center;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    &.desktop > .scrollable-content > div {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-gap: 20px;
        padding: 0;

        .product-list-grid-loader {
            grid-column: span 4;
        }
    }

    &.three-col > .scrollable-content > div {
        grid-template-columns: repeat(3, minmax(150px, 1fr));

        .product-list-grid-loader {
            grid-column: span 3;
        }
    }
}
