<!-- 💡 : Si le paramètre parentScroll est "window", la librairie ne permet pas de revenir au scrollY précédent -->
<virtual-scroller
    #scroll
    appDeviceClasses
    class="product-list-grid"
    [class.three-col]="isProfileSidePanelVisible$ | async"
    [parentScroll]="parentScrollEl!"
    [items]="items"
    [enableUnequalChildrenSizes]="true"
    (vsEnd)="fetchMore($event)"
>
    <div #container>
        <ng-container *ngFor="let product of scroll.viewPortItems">
            <app-product-card
                data-qa="productCard"
                [id]="product.id"
                [product]="product"
                [displayLotAction]="displayLotAction"
                [displayOwner]="displayOwner"
                (productClickedEvent)="navigateToProduct($event)"
                *ngIf="product !== null; else kiabiBagCard"
            ></app-product-card>
            <ng-template #kiabiBagCard>
                <app-kiabi-bag-card id="kiabi-bag"></app-kiabi-bag-card>
            </ng-template>
        </ng-container>
        <div class="product-list-grid-loader" *ngIf="loading">
            <mat-spinner color="primary" [diameter]="40"></mat-spinner>
        </div>
    </div>
</virtual-scroller>
