@import 'src/variables';

:host {
    background-color: $content-background-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        margin-bottom: 20px;
    }

    .spinner {
        margin-top: 20px;
    }
}
