<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <g transform="translate(-259 -709)">
        <g transform="translate(263.706 717.235)">
            <path
                class="a"
                d="M33.3,25.715a.47.47,0,0,0-.1-.294l-1.429-1.775h0l-1.587-3.23a2.98,2.98,0,0,0-2.668-1.636h-2.89v-.742a.486.486,0,0,0-.493-.478H13.6a.479.479,0,1,0,0,.957H23.642v5.354a.486.486,0,0,0,.493.478h6.96l1.232,1.529v4.084h-1.9a2.731,2.731,0,0,0-3.172-2.154,2.7,2.7,0,0,0-2.218,2.154H20.15a2.732,2.732,0,0,0-3.172-2.154,2.7,2.7,0,0,0-2.218,2.154H13.353a.479.479,0,1,0,0,.957h1.412a2.736,2.736,0,0,0,3.2,2.125,2.7,2.7,0,0,0,2.189-2.125h4.883a2.736,2.736,0,0,0,3.2,2.125,2.7,2.7,0,0,0,2.189-2.125h1.9a.972.972,0,0,0,.986-.957Zm-8.678-5.981h2.9A1.976,1.976,0,0,1,29.3,20.825L30.567,23.4h-5.94Zm-7.172,12.4a1.706,1.706,0,1,1,1.754-1.708v0A1.732,1.732,0,0,1,17.455,32.134Zm10.272,0a1.706,1.706,0,1,1,1.757-1.706v0A1.732,1.732,0,0,1,27.727,32.134Z"
                transform="translate(-10.716 -17.56)"
            />
            <path
                class="a"
                d="M12.856,54.478A.486.486,0,0,0,12.363,54H9.653a.479.479,0,1,0,0,.957h2.71A.486.486,0,0,0,12.856,54.478Z"
                transform="translate(-7.928 -45.283)"
            />
            <path
                class="a"
                d="M4.653,42.957H10.32a.479.479,0,1,0,0-.957H4.653a.479.479,0,1,0,0,.957Z"
                transform="translate(-4.16 -36.153)"
            />
            <path
                class="a"
                d="M9.16,30.478a.486.486,0,0,0,.493.478H15.32a.479.479,0,1,0,0-.957H9.653A.486.486,0,0,0,9.16,30.478Z"
                transform="translate(-7.928 -27.024)"
            />
        </g>
    </g>
</svg>
