@import 'src/variables';

.payment-recap-container {
    display: flex;
    flex-direction: column;
    background-color: $content-background-color;
    height: 100%;

    &.desktop {
        max-height: 80vh;
    }

    .payment-recap-content {
        flex: 1;
        padding: 24px;
        box-sizing: border-box;
        overflow-y: auto;

        .payment-recap-title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 12px;

            > span {
                text-transform: uppercase;
                font-size: $normal-text-font-size;
                font-weight: bold;
                margin-left: 12px;
                color: $kia-dark-blue;
            }
        }

        .payment-recap-products {
            background-color: white;
            border-top: 1px solid $kia-dark-blue;
            display: flex;
            flex-direction: column;
            padding: 0 12px;
            margin-bottom: 24px;
        }

        .payment-recap-shipping {
            background-color: white;
            border-top: 1px solid $kia-dark-blue;
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
            margin-bottom: 24px;

            .payment-recap-shipping-header {
                > * {
                    margin-bottom: 2px;
                }

                .relay-title {
                    color: $kia-dark-blue;
                    font-size: $normal-text-font-size;
                }

                .relay-address {
                    color: $light-text-color;
                    font-size: $small-text-font-size;
                }
            }

            .payment-recap-shipping-hours {
                padding: 12px 12px;
                box-sizing: border-box;
                width: 100%;

                table {
                    width: 100%;

                    tr {
                        display: flex;
                    }

                    th {
                        font-size: $normal-text-font-size;
                        color: $medium-text-color;
                        font-weight: normal;
                        flex: 1;
                        text-align: left;
                    }

                    td {
                        font-size: $normal-text-font-size;
                        color: $kia-dark-blue;
                        font-weight: normal;
                        flex: 1;
                        text-align: center;
                    }
                }
            }
        }

        .payment-recap-payment-lines {
            border-top: 1px solid $kia-dark-blue;
            background: white;
            padding: 12px;
            margin-bottom: 24px;
        }
    }

    .payment-recap-footer {
        width: 100%;
        display: flex;
        padding: 8px 24px max(8px, env(safe-area-inset-bottom));
        box-sizing: border-box;
        background-color: #f7f7f8;

        > button {
            height: 45px;
            font-size: 16px;
        }

        > button:first-child {
            flex: 1;
            margin-right: 12px;
        }

        > button:last-child {
            flex: 2;
        }
    }
}
