<div class="payment-recap-container" appDeviceClasses>
    <div class="payment-recap-content">
        <div class="payment-recap-title">
            <img
                src="../../../../../assets/svg/Tunnel_commande_Titre_Articles.svg"
                alt="product-icon"
                data-qa="paymentProducts"
            />
            <span>{{ 'common.article' | translate: { amount: lot?.products?.length } }}</span>
        </div>
        <div class="payment-recap-products">
            <div class="product-line" *ngFor="let product of lot?.products; let last = last">
                <app-product-line [product]="product" [showArrow]="false" [showPrice]="false"></app-product-line>
                <mat-divider *ngIf="!last"></mat-divider>
            </div>
        </div>
        <div class="payment-recap-title" data-qa="paymentShipping">
            <img src="../../../../../assets/svg/Tunnel_commande_Titre_Livraison.svg" alt="product-icon" />
            <span>{{ 'payment.shipping' | translate }}</span>
        </div>
        <div class="payment-recap-shipping">
            <div class="payment-recap-shipping-header">
                <div class="relay-title" data-qa="relayTitle">{{ relay?.Nom }}</div>
                <div class="relay-address" data-qa="relayAdress">{{ relay?.Adresse1 }}</div>
                <div class="relay-address" data-qa="relayCity">{{ relay?.CP + ' ' + relay?.Ville }}</div>
            </div>
            <div class="payment-recap-shipping-hours">
                <div [innerHTML]="relay?.HoursHtmlTable"></div>
            </div>
        </div>
        <div class="payment-recap-title" data-qa="totalPurchase">
            <img src="../../../../../assets/svg/Tunnel_commande_Titre_Paiement.svg" alt="product-icon" />
            <span>{{ 'payment.totalPurchase' | translate }}</span>
        </div>
        <div class="payment-recap-payment-lines" data-qa="bundlePaymentLines">
            <app-payment-lines [lot]="lot"></app-payment-lines>
        </div>
    </div>
    <div class="payment-recap-footer">
        <button type="button" mat-stroked-button color="primary" (click)="goBack()" data-qa="btnReturn">
            {{ 'common.back' | translate }}
        </button>
        <button type="submit" mat-flat-button color="primary" (click)="buy()" data-qa="btnProceedPayment">
            {{ 'payment.proceedToPayment' | translate }}
        </button>
    </div>
</div>
