@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    .close-button {
        position: absolute;
        top: -15px;
        right: -15px;
        color: $kia-lighten-dark-blue;
    }

    .icon-container {
        position: relative;
        margin: 15px 0;

        .state-icon {
            position: absolute;
            top: -18px;
            right: -5px;
            width: 30px;
        }
    }

    .title {
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: $kia-dark-blue;
        margin-bottom: 15px;
    }

    .subtitle {
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        color: $kia-dark-blue;
        margin-bottom: 15px;
    }
}
