<div class="title-container">
    <div class="title">
        {{
            'profile.bankDetails.editIdentity.upload.title'
                | translate: { name: 'profile.bankDetails.editIdentity.type.' + type?.toLowerCase() | translate }
        }}
    </div>
    <div class="subtitle">
        {{ 'profile.bankDetails.documentAcceptedFormats' | translate }}
    </div>
</div>
<ng-container *ngIf="needToUploadRectoVerso; then rectoVersoUpload; else doublePageUpload"></ng-container>
<ng-template #rectoVersoUpload>
    <app-upload-kyc-document
        [fileType]="fileType.KYC_RECTO"
        [file]="rectoFile"
        [previews]="rectoImagePreviews"
        (documentUploaded)="onRectoFileUploaded($event)"
    ></app-upload-kyc-document>
    <app-upload-kyc-document
        [fileType]="fileType.KYC_VERSO"
        [file]="versoFile"
        [previews]="versoImagePreviews"
        (documentUploaded)="onVersoFileUploaded($event)"
    ></app-upload-kyc-document>
</ng-template>
<ng-template #doublePageUpload>
    <app-upload-kyc-document
        [fileType]="fileType.KYC_DOUBLE_PAGE"
        [file]="rectoFile"
        [previews]="rectoImagePreviews"
        (documentUploaded)="onDoublePageFileUploaded($event)"
    >
    </app-upload-kyc-document>
</ng-template>
