@import 'src/variables';

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $kia-dark-blue;
    margin-bottom: 20px;

    .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
    }

    .subtitle {
        font-style: normal;
        font-size: 10px;
        line-height: 12px;
    }
}
