@import 'src/variables';

:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: $kia-dark-blue;
        display: flex;
        align-items: center;

        > span {
            white-space: pre-line;
            text-align: right;
        }

        app-heart-icon {
            margin-right: 17px;
            margin-left: 7px;
        }
    }

    .content {
        height: 100%;

        &.handset {
            padding-top: 20px;
        }

        .empty-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            text-align: center;
            padding: 10px;

            .title {
                font-size: 18px;
                font-weight: bold;
                color: $kia-dark-blue;
                margin-top: 20px;
            }

            .subtitle {
                font-size: 16px;
                color: $medium-text-color;
                margin-top: 10px;
            }

            a {
                margin-top: 20px;
            }
        }

        .list-container {
            height: 100%;

            .title {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                color: $kia-dark-blue;

                .subtitle {
                    font-style: normal;
                    font-size: 20px;
                    line-height: 23px;
                }
            }
        }
    }
}
