<app-header-with-title *ngIf="deviceService.isHandset$ | async" [title]="'profile.link.myWishlist' | translate">
    <app-heart-icon class="icon" color="secondary"></app-heart-icon>
</app-header-with-title>

<div class="content" #contentScrollEl (window:scroll)="onWindowScroll()">
    <div class="list-container" *ngIf="((totalProducts$ | async) || 0) > 0; else emptyContainer">
        <div class="title" *ngIf="deviceService.isDesktop$ | async">
            {{ 'profile.link.myWishlist' | translate }}
        </div>
        <app-product-list
            [loading]="isLoading$ | async"
            [products]="wishlist$ | async"
            [parentScrollEl]="window"
            [totalElements]="totalProducts$ | async"
            (fetchProducts)="onFetchMore()"
        ></app-product-list>
    </div>
    <ng-template #emptyContainer>
        <div class="empty-container">
            <app-animated-hanger></app-animated-hanger>
            <div class="title">{{ 'wishlist.empty.title' | translate }}</div>
            <div class="subtitle">{{ 'wishlist.empty.subtitle' | translate }}</div>
            <a routerLink="/" mat-flat-button color="primary">{{ 'wishlist.empty.button' | translate }}</a>
        </div>
    </ng-template>
</div>
