<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="height" viewBox="0 0 16.001 16">
    <g transform="translate(-109.777 -158.228)">
        <rect class="a" width="16" height="16" transform="translate(109.777 158.229)" />
        <path
            [ngStyle]="{ fill: color }"
            d="M148.537,240.909a.728.728,0,0,0,.518.22.719.719,0,0,0,.718-.708.727.727,0,0,0-.217-.527l-1.582-1.583a.7.7,0,0,0-.584-.214.719.719,0,0,0-.435,1.231Z"
            transform="translate(-35.023 -77.927)"
        />
        <path
            [ngStyle]="{ fill: color }"
            d="M156.769,241.129h.022a.733.733,0,0,0,.515-.216l1.575-1.577a.721.721,0,0,0,.032-1.019.72.72,0,0,0-1.039-.01l-1.577,1.578a.721.721,0,0,0,.472,1.244Z"
            transform="translate(-35.262 -77.927)"
        />
        <path
            [ngStyle]="{ fill: color }"
            d="M148.949,247.437a.714.714,0,0,0-.409.209l-1.577,1.578a.718.718,0,0,0-.029,1.015.7.7,0,0,0,.517.226.758.758,0,0,0,.52-.213l1.577-1.578a.723.723,0,0,0,.032-1.019A.733.733,0,0,0,148.949,247.437Z"
            transform="translate(-35.023 -78.174)"
        />
        <path
            [ngStyle]="{ fill: color }"
            d="M160.091,243.449h-2.144a.673.673,0,0,0-.629.6,4.528,4.528,0,0,0-4.416-4.4.7.7,0,0,0,.611-.689v-2.074a.681.681,0,0,0-.193-.494.77.77,0,0,0-.556-.228l-.039,0a.7.7,0,0,0-.631.712v2.083a.7.7,0,0,0,.559.679h-.087l-.124.007v.009a4.51,4.51,0,0,0-4.159,4.4.7.7,0,0,0-.686-.593h-2.145a.71.71,0,0,0-.648.767.715.715,0,0,0,.71.649H147.6a.7.7,0,0,0,.686-.594,4.487,4.487,0,0,0,4.38,4.4.693.693,0,0,0-.565.692v2.083a.709.709,0,0,0,1.418,0v-2.074a.7.7,0,0,0-.2-.507.688.688,0,0,0-.408-.191,4.525,4.525,0,0,0,4.407-4.393.709.709,0,0,0,.692.585h2.082a.709.709,0,1,0,0-1.417Zm-7.326,4v.123h0l0-.123a3.289,3.289,0,0,1-.175-6.573l.057-.007h.122a3.289,3.289,0,0,1,0,6.578Z"
            transform="translate(-35.023 -77.927)"
        />
        <path
            [ngStyle]="{ fill: color }"
            d="M157.308,247.646a.719.719,0,0,0-1.228.574.7.7,0,0,0,.212.445l1.581,1.582a.721.721,0,0,0,1.019.018.726.726,0,0,0,0-1.036Z"
            transform="translate(-35.262 -78.174)"
        />
    </g>
</svg>
