@import 'src/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    app-user-navigation {
        height: 60px;

        > mat-toolbar.handset {
            background-color: white !important;
        }
    }

    .header-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: $kia-dark-blue;
        display: flex;
        align-items: center;

        > span {
            white-space: pre-line;
            text-align: right;
        }

        .card-icon {
            margin-right: 17px;
            margin-left: 7px;
        }
    }

    .incomplete-title-container {
        color: $kia-red;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title {
            margin-top: 5px;
            font-size: 16px;
            line-height: 18px;
        }

        .subtitle {
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .pending-validation-title-container {
        color: $kia-orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title {
            margin-top: 5px;
            font-size: 16px;
            line-height: 18px;
        }

        .subtitle {
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .completed-title-container {
        text-align: center;
        color: $medium-text-color;

        .title {
            font-size: 16px;
            line-height: 18px;
        }

        .subtitle {
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
        }
    }

    .error-title-container {
        background-color: $darker-background-color;
        color: $kia-red;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        border: 2px solid $kia-red;
        border-radius: 8px;
        box-shadow: $kia-red 0px 0px 4px;

        .title {
            margin-top: 5px;
            font-size: 16px;
            line-height: 18px;
        }

        .subtitle {
            font-weight: bold;
            margin-top: 10px;
            font-size: 14px;
            line-height: 16px;
        }

        .subsubtitle {
            margin-top: 10px;
            font-size: 10px;
            line-height: 12px;
        }
    }

    .bank-details-container {
        flex: 1;
        overflow-y: auto;
        background-color: $content-background-color;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 40px 0 24px;
        align-self: center;

        &.handset {
            padding-bottom: calc(#{$footer-height} + 24px + env(safe-area-inset-bottom));
        }

        > * {
            margin: 0 20px;
        }
    }
}
