<app-user-navigation *ngIf="deviceService.isHandset$ | async">
    <div class="header-title">
        <span>{{ 'profile.bankDetails.title' | translate }}</span>
        <app-credit-card-icon class="card-icon"></app-credit-card-icon>
    </div>
</app-user-navigation>

<div class="loader-container" *ngIf="loading$ | async">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
</div>

<div class="bank-details-container" appDeviceClasses *ngIf="(loading$ | async) === false">
    <div *ngIf="isBankAccountIncomplete$ | async" class="incomplete-title-container">
        <img src="assets/svg/icon-warning.svg" alt="" />
        <div class="title">
            {{ 'profile.bankDetails.incomplete.title' | translate }}
        </div>
        <div class="subtitle" [innerHTML]="'profile.bankDetails.incomplete.subtitle' | translate"></div>
    </div>
    <div *ngIf="isBankAccountPendingValidation$ | async" class="pending-validation-title-container">
        <app-warning-icon color="#FF7600" [width]="30" [height]="30"></app-warning-icon>
        <div class="title">
            {{ 'profile.bankDetails.pending-validation.title' | translate }}
        </div>
        <div class="subtitle" [innerHTML]="'profile.bankDetails.pending-validation.subtitle' | translate"></div>
    </div>
    <div *ngIf="isBankAccountCompleted$ | async" class="completed-title-container">
        <app-bank-account-complete-icon></app-bank-account-complete-icon>
        <div class="title">
            {{ 'profile.bankDetails.good.title' | translate }}
        </div>
        <div class="subtitle">
            {{ 'profile.bankDetails.good.subtitle' | translate }}
        </div>
    </div>
    <div *ngIf="isBankAccountInError$ | async" class="error-title-container">
        <ng-container *ngIf="accountStatus$ | async as accountStatus">
            <div class="title">
                {{ 'profile.bankDetails.error.' + accountStatus + '.title' | translate }}
            </div>
            <div class="subtitle">
                {{ 'profile.bankDetails.error.' + accountStatus + '.subtitle' | translate }}
            </div>
            <div class="subsubtitle" [innerHTML]="'profile.bankDetails.error.subsubtitle' | translate"></div>
        </ng-container>
    </div>

    <ng-container *ngIf="(isIbanAndRibProcessStarted$ | async) === false">
        <app-start-iban-rib-document-card></app-start-iban-rib-document-card>
    </ng-container>

    <ng-container *ngIf="isIbanAndRibProcessStarted$ | async">
        <app-iban-document-card></app-iban-document-card>
        <app-rib-document-card></app-rib-document-card>
    </ng-container>

    <app-identity-document-card></app-identity-document-card>
</div>
