@import 'src/variables';

.order-detail-dialog-container {
    background: $content-background-color;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
        background: $app-background-color;
        position: sticky;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            color: $kia-lighten-dark-blue;
        }

        .title {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: $kia-dark-blue;
        }
    }

    .content {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .status {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            .status-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                color: $kia-dark-blue;
                display: flex;
                align-items: center;

                mat-icon {
                    font-weight: bold;
                    font-size: 20px;
                }

                &.sold {
                    color: $kia-green;
                }

                &.cancelled {
                    color: $kia-red;
                }
            }

            .status-reason {
                font-size: 13px;
                color: $kia-red;
                font-style: italic;
            }
        }

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $kia-dark-blue;
            text-transform: uppercase;
            border-bottom: $kia-dark-blue solid 1px;
            padding-bottom: 12px;

            .icon {
                margin-right: 10px;
            }

            .remunaration-icon {
                height: 30px;
                width: 30px;
            }
        }

        .container {
            background: $app-background-color;
            margin-bottom: 30px;

            app-payment-lines {
                width: 100%;
            }
        }

        .products-container {
            padding: 0 10px;
        }

        .price-container {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $kia-dark-blue;

            .stroked {
                text-decoration: line-through;
                margin-right: 10px;
            }

            .flex-row {
                display: flex;
                align-items: center;
            }
        }

        .cancel-button {
            background: none;
            border: none;
            text-align: center;
            color: $medium-text-color;
            text-decoration: underline;
            align-self: center;
        }
    }

    .text-button {
        color: $medium-text-color;
        text-decoration: underline;
    }

    .text-button {
        color: $medium-text-color;
        text-decoration: underline;
    }

    .footer {
        background: $app-background-color;
        position: sticky;
        z-index: 101;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        display: flex;
        padding: 8px 20px max(8px, env(safe-area-inset-bottom));

        button {
            margin: 0 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
        }

        > button:first-child {
            flex: 1;
        }

        > button:last-child {
            flex: 2;
        }
    }
}
