<div class="order-detail-dialog-container">
    <div class="header">
        <span class="title">
            {{ 'orders.detail.' + (isBuyer ? 'purchaseTitle' : 'saleTitle') | translate }}
        </span>
        <span class="title">
            {{
                'orders.detail.subtitle'
                    | translate
                        : {
                              id: lot?.id,
                              date: lot?.tracking?.paymentDate | date: 'dd/MM/yyyy'
                          }
            }}
        </span>
        <button type="button" mat-icon-button mat-dialog-close class="close-button">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="content">
        <div class="status">
            <div
                class="status-title"
                [class.sold]="lot?.status === LotStatusEnum.SOLD"
                [class.cancelled]="lot?.status === LotStatusEnum.CANCELLED"
            >
                <mat-icon *ngIf="lot?.status === LotStatusEnum.SOLD">done</mat-icon>
                <mat-icon *ngIf="lot?.status === LotStatusEnum.CANCELLED">clear</mat-icon>
                <div>
                    {{ 'orders.card.title.' + lot?.status | translate }}
                </div>
            </div>

            <div class="status-reason" *ngIf="lot?.cancelReason">
                <span>
                    {{ 'orders.card.reasonTitle' | translate }}
                </span>
                <span>
                    {{ 'orders.card.reason.' + lot?.cancelReason?.reason | translate }}
                </span>
            </div>
        </div>

        <div class="title">
            <img class="icon" src="assets/svg/Tunnel_commande_Titre_Articles.svg" alt="icon" />
            {{ 'common.article' | translate: { amount: lot?.products?.length } }}
        </div>

        <div class="container products-container">
            <ng-container *ngFor="let product of lot?.products; let last = last">
                <app-product-line [product]="product" [showArrow]="false" [showPrice]="false"></app-product-line>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </div>

        <div class="title">
            <img class="icon" src="assets/svg/Tunnel_commande_Titre_Paiement.svg" alt="icon" />
            {{ 'orders.detail.priceTitle' | translate }}
        </div>

        <div class="container price-container">
            <app-payment-lines [lot]="lot" [recap]="true" *ngIf="isBuyer"></app-payment-lines>
            <ng-container *ngIf="!isBuyer">
                <div class="price-title">
                    {{ 'common.article' | translate: { amount: lot?.products?.length } }}
                </div>
                <div class="flex-row">
                    <div class="stroked" *ngIf="(discussion$ | async)?.negociatedPrice">
                        {{ lot?.totalPrice | currency }}
                    </div>
                    {{ lot?.productsFinalPrice | currency }}
                </div>
            </ng-container>
        </div>

        <ng-container *ngIf="lot?.remunerationMode && !isBuyer">
            <div class="title">
                <img
                    class="icon remunaration-icon"
                    src="assets/svg/Generique_icon_bonAchatKiabi_Kiabi_dark.svg"
                    alt="icon"
                />
                {{ 'chat.remunerationMode' | translate }}
            </div>
            <div class="container price-container">
                {{
                    (lot?.remunerationMode === RemunerationMode.CASH
                        ? 'profile.cashCredit.cash'
                        : 'profile.cashCredit.voucher'
                    ) | translate
                }}
            </div>
            <div class="flex-row justify-center">
                <button
                    type="button"
                    mat-button
                    class="text-button"
                    (click)="openChangeRemunerationModeDialog()"
                    *ngIf="
                        lot?.status !== 'COMPLIANT' &&
                        lot?.status !== 'SOLD' &&
                        lot?.status !== 'CANCELLED' &&
                        lot?.status !== 'OPEN' &&
                        lot?.status !== 'PREPAID' &&
                        lot?.status !== 'RESOLVED'
                    "
                >
                    {{ 'orders.detail.changeRemunerationMode.title' | translate }}
                </button>
            </div>
        </ng-container>

        <button class="cancel-button" type="button" (click)="cancel(lot?.id)" *ngIf="canCancel$ | async">
            {{ 'orders.detail.cancelBuy' | translate }}
        </button>
    </div>

    <div class="footer">
        <button type="button" mat-stroked-button mat-dialog-close color="primary">
            {{ 'common.back' | translate }}
        </button>
        <button type="button" mat-flat-button [mat-dialog-close]="true" color="primary" *ngIf="discussion$ | async">
            {{ 'orders.detail.goToChat' | translate }}
        </button>
    </div>

    <div class="loader-container" *ngIf="loading">
        <mat-spinner color="primary" [diameter]="40"></mat-spinner>
    </div>
</div>
