<mat-nav-list class="list">
    <ng-container *ngFor="let link of otherLinks">
        <a mat-list-item [routerLink]="link.path">
            <div class="link" data-qa="link">
                <div class="title-container">
                    <div class="title">{{ 'profile.link.' + link.labelKey | translate }}</div>
                </div>
                <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
            </div>
        </a>
        <mat-divider></mat-divider>
    </ng-container>

    <a mat-list-item routerLink="/other/contact-us">
        <div class="link">
            <div class="title-container">
                <div class="title">{{ 'profile.link.contactUs' | translate }}</div>
            </div>
            <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
        </div>
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>
