@import 'src/variables';

.list {
    padding-top: 0;
    background-color: #ffffff;
    border-radius: 8px;

    .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;

        .title-container {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 10px;
                color: $kia-lighten-dark-blue;
            }

            .title {
                font-size: 16px;
                line-height: 15px;
                color: $medium-text-color;
            }
        }

        .next-button {
            color: $kia-lighten-dark-blue;
        }
    }

    a.link {
        text-decoration: none;
    }
}
