<div
    appDeviceClasses
    class="profile-scroll"
    #profileScroll
    [ngClass]="{ 'has-banner': showBanner, deactivate: isBlocked$ | async }"
    (window:scroll)="onWindowScroll()"
>
    <app-user-navigation *ngIf="deviceService.isHandset$ | async"></app-user-navigation>
    <ng-container *ngIf="user$ | async as user">
        <app-user-profile-handset
            [user]="user"
            [scrollEl]="profileScroll"
            *ngIf="deviceService.isHandset$ | async"
        ></app-user-profile-handset>
        <app-user-profile-desktop
            [user]="user"
            [scrollEl]="profileScroll"
            *ngIf="deviceService.isDesktop$ | async"
        ></app-user-profile-desktop>
    </ng-container>
    <div class="loader-container" *ngIf="loading$ | async">
        <mat-spinner color="primary" [diameter]="30"></mat-spinner>
    </div>
</div>
