@import 'src/variables';

.cash-credit-container {
    .cash-history {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;

        .cash-history-title {
            font-size: 18px;
            font-weight: bold;
        }

        .cash-history-list {
            display: flex;
            flex-direction: column;

            .spinner {
                margin-top: 12px;
            }

            .cash-line {
                width: 325px;
                min-width: 305px;
                height: 56px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px 10px;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                cursor: pointer;

                &.disabled {
                    cursor: not-allowed;
                    opacity: 0.6;
                }

                .cash-amount {
                    font-size: $large-text-font-size;
                    color: $kia-dark-blue;
                    display: flex;

                    > span:first-child {
                        margin-right: 8px;
                    }
                }

                .available-date {
                    font-size: $small-text-font-size;
                    color: $light-text-color;
                }
                .transaction-date {
                    font-size: $very-small-text-font-size;
                    color: $light-text-color;
                    font-style: italic;
                    align-self: flex-end;
                }
            }
        }
    }
}
