<div class="cash-credit-container" appDeviceClasses>
    <div class="card-container">
        <div class="cash-history">
            <h3 class="cash-history-title">{{ 'profile.cashCredit.history.title' | translate }}</h3>
            <div class="cash-history-list" appDeviceClasses>
                <a
                    class="cash-line"
                    type="button"
                    *ngFor="let ch of cashHistory; trackBy: trackById; let first = first"
                    [ngClass]="{
                        'no-border-top': !first
                    }"
                    data-qa="cashLine"
                    (click)="openPopup(ch)"
                >
                    <app-p2p-icon *ngIf="ch.type === TransactionHistoryType.P2P"></app-p2p-icon>
                    <app-money-out-icon *ngIf="ch.type === TransactionHistoryType.MONEY_OUT"></app-money-out-icon>

                    <div class="transaction-date">
                        <span>{{ ch.date * 1000 | date: 'dd/MM/yyyy HH:mm' }}</span>
                    </div>
                    <div class="cash-amount" data-qa="cashAmount">
                        <span>{{ ch.amount | currency }}</span>
                    </div>
                    <img src="assets/svg/Generique_icon_arrow_right.svg" alt="right icon" />
                </a>
                <div class="spinner" *ngIf="loading$ | async">
                    <mat-spinner [diameter]="20" color="primary"></mat-spinner>
                </div>
            </div>
        </div>
    </div>
</div>
