<svg xmlns="http://www.w3.org/2000/svg" width="23" height="18.5" viewBox="0 0 23 18.5">
    <g id="filter" transform="translate(1 0.75)">
        <line
            id="Ligne_19"
            data-name="Ligne 19"
            x1="21"
            transform="translate(0 13.474)"
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-width="2"
        />
        <rect
            id="Rectangle_1767"
            data-name="Rectangle 1767"
            width="6.075"
            height="7.438"
            rx="2"
            transform="translate(4.05 9.563)"
            fill="#fff"
            stroke="#040037"
            stroke-width="1.5"
        />
        <line
            id="Ligne_20"
            data-name="Ligne 20"
            x1="21"
            transform="translate(0 4.196)"
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-width="2"
        />
        <rect
            id="Rectangle_1768"
            data-name="Rectangle 1768"
            width="5.063"
            height="8.5"
            rx="2"
            transform="translate(11.138)"
            fill="#fff"
            stroke="#040037"
            stroke-width="1.5"
        />
    </g>
</svg>
