<div class="container">
    <ng-container *ngIf="!loading; else loadingContainer">
        <button
            type="button"
            mat-icon-button
            mat-dialog-close
            tabindex="-1"
            class="close-button"
            [attr.aria-label]="'common.close' | translate"
        >
            <mat-icon>clear</mat-icon>
        </button>

        <div class="icon-container">
            <mat-icon class="material-icons-outlined">lightbulb</mat-icon>
        </div>

        <div class="content">
            <div>{{ 'suggestBrand.title' | translate }}</div>

            <mat-form-field appearance="outline">
                <mat-label>{{ 'suggestBrand.input.label' | translate }}</mat-label>
                <input
                    type="text"
                    matInput
                    [placeholder]="'suggestBrand.input.placeholder' | translate"
                    [formControl]="brand!"
                />
                <mat-error *ngIf="brand?.errors?.notUnique">
                    {{ 'suggestBrand.error.notUnique' | translate }}
                </mat-error>
            </mat-form-field>

            <ng-container *ngIf="approximativeBrands$ | async as approximativeBrands">
                <div *ngIf="approximativeBrands.length > 0" class="warning-approximate">
                    <span>
                        {{
                            'suggestBrand.approximate.askConfirmation.0'
                                | translate: { count: approximativeBrands.length }
                        }}</span
                    >
                    <span> : </span>
                    <ng-container *ngFor="let brand of approximativeBrands; let last = last">
                        <span>{{ brand.label }}</span>
                        <span *ngIf="!last">, </span>
                        <span *ngIf="last">.</span>
                    </ng-container>
                    <span> {{ 'suggestBrand.approximate.askConfirmation.1' | translate }}</span>
                </div>
            </ng-container>

            <div class="suggest-action">
                <ng-container *ngIf="approximativeBrands$ | async as approximativeBrands">
                    <button
                        *ngIf="approximativeBrands.length > 0"
                        kia-button
                        variant="bordered"
                        type="button"
                        (click)="close()"
                    >
                        {{ 'common.cancel' | translate }}
                    </button>
                </ng-container>
                <button
                    kia-button
                    variant="primary"
                    type="button"
                    (click)="onConfirmButtonClicked()"
                    [disabled]="!!brand?.invalid"
                >
                    {{ 'suggestBrand.confirm' | translate }}
                </button>
            </div>
        </div>
    </ng-container>

    <ng-template #loadingContainer>
        <mat-spinner color="primary" [diameter]="40"></mat-spinner>
    </ng-template>
</div>
