@import 'src/variables';

.container {
    position: relative;

    .close-button {
        position: absolute;
        z-index: 2;
        top: 4px;
        right: 4px;
        color: $medium-text-color;
    }

    .icon-container {
        position: relative;
        height: 100px;
        margin-bottom: 20px;

        mat-icon {
            width: 60px;
            height: 60px;
            font-size: 60px;
            position: absolute;
            bottom: -20px;
            left: calc(50% - 40px);
            color: white;
            background-color: $kia-dark-blue;
            border-radius: 50%;
            padding: 10px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        font-style: normal;
        font-size: 14px;
        line-height: 16px;
        color: $medium-text-color;
        text-align: center;

        mat-form-field {
            margin-top: 14px;
            min-width: 300px;
        }

        div.suggest-action {
            display: flex;
            width: 100%;
            justify-content: space-evenly;

            button {
                margin-top: 20px;
            }
        }
    }

    .warning-approximate {
        text-align: left;
    }
}
