<div class="title">
    {{
        'profile.bankDetails.editIdentity.upload.title'
            | translate: { name: 'profile.bankDetails.editIdentity.type.' + type.toLowerCase() | translate }
    }}
</div>
<div class="file-preview">
    <app-file-preview [file]="file"></app-file-preview>
</div>
