@import 'src/variables';

.title {
    text-align: center;
    color: $kia-dark-blue;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
}

.file-preview {
    border-radius: 8px;
    background-color: $app-background-color;
    padding: 12px;
    height: 450px;
}
