<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.listingConditions' | translate"
></app-header-with-title>
<div class="container" appDeviceClasses data-qa="listingConditions">
    <div class="title">{{ 'text.listingConditions.title' | translate }}</div>
    <div [innerHTML]="'text.listingConditions.content' | translate: { email: contactEmail } | safeHtml"></div>
</div>
