@import 'src/variables';

app-listing-conditions {
    height: 100%;
    display: flex;
    flex-direction: column;

    .container {
        flex: 1;
        overflow-y: auto;
        background-color: $content-background-color;
        padding: 24px;

        &.handset {
            padding-bottom: calc(#{$footer-height} + 24px + env(safe-area-inset-bottom));
        }

        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            color: $kia-dark-blue;
            margin-bottom: 20px;
        }

        h4 {
            font-weight: bold;
            font-size: 20px;
            line-height: 22px;
            color: $kia-dark-blue !important;
            margin: 20px 0;
        }

        h5 {
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: $kia-dark-blue !important;
            margin: 10px 0;
        }

        * {
            color: $medium-text-color;
            font-size: 12px;
        }
    }
}
