@import 'src/variables';

:host {
    display: block;
    background: white;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $kia-dark-blue;
        border-radius: 16px;
        padding: 8px;
        font-size: 12px;
    }
}
