@import 'src/variables';

$header-height: 60px;
$actions-height: 48px;

:host {
    background-color: $content-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        background-color: white;
        height: $header-height;
        display: inline-grid;
        grid-template-columns: 90px 1fr 90px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $border-color;

        button.go-back {
            padding: 0;
            color: $kia-lighten-dark-blue;

            &:hover {
                text-decoration: none !important;
            }
        }

        h2 {
            font-size: 16px;
            font-weight: bold;
            box-sizing: border-box;
            margin: 0;
            text-align: center;
        }

        button.close-button {
            padding-right: 20px;
            color: $kia-lighten-dark-blue;
            justify-self: end;
        }
    }

    .content-container {
        background-color: $content-background-color;
        flex: 1;
        overflow-y: auto;

        div {
            display: flex;
            flex-direction: column;
            padding-top: 12px;
            height: 100%;
            box-sizing: border-box;
        }

        &.desktop {
            div {
                overflow: auto;
            }
        }
    }

    .actions {
        background-color: white;
        display: flex;
        height: $actions-height;
        align-items: stretch;
        padding: 8px 12px max(8px, env(safe-area-inset-bottom));
        border-top: 1px solid $border-color;

        button {
            flex: 1;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }
}
