<section class="header">
    <button mat-icon-button type="button" (click)="goBack.emit()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h2>{{ title }}</h2>
</section>

<section class="content-container" appDeviceClasses>
    <div>
        <ng-content></ng-content>
    </div>
</section>

<section class="actions" *ngIf="displayValidateButton">
    <button mat-flat-button type="button" color="primary" (click)="goFilters.emit()">
        {{ 'common.validate' | translate }}
    </button>
</section>
