<app-header-with-back-button *ngIf="deviceService.isHandset$ | async"></app-header-with-back-button>
<form [formGroup]="form!" (ngSubmit)="changePassword()" autocomplete="off">
    <div class="loader-container" *ngIf="loading$ | async">
        <mat-spinner color="primary" [diameter]="30"></mat-spinner>
    </div>
    <div class="change-password-container" *ngIf="(loading$ | async) === false">
        <h1>{{ 'changePassword.change' | translate }}</h1>
        <div class="error-container" *ngIf="error">{{ error }}</div>
        <mat-form-field>
            <mat-label>{{ 'changePassword.oldPassword' | translate }}</mat-label>
            <input #currentPasswordEl matInput required type="password" formControlName="current" />
            <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="showOrHideCurrentPassword()"
                *ngIf="form?.controls?.current?.value"
            >
                <mat-icon>{{ showCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="form?.controls?.current?.errors?.wrongPassword">
                {{ 'changePassword.error.wrongPassword' | translate }}
            </mat-error>
        </mat-form-field>
        <app-password-with-confirm [resettingPassword]="true" formControlName="password"></app-password-with-confirm>
        <button kia-button type="submit" [disabled]="!!form?.invalid">
            {{ 'changePassword.validate' | translate }}
        </button>
    </div>
</form>
