@import 'src/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    form {
        overflow-y: auto;
        background-color: $content-background-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.handset {
            padding-bottom: $footer-height;
        }

        .change-password-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            margin: 20px 0;
            width: calc(100% - 20px);
            max-width: 448px;
            box-sizing: border-box;

            h1 {
                margin-top: 0;
            }

            .error-container {
                background-color: $kia-light-red;
                color: $kia-red;
                font-style: normal;
                font-size: 12px;
                line-height: 14px;
                border-radius: 8px;
                padding: 12px;
                margin-bottom: 18px;
            }

            mat-form-field {
                margin-bottom: 12px;
            }

            .sign-up-button {
                margin-bottom: 12px;
            }
        }
    }
}
