<app-header-with-back-button *ngIf="deviceService.isHandset$ | async"></app-header-with-back-button>
<form [formGroup]="form!" (ngSubmit)="resetPassword()">
    <div class="loader-container" *ngIf="loading$ | async">
        <mat-spinner color="primary" [diameter]="30"></mat-spinner>
    </div>
    <div class="reset-password-container" *ngIf="(loading$ | async) === false">
        <ng-container *ngIf="resetPasswordEmail; else resetPasswordBlock">
            <p [innerHTML]="'resetPassword.emailSent' | translate: { email: resetPasswordEmail }"></p>
            <a routerLink="/login" mat-flat-button color="primary">
                {{ 'resetPassword.backToLogin' | translate }}
            </a>
        </ng-container>
        <ng-template #resetPasswordBlock>
            <h1>{{ 'resetPassword.forgotYourPassword' | translate }}</h1>
            <p>{{ 'resetPassword.fillEmail' | translate }}</p>
            <mat-form-field>
                <mat-label>{{ 'userForm.email' | translate }}</mat-label>
                <input matInput required formControlName="email" type="email" autocomplete="email" />
            </mat-form-field>
            <button
                kia-button
                type="submit"
                class="validate-button"
                [disabled]="!!form?.invalid"
                (click)="resetPassword()"
            >
                {{ 'common.send' | translate }}
            </button>
        </ng-template>
    </div>
</form>
