<div class="user-profile-layout-desktop">
    <div class="main" appDeviceClasses>
        <div class="dressing-container">
            <div class="title-container">
                <div
                    class="title"
                    [innerHTML]="'profile.view.dressing.' + ((isCurrentUser$ | async) ? 'mine' : 'its') | translate"
                ></div>

                <div
                    class="subtitle"
                    *ngIf="(isCurrentUser$ | async) === false"
                    [innerHTML]="
                        'profile.view.dressing.subtitle'
                            | translate
                                : {
                                      name: user.nickname | truncateWithDots: 15
                                  }
                    "
                ></div>
            </div>

            <div class="card" *ngIf="(canCreateLot$ | async) === true">
                <app-voucher-icon class="illustration"></app-voucher-icon>
                <div class="text bonus">
                    <div [innerHTML]="'profile.view.dressing.bonus' | translate"></div>
                    <app-kiabi-icon color="kia-dark-blue" [width]="50" [height]="20"></app-kiabi-icon>
                </div>
                <span class="text voucher-text" [innerHTML]="'profile.view.dressing.voucher2' | translate"></span>
            </div>

            <ng-container *ngIf="showDressingFilter$ | async">
                <app-product-filter-desktop [key]="filterKey"></app-product-filter-desktop>
                <app-selected-filters [key]="filterKey"></app-selected-filters>
            </ng-container>

            <div class="products-count" *ngIf="totalProductsCount$ | async">
                {{ 'common.article' | translate: { amount: totalProductsCount$ | async } }}
            </div>

            <div
                class="empty-dressing-container"
                *ngIf="(totalProductsCount$ | async) === 0 && (isCurrentUser$ | async) === true"
            >
                <app-empty-dressing-card></app-empty-dressing-card>
            </div>

            <div
                class="cart mat-elevation-z2"
                [class.displayed]="(isCurrentUser$ | async) === false && (hasCartForSellerId$ | async) === true"
            >
                <ng-container *ngIf="(isCurrentUser$ | async) === false && (hasCartForSellerId$ | async) === true">
                    <div class="lot-pricing">
                        <div class="product-price" data-qa="productPrice">
                            {{ (lotOpenBySellerId$ | async)?.totalPrice | currency }}
                        </div>
                        <div class="shipping-cost" data-qa="shippingCost">
                            {{ 'chat.shippingCostNotIncluded' | translate }}
                        </div>
                    </div>

                    <div class="lot-actions">
                        <app-images-mini [products]="(lotOpenBySellerId$ | async)?.products || []"></app-images-mini>
                        <a
                            type="button"
                            kia-button
                            data-qa="btnContinue"
                            [routerLink]="['/chat', (discussionByLotId$ | async)?.id]"
                        >
                            {{ 'common.buy' | translate }}
                        </a>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <app-product-list
        [loading]="productsSelectors.dressingLoading$ | async"
        [products]="products$ | async"
        [parentScrollEl]="window"
        [displayOwner]="false"
        [displayLotAction]="(isCurrentUser$ | async) === false && (totalProductsCount$ | async)! > 1"
        [totalElements]="totalProductsCount$ | async"
        (fetchProducts)="onScroll()"
    ></app-product-list>
</div>
