@import 'src/variables';

app-user-profile-desktop {
    .user-profile-layout-desktop {
        app-product-list {
            display: block;
            margin: 0 25px;
        }

        .main {
            display: flex;
            margin: 0 25px 25px 25px;

            app-user-card {
                position: relative;
                width: 330px;

                .card-buttons {
                    padding: 10px 20px 20px;
                    display: flex;
                    align-items: center;

                    .send-button {
                        margin-right: 10px;
                    }

                    .follow-button {
                        flex: 1;
                    }
                }
            }

            .dressing-container {
                flex: 1;

                .empty-dressing-container {
                    padding: 24px;
                    margin-top: 24px;
                }

                .title-container {
                    height: 80px;

                    .title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 23px;
                        color: $kia-dark-blue;
                    }

                    .subtitle {
                        text-align: center;
                        margin-top: 30px;
                    }
                }

                .card {
                    background-color: $kia-lighten-dark-blue;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 12px;
                    margin-bottom: 16px;
                    border: 0;

                    .illustration {
                        width: 55px;
                        height: 55px;
                        margin-right: 8px;
                    }

                    .text {
                        text-align: left;
                        color: $kia-dark-blue;
                        font-size: 16px;
                        margin-left: 15px;
                        margin-right: 8px;
                    }

                    .bonus {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        font-weight: bold;

                        > div {
                            font-size: 14px;
                            margin-left: -1px;
                        }
                    }

                    app-kiabi-icon {
                        height: 22px;
                    }

                    .voucher-text {
                        margin-left: 25px;
                    }
                }

                app-selected-filters {
                    margin-top: 12px;
                }

                .products-count {
                    color: $kia-dark-blue;
                    font-size: 14px;
                    margin-bottom: 12px;
                }

                .products-container {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 340px);
                    gap: 20px;

                    app-product-card {
                        cursor: pointer;

                        .product-card {
                            width: 100%;
                        }
                    }

                    .product-0 {
                        grid-area: 1 / 1 / 2 / 2;
                    }

                    .product-1 {
                        grid-area: 1 / 2 / 2 / 4;
                    }

                    .product-2 {
                        grid-area: 2 / 1 / 3 / 3;
                    }

                    .product-3 {
                        grid-area: 2 / 3 / 3 / 4;
                    }
                }
            }
        }

        .spinner {
            height: 80px;
        }
    }

    .cart {
        background: $app-background-color;
        position: fixed;
        bottom: 24px;
        right: 24px;
        width: 400px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 16px;
        box-sizing: border-box;
        transition: 300ms ease-in-out;
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom right;
        z-index: 1000;

        &.displayed {
            opacity: 1;
            transform: scale(1);
        }

        .lot-pricing {
            display: flex;
            font-weight: bold;
            color: $kia-dark-blue;
            margin-bottom: 4px;

            .nb-products {
                font-size: $normal-text-font-size;
            }

            .product-price {
                font-size: 16px;
            }

            .shipping-cost {
                margin-left: 10px;
                font-size: $small-text-font-size;
                color: $light-text-color;
                font-weight: 400;
            }
        }

        .lot-actions {
            display: flex;
            align-items: center;
            justify-content: space-between;

            > button {
                height: 45px;
                padding: 0 22px;
            }
        }
    }
}
