<mat-horizontal-stepper #stepper class="no-step-header full-screen">
    <mat-step>
        <app-report-product-step1 (goNextStep)="goNextStep()"></app-report-product-step1>
    </mat-step>

    <mat-step>
        <app-report-product-step2 (goPreviousStep)="goPreviousStep()"></app-report-product-step2>
    </mat-step>
</mat-horizontal-stepper>
