<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'howItWorks.title' | translate"
    [icon]="'assets/svg/commentMarche_Header_icon.svg'"
></app-header-with-title>
<div class="how-it-works-container" appDeviceClasses>
    <div class="intro-container rounded-top-corner">
        <div class="title">
            <h3>{{ 'howItWorks.title' | translate }}</h3>
            <img src="assets/svg/commentMarche_interrogation_icon.svg" class="interrogation-point" alt="icon" />
        </div>
        <div class="subtitle">{{ 'howItWorks.intro.title' | translate }}</div>
        <div class="text" [innerHTML]="'howItWorks.intro.content' | translate"></div>
        <div class="buttons">
            <button kia-button type="button" (click)="scrollToAnchor('sell')">
                {{ 'howItWorks.intro.sell' | translate }}
            </button>
            <button kia-button type="button" (click)="scrollToAnchor('buy')">
                {{ 'howItWorks.intro.buy' | translate }}
            </button>
        </div>
    </div>
    <div class="video-container">
        <iframe
            [src]="iframeSrc"
            frameborder="0"
            modestbranding="1"
            showinfo="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            class="video"
            [title]="'howItWorks.title' | translate"
        ></iframe>
    </div>
    <div class="information-container" id="sell">
        <div class="title-container">
            <div class="icon-container">
                <div class="dots-line"></div>
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_argent_icon.svg" alt="sell icon" />
                <div class="dots-line"></div>
            </div>
            <div class="title">{{ 'howItWorks.sell.title' | translate }}</div>
        </div>
        <div class="lines"></div>
        <div class="column-text">
            <div class="primary-text">{{ 'howItWorks.sell.description.0' | translate }}</div>
            <div class="secondary-text">{{ 'howItWorks.sell.description.1' | translate }}</div>
        </div>
        <div class="lines"></div>
        <div class="options wave-background">
            <div class="option">
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_etapePhoto_icon.svg" alt="icon" />
                <div class="text" [innerHTML]="'howItWorks.sell.steps.0' | translate"></div>
            </div>
            <div class="option">
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_etapeDetails_icon.svg" alt="icon" />
                <div class="text" [innerHTML]="'howItWorks.sell.steps.1' | translate"></div>
            </div>
            <div class="option">
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_etapePrix_icon.svg" alt="icon" />
                <div class="text" [innerHTML]="'howItWorks.sell.steps.2' | translate"></div>
            </div>
        </div>
        <div class="lines"></div>
        <div class="inline-text" [innerHTML]="'howItWorks.sell.description.2' | translate"></div>
        <div class="lines"></div>
        <div class="options">
            <div class="option">
                <div class="index">1</div>
                <div class="text" [innerHTML]="'howItWorks.sell.options.0' | translate"></div>
            </div>
            <div class="option">
                <div class="index">2</div>
                <div class="text" [innerHTML]="'howItWorks.sell.options.1' | translate"></div>
            </div>
        </div>
        <a kia-button routerLink="/add">
            {{ 'howItWorks.sell.button' | translate }}
        </a>
    </div>
    <div class="dark-container information-container" id="buy">
        <div class="title-container">
            <div class="icon-container">
                <div class="dots-line"></div>
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_devices_icon.svg" alt="sell icon" />
                <div class="dots-line"></div>
            </div>
            <div class="title">{{ 'howItWorks.buy.title' | translate }}</div>
        </div>
        <div class="lines"></div>
        <div class="column-text">
            <div class="primary-text">{{ 'howItWorks.buy.description.0' | translate }}</div>
            <div class="secondary-text">{{ 'howItWorks.buy.description.1' | translate }}</div>
        </div>
        <div class="lines"></div>
        <div class="options wave-background">
            <div class="option">
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_etapePayezEnLigne_icon.svg" alt="icon" />
                <div class="text" [innerHTML]="'howItWorks.buy.steps.0' | translate"></div>
            </div>
            <div class="option">
                <img
                    class="icon"
                    src="assets/svg/Profil_guide_CommentMarche_etapeRecevez20Pourcent_icon.svg"
                    alt="icon"
                />
                <div class="text" [innerHTML]="'howItWorks.buy.steps.1' | translate"></div>
            </div>
        </div>
        <a mat-button mat-flat-button class="white-button" routerLink="/search">
            {{ 'howItWorks.buy.button' | translate }}
        </a>
    </div>
    <div class="information-container">
        <div class="title-container">
            <div class="icon-container">
                <div class="dots-line"></div>
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_marques_icon.svg" alt="sell icon" />
                <div class="dots-line"></div>
            </div>
            <div class="title">{{ 'howItWorks.brands.title' | translate }}</div>
        </div>
        <div class="lines"></div>
        <div class="inline-text" [innerHTML]="'howItWorks.brands.description' | translate"></div>
    </div>
    <div class="dark-container information-container">
        <div class="title-container">
            <div class="icon-container">
                <div class="dots-line"></div>
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_contact_icon.svg" alt="sell icon" />
                <div class="dots-line"></div>
            </div>
            <div class="title">{{ 'howItWorks.contact.title' | translate }}</div>
        </div>
        <div class="lines"></div>
        <div class="inline-text" [innerHTML]="'howItWorks.contact.description' | translate"></div>
        <a mat-button mat-flat-button class="white-button" routerLink="/other/contact-us">
            {{ 'howItWorks.contact.button' | translate }}
        </a>
    </div>
    <a class="back-to-home-container information-container" routerLink="/" id="back-to-home">
        <div class="title-container">
            <div class="icon-container">
                <img class="icon" src="assets/svg/Profil_guide_CommentMarche_retourHP_icon.svg" alt="sell icon" />
            </div>
            <div class="title" [innerHTML]="'howItWorks.backToHome' | translate"></div>
        </div>
    </a>
</div>
