@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;

    position: -webkit-sticky;
    position: sticky;
}

.avatar-container {
    z-index: 8;
    width: 100%;
    height: 320px;
    position: relative;

    .avatar {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.edit-link {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.vacations-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hidden-container {
    .card-container {
        position: relative;
        z-index: 9;
        width: 100%;
        flex: 1;
        background-color: $app-background-color;

        &:before {
            content: ' ';
            mask-image: url('/assets/svg/profile-border.svg');
            mask-size: cover;
            mask-position: center;
            height: 26px;
            position: absolute;
            z-index: 2;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -15px;
            background-color: $app-background-color;
        }

        .content {
            position: relative;
            z-index: 3;

            .information {
                padding: 0 20px 10px;

                .rating {
                    border-radius: 8px;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 15px;
                    margin: 15px 0;
                    text-decoration: none;
                    background: $darker-background-color;

                    .title {
                        font-style: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: $light-text-color;
                    }

                    .user-rating-number {
                        font-style: normal;
                        font-size: 16px;
                        line-height: 18px;
                        color: $kia-dark-blue;
                        margin-left: 10px;
                    }

                    .arrow {
                        color: $light-text-color;
                    }
                }

                .following-stats {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 15px;
                    margin: 15px 0;
                    color: $medium-text-color;

                    mat-icon {
                        font-size: 24px;
                        margin-right: 12px;
                    }

                    a {
                        font-size: 14px;
                        text-decoration: none;
                        color: $kia-dark-blue;
                    }

                    .dot {
                        margin-left: 6px;
                        margin-right: 6px;
                        font-size: 20px;
                    }
                }

                .pseudo-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    app-chip {
                        margin-right: 8px;
                    }

                    .pseudo {
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        color: $kia-dark-blue;
                        max-width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .vacation-mode {
                        font-size: $small-text-font-size;
                        color: $kia-red;
                        display: flex;
                        align-items: center;
                        border: 1px solid $kia-red;
                        border-radius: 10px;
                        padding: 2px 6px;
                        margin-left: 8px;

                        > mat-icon {
                            font-size: 14px;
                            width: 14px;
                            height: 14px;
                            margin-right: 6px;
                        }
                    }
                }

                .presentation {
                    margin-top: 7px;
                    margin-bottom: 10px;
                    font-style: italic;
                    font-size: 14px;
                    color: $medium-text-color;
                    line-height: 20px;
                    white-space: pre-line;
                }
            }
        }
    }
}

hr {
    border-top: 1px solid $kia-lighten-dark-blue;
    margin: 0;
}

.actions {
    display: flex;
    flex-direction: column;
    padding: 20px;

    > button {
        width: 100%;
        height: 45px;

        .m-5 {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .subscription-button {
        margin-top: 10px;
    }
}

.list {
    margin: 10px 0;
    padding-top: 0;
    background-color: #ffffff;

    .beta-link {
        text-decoration: none;
        display: block;
        background-color: $kia-dark-blue;

        div.title {
            color: white !important;
        }
    }

    .blocked-by-admin {
        text-decoration: none;
        display: block;
        background-color: $kia-red;

        > .link {
            padding: 0 16px;
            box-sizing: border-box;
        }

        div.title {
            color: white !important;
        }
    }

    .error {
        background-color: rgba($kia-light-red, 0.5);
        position: relative;

        .link {
            .title-container {
                .icon {
                    color: $kia-dark-blue;
                }
            }

            .icon-container {
                display: flex;
                align-content: center;
                align-items: center;

                .error-pin {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: #c13515;
                }

                .next-button {
                    color: $kia-dark-blue;
                }
            }
        }
    }

    .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 100%;

        .title-container {
            display: flex;
            align-items: center;

            .icon {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                color: $kia-lighten-dark-blue;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .vacation-icon {
                color: #ccccd7;
                margin-right: 10px;
            }

            .check-icon {
                color: #ccccd7;
                margin-right: 10px;
            }

            .title {
                font-size: 16px;
                line-height: 15px;
                color: $kia-dark-blue;

                &.title-light {
                    color: $medium-text-color;
                }
            }
        }

        .next-button {
            color: $kia-lighten-dark-blue;
        }
    }
}

.second-bar-links {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    > a {
        flex: 1;
        white-space: pre-wrap;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 15px;
        color: $kia-dark-blue;
        padding: 4px;

        &.mat-primary {
            color: $app-background-color;
        }
    }

    .ml-5 {
        margin-left: 5px;
    }
    .mr-5 {
        margin-right: 5px;
    }
    .mt-3 {
        margin-top: 3px;
    }
    .mr-3 {
        margin-right: 3px;
    }
    .mb-3 {
        margin-bottom: 3px;
    }
    .ml-3 {
        margin-left: 3px;
    }

    .myAddresses-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .myBankDetails-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .guide-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.second-level-links {
    margin: 10px 0;
    border-radius: 8px;
}

.logout-list-item {
    margin: 6px 0;
}

.logout-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;

    .version {
        text-align: center;
        color: $light-text-color;
        padding-bottom: 12px;
    }

    .lemonway-information {
        margin-top: 20px;
        color: $light-text-color;
        text-align: center;

        .logo {
            vertical-align: middle;
            height: 30px;
            margin: 0 4px;
        }
    }
}

.button-hover:focus,
.button-hover:hover {
    background: rgba(0, 0, 0, 0.04);
}

app-c2c-regulation {
    margin-top: 16px;
    padding-bottom: 24px;
}
