@import 'src/variables';

:host {
    display: flex;
    align-items: center;
    height: 100%;

    img {
        border-radius: 7px;
        border: 2px solid white;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .nb-product {
        border-radius: 7px;
        border: 2px solid white;
        width: 40px;
        height: 40px;
        object-fit: cover;
        background-color: $kia-dark-blue;
        color: $light-text-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    :nth-child(1) {
        z-index: 11;
    }
    :nth-child(2) {
        z-index: 10;
        margin-left: -20px;
    }
    :nth-child(3) {
        z-index: 9;
        margin-left: -20px;
    }
    :nth-child(4) {
        z-index: 8;
        margin-left: -20px;
    }
}
