<section class="carousel-wrapper">
    <ul class="carousel-inner" #carousel (swipeleft)="next()" (swiperight)="prev()">
        <li #carouselItem (click)="openImageInFullscreen(picture)" *ngFor="let picture of pictures">
            <div class="carousel-item" data-qa="carouselPicture">
                <img
                    alt=""
                    [src]="getFullUrl(picture.fileName!)"
                    [appThumbnailFormat]="{ origin: getFullUrl(picture.fileName!), format: 'product-large' }"
                    (load)="onImageLoaded(picture)"
                />
            </div>
            <div class="loader-container" *ngIf="picture.loading">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </li>
    </ul>
    <div class="dots">
        <div
            class="dot"
            *ngFor="let picture of pictures; let i = index"
            [ngStyle]="{ opacity: currentSlide === i ? 0.6 : 0.2 }"
        ></div>
    </div>
</section>
