@import 'src/variables';

.carousel-wrapper {
    overflow: hidden;
    position: relative;

    .carousel-inner {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 6000px;
        display: flex;
        touch-action: pan-y !important;

        > li {
            position: relative;

            .loader-container {
                background-color: #d8d8d8;
            }
        }

        .carousel-item {
            padding: 0;
            width: 100vw;
            height: 100vw;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 25vw;
    }

    .dots {
        position: absolute;
        bottom: 15px;
        width: 100vw;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        .dot {
            width: 5px;
            height: 5px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            background-color: #ffffff;
        }

        .dot:not(:last-child) {
            margin-right: 6px;
        }
    }
}

@media screen and (min-width: 380px) {
    .carrousel-text {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        font-size: 16px !important;
    }

    .carrousel-text_second {
        margin-left: 35vw;
    }

    .carrousel-text_third {
        color: #ffffff;
    }
}

@media screen and (max-width: 325px) and (max-height: 580px) {
    .carousel-item {
        height: 85vw !important;
    }
}
