<div class="dialog-header">
    <app-iban-icon></app-iban-icon>
    <div class="title">
        {{ 'profile.bankDetails.iban' | translate }}
    </div>
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        tabindex="-1"
        class="close-icon-button"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
</div>

<div class="dialog-content">
    <app-edit-iban-form [ibanForm]="ibanForm"></app-edit-iban-form>
</div>

<div class="dialog-footer">
    <button type="button" mat-stroked-button color="primary" (click)="onBackButtonClicked()">
        {{ 'common.back' | translate }}
    </button>
    <button
        type="button"
        mat-flat-button
        color="primary"
        [disabled]="(disabled$ | async) || loading"
        (click)="onSendButtonClicked()"
    >
        {{ 'common.send' | translate }}
    </button>
</div>

<div class="loader-container" *ngIf="loading">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
</div>
