<div class="toolbar">
    <mat-toolbar [ngClass]="state" appDeviceClasses>
        <button type="button" mat-button class="back-button" (click)="goBack()">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <span>{{ 'common.back' | translate }}</span>
        </button>
        <ng-content></ng-content>
    </mat-toolbar>
    <div class="toolbar-box-shadow"></div>
</div>
