@import 'src/variables';

:host {
    height: 60px;

    mat-toolbar {
        padding: env(safe-area-inset-top) 0 0 0;
        height: calc(#{$header-height} + env(safe-area-inset-top));
        z-index: 110;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.desktop {
            background-color: $content-background-color;
            position: sticky;
            padding: 0 50px;
        }

        &.expended {
            top: 140px;
            transition: top 0.3s ease-out;
        }

        &.collapsed {
            top: 120px;
            transition: top 0.3s ease-in;
        }

        &.handset {
            background-color: $darker-background-color;
            position: fixed;
            top: 0 !important;
        }

        .back-button {
            font-size: 14px;
            color: $light-text-color;

            mat-icon {
                width: 28px;
                height: 28px;
                font-size: 28px;
            }
        }
    }

    .toolbar-box-shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(#{$header-height} + env(safe-area-inset-top));
        z-index: 9;
        border-radius: 20%;
        box-shadow: 0 0 6px 5px rgba(204, 204, 215, 0.7);
    }
}
