<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="height" viewBox="0 0 20 20">
    <g transform="translate(0 0)">
        <circle class="a" cx="10" cy="10" r="10" transform="translate(0 0)" />
        <g transform="translate(5 5)">
            <path
                class="b"
                d="M330.911,210.312l3.2,3.2,1.374-1.373-3.2-3.2,3.2-3.2-1.374-1.373-3.2,3.2-3.2-3.2-1.373,1.373,3.2,3.2-3.2,3.2,1.373,1.373Z"
                transform="translate(-325.911 -203.939)"
            />
            <path
                class="b"
                d="M324.608,210.832l-1.8-1.8,3.2-3.2-3.2-3.2,1.8-1.8,3.2,3.2,3.2-3.2,1.8,1.8-3.2,3.2,3.2,3.2-1.8,1.8-3.2-3.2Zm3.2-4.056,3.2,3.2.945-.945-3.2-3.2,3.2-3.2L331,201.69l-3.2,3.2-3.2-3.2-.944.944,3.2,3.2-3.2,3.2.944.945Z"
                transform="translate(-322.806 -200.832)"
            />
        </g>
    </g>
</svg>
