<svg id="svg-hanger" xmlns="http://www.w3.org/2000/svg" width="82" height="62.444" viewBox="0 0 82 62.444">
    <path
        id="hanger"
        class="a"
        d="M80.583,61.75,47.667,43.723V40.945a3.735,3.735,0,0,1,.612-.389,26.656,26.656,0,0,0,5.055-3.084c.028-.027.056-.055.084-.083a12.377,12.377,0,1,0-20.861-9.084,2.667,2.667,0,0,0,5.333.076v-.076a7.112,7.112,0,0,1,14.222,0,6.908,6.908,0,0,1-2.25,5.111l-.028.028a25.439,25.439,0,0,1-4.14,2.444,7.217,7.217,0,0,0-2.222,1.723,5.311,5.311,0,0,0-1.139,3.277v2.834L9.417,61.75A8.1,8.1,0,0,0,5,68.612v.028a7.938,7.938,0,0,0,7.972,7.805H77.028A7.938,7.938,0,0,0,85,68.639v-.028A8.106,8.106,0,0,0,80.583,61.75Zm-.916,6.916a2.529,2.529,0,0,1-2.639,2.444H12.972a2.529,2.529,0,0,1-2.639-2.444v-.028a2.664,2.664,0,0,1,1.639-2.222L45,48.361,78.028,66.417a2.661,2.661,0,0,1,1.639,2.222Z"
        transform="translate(-4 -15)"
    />
</svg>

<svg id="svg-shadow" xmlns="http://www.w3.org/2000/svg" width="94" height="9" viewBox="0 0 94 9">
    <ellipse id="Ellipse_20" data-name="Ellipse 20" cx="47" cy="4.5" rx="47" ry="4.5" fill="#e5e5ea" />
</svg>
