@import 'src/variables';

:host {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    padding: 32px;
    display: flex;
    flex-direction: column;

    .justify {
        text-align: justify;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        &.handset {
            flex-direction: column;
        }
    }

    .btn-link {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: $kia-dark-blue;
        text-decoration: underline;
        cursor: pointer;

        &:active {
            color: red;
        }
    }

    .main-buttons {
        &.handset {
            display: flex;
        }

        .configure-button {
            margin-left: 12px;
        }
    }

    .continue-button {
        place-self: flex-end;
    }
}
