<div class="justify">
    <span>
        {{ 'cookie-consent.panel.text' | translate }}
    </span>
    <a href="/other/cookies" target="_blank">
        {{ 'cookie-consent.panel.click' | translate }}
    </a>
</div>

<div class="mt-20 buttons" appDeviceClasses>
    <div class="main-buttons" appDeviceClasses>
        <button type="button" kia-button (click)="onAcceptButtonClicked()">
            {{ 'cookie-consent.panel.accept' | translate }}
        </button>
        <button
            type="button"
            kia-button
            variant="bordered"
            class="configure-button"
            (click)="onConfigureButtonClicked()"
        >
            {{ 'cookie-consent.panel.configure' | translate }}
        </button>
    </div>

    <button type="button" class="mt-20 btn-link continue-button" (click)="onContinueWithoutAcceptButtonClicked()">
        {{ 'cookie-consent.panel.continueWithoutAccept' | translate }}
    </button>
</div>
