<a class="notification-card" appDeviceClasses [routerLink]="getInternalUrl(pushNotification.url)">
    <div class="content">
        <div class="notification-date">
            {{ pushNotification.timestamp | date: 'dd/MM/yyyy HH:mm' }}
        </div>
        <div class="message">
            <img
                alt=""
                class="avatar"
                [src]="pushNotification.pictureFileName"
                [appThumbnailFormat]="{ origin: pushNotification.pictureFileName, fallback: 'avatar' }"
                data-qa="avatar"
            />
            <div class="text">
                {{
                    'notifications.history.card.PRODUCT_FAVORITE_SOLD'
                        | translate: { nickname: pushNotification.sender }
                }}
            </div>
            <img class="alt-right-img" src="assets/svg/Generique_icon_arrow_right.svg" alt="right icon" />
        </div>
    </div>
    <div class="footer">
        <p class="footer-content">
            {{ pushNotification.content }}
        </p>
    </div>
</a>
