<div class="user-rating">
    <mat-icon class="star" *ngFor="let _ of fullStarNumber | iterate" data-qa="fullStars"> star </mat-icon>
    <mat-icon class="star" *ngIf="showHalfStar"> star_half </mat-icon>
    <mat-icon class="star" *ngFor="let _ of emptyStarNumber | iterate" data-qa="emptyStars"> star_border </mat-icon>
</div>
