@import 'src/variables';

.user-rating {
    display: flex;
    align-items: center;

    .star {
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: $kia-yellow;

        &:not(:last-child) {
            margin-right: -2px !important;
        }
    }
}
