<div class="header">
    <div class="title">{{ 'product.report.title' | translate }}</div>
    <div class="subtitle">{{ 'product.report.subtitle' | translate }}</div>
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        class="close-button"
        appDeviceClasses
        tabindex="-1"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
</div>

<div class="product-infos mat-elevation-z4" *ngIf="product$ | async as product">
    <img [src]="product.image" alt="product image" [appThumbnailFormat]="{ origin: product.image, format: 'chat' }" />
    <div>{{ product.label }}</div>
</div>

<div class="reasons">
    <mat-selection-list [multiple]="false" (selectionChange)="onReasonSelected($event)">
        <ng-container *ngFor="let reason of reasons">
            <mat-list-option
                [value]="reason"
                [disableRipple]="true"
                [ngClass]="{
                    selected: reason !== ProductReportAbuseReason.OTHER && (selectedReason$ | async) === reason
                }"
            >
                <div class="reason">
                    <div class="reason-content">
                        <div class="reason-title">
                            {{ 'product.report.reasons.' + reason + '.title' | translate }}
                        </div>
                        <div
                            class="reason-description"
                            *ngIf="'product.report.reasons.' + reason + '.description' | translate as description"
                        >
                            {{ description }}
                        </div>
                    </div>

                    <div class="reason-actions">
                        <div
                            *ngIf="reason !== ProductReportAbuseReason.OTHER"
                            class="reason-action-check"
                            [ngClass]="{ selected: (selectedReason$ | async) === reason }"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="white"
                                width="18px"
                                height="18px"
                            >
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                            </svg>
                        </div>

                        <img
                            *ngIf="reason === ProductReportAbuseReason.OTHER"
                            src="assets/svg/Generique_icon_arrow_right.svg"
                            alt="arrow right icon"
                        />
                    </div>
                </div>
            </mat-list-option>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-selection-list>
</div>

<div class="actions">
    <button type="button" kia-button variant="bordered" mat-dialog-close>
        {{ 'common.back' | translate }}
    </button>
    <button type="button" kia-button (click)="onValidatedClicked()" [disabled]="(canValidate$ | async) === false">
        {{ 'common.validate' | translate }}
    </button>
</div>
