@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f2f2f5;

    &.handset {
        height: $pageHeight;
    }

    &.desktop {
        max-height: 95vh;

        .product-infos {
            margin: 0 40px;
        }

        .reasons {
            margin: 0 40px;
            margin-top: 20px;
        }

        .actions {
            margin: 20px 40px;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 20px;
        color: $kia-dark-blue;
        position: relative;

        .title {
            margin-top: 40px;
            font-size: 18px;
            font-weight: bold;
        }

        .subtitle {
            font-size: 14px;
            margin-top: 6px;
        }

        .close-button {
            position: absolute;
            top: 4px;
            right: 4px;
            color: $kia-lighten-dark-blue;

            &.desktop {
                top: -2px;
            }
        }
    }

    .product-infos {
        padding: 12px 0;
        background-color: $darker-background-color;
        z-index: 100;
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            margin-left: 16px;
        }

        div {
            margin-left: 20px;
        }
    }

    .reasons {
        flex: 1;
        overflow-y: auto;

        mat-selection-list {
            padding: 0;

            mat-list-option {
                padding: 8px 0;
                background-color: $app-background-color;

                transition: background-color ease-in-out 0.3s;

                &.selected {
                    background-color: $current-selection-background-color;
                }
            }
        }

        .reason {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .reason-content {
                margin-right: 6px;

                .reason-title {
                    color: $kia-dark-blue;
                }

                .reason-description {
                    color: $light-text-color;
                    font-size: 10px;
                    margin-top: 4px;
                }
            }

            .reason-actions {
                display: flex;
                justify-items: center;
                align-items: center;

                .reason-action-check {
                    width: 18px;
                    height: 18px;
                    background-color: $content-background-color;
                    border-radius: 50%;
                    margin-right: -6px;

                    transition: background-color ease-in-out 0.3s;

                    &.selected {
                        background-color: $kia-green;
                    }
                }
            }
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px max(8px, env(safe-area-inset-bottom));

        button:not(:last-child) {
            margin-right: 12px;
        }
    }
}
