<div class="loader-container" *ngIf="creatingLot">
    <mat-spinner color="primary" [diameter]="30"></mat-spinner>
</div>

<ng-container *ngIf="products$ | async as products">
    <div *ngIf="hasMoreThanOneProducts$ | async">
        <div class="product-desktop-dressing-title">
            <h2
                class="dressing-title-text"
                id="filters-scroll-anchor"
                [innerHTML]="
                    'profile.view.dressing.' + ((isCurrentUser$ | async) === true ? 'mine' : 'title')
                        | translate
                            : {
                                  name: owner?.nickname
                              }
                "
            ></h2>

            <button
                type="button"
                mat-icon-button
                (click)="share()"
                *ngIf="canShareDressing"
                [attr.aria-label]="'profile.view.dressing.share.label' | translate"
            >
                <mat-icon>share</mat-icon>
            </button>
        </div>

        <div class="container dressing-container" #dressing>
            <div class="card" *ngIf="(canCreateLot$ | async) === true">
                <app-voucher-icon class="illustration"></app-voucher-icon>
                <span class="text">
                    {{ 'product.detail.text' | translate }}
                </span>
                <app-kiabi-icon color="kia-dark-blue" [width]="50" [height]="20"></app-kiabi-icon>
            </div>

            <ng-container *ngIf="showDressingFilter$ | async">
                <app-product-filter-desktop key="dressing"></app-product-filter-desktop>

                <app-selected-filters key="dressing"></app-selected-filters>
            </ng-container>

            <div
                class="articles-number"
                [innerHTML]="'profile.view.dressing.articles' | translate: { number: productsCount$ | async }"
            ></div>
        </div>

        <app-product-list
            [loading]="productsSelectors.dressingLoading$ | async"
            [displayOwner]="false"
            [displayLotAction]="(isCurrentUser$ | async) === false"
            [products]="products"
            [parentScrollEl]="scrollEl"
            [totalElements]="productsCount$ | async"
            (fetchProducts)="onScroll()"
        ></app-product-list>

        <div class="no-product-found" *ngIf="productsSelectors.noProductInDressingFound$ | async">
            <div>
                <app-animated-smiley></app-animated-smiley>
                <div class="no-product-found-title">
                    {{ 'searchPage.noArticleFound' | translate }}
                </div>
            </div>
            <div class="tips">
                <div class="tips-title">
                    {{ 'searchPage.tips.title' | translate }}
                </div>
                <div class="tips-item">
                    {{ 'searchPage.tips.two' | translate }}
                </div>
            </div>
        </div>
    </div>
</ng-container>
