@import 'src/variables';

app-user-products-desktop {
    app-product-list {
        display: block;
        margin: 0 25px;
    }

    .product-desktop-dressing-title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $kia-dark-blue;
        margin: 20px 15px;

        .dressing-title-text {
            margin: 0 40px;
            text-align: center;
            letter-spacing: 0;
            text-transform: uppercase;
        }

        button {
            position: absolute;
            right: 10px;
        }

        strong {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            margin-right: 5px;
        }

        span {
            font-style: normal;
            font-size: 20px;
            line-height: 23px;
        }
    }

    .container {
        margin: 0 24px;

        .card {
            background-color: $kia-lighten-dark-blue;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 12px;
            margin-bottom: 16px;
            border: 0;

            .illustration {
                width: 55px;
                height: 55px;
                margin-right: 8px;
            }

            .text {
                text-align: left;
                color: $kia-dark-blue;
                font-size: 16px;
                font-weight: bold;
                margin-left: 15px;
                margin-right: 8px;
            }

            app-kiabi-icon {
                height: 22px;
            }
        }

        app-product-filter-desktop {
            display: block;
            margin-bottom: 12px;
        }

        app-selected-filters {
            margin-bottom: 12px;
        }

        .articles-number {
            margin: 8px 0;
            font-size: 12px;
        }
    }

    .no-product-found {
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;

        .tips {
            margin-top: 20px;

            .tips-title {
                margin-bottom: 0;
            }
        }
    }
}
