<div class="bonus-sticker">
    <div
        class="bonus-sticker-title"
        [innerHTML]="'product.bonusSticker.title' | translate: { bonus: bonusPercentage * 100 }"
    ></div>
    <div class="bonus-sticker-benefit">
        {{ 'product.bonusSticker.benefit.0' | translate }}
        <span class="amount">{{ bonus | currency }}</span>
        {{ 'product.bonusSticker.benefit.1' | translate }}
    </div>
</div>
