@import 'src/variables';

.bonus-sticker {
    box-sizing: border-box;
    width: 80px;

    .bonus-sticker-title {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        font-weight: bold;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        background-color: $kia-dark-blue;
        color: white;
        padding: 10px 6px;
        position: relative;

        &:after {
            position: absolute;
            bottom: -8px;
            left: 0;
            right: 0;
            content: ' ';
            height: 0;
            border-top: 8px solid $kia-dark-blue;
            border-left: 80px solid transparent;
        }
    }

    .bonus-sticker-benefit {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        font-style: normal;
        font-size: 9px;
        line-height: 20px;
        background-color: rgba(4, 0, 55, 0.5);
        color: white;
        padding: 8px 6px 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .amount {
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
        }
    }
}
