<app-user-card [user]="user" [displayShare]="false">
    <div class="user-profile-dressing-handset">
        <app-c2c-regulation></app-c2c-regulation>
        <app-user-dressing-handset [scrollEl]="scrollEl" [user]="user"></app-user-dressing-handset>
    </div>
</app-user-card>

<app-user-blocked-warning [user]="user"></app-user-blocked-warning>

<div
    class="product-footer mat-elevation-z4"
    *ngIf="(isCurrentUser$ | async) === false && (hasCartForSellerId$ | async) === true"
>
    <div class="footer">
        <div class="lot-pricing">
            <div class="product-price" data-qa="productPrice">
                {{ (lotOpenBySellerId$ | async)?.totalPrice | currency }}
            </div>
            <div class="shipping-cost" data-qa="shippingCost">
                {{ 'chat.shippingCostNotIncluded' | translate }}
            </div>
        </div>

        <div class="lot-actions">
            <app-images-mini [products]="(lotOpenBySellerId$ | async)?.products || []"></app-images-mini>
            <a
                type="button"
                kia-button
                data-qa="btnContinue"
                [routerLink]="['/chat', (discussionByLotId$ | async)?.id]"
            >
                {{ 'common.buy' | translate }}
            </a>
        </div>
    </div>
</div>
