@import 'src/variables';

app-user-profile-handset {
    .user-profile-dressing-handset {
        padding-bottom: $footer-height;
    }

    app-c2c-regulation {
        margin: 0 20px;
    }

    .product-footer {
        background: $app-background-color;
        height: $product-footer-height;
        min-height: $product-footer-height;
        position: fixed;
        z-index: 10;
        left: 0;
        right: 0;
        bottom: calc(#{$footer-height} + env(safe-area-inset-bottom));
        padding: 0 6px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        > button {
            flex: 1;
            padding: 0 8px;
            margin-right: 4px;
            margin-left: 4px;
        }

        .footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            box-sizing: border-box;

            .lot-pricing {
                display: flex;
                font-weight: bold;
                color: $kia-dark-blue;
                margin-bottom: 4px;

                .nb-products {
                    font-size: $normal-text-font-size;
                }

                .product-price {
                    font-size: 16px;
                }

                .shipping-cost {
                    margin-left: 10px;
                    font-size: $small-text-font-size;
                    color: $light-text-color;
                    font-weight: 400;
                }
            }

            .lot-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;

                > button {
                    height: 45px;
                    padding: 0 22px;
                }
            }
        }
    }
}
