<button class="container" (click)="onContainerButtonClicked()">
    <div [class.checked]="checked">
        {{ 'common.yes' | translate }}
    </div>
    <div [class.checked]="!checked">
        {{ 'common.no' | translate }}
    </div>
</button>
