@import 'src/variables';

:host {
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        border: 1px solid $kia-dark-blue;
        border-radius: 16px;
        padding: 8px;
        font-size: 12px;
        color: $light-text-color;
        outline: none;
        margin-left: -2px;

        &:focus {
            box-shadow: 0 0 0 2px $kia-dark-blue;
        }

        > div {
            transition: 200ms ease-in-out;

            &.checked {
                color: white;
                background: $kia-dark-blue;
                padding: 6px 9px;
                margin: -6px;
                border-radius: 16px;
            }
        }
    }
}
