<ng-container *ngIf="!loading">
    <ng-container *ngIf="file?.type?.includes('image'); then imagePreview; else pdfPreview"></ng-container>
    <ng-template #imagePreview>
        <img class="image-preview" [src]="fileData" alt="image preview" data-qa="filePreview" />
    </ng-template>
    <ng-template #pdfPreview>
        <pdf-viewer [src]="fileData" [autoresize]="true" [original-size]="false" page="1"></pdf-viewer>
    </ng-template>
</ng-container>
