.color-row {
    display: flex;
    align-items: center;
    justify-content: center;

    app-color-preview {
        display: block;
        margin-left: 8px;
    }

    .color-label {
        margin-left: 8px;
    }
}
