<app-filter-item-selectable
    *ngFor="let color of colors$ | async; trackBy: trackByColorId"
    [value]="color.selected"
    (valueChange)="toggleColor(color, $event)"
>
    <div class="color-row">
        <app-color-preview [color]="color"></app-color-preview>
        <span class="color-label">{{ 'color.' + color.labelKey | translate }}</span>
    </div>
</app-filter-item-selectable>
