<h1 mat-dialog-title>{{ 'error-notification.title' | translate }}</h1>
<div mat-dialog-content>
    <p>{{ 'error-notification.messages.0' | translate }}</p>
    <p>{{ 'error-notification.messages.1' | translate }}</p>
    <pre>{{ data.error | json }}</pre>
</div>
<div mat-dialog-actions>
    <button type="button" kia-button mat-dialog-close>
        {{ 'error-notification.ok' | translate }}
    </button>
</div>
