<section>
    <mat-checkbox
        [ngClass]="{ groupItem: groupItem }"
        color="primary"
        [checked]="value"
        (change)="toggle($event)"
        disableRipple
    >
        <ng-content></ng-content>
    </mat-checkbox>
</section>
