@import 'src/variables';

:host {
    display: block;
    height: 50px;
    color: $kia-dark-blue;
    font-weight: bold;
    font-size: 14px;

    section {
        padding: 3px 16px;
        background-color: $content-background-color;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .groupItem {
        font-weight: normal;
    }

    ::ng-deep.mat-checkbox {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        display: flex;
        background-color: white;

        .mat-checkbox-layout {
            align-items: center;
            width: 100%;
        }

        .mat-checkbox-label {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
}
