@import 'src/variables';

.filters-container {
    margin-bottom: 12px;
}

.overlay {
    $overlayOptimalHeight: 470px;
    display: block;
    background: $content-background-color 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px $box-shadow-color;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    max-height: min(#{$overlayOptimalHeight}, calc(50vh - 50px));
    overflow-y: auto;

    &.categories {
        width: 300px;
    }

    &.sizes {
        width: 300px;
    }

    &.brands {
        display: flex;
        height: $overlayOptimalHeight;
    }

    &.price-limits {
        display: flex;
        background-color: white;
        overflow-y: hidden;
    }
}
