<div class="filters-container">
    <app-filter-desktop #sortFilter [title]="'filter.sortBy' | translate">
        <app-filter-sort-by-desktop
            class="overlay sortBy"
            [key]="key"
            (selected)="sortFilter.closeMenu()"
        ></app-filter-sort-by-desktop>
    </app-filter-desktop>
    <app-filter-desktop #categoryFilter [title]="'filter.categories.label' | translate">
        <app-filter-category-desktop
            class="overlay categories"
            [key]="key"
            (quit)="categoryFilter.closeMenu()"
        ></app-filter-category-desktop>
    </app-filter-desktop>
    <app-filter-desktop
        [matTooltipDisabled]="(hasCategorySelected$ | async) === true"
        [matTooltip]="'filter.sizes.disabledPlaceholder' | translate"
        [disabled]="(hasCategorySelected$ | async) === false"
        [title]="'filter.sizes.label' | translate"
    >
        <app-filter-sizes class="overlay sizes" [key]="key"></app-filter-sizes>
    </app-filter-desktop>
    <app-filter-desktop [title]="'filter.brands.label' | translate">
        <app-filter-brands class="overlay brands" [key]="key"></app-filter-brands>
    </app-filter-desktop>
    <app-filter-desktop [title]="'filter.colors.label' | translate">
        <app-filter-colors class="overlay colors" [key]="key"></app-filter-colors>
    </app-filter-desktop>
    <app-filter-desktop [title]="'filter.conditions.label' | translate">
        <app-filter-conditions class="overlay conditions" [key]="key"></app-filter-conditions>
    </app-filter-desktop>
    <app-filter-desktop [title]="'filter.price.label' | translate">
        <app-filter-price-range class="overlay price-limits" [key]="key"></app-filter-price-range>
    </app-filter-desktop>
    <app-filter-desktop #seasonalityFilter [title]="'filter.seasonality.label' | translate">
        <app-filter-seasonality
            class="overlay seasonality"
            [key]="key"
            (selected)="seasonalityFilter.closeMenu()"
        ></app-filter-seasonality>
    </app-filter-desktop>
</div>
