<a class="kiabi-bag-card mat-elevation-z1" target="_blank" appDeviceClasses appExternalLink [href]="kiabiBagUrl">
    <div class="title-container">
        <div class="title" [innerHTML]="'home.kiabiBag.title' | translate"></div>
        <app-kiabi-bag-card-decoration class="decoration left"></app-kiabi-bag-card-decoration>
        <app-kiabi-bag-card-decoration class="decoration right"></app-kiabi-bag-card-decoration>
        <div class="subtitle-container">
            {{ 'home.kiabiBag.subtitle' | translate }}
        </div>
    </div>
    <div class="image-container">
        <img class="kiabi-bag-image" src="assets/images/KiabiBag.jpg" loading="lazy" alt="kiabi bag" />
    </div>
    <div class="sticker-container">
        <div class="sticker" [innerHTML]="'home.kiabiBag.sticker.0' | translate"></div>
        <div class="sticker" [innerHTML]="'home.kiabiBag.sticker.1' | translate"></div>
    </div>
    <div class="footer-container">
        {{ 'home.kiabiBag.more' | translate }}
    </div>
</a>
