@import 'src/variables';

.kiabi-bag-card {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;

    &.desktop {
        .title-container {
            padding-top: 14px;
            font-size: 16px;

            .subtitle-container {
                font-size: 14px;
            }
        }

        .sticker {
            padding: 6px !important;
            font-size: 12px !important;

            .sticker-text-mini {
                font-size: 10px !important;
            }

            .sticker-text-big {
                font-size: 32px !important;
            }
        }

        .footer-container {
            font-size: 14px;
            padding: 9px;
        }
    }

    .title-container {
        position: relative;
        background-color: $kia-dark-blue;
        color: white;
        padding: 12px 12px 24px;
        text-align: center;
        font-size: 14px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .title {
            z-index: 1;
        }

        .decoration {
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            z-index: 0;

            &.left {
                left: -16px;
                top: -25px;
                transform: rotate(180deg);
            }

            &.right {
                right: -16px;
                top: 25px;
            }
        }

        .subtitle-container {
            border: 1px solid $kia-dark-blue;
            background-color: white;
            color: $kia-dark-blue;
            text-transform: uppercase;
            padding: 4px 6px;
            height: 28px;
            box-sizing: border-box;
            font-size: 11px;
            position: absolute;
            bottom: -14px;
            left: 50%;
            transform: translate(-50%, 0);
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
    }

    .image-container {
        background-color: white;
        flex: 1;

        .kiabi-bag-image {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .sticker-container {
        border-top: 1px solid $kia-dark-blue;
        background-color: white;
        color: $kia-dark-blue;
        display: flex;

        .sticker {
            flex: 1;
            padding: 4px;
            text-transform: uppercase;
            font-size: 10px;
            text-align: center;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .sticker-text-mini {
                font-size: 8px;
            }

            .sticker-text-medium {
                font-size: 16px;
            }

            .sticker-text-big {
                font-size: 30px;
                display: flex;
                align-items: flex-start;
            }

            &:last-child {
                background-color: $kia-dark-blue;
                color: white;
            }
        }
    }

    .footer-container {
        background-color: white;
        color: $kia-dark-blue;
        border-top: 1px solid $kia-dark-blue;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        padding: 6px;
    }
}
