<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="height" viewBox="0 0 16 16">
    <g transform="translate(0)">
        <g transform="translate(1.72 9.258)">
            <path
                [ngStyle]="{ fill: color }"
                d="M134.21,252.393l-1.943,1.152-1.779-.74a.6.6,0,0,0-.8.3.618.618,0,0,0,.291.814l.943.444-1.162.7a.622.622,0,0,0-.224.841l.006.01a.611.611,0,0,0,.836.259l1.162-.666-.109,1.036a.6.6,0,0,0,.513.664l.033,0h.073a.631.631,0,0,0,.617-.555l.182-1.925,2-1.184v2.369l-1.562,1.11a.649.649,0,0,0-.145.889.584.584,0,0,0,.508.262.682.682,0,0,0,.363-.111l.836-.592v1.295a.618.618,0,1,0,1.235,0v-1.332l.836.592a.606.606,0,0,0,.363.111.584.584,0,0,0,.508-.262.654.654,0,0,0-.145-.889l-1.562-1.11v-2.366l2,1.184.182,1.925a.6.6,0,0,0,.617.556h.073a.614.614,0,0,0,.545-.666l-.111-1.038,1.162.666a.478.478,0,0,0,.291.074.611.611,0,0,0,.321-1.131l-.03-.016-1.162-.666.943-.444a.6.6,0,0,0,.309-.776c-.006-.013-.011-.025-.018-.038a.606.606,0,0,0-.8-.3l-1.743.814-2-1.184.135-.079Z"
                transform="translate(-129.174 -253.651)"
            />
        </g>
        <g transform="translate(1)">
            <path
                [ngStyle]="{ fill: color }"
                d="M131.829,248.577a.626.626,0,0,0,.447.19.616.616,0,0,0,.432-.175.621.621,0,0,0,0-.893l-1.368-1.369a.6.6,0,0,0-.505-.185.622.622,0,0,0-.375,1.065Z"
                transform="translate(-128.597 -244.497)"
            />
            <path
                [ngStyle]="{ fill: color }"
                d="M140.209,248.767h.019a.631.631,0,0,0,.445-.187l1.362-1.364a.621.621,0,0,0,.029-.88.6.6,0,0,0-.543-.19.61.61,0,0,0-.355.181l-1.365,1.365a.623.623,0,0,0,.408,1.076Z"
                transform="translate(-129.904 -244.496)"
            />
            <path
                [ngStyle]="{ fill: color }"
                d="M132.424,251.149a2.824,2.824,0,0,1,.845-2.017,2.879,2.879,0,0,1,1.88-.831l.049-.005h.107a2.873,2.873,0,0,1,2.877,2.854c0,.019-.005.035-.005.053h4.148a.493.493,0,0,0,.011-.054.619.619,0,0,0-.622-.615h-1.877a.615.615,0,0,0-.422.217.6.6,0,0,0-.128.3,3.945,3.945,0,0,0-3.864-3.824.611.611,0,0,0,.534-.6v-1.8a.586.586,0,0,0-.168-.429.678.678,0,0,0-.487-.2l-.035,0a.608.608,0,0,0-.551.618v1.808a.609.609,0,0,0,.489.589h-.077l-.109.007v.007a3.969,3.969,0,0,0-2.486,1.137,3.886,3.886,0,0,0-1.153,2.679.612.612,0,0,0-.6-.515H128.9a.619.619,0,0,0-.567.666v0h4.092C132.429,251.186,132.424,251.168,132.424,251.149Z"
                transform="translate(-128.336 -244.204)"
            />
        </g>
    </g>
    <rect class="b" width="16" height="16" />
</svg>
