<div class="upload-document-container">
    <div class="file-preview-container" (click)="selectFile()">
        <div class="preview-container" *ngIf="!file">
            <ng-container *ngFor="let preview of previews">
                <img class="preview" [src]="'assets/images/identities/' + preview" alt="preview" />
                <span class="type">
                    {{ 'profile.bankDetails.uploadFile.type.' + fileType | translate }}
                </span>
            </ng-container>
            <img class="icon" src="assets/svg/generalite_download_icon.svg" alt="preview" *ngIf="!previews" />
        </div>
        <app-file-preview [file]="file" *ngIf="!!file && !loading"></app-file-preview>
        <div class="loader-container" *ngIf="loading">
            <mat-spinner color="primary" [diameter]="30"></mat-spinner>
        </div>
    </div>
    <div class="error-container" *ngIf="errorKey">
        {{ 'profile.bankDetails.error.' + errorKey | translate }}
    </div>
    <ng-container *ngIf="!file; then selectButton; else modifyButton"></ng-container>
    <ng-template #selectButton>
        <button
            mat-flat-button
            type="button"
            color="primary"
            class="action-button"
            [disabled]="loading"
            (click)="selectFile()"
        >
            {{ 'profile.bankDetails.uploadFile.select.' + fileType | translate }}
        </button>
    </ng-template>
    <ng-template #modifyButton>
        <button
            mat-stroked-button
            type="button"
            color="primary"
            class="action-button"
            [disabled]="loading"
            (click)="selectFile()"
        >
            {{ 'profile.bankDetails.uploadFile.modify.' + fileType | translate }}
        </button>
    </ng-template>
</div>
