@import 'src/variables';

.upload-document-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .file-preview-container {
        height: 320px;
        width: 100%;
        background-color: $app-background-color;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;

        .preview-container {
            position: relative;
            margin: 6px;

            .icon {
                margin-bottom: 15px;
            }

            .preview {
                width: 120px;
                height: auto;
            }

            .type {
                position: absolute;
                bottom: 4px;
                right: 0;
                background: #000000;
                color: #ffffff;
                padding: 2px;
                border-radius: 4px;
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }

    .action-button {
        margin: 12px 0;
    }

    .error-container {
        font-size: 12px;
        text-align: left;
        width: 100%;
        margin-top: 10px;
        color: $kia-red;
    }
}
