<div *ngFor="let sizeGrid of sizeGrids$ | async; trackBy: trackBySizeGridId">
    <div class="sizeGridLabel">
        {{ 'product.category.' + sizeGrid.category?.labelKey | translate }} -
        {{ 'product.grid.' + sizeGrid.labelKey | translate }}
    </div>

    <app-filter-item-selectable
        *ngFor="let size of sizeGrid.sizes; trackBy: trackBySizeId"
        [value]="size.selected"
        (valueChange)="toggleSize(size, $event)"
    >
        {{ 'product.size.' + size.labelKey | translate }}
    </app-filter-item-selectable>
</div>
