@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $content-background-color;
    height: 100%;

    .content {
        flex: 1;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 400px;

        svg {
            margin-bottom: 20px;
        }
    }

    .footer {
        width: 100%;
        display: flex;
        padding: 8px 24px max(8px, env(safe-area-inset-bottom));
        box-sizing: border-box;
        background-color: #f7f7f8;

        > button {
            height: 45px;
            font-size: 16px;
        }

        > button:first-child {
            flex: 1;
            margin-right: 12px;
        }

        > button:last-child {
            flex: 2;
        }
    }

    .spinner {
        flex: 1;
        align-items: center;
    }
}
