<ng-container *ngIf="!loading">
    <div class="content">
        <!-- TODO : share CashCreditsIconComponent -->
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="70" viewBox="0 0 20 17.321">
            <g transform="translate(-10.842 -26.871)">
                <g transform="translate(10.842 26.871)">
                    <path
                        style="fill: #b3b2c2"
                        d="M30.71,34.35a3.9,3.9,0,0,1-2.352-1.818,3.345,3.345,0,0,0,.624-1.946.511.511,0,0,0-.511-.511H24.533c.007-.074.011-.149.011-.225a2.48,2.48,0,1,0-4.96,0c0,.078,0,.155.012.231a6.739,6.739,0,0,0-6.06,4.2c-.006.006-.014.01-.019.016a.176.176,0,1,1-.249-.249l.376-.377a1.2,1.2,0,1,0-1.694-1.693l-.46.459a.511.511,0,1,0,.722.722l.46-.459a.176.176,0,1,1,.249.249l-.377.377a1.194,1.194,0,0,0,.658,2.026,6.656,6.656,0,0,0,.243,3.73.515.515,0,0,0,.034.127l2.009,4.908a.511.511,0,0,0,.473.317h2.581a.511.511,0,0,0,.511-.511v-.845h4.762l.461,1.05a.51.51,0,0,0,.468.305h2.581a.511.511,0,0,0,.511-.511v-2.38A3.914,3.914,0,0,1,30.71,37.78a.51.51,0,0,0,.376-.492V34.843A.511.511,0,0,0,30.71,34.35Zm-8.646-5.958a1.458,1.458,0,1,1-1.458,1.458A1.46,1.46,0,0,1,22.064,28.392Zm8,8.522a4.939,4.939,0,0,0-3.251,4.631v1.869H25.077l-.461-1.05a.51.51,0,0,0-.468-.305H18.542a.511.511,0,0,0-.511.511v.845H16.3l-1.835-4.482a.5.5,0,0,0-.027-.1,5.7,5.7,0,0,1,5.33-7.737l.042,0h.109a2.5,2.5,0,0,0,.452.565h-.5a.511.511,0,0,0,0,1.021h4.381a.511.511,0,1,0,0-1.021h-.5A2.491,2.491,0,0,0,24.2,31.1h3.7a2.33,2.33,0,0,1-.534,1.038.51.51,0,0,0-.08.559,4.929,4.929,0,0,0,2.774,2.522v1.7Z"
                        transform="translate(-11.214 -27.243)"
                    />
                    <path
                        style="fill: #b3b2c2"
                        d="M18.171,44.192H15.59A.637.637,0,0,1,15,43.8l-2.01-4.908a.658.658,0,0,1-.04-.145,6.782,6.782,0,0,1-.27-3.663,1.323,1.323,0,0,1-.6-2.215l.377-.377a.047.047,0,0,0,.015-.034.047.047,0,0,0-.014-.034.041.041,0,0,0-.069,0l-.46.46a.654.654,0,0,1-.9,0,.64.64,0,0,1,0-.9l.46-.459a1.325,1.325,0,0,1,2.263.937c0,.035,0,.069,0,.1a6.855,6.855,0,0,1,5.341-2.972c0-.036,0-.072,0-.108a2.608,2.608,0,1,1,5.215,0q0,.049,0,.1h3.8a.639.639,0,0,1,.638.638,3.455,3.455,0,0,1-.6,1.952,3.753,3.753,0,0,0,2.234,1.689h0a.64.64,0,0,1,.47.616v2.445a.639.639,0,0,1-.47.615,3.785,3.785,0,0,0-2.781,3.642v2.38a.639.639,0,0,1-.638.638H24.372a.638.638,0,0,1-.585-.382l-.428-.973h-4.55v.717A.639.639,0,0,1,18.171,44.192ZM12.426,32.151a.3.3,0,0,1,.214.519l-.377.376a1.066,1.066,0,0,0,.588,1.81l.134.021-.029.132a6.53,6.53,0,0,0,.238,3.659l.007.027a.394.394,0,0,0,.025.1L15.236,43.7a.382.382,0,0,0,.354.238h2.581a.383.383,0,0,0,.383-.383v-.972h4.973l.5,1.126a.382.382,0,0,0,.351.229h2.581a.383.383,0,0,0,.383-.383v-2.38a4.041,4.041,0,0,1,2.969-3.888.383.383,0,0,0,.282-.369V34.47A.384.384,0,0,0,30.3,34.1h0a4.01,4.01,0,0,1-2.429-1.877l-.041-.071.047-.067a3.2,3.2,0,0,0,.6-1.872.384.384,0,0,0-.383-.383H24.022l.013-.139c.006-.07.011-.141.011-.213a2.352,2.352,0,0,0-4.7,0c0,.074,0,.147.011.219l.013.136-.137,0a6.6,6.6,0,0,0-5.946,4.121L13.251,34l-.1-.087.074.1a.3.3,0,0,1-.209.084.3.3,0,0,1-.215-.518l.376-.377A1.07,1.07,0,0,0,11.67,31.7l-.46.459a.384.384,0,0,0,0,.542.392.392,0,0,0,.542,0l.46-.459A.3.3,0,0,1,12.426,32.151Zm.737,1.441-.177.177a.047.047,0,0,0-.014.034.048.048,0,0,0,.015.034.042.042,0,0,0,.068,0l0,0C13.092,33.751,13.127,33.671,13.163,33.591Zm4.625,9.579H15.847l-1.875-4.589a.356.356,0,0,0-.019-.072A5.823,5.823,0,0,1,19.4,30.6l.224,0,.037.063a2.361,2.361,0,0,0,.429.536l.236.221H19.5a.383.383,0,0,0,0,.766h4.381a.383.383,0,1,0,0-.766h-.826l.236-.221a2.36,2.36,0,0,0,.429-.536l.037-.063h3.932l-.035.156a2.469,2.469,0,0,1-.563,1.095.382.382,0,0,0-.06.419,4.775,4.775,0,0,0,2.7,2.457l.084.03v1.878l-.084.03a4.812,4.812,0,0,0-3.167,4.511v2H24.622l-.5-1.126a.382.382,0,0,0-.351-.229H18.171a.384.384,0,0,0-.383.383Zm-1.769-.255h1.514V42.2a.639.639,0,0,1,.638-.638h5.606a.639.639,0,0,1,.585.382l.428.973h1.526V41.173a5.068,5.068,0,0,1,3.251-4.719V34.933A5.029,5.029,0,0,1,26.8,32.377a.636.636,0,0,1,.1-.7,2.212,2.212,0,0,0,.463-.825H23.905a2.589,2.589,0,0,1-.226.309h.2a.638.638,0,1,1,0,1.277H19.5a.638.638,0,0,1,0-1.277h.2a2.617,2.617,0,0,1-.226-.309h-.037l-.042,0a5.568,5.568,0,0,0-5.211,7.564.611.611,0,0,1,.031.108Zm5.675-11.85a1.586,1.586,0,1,1,1.586-1.586A1.588,1.588,0,0,1,21.693,31.065Zm0-2.917a1.331,1.331,0,1,0,1.331,1.331A1.332,1.332,0,0,0,21.693,28.148Z"
                        transform="translate(-10.842 -26.871)"
                    />
                </g>
                <g transform="translate(25.147 33.481)">
                    <circle style="fill: #b3b2c2" cx="0.604" cy="0.604" r="0.604" transform="translate(0.128 0.128)" />
                    <path
                        style="fill: #b3b2c2"
                        d="M67.588,54.218a.732.732,0,1,1,.732-.732A.733.733,0,0,1,67.588,54.218Zm0-1.209a.477.477,0,1,0,.477.477A.477.477,0,0,0,67.588,53.009Z"
                        transform="translate(-66.856 -52.754)"
                    />
                </g>
            </g>
        </svg>

        <div>
            {{ 'payment.cashCreditsUsed' | translate }}
        </div>
    </div>

    <div class="footer">
        <button type="button" mat-stroked-button color="primary" (click)="goBack()" data-qa="btnReturn">
            {{ 'common.back' | translate }}
        </button>
        <button type="submit" mat-flat-button color="primary" (click)="buy()" data-qa="btnProceedPayment">
            {{ 'payment.confirmPayment' | translate }}
        </button>
    </div>
</ng-container>
<ng-container *ngIf="loading">
    <div class="spinner">
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>
</ng-container>
