@import 'src/variables';

:host {
    display: flex;
}

button {
    display: flex;
    margin: 3px 16px;
    height: 50px;
    padding: 0 15px;
    background-color: white;
    align-items: center;
    color: $kia-dark-blue;
    font-weight: bold;
    font-size: 14px;
    border: none;
    width: 100%;
    justify-content: space-between;
}
