@import 'src/variables';

.confirm-cancel-package-dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .clear-container {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        > mat-icon {
            color: $kia-lighten-dark-blue;
        }
    }

    .icon-container {
        position: relative;
        height: 100px;
        margin-bottom: 20px;

        mat-icon {
            width: 60px;
            height: 60px;
            font-size: 60px;
            position: absolute;
            bottom: -20px;
            left: calc(50% - 40px);
            color: white;
            background-color: $kia-red;
            border-radius: 50%;
            padding: 10px;
        }
    }

    .header {
        width: 100%;
        background-color: white;
        color: $kia-dark-blue;
        text-align: center;
        padding: 34px 12px 12px 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .title {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .subtitle {
            font-size: 14px;
        }
    }

    > .content {
        box-sizing: border-box;
        flex: 1;
        overflow-y: auto;
        color: $kia-dark-blue;
        text-align: center;
    }

    .footer {
        display: flex;
        flex-direction: column;

        .actions {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;

            > button {
                flex: 2;
                height: 45px;
                font-size: 14px;
            }

            > button:first-child {
                margin-right: 10px;
                flex: 1;
            }

            .yesButton {
                font-size: 11px;
            }
        }
    }
}
