@import 'src/variables';

.refuse-sell-dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .close-button {
        position: absolute;
        z-index: 2;
        top: 4px;
        right: 4px;
        color: $medium-text-color;
    }

    > img {
        margin-top: 40px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        color: $kia-dark-blue;
        text-align: center;

        .title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        .subtitle {
            font-size: 18px;
            font-weight: bold;
        }

        .content {
            margin-top: 24px;
            font-size: 16px;
        }
    }

    .actions {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        button:first-child {
            margin-right: 6px;
        }

        button {
            padding: 0 10px;
        }
    }
}
