<div class="refuse-sell-dialog-container">
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        tabindex="-1"
        class="close-button"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
    <img src="assets/svg/Generalite_warning_icon.svg" alt="warning icon" />
    <div class="container">
        <div class="title">
            {{ 'chat.refuseSellDialog.title' | translate }}
        </div>
        <div class="subtitle">
            {{ 'chat.refuseSellDialog.subtitle' | translate }}
        </div>
        <div class="content">
            {{ 'chat.refuseSellDialog.content' | translate }}
        </div>
    </div>
    <div class="actions">
        <button type="button" kia-button variant="bordered" mat-dialog-close data-qa="btnCancelRefuseSell">
            {{ 'chat.refuseSellDialog.no' | translate }}
        </button>
        <button type="button" kia-button mat-dialog-close="true" data-qa="btnConfirmRefuseSell">
            {{ 'chat.refuseSellDialog.yes' | translate }}
        </button>
    </div>
</div>
