<svg xmlns="http://www.w3.org/2000/svg" width="30" height="25.34" viewBox="0 0 30 25.34">
    <g transform="translate(16.5 -209.5)">
        <path
            class="a"
            d="M34.745,20.648l-6.667-7.334a1,1,0,0,0-.385-.26l-2.667-1a1,1,0,0,0-1.291.578c-.012.033-.023.066-.032.1A3.63,3.63,0,0,1,20,14.991a3.63,3.63,0,0,1-3.7-2.261,1,1,0,0,0-1.062-.74.984.984,0,0,0-.26.063l-2.667,1a1,1,0,0,0-.386.26L5.263,20.648a1,1,0,0,0,.063,1.406l4.667,4.334a1,1,0,0,0,1.323.031l.437-.375L10.68,36.222a1,1,0,0,0,.891,1.1.984.984,0,0,0,.1.005H28.338a1,1,0,0,0,1-1.005c0-.033,0-.066-.005-.1L28.255,26.044l.438.375a1,1,0,0,0,1.323-.031l4.667-4.334A1,1,0,0,0,34.745,20.648Zm-5.428,3.677L27.651,22.9a1,1,0,0,0-1.636.865l1.219,11.563H12.775l1.219-11.563a1,1,0,0,0-1.635-.865l-1.667,1.427L7.409,21.273l5.844-6.428,1.552-.583A5.858,5.858,0,0,0,20,16.991a5.858,5.858,0,0,0,5.2-2.729l1.552.583L32.6,21.273Z"
            transform="translate(-21.504 197.514)"
        />
    </g>
</svg>
