:host {
    display: block;

    content-visibility: auto;
    &.handset {
        contain-intrinsic-size: 599px;
    }
    &.desktop {
        contain-intrinsic-size: 454px;
    }

    .w-full {
        width: 100%;
    }

    .relative {
        position: relative;
    }

    .penderie {
        &.desktop {
            object-fit: cover;
            height: 450px;
            object-position: 50% 21%;
        }
    }

    .resell-happiness {
        position: absolute;
        width: 200px;

        &.handset {
            bottom: 40px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
        &.desktop {
            top: 60px;
            left: 0;
        }
    }

    section {
        background: white;
        width: calc(100vw - 6px);
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

        .subcontainer {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 200px;
            margin: 20px;
            text-align: center;

            &.desktop {
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                width: 500px;
                margin-top: -250px;
                border-radius: 15px;
                backdrop-filter: blur(5px);
                background: rgba(255, 255, 255, 0.9);
            }

            .title {
                font-size: 16px;
                font-weight: bold;
            }
            .subtitle {
                font-size: 15px;
                margin-top: 12px;
            }

            .buttons {
                &.handset {
                    display: flex;
                    flex-direction: column;

                    a {
                        font-size: 13px;
                    }
                }
                &.desktop {
                    display: flex;

                    a {
                        font-size: 15px;
                    }
                }

                a {
                    display: block;
                    width: 200px;
                    height: 50px;
                    font-weight: bold;
                    margin: 4px;
                }
            }
        }
    }
}
