<section appDeviceClasses>
    <div class="relative">
        <div class="relative">
            <img src="/assets/images/home/penderie.jpg" appDeviceClasses class="w-full penderie" loading="lazy" />
        </div>

        <div class="subcontainer" [class.mat-elevation-z2]="deviceService.isDesktop$ | async" appDeviceClasses>
            <div>
                <div class="title">
                    {{ 'home.sections.welcome.title' | translate }}
                </div>
                <div class="subtitle">
                    {{ 'home.sections.welcome.subtitle' | translate }}
                </div>
            </div>

            <div class="buttons" appDeviceClasses>
                <a routerLink="/add" kia-button> {{ 'home.sections.welcome.sell' | translate }}</a>
                <a routerLink="/how-it-works" kia-button variant="bordered">
                    {{ 'home.sections.welcome.discover' | translate }}
                </a>
            </div>
        </div>
    </div>
</section>
