<div class="spacer"></div>
<ng-container *ngFor="let sort of sorts">
    <button type="button" class="option" [ngClass]="{ selected: sort.selected }" (click)="selectSort(sort)">
        {{ sort.label | translate }}
    </button>
</ng-container>
<div class="spacer"></div>
