@import 'src/variables';

:host {
    display: flex;
    overflow: auto;
    padding-bottom: 6px;
    margin-left: -15px;
}

.option {
    background-color: white;
    text-transform: uppercase;
    color: $medium-text-color;
    font-size: 10px;
    padding: 17px 18px;
    margin: 6px 6px;
    white-space: nowrap;
    border-radius: 8px;
    box-shadow: #00000029 0 3px 6px;
    display: flex;
    align-items: center;
    border: none;

    &.selected {
        color: $kia-dark-blue;
        font-size: 12px;
        font-weight: bold;
    }
}

.spacer {
    padding: 3px;
}
