@import 'src/variables';

$icon-size: 62px;

.error-notification-dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .close-button {
        position: absolute;
        top: -6px;
        right: -6px;
        z-index: 10;

        mat-icon {
            color: $kia-lighten-dark-blue;
        }
    }

    .error-icon {
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        line-height: $icon-size;
        color: $kia-red;
        margin: 15px auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: $kia-dark-blue;
            text-align: center;
            margin-bottom: 4px;
        }

        .content {
            font-style: normal;
            font-size: 14px;
            line-height: 16px;
            color: $medium-text-color;
            text-align: center;
        }

        button {
            margin-top: 20px;
        }
    }
}
