<div class="error-notification-dialog-container">
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        tabindex="-1"
        class="close-button"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
    <mat-icon class="error-icon">error_outline</mat-icon>
    <div class="container">
        <div class="title">
            {{ data.title }}
        </div>
        <div class="content">
            {{ data.content }}
        </div>
        <button type="button" kia-button mat-dialog-close>
            {{ data.buttonContent }}
        </button>
    </div>
</div>
