<div class="dialog-container">
    <button
        type="button"
        class="close-button"
        mat-icon-button
        mat-dialog-close
        tabindex="-1"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
    <div class="icon-container">
        <ng-container [ngSwitch]="type">
            <app-iban-icon [width]="60" [height]="40" *ngSwitchCase="'iban'"></app-iban-icon>
            <app-rib-icon [width]="60" [height]="40" *ngSwitchCase="'rib'"></app-rib-icon>
            <app-identity-icon [width]="60" [height]="40" *ngSwitchCase="'identity'"></app-identity-icon>
        </ng-container>
        <img class="state-icon" src="assets/svg/icon-pending.svg" alt="pending icon" />
    </div>
    <div class="thank">
        {{ 'profile.bankDetails.documentSentDialog.thank' | translate }}
    </div>
    <div class="title">
        {{ 'profile.bankDetails.documentSentDialog.title.' + type | translate }}
    </div>
    <div class="subtitle">
        {{ 'profile.bankDetails.documentSentDialog.subtitle.' + type | translate }}
    </div>
    <div class="subtitle">
        {{ 'profile.bankDetails.documentSentDialog.waitingTime' | translate }}
    </div>
    <button type="button" mat-flat-button mat-dialog-close color="primary">
        {{ 'common.ok' | translate }}
    </button>
</div>
