<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="height" viewBox="0 0 30 22.5">
    <g transform="translate(-5 -17.5)">
        <path
            class="a"
            d="M32.5,17.5H7.5A2.518,2.518,0,0,0,5,20V37.5A2.518,2.518,0,0,0,7.5,40h25A2.518,2.518,0,0,0,35,37.5V20A2.518,2.518,0,0,0,32.5,17.5Zm0,20H7.5V20h25Z"
        />
        <g transform="translate(0 -0.843)">
            <rect class="a" width="3.333" height="1.667" transform="translate(26.667 30.834)" />
            <rect class="a" width="3.333" height="1.667" transform="translate(20.833 30.834)" />
            <rect class="a" width="3.333" height="1.667" transform="translate(15 30.834)" />
            <rect class="a" width="3.333" height="1.667" transform="translate(9.167 30.834)" />
            <rect class="a" width="7.5" height="1.667" transform="translate(9.167 34.166)" />
            <path
                class="a"
                d="M.732-1.341V-7.158H3.2A4.231,4.231,0,0,1,4.56-7a1.337,1.337,0,0,1,.677.558,1.676,1.676,0,0,1,.254.917,1.553,1.553,0,0,1-.385,1.081,1.849,1.849,0,0,1-1.151.538,2.74,2.74,0,0,1,.629.488,6.63,6.63,0,0,1,.669.944l.71,1.135h-1.4L3.709-2.607a8.211,8.211,0,0,0-.619-.855A.9.9,0,0,0,2.736-3.7a1.936,1.936,0,0,0-.591-.065H1.907v2.429ZM1.907-4.7h.869a4.488,4.488,0,0,0,1.056-.071.633.633,0,0,0,.329-.246.757.757,0,0,0,.119-.437.7.7,0,0,0-.157-.474.719.719,0,0,0-.442-.228q-.143-.02-.857-.02H1.907ZM6.562-1.341V-7.158H7.736v5.817Zm2.3-5.817h2.325a6.718,6.718,0,0,1,1.03.058,1.513,1.513,0,0,1,.607.24,1.493,1.493,0,0,1,.446.486,1.317,1.317,0,0,1,.179.681,1.355,1.355,0,0,1-.22.75,1.365,1.365,0,0,1-.6.512,1.531,1.531,0,0,1,.817.528,1.4,1.4,0,0,1,.286.877,1.729,1.729,0,0,1-.185.772,1.555,1.555,0,0,1-.5.6,1.665,1.665,0,0,1-.788.276q-.294.032-1.417.04H8.859Zm1.175.968v1.345h.77q.687,0,.853-.02a.776.776,0,0,0,.474-.208.614.614,0,0,0,.173-.454.638.638,0,0,0-.149-.438.674.674,0,0,0-.442-.2q-.175-.02-1-.02Zm0,2.313v1.556h1.087a5.314,5.314,0,0,0,.806-.036.728.728,0,0,0,.427-.232.715.715,0,0,0,.165-.494.759.759,0,0,0-.127-.444.718.718,0,0,0-.367-.266,3.99,3.99,0,0,0-1.042-.083Z"
                transform="translate(8.438 30.5)"
            />
        </g>
    </g>
</svg>
