<div class="confirm-action-dialog-container">
    <button type="button" mat-icon-button mat-dialog-close class="close-button" [tabIndex]="-1">
        <mat-icon>clear</mat-icon>
    </button>
    <mat-icon class="main-icon">error_outline</mat-icon>
    <div class="header">
        <div class="title">{{ 'confirmActionDialog.title' | translate }}</div>
        <div class="subtitle">{{ data.titleKey | translate }}</div>
    </div>
    <div class="content">
        <p>
            {{ data.contentKey || 'confirmActionDialog.content' | translate }}
        </p>
    </div>
    <div class="footer">
        <button type="button" mat-stroked-button color="primary" mat-dialog-close data-qa="btnReturn">
            {{ 'confirmActionDialog.no' | translate }}
        </button>
        <button type="button" mat-flat-button color="primary" [mat-dialog-close]="true" data-qa="btnValidate">
            {{ 'confirmActionDialog.yes' | translate }}
        </button>
    </div>
</div>
