@import 'src/variables';

$icon-size: 62px;

.confirm-action-dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .close-button {
        position: absolute;
        top: -6px;
        right: -6px;
        z-index: 10;

        mat-icon {
            color: $kia-lighten-dark-blue;
        }
    }

    .main-icon {
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        line-height: $icon-size;
        color: $kia-red;
        margin: 15px auto;
    }

    .header {
        display: flex;
        flex-direction: column;
        color: $kia-dark-blue;
        text-align: center;
        margin-bottom: 15px;

        .title {
            font-weight: bold;
            font-size: 30px;
            line-height: 18px;
            margin-bottom: 10px;
        }

        .subtitle {
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
        }
    }

    .content {
        flex: 1;
        color: $kia-dark-blue;
        text-align: center;
        margin-bottom: 15px;
    }

    .footer {
        height: 45px;
        display: flex;
        align-items: stretch;

        button {
            flex: 1;
            font-size: 14px;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }
}
