:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 40px 0;
    box-sizing: border-box;

    .images-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80%;

        .image-container {
            position: relative;
            width: 100%;
            height: 100%;

            .image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .next-button {
                color: white;
                position: absolute;
                right: 20px;
                background-color: rgba(0, 0, 0, 0.3);
                top: calc(50% - 20px);
                border-radius: 50% !important;
                box-shadow: 0 0 3px darkgrey;
            }

            .prev-button {
                color: white;
                position: absolute;
                left: 20px;
                background-color: rgba(0, 0, 0, 0.3);
                top: calc(50% - 20px);
                border-radius: 50% !important;
                box-shadow: 0 0 3px darkgrey;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dots {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            .dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #ffffff;
            }

            .dot:not(:last-child) {
                margin-right: 6px;
            }
        }

        .back-button {
            width: 150px;
            height: 45px;
            border-color: white;
            color: white;
            background: none;
        }
    }
}
