<div class="images-container" (swipeleft)="next()" (swiperight)="previous()">
    <div class="image-container">
        <!-- 💡 : Pas de thumbnails pour les images fullscreen (mais un fallback) -->
        <img
            class="image"
            alt="image"
            [appThumbnailFormat]="{ origin: pictures[currentIndex]?.url }"
            *ngIf="pictures[currentIndex]?.url"
            [src]="pictures[currentIndex]?.url"
        />
        <button
            type="button"
            mat-icon-button
            tabindex="-1"
            class="next-button"
            (click)="next()"
            *ngIf="pictures.length > 1 && (deviseService.isHandset$ | async) === false"
        >
            <mat-icon>chevron_right</mat-icon>
        </button>
        <button
            type="button"
            mat-icon-button
            tabindex="-1"
            class="prev-button"
            (click)="previous()"
            *ngIf="pictures.length > 1 && (deviseService.isHandset$ | async) === false"
        >
            <mat-icon>chevron_left</mat-icon>
        </button>
    </div>
</div>
<div class="footer">
    <div class="dots">
        <div
            class="dot"
            *ngFor="let picture of pictures; let i = index"
            [ngStyle]="{ opacity: currentIndex === i ? 1 : 0.3 }"
        ></div>
    </div>
    <button type="button" mat-stroked-button mat-dialog-close class="back-button">
        {{ 'common.back' | translate }}
    </button>
</div>
