<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    [attr.width]="width"
    [attr.height]="height"
    viewBox="0 0 50 50"
>
    <defs>
        <filter id="a" x="6" y="6" width="40" height="40" filterUnits="userSpaceOnUse">
            <feOffset input="SourceAlpha" />
            <feGaussianBlur stdDeviation="3" result="b" />
            <feFlood flood-color="#040037" flood-opacity="0.4" />
            <feComposite operator="in" in2="b" />
            <feComposite in="SourceGraphic" />
        </filter>
        <filter id="c" x="16" y="11" width="20" height="27" filterUnits="userSpaceOnUse">
            <feOffset input="SourceAlpha" />
            <feGaussianBlur stdDeviation="3" result="d" />
            <feFlood flood-color="#040037" flood-opacity="0.4" />
            <feComposite operator="in" in2="d" />
            <feComposite in="SourceGraphic" />
        </filter>
        <filter id="e" x="16" y="21" width="20" height="20" filterUnits="userSpaceOnUse">
            <feOffset input="SourceAlpha" />
            <feGaussianBlur stdDeviation="3" result="f" />
            <feFlood flood-color="#040037" flood-opacity="0.4" />
            <feComposite operator="in" in2="f" />
            <feComposite in="SourceGraphic" />
        </filter>
    </defs>
    <g transform="translate(-322 -406)">
        <g transform="translate(336 420)">
            <g filter="url(#a)" class="e" transform="matrix(1, 0, 0, 1, -14, -14)">
                <path
                    class="a"
                    d="M12,1A11,11,0,1,0,23,12,11.013,11.013,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9.011,9.011,0,0,1,12,21Z"
                    transform="translate(14 14)"
                />
            </g>
            <g filter="url(#c)" class="d" transform="matrix(1, 0, 0, 1, -14, -14)">
                <path
                    class="a"
                    d="M12,6a1,1,0,0,0-1,1v7a1,1,0,0,0,2,0V7A1,1,0,0,0,12,6Z"
                    transform="translate(14 14)"
                />
            </g>
            <g filter="url(#e)" class="c" transform="matrix(1, 0, 0, 1, -14, -14)">
                <circle class="a" cx="1" cy="1" r="1" transform="translate(25 30)" />
            </g>
        </g>
        <rect class="b" width="50" height="50" transform="translate(322 406)" />
    </g>
</svg>
