@import 'src/variables';

:host {
    .a {
        fill: #fff;
    }
    .b {
        fill: none;
    }

    &.light {
        .a {
            fill: $light-text-color;
        }
    }

    &.shadow {
        .c {
            filter: url(#e);
        }
        .d {
            filter: url(#c);
        }
        .e {
            filter: url(#a);
        }
    }
}
