<app-main-header *ngIf="deviceService.isHandset$ | async"></app-main-header>

<app-welcome-section></app-welcome-section>

<app-home-desktop-reengagement
    appDeviceClasses
    *ngIf="deviceService.isDesktop$ | async"
></app-home-desktop-reengagement>

<app-my-favorites-section appDeviceClasses></app-my-favorites-section>

<app-last-search-section appDeviceClasses></app-last-search-section>

<app-categories-section appDeviceClasses *ngIf="deviceService.isHandset$ | async"></app-categories-section>

<app-followed-dressing-section appDeviceClasses></app-followed-dressing-section>

<app-popular-brands-section appDeviceClasses></app-popular-brands-section>

<app-last-articles-section appDeviceClasses></app-last-articles-section>
