<svg xmlns="http://www.w3.org/2000/svg" width="21" height="19.182" viewBox="0 0 21 19.182">
    <g transform="translate(-3.85 -7.95)">
        <path
            [attr.fill]="active ? '#040037' : '#b3b2c2'"
            d="M22.122,9.7H8.958A3.358,3.358,0,0,0,5.6,13.058h0v7.254A3.358,3.358,0,0,0,8.958,23.67h3.336v3.4a.672.672,0,0,0,1.1.537l4.97-3.94h3.761a3.358,3.358,0,0,0,3.358-3.358V13.058A3.358,3.358,0,0,0,22.122,9.7Zm2.015,10.612a2.015,2.015,0,0,1-2.015,2.015H18.115a.671.671,0,0,0-.425.134l-4.052,3.224V23a.672.672,0,0,0-.672-.672H8.958a2.015,2.015,0,0,1-2.015-2.015V13.058a2.015,2.015,0,0,1,2.015-2.015H22.122a2.015,2.015,0,0,1,2.015,2.015Z"
            transform="translate(-1.189 -1.189)"
        />
        <path
            [attr.fill]="active ? '#040037' : '#b3b2c2'"
            d="M20.182,7.76a3.358,3.358,0,0,1,3.358,3.358v7.254a3.358,3.358,0,0,1-3.358,3.358H16.421l-4.97,3.94a.671.671,0,0,1-.426.152h-.018a.672.672,0,0,1-.654-.689v-3.4H7.018A3.358,3.358,0,0,1,3.66,18.372V11.118A3.358,3.358,0,0,1,7.018,7.76H20.182M7.018,20.387h4.007a.672.672,0,0,1,.672.672v2.687l4.052-3.224a.672.672,0,0,1,.4-.135h4.029A2.015,2.015,0,0,0,22.2,18.372V11.118A2.015,2.015,0,0,0,20.182,9.1H7.018A2.015,2.015,0,0,0,5,11.118v7.254a2.015,2.015,0,0,0,2.015,2.015M20.182,7.2H7.018A3.922,3.922,0,0,0,3.1,11.118v7.254A3.922,3.922,0,0,0,7.018,22.29H9.794v2.837a1.232,1.232,0,0,0,1.2,1.255h.032a1.234,1.234,0,0,0,.78-.279l4.811-3.814h3.566A3.922,3.922,0,0,0,24.1,18.372V11.118A3.922,3.922,0,0,0,20.182,7.2ZM7.018,19.827a1.457,1.457,0,0,1-1.455-1.455V11.118A1.457,1.457,0,0,1,7.018,9.663H20.182a1.457,1.457,0,0,1,1.455,1.455v7.254a1.457,1.457,0,0,1-1.455,1.455H16.153a1.24,1.24,0,0,0-.74.247l-.006,0-.006,0-3.144,2.5V21.058a1.233,1.233,0,0,0-1.231-1.231Z"
            transform="translate(0.75 0.75)"
        />
    </g>
</svg>
