<section class="dialog-header">
    <h2>{{ 'filter.searchHistory.title' | translate }}</h2>
    <button
        type="button"
        class="close-button"
        tabindex="-1"
        mat-icon-button
        mat-dialog-close
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
</section>
<section class="dialog-content">
    <app-search-history (selected)="onSearchSelected($event)"></app-search-history>
</section>
