@import 'src/variables';

$header-height: 60px;
$actions-height: 60px;

:host {
    background-color: $content-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(#{$pageHeight} - env(safe-area-inset-top));

    section.dialog-header {
        background-color: white;
        height: $header-height;
        position: relative;

        h2 {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding-top: 23px;
            box-sizing: border-box;
            margin: 0;
        }

        button.close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            color: $kia-lighten-dark-blue;
        }
    }

    section.dialog-content {
        background-color: $content-background-color;
        flex: 1;
        box-sizing: border-box;
        overflow-y: auto;
    }
}
