<div mat-dialog-title>{{ 'login.needToBeLogged' | translate }}</div>
<div mat-dialog-actions>
    <button type="button" kia-button variant="bordered" mat-dialog-close data-qa="btnCancel">
        {{ 'common.cancel' | translate }}
    </button>
    <button type="button" kia-button mat-dialog-close (click)="navigateToLogin()" data-qa="btnLogin">
        {{ 'login.connect' | translate }}
    </button>
</div>
