@import 'src/variables';

:host {
    display: flex;

    &.handset {
        justify-content: flex-start;
    }
    &.desktop {
        justify-content: center;
    }

    section {
        padding: 20px;

        content-visibility: auto;
        &.handset {
            contain-intrinsic-size: 506px;
        }
        &.desktop {
            contain-intrinsic-size: 606px;
        }

        &.handset {
            width: calc(100vw - 40px);
        }
        &.desktop {
            width: $desktop-max-width;
        }
    }

    .products {
        &.handset {
            display: flex;
            overflow: auto;

            app-product-card {
                margin-right: 8px;
                width: 180px;
            }
        }
        &.desktop {
            display: grid;
            grid-gap: 6px;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
            row-gap: 30px;
            grid-column-gap: 20px;
            grid-row-gap: 30px;

            app-product-card {
                width: 100%;
            }
        }
    }

    .see-all-button {
        display: block;
        border-radius: 28px;
        width: 160px;
        font-size: 15px;
        margin: 12px auto 0;
    }
}
