<section *ngIf="canDisplay$ | async" appDeviceClasses>
    <h3>{{ 'home.sections.my-favorites.title' | translate }}</h3>

    <div class="products" appDeviceClasses>
        <app-product-card
            *ngFor="let product of displayedProducts$ | async; trackBy: trackById"
            [product]="product"
            [displayOwner]="true"
            (productClickedEvent)="onProductClicked($event)"
        ></app-product-card>
    </div>

    <a routerLink="/profile/wishlist" kia-button class="see-all-button">
        {{ 'common.seeAll' | translate }}
    </a>
</section>
