@import 'src/variables';

app-search {
    display: flex;
    flex-direction: column;
    height: 100%;

    app-product-filters {
        display: block;
        height: 100%;
    }

    .search-container {
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        scroll-behavior: smooth;

        .back-to-top {
            position: fixed;
            bottom: 24px;
            right: 24px;
            z-index: 100;
            border-radius: 50% !important;

            mat-icon {
                font-size: 36px;
                height: 40px;
                width: 40px;
                line-height: 22px;
            }
        }

        &.desktop {
            height: calc(100vh - 140px);
        }

        &.desktop.has-banner {
            height: calc(100vh - 180px);
        }

        &.handset {
            flex: 1;
        }

        .product-list {
            padding-top: 20px;
            padding-left: 4px;
            padding-right: 4px;
            flex: 1;

            &.no-product {
                display: flex;
            }
        }
    }
}
