<ng-container *ngIf="deviceService.isHandset$ | async; else desktopTemplate">
    <ng-container *ngIf="showFilter$ | async; else handsetProductTemplate">
        <app-product-filters key="search"></app-product-filters>
    </ng-container>
    <ng-template #handsetProductTemplate>
        <app-search-handset-header></app-search-handset-header>
        <div #searchList class="search-container handset" id="searchRefreshEl" [class.has-banner]="showBanner">
            <app-refresher *ngIf="false" mainElementId="searchRefreshEl" (refresh)="refresh()"></app-refresher>
            <app-search-product-list [parentScrollEl]="searchList"></app-search-product-list>
        </div>
    </ng-template>
</ng-container>

<ng-template #desktopTemplate>
    <div #searchListDesktop class="search-container desktop" [class.has-banner]="showBanner">
        <app-search-desktop-filters></app-search-desktop-filters>
        <app-search-product-list [parentScrollEl]="searchListDesktop"></app-search-product-list>
        <button
            mat-mini-fab
            color="primary"
            class="back-to-top"
            type="button"
            (click)="backToTop()"
            *ngIf="(noProductFound$ | async) === false"
        >
            <mat-icon>expand_less</mat-icon>
        </button>
    </div>
</ng-template>
