@import 'src/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    .user-rating-content {
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background-color: $content-background-color;

        &.handset {
            padding-bottom: calc(#{$footer-height} + env(safe-area-inset-bottom));
        }

        &.desktop {
            min-width: 500px;
            max-width: 640px;
            margin: 0 auto;
            margin-top: 40px;
        }

        .user-summary {
            display: flex;
            padding: 25px;

            .user-avatar {
                margin-right: 15px;
            }

            .user-information-container {
                display: flex;
                flex-direction: column;

                .username {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 20px;
                    color: $kia-dark-blue;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 200px;
                }
            }
        }

        .rating-summary {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $app-background-color;
            padding: 25px;
            box-shadow: 0 0 10px $kia-lighten-dark-blue;

            .title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 20px;
                line-height: 22px;
                color: $kia-dark-blue;
                margin-bottom: 10px;
            }

            .rating-number {
                font-style: normal;
                font-size: 16px;
                line-height: 18px;
                margin-left: 10px;
                min-width: 40px;
            }

            .rating-detail-container {
                display: flex;
                flex-direction: column-reverse;
                width: 100%;
                margin-top: 30px;
            }
        }

        .rating-list {
            margin-top: 20px;
            padding: 12px;

            .title {
                font-style: normal;
                font-size: 12px;
                line-height: 14px;
                color: $kia-dark-blue;
                margin-bottom: 6px;
            }
        }
    }
}
