<app-header-with-back-button *ngIf="deviceService.isHandset$ | async"></app-header-with-back-button>

<div class="user-rating-content" appDeviceClasses *ngIf="user$ | async as user">
    <div class="user-summary" *ngIf="user && (deviceService.isHandset$ | async)">
        <app-avatar class="user-avatar" [avatar]="user.picture" [diameter]="80" shape="square"></app-avatar>
        <div class="user-information-container">
            <div class="username">{{ user.nickname | deletedUser }}</div>
            <app-user-information [user]="user"></app-user-information>
        </div>
    </div>

    <div class="rating-summary" *ngIf="ratingSummary$ | async as ratingSummary">
        <div class="title">
            {{ 'profile.rating.title' | translate }}
        </div>
        <div class="flex-row">
            <app-rating [rate]="ratingSummary?.averageRating || 0"></app-rating>
            <span class="rating-number">
                {{ ratingSummary?.averageRating | number: '1.1-1' }} -
                {{ 'profile.rating.number' | translate: { number: ratingSummary?.totalRating } }}
            </span>
        </div>
        <div class="rating-detail-container">
            <app-user-rating-progress-bar
                [total]="ratingSummary?.totalRating || 0"
                [starNumber]="value.key"
                [number]="value.value"
                *ngFor="let value of ratingSummary?.detailedRating | keyvalue"
            >
            </app-user-rating-progress-bar>
        </div>
    </div>

    <div
        class="rating-list"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="findNextRating()"
        *ngIf="ratings$ | async as ratings"
    >
        <div class="title">
            {{ 'profile.rating.list.title' | translate: { count: (totalRatings$ | async) } }}
        </div>
        <app-user-rating-card
            [rating]="rating"
            *ngFor="let rating of ratings; trackBy: trackByRatingId"
            [id]="rating.id"
        ></app-user-rating-card>
    </div>
</div>
