<button type="button" (click)="selected.emit()">
    <span class="title">{{ title }}</span>
    <span class="action">
        <span class="indicator">{{ placeholder }}</span>
        <img
            class="select"
            src="../../../../../../../assets/svg/Generique_icon_arrow_right.svg"
            alt="arrow right icon"
        />
    </span>
</button>
