<div appDeviceClasses>
    <span>
        {{ 'notifications.activate.title' | translate }}
    </span>
    <button type="button" mat-flat-button color="primary" (click)="onActivateNotificationsButtonClicked()">
        {{ 'notifications.activate.accept.' + (device.mode$ | async) | translate }}
    </button>
    <button type="button" mat-button (click)="onDontAskButtonClicked()">
        {{ 'notifications.activate.dontAsk' | translate }}
    </button>
</div>
