:host {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;

    > div {
        &.handset {
            display: flex;
            justify-content: center;
            flex-direction: column;

            > span {
                text-align: center;
            }

            > button {
                display: block;
                margin: 0;
                margin-top: 12px;
            }
        }

        &.desktop {
            > button {
                margin-left: 12px;
            }
        }
    }
}
