@import 'src/variables';

.avatar {
    object-fit: cover;

    &.round {
        border-radius: 50%;
        border: 2px solid $content-background-color;
    }

    &.square {
        border-radius: 6px;
    }
}
