@import 'src/variables';

.document-card {
    border-radius: 8px;
    background-color: $darker-background-color;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    position: relative;
    box-shadow: 0px 3px 6px $box-shadow-color;

    .content {
        border-radius: 8px 8px 0 0;
        background-color: $app-background-color;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-container {
            position: relative;

            .state-icon {
                position: absolute;
                top: -10px;
                right: -10px;
            }
        }

        .title {
            margin-top: 10px;
            text-align: center;
            font-style: normal;
            font-size: 16px;
            line-height: 15px;
            color: $kia-dark-blue;
        }
    }

    .state {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin: 10px 0;
        }

        .secondary-button {
            margin: 15px 0;
            font-style: normal;
            font-size: 13px;
            line-height: 18px;
            text-decoration: underline;
        }

        .pending {
            color: $kia-orange;
        }

        .rejected {
            color: $kia-red;
        }
    }
}

.document-card-subtitle {
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
    color: $kia-dark-blue;
}
