@import 'src/variables';

$header-height: 60px;
$actions-height: 48px;

:host {
    background-color: $content-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;

    section.dialog-header {
        background-color: white;
        height: $header-height;
        position: relative;
        border-bottom: 2px solid $border-color;

        h2 {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding-top: 23px;
            box-sizing: border-box;
            margin: 0;
        }

        button.close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            color: $kia-lighten-dark-blue;
        }
    }

    section.dialog-content {
        background-color: $content-background-color;
        margin: 0;
        padding: 8px 0 0 15px;
        flex: 1;
        box-sizing: border-box;
        overflow-y: auto;

        h3 {
            font-size: 16px;
            font-weight: initial;
            color: $medium-text-color;
        }

        .filter-search-wrapper {
            display: flex;
            align-items: center;
            margin-top: 14px;
            margin-bottom: 14px;
            margin-right: 14px;

            app-filter-search {
                display: block;
                flex: 1;
            }
        }

        app-selected-filters {
            padding: 8px 0;
        }

        app-filter-entry,
        app-filter-seasonality {
            cursor: pointer;
        }

        app-filter-price-range {
            margin: 3px 14px 6px 0;
        }
    }

    section.dialog-actions {
        background-color: white;
        display: flex;
        height: $actions-height;
        align-items: stretch;
        padding: 8px 12px max(8px, env(safe-area-inset-bottom));
        border-top: 1px solid $border-color;

        > button {
            flex: 1;

            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }
}
