<section class="dialog-header">
    <h2>{{ 'filter.title' | translate }}</h2>
    <button
        type="button"
        class="close-button"
        tabindex="-1"
        mat-icon-button
        mat-dialog-close
        [attr.aria-label]="'common.close' | translate"
        *ngIf="isDialog"
    >
        <mat-icon>clear</mat-icon>
    </button>
</section>

<section class="dialog-content">
    <div class="filter-search-wrapper">
        <app-filter-search [key]="key"></app-filter-search>
        <button
            mat-icon-button
            type="button"
            [matTooltip]="'filter.searchHistory.button' | translate"
            (click)="goToStep(steps.SEARCH_HISTORY)"
            *ngIf="isLogged$ | async"
        >
            <mat-icon>star_border</mat-icon>
        </button>
    </div>
    <h3>{{ 'filter.sortBy' | translate }}</h3>
    <app-filter-sort-by-handset [key]="key"></app-filter-sort-by-handset>
    <h3>{{ 'filter.filterBy' | translate }}</h3>
    <!-- TODO : selector for hasEntry -->
    <app-filter-entry
        [title]="'filter.categories.label' | translate"
        [placeholder]="'filter.categories.placeholder' | translate"
        [hasEntry]="(hasCategoryAttribute$ | async) === true"
        (selected)="goToStep(steps.CATEGORY)"
        data-qa="goToTabFilterCategory"
    ></app-filter-entry>
    <!-- TODO : selector for hasEntry -->
    <app-filter-entry
        [title]="'filter.sizes.label' | translate"
        [placeholder]="'filter.sizes.placeholder' | translate"
        [disabledPlaceholder]="'filter.sizes.disabledPlaceholder' | translate"
        [hasEntry]="((filter$ | async)?.sizes?.length || 0) > 0"
        [disabled]="(hasCategoryAttribute$ | async) === false"
        (selected)="goToStep(steps.SIZE)"
        data-qa="goToTabFilterSize"
    ></app-filter-entry>
    <!-- TODO : selector for hasEntry -->
    <app-filter-entry
        [title]="'filter.brands.label' | translate"
        [placeholder]="'filter.brands.placeholder' | translate"
        [hasEntry]="((filter$ | async)?.brands?.length || 0) > 0"
        (selected)="goToStep(steps.BRAND)"
        data-qa="goToTabFilterBrand"
    ></app-filter-entry>
    <!-- TODO : selector for hasEntry -->
    <app-filter-entry
        [title]="'filter.colors.label' | translate"
        [placeholder]="'filter.colors.placeholder' | translate"
        [hasEntry]="((filter$ | async)?.colors?.length || 0) > 0"
        (selected)="goToStep(steps.COLOR)"
        data-qa="goToTabFilterColor"
    ></app-filter-entry>
    <!-- TODO : selector for hasEntry -->
    <app-filter-entry
        [title]="'filter.conditions.label' | translate"
        [placeholder]="'filter.conditions.placeholder' | translate"
        [hasEntry]="((filter$ | async)?.conditions?.length || 0) > 0"
        (selected)="goToStep(steps.CONDITION)"
        data-qa="goToTabFilterCondition"
    ></app-filter-entry>

    <app-filter-seasonality-entry
        [title]="'filter.seasonality.label' | translate"
        [placeholder]="'product.seasonality.' + (seasonality$ | async) | translate"
        (selected)="goToStep(steps.SEASONALITY)"
    ></app-filter-seasonality-entry>

    <app-filter-price-range [key]="key" (valid)="filterPriceValid = $event"></app-filter-price-range>

    <app-selected-filters [key]="key"></app-selected-filters>
</section>

<section class="dialog-actions">
    <button
        mat-stroked-button
        type="button"
        color="primary"
        (click)="clearFilters()"
        *ngIf="(hasNoFilter$ | async) === false"
    >
        {{ 'filter.clear' | translate }}
    </button>
    <button
        mat-flat-button
        type="button"
        color="primary"
        data-qa="btnSubmitSearch"
        [disabled]="!filterPriceValid"
        (click)="search.emit()"
    >
        <ng-container *ngIf="showProductCount$ | async; else validateFilter">
            {{ 'filter.validateWithTotal' | translate: { total: preSearchTotalElements$ | async } }}
        </ng-container>
        <ng-template #validateFilter>
            {{ 'filter.validate' | translate }}
        </ng-template>
    </button>
</section>
