<div mat-dialog-title>{{ data.title }}</div>
<div mat-dialog-actions>
    <!-- TODO : a voir avec les fronteux pourquoi on utilise pas les ConfirmationEnum    -->
    <button type="button" kia-button variant="bordered" [mat-dialog-close]="false" data-qa="btnCancel">
        {{ data.cancelLabel }}
    </button>
    <button type="button" kia-button variant="primary" class="validate" [mat-dialog-close]="true" data-qa="btnConfirm">
        {{ data.validateLabel }}
    </button>
</div>
