<ng-container *ngIf="(loading$ | async) === false">
    <ng-container *ngIf="notifications?.length && (loading$ | async) === false; else empty">
        <ng-container *ngFor="let n of notifications; trackBy: trackByUuid" [ngSwitch]="true">
            <app-notification-product-favorite
                *ngSwitchCase="n.type === systemMessageType.PRODUCT_FAVORITE"
                [pushNotification]="n"
            ></app-notification-product-favorite>
            <app-notification-favorite-product-sold
                *ngSwitchCase="n.type === systemMessageType.PRODUCT_FAVORITE_SOLD"
                [pushNotification]="n"
            ></app-notification-favorite-product-sold>
            <app-notification-user-following
                *ngSwitchCase="n.type === systemMessageType.USER_SUBSCRIPTION"
                [pushNotification]="n"
            ></app-notification-user-following>
            <app-notification-following-product-add
                *ngSwitchCase="n.type === systemMessageType.SUBSCRIPTION_PRODUCT_ADD"
                [pushNotification]="n"
            ></app-notification-following-product-add>
            <app-notification-answer-rate
                *ngSwitchCase="n.type === systemMessageType.ANSWER_RATE"
                [pushNotification]="n"
            ></app-notification-answer-rate>
        </ng-container>
    </ng-container>
    <ng-template #empty>
        <p class="empty-notification">{{ 'notifications.history.empty' | translate }}</p>
    </ng-template>
</ng-container>
<div class="loader-container" *ngIf="loading$ | async">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
