@import 'src/variables';

app-notification-history {
    display: block;

    .notification-card.handset {
        margin: 2px 15px 13px 15px;
        border-radius: 8px;
    }

    .notification-card {
        background-color: white;
        box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
        position: relative;
        overflow: hidden;
        display: block;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        .content {
            padding: 15px;

            .notification-date {
                font-style: normal;
                font-size: 10pt;
                line-height: 14px;
                color: $medium-text-color;
            }

            .message {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;

                .text {
                    font-weight: bold;
                    color: $kia-dark-blue;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    flex: 1;

                    .icon {
                        margin-right: 10px;
                    }
                }

                .alt-right-img {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                }

                .avatar {
                    object-fit: cover;
                    height: 45px;
                    width: 45px;
                    margin-right: 10px;
                    border-radius: 50%;
                    border: 2px solid $content-background-color;
                }
            }
        }

        .footer {
            background-color: $darker-background-color;
            width: 100%;
            height: 25px;
        }

        p.footer-content {
            margin: 0;
            color: $medium-text-color;
            font-size: 10pt;
            padding: 5px 15px 5px 15px;
        }
    }

    .empty-notification {
        text-align: center;
        padding: 20px;
        font-size: 14px;
    }
}
