@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        color: $kia-dark-blue;
        margin-bottom: 10px;
    }

    .information {
        font-style: normal;
        font-size: 16px;
        line-height: 18px;
        color: $medium-text-color;
    }

    .price {
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: $kia-dark-blue;
    }
}

app-shipping-promo {
    display: block;
    margin-bottom: 20px;
}

.product-card {
    background: white;
    border-bottom: solid $content-background-color 0.1px;

    .owner {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 15px;

        .information {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-left: 20px;

            .information-text {
                display: flex;
                align-items: center;
                max-width: 220px;

                .nickname {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                    color: $kia-dark-blue;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                app-chip {
                    margin-left: 8px;
                }
            }

            .user-rating-number {
                font-style: normal;
                font-size: 16px;
                line-height: 18px;
                color: $kia-dark-blue;
                margin-left: 10px;
            }
        }
    }

    .description-container {
        padding: 10px 15px;
        border-bottom: solid $content-background-color 0.1px;

        .title {
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
            color: $light-text-color;
            text-transform: uppercase;
        }

        .content {
            margin-top: 4px;
            font-style: italic;
            font-size: 14px;
            line-height: 16px;
            color: $kia-dark-blue;
            overflow-wrap: break-word;
        }
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 6px;
    box-sizing: border-box;
    height: 60px;
    background: white;

    > button {
        height: 45px;
        padding: 0 8px;
        margin-right: 6px;
        margin-left: 6px;

        &.message {
            flex: 2;
        }

        &.buy {
            flex: 2;
        }

        &.modify {
            flex: 2;
        }

        &.delete {
            flex: 3;
        }

        &.cancel-lot {
            flex: 1;
        }

        &.add-to-lot,
        &.remove-from-lot {
            flex: 1;
        }
    }

    .bg-yellow {
        color: $kia-dark-blue;
        background: $kia-yellow;
    }
}

.warning-message {
    display: flex;
    align-items: center;
    background-color: $kia-light-orange;
    color: $kia-orange;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 20px;

    > mat-icon {
        margin-right: 10px;
    }

    .text {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
    }
}

a {
    text-decoration: none;
    color: $light-text-color;
}

.share {
    display: flex;
    padding: 12px;
    background: white;

    > button {
        width: 100%;
        height: 46px;

        .m-5 {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

app-c2c-regulation {
    margin-top: 20px;
}
