<div class="header">
    <div>
        <div class="title" data-qa="productTitle">{{ product?.label }}</div>
        <div class="information" data-qa="productBrand">{{ product?.brand?.label }}</div>
        <div class="information">
            {{ 'product.size.' + product?.size?.labelKey | translate }} -
            {{ 'condition.label.' + product?.condition?.labelKey | translate }}
        </div>
    </div>
    <div class="price" data-qa="productPrice">{{ product?.price | currency }}</div>
</div>

<app-shipping-promo
    class="shipping-promo"
    *ngIf="(isCurrentUser$ | async) === false"
    [content]="'product.detail.shipping-text' | translate: { fee: transportFee$ | async | number: '1.2-2' }"
></app-shipping-promo>

<div class="warning-message" *ngIf="product?.productStatus === ProductStatusEnum.UNAVAILABLE">
    <mat-icon>report_problem</mat-icon>
    <div class="text">{{ 'product.detail.unavailable' | translate }}</div>
</div>
<div class="warning-message" *ngIf="product?.productStatus === ProductStatusEnum.MODERATED">
    <mat-icon>report_problem</mat-icon>
    <div class="text">{{ 'product.detail.moderated' | translate }}</div>
</div>
<div
    class="warning-message"
    *ngIf="
        product?.owner?.status === UserProfileStatus.VACATION &&
        product?.productStatus !== ProductStatusEnum.UNAVAILABLE
    "
>
    <mat-icon>report_problem</mat-icon>
    <div class="text">{{ 'product.detail.vacation' | translate }}</div>
</div>
<div class="product-card">
    <div *ngIf="disableLinks" class="owner">
        <ng-container *ngTemplateOutlet="ownerTemplate"></ng-container>
    </div>
    <a *ngIf="!disableLinks" [routerLink]="['/profile', product?.owner?.id]" class="owner">
        <ng-container *ngTemplateOutlet="ownerTemplate"></ng-container>
    </a>
    <ng-template #ownerTemplate>
        <app-avatar [avatar]="product?.owner?.picture" [diameter]="45"></app-avatar>
        <div class="information">
            <div class="information-text">
                <div class="nickname" data-qa="productNickname">
                    {{ product?.owner?.nickname }}
                </div>

                <app-chip *ngIf="product?.owner?.type === UserType.PROFESSIONAL" variant="pink">Pro</app-chip>
            </div>
            <div class="flex-row">
                <app-rating [rate]="product?.owner?.rate || 0"></app-rating>
                <span class="user-rating-number" data-qa="commentNumber"> ({{ product?.owner?.totalRate }}) </span>
            </div>
        </div>
        <mat-icon *ngIf="!disableLinks">chevron_right</mat-icon>
    </ng-template>

    <div class="description-container">
        <div class="title">{{ 'product.detail.ownerText' | translate }}</div>
        <div class="content" data-qa="productDescription" [innerHTML]="product?.description | hashtag | safeHtml"></div>
    </div>

    <app-product-detail [product]="product" [disableLinks]="disableLinks"></app-product-detail>
</div>

<div class="actions" *ngIf="product?.productStatus !== ProductStatusEnum.UNAVAILABLE && !creatingLot; else back">
    <ng-container *ngIf="(isCurrentUser$ | async) === true">
        <a
            kia-button
            class="modify"
            [routerLink]="['/product', product?.id, 'update']"
            data-qa="updateProduct"
            appDisableIfUserBlocked
        >
            {{ 'common.modify' | translate }}
        </a>
        <button
            type="button"
            kia-button
            variant="bordered"
            class="delete"
            (click)="delete()"
            data-qa="btnDeleteFromBundle"
            appDisableIfUserBlocked
        >
            {{ 'product.delete' | translate }}
        </button>
    </ng-container>

    <ng-container *ngIf="(isCurrentUser$ | async) === false">
        <button
            type="button"
            kia-button
            variant="bordered"
            class="message"
            (click)="startDiscussion()"
            data-qa="btnStartDiscussion"
            *ngIf="product?.owner?.type !== UserType.PROFESSIONAL"
            appDisableIfUserBlocked
            [disabled]="product?.owner?.hasBlockedMe || product?.owner?.status === UserProfileStatus.VACATION"
        >
            {{ 'common.contactSeller' | translate }}
        </button>

        <ng-container *ngIf="(hasCartForSellerId$ | async) === true">
            <ng-container *ngIf="canAddToLot$ | async">
                <button
                    type="button"
                    kia-button
                    (click)="onAddToLotButtonClicked()"
                    data-qa="btnAddToLot"
                    appDisableIfUserBlocked
                    [disabled]="product?.owner?.hasBlockedMe || product?.owner?.status === UserProfileStatus.VACATION"
                >
                    {{ 'common.addToLot' | translate }}
                </button>
            </ng-container>

            <ng-container *ngIf="canRemoveFromLot$ | async">
                <button
                    type="button"
                    kia-button
                    (click)="onRemoveFromLotButtonClicked()"
                    data-qa="btnRemoveFromLot"
                    appDisableIfUserBlocked
                    [disabled]="product?.owner?.hasBlockedMe || product?.owner?.status === UserProfileStatus.VACATION"
                >
                    {{ 'common.removeFromLot' | translate }}
                </button>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="(hasCartForSellerId$ | async) === false">
            <button
                type="button"
                kia-button
                class="buy"
                (click)="buy()"
                data-qa="btnBuy"
                [disabled]="product?.owner?.hasBlockedMe || product?.owner?.status === UserProfileStatus.VACATION"
                appDisableIfUserBlocked
            >
                {{ 'common.buy' | translate }}
            </button>
            <button
                type="button"
                kia-button
                class="bg-yellow"
                *ngIf="(hasMoreThanOneProductInDressing$ | async) && (canCreateLot$ | async)"
                (click)="createLot()"
                data-qa="btnCreateLot"
                [disabled]="product?.owner?.hasBlockedMe || product?.owner?.status === UserProfileStatus.VACATION"
                appDisableIfUserBlocked
            >
                {{ 'common.createLot' | translate }}
            </button>
        </ng-container>
    </ng-container>
</div>

<ng-template #back>
    <div class="actions">
        <button type="button" kia-button variant="bordered" class="cancel-lot" (click)="close()" data-qa="cancelBundle">
            {{ 'common.back' | translate }}
        </button>
    </div>
</ng-template>
<app-user-blocked-warning [user]="product?.owner"></app-user-blocked-warning>

<div class="share" *ngIf="canShareProduct">
    <button type="button" mat-stroked-button color="primary" (click)="onShareButtonClicked()">
        <mat-icon class="m-5">share</mat-icon>
        <span class="m-5">{{ 'product.detail.share.label' | translate }}</span>
    </button>
</div>

<app-c2c-regulation></app-c2c-regulation>
