<div class="payment-products-container" appDeviceClasses>
    <div class="payment-products-content">
        <img src="/assets/images/Tunnel_commande_BonusKiabi_Bg.jpg" alt="KIABI store" />
        <div class="incentive">
            <img src="/assets/svg/Generique_icon_bonus_Kiabi.svg" alt="" />
            <div class="incentive-content">
                <div class="incentive-content-top">{{ 'payment.recapIncentiveTop' | translate }}</div>
                <div class="incentive-content-bottom">
                    <span
                        [innerHTML]="
                            'payment.recapIncentiveBottom'
                                | translate: { amount: (lot?.productsFinalPrice || 0) * 0.2 | currency }
                        "
                    ></span>
                    <a target="_blank" routerLink="/how-it-works" *ngIf="false">{{ 'payment.more' | translate }}</a>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="product-line" *ngFor="let product of lot?.products; let last = last">
                <app-product-line [product]="product" [showArrow]="false" [showPrice]="false"></app-product-line>
                <mat-divider *ngIf="!last"></mat-divider>
            </div>
        </div>
    </div>
    <app-payment-lines [lot]="lot"></app-payment-lines>
    <div class="payment-products-footer-actions">
        <button type="button" mat-stroked-button color="primary" data-qa="btnReturn" mat-dialog-close>
            {{ 'common.back' | translate }}
        </button>
        <button type="submit" mat-flat-button color="primary" (click)="next()" data-qa="btnValidate">
            {{ 'common.validate' | translate }}
        </button>
    </div>
</div>
