@import 'src/variables';

app-payment-products {
    height: 100%;

    .payment-products-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $light-text-color;

        &.desktop {
            max-height: 80vh;
        }

        .payment-products-content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            overflow-y: auto;

            > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            .incentive {
                position: relative;
                width: 90%;
                min-height: 80px;
                margin-top: 30px;
                margin-bottom: 18px;
                background-color: rgba(4, 0, 55, 0.8);
                border-radius: 8px;
                padding: 12px 24px;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                color: white;

                .incentive-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    margin-left: 18px;

                    .incentive-content-top {
                        font-size: $small-text-font-size;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .incentive-content-bottom {
                        font-size: 14px;
                        color: $light-text-color;
                        display: block;

                        .white {
                            color: white;
                        }

                        .bold {
                            font-size: 18px;
                            font-weight: bold;
                        }

                        > a {
                            margin-left: 6px;
                            color: $light-text-color;
                            font-size: $small-text-font-size;
                        }
                    }
                }
            }

            .products {
                position: relative;
                background-color: white;
                width: 90%;
                padding: 0 12px;
                box-sizing: border-box;
                margin-bottom: 20px;
            }
        }

        .payment-products-footer-actions {
            width: 100%;
            background-color: #f7f7f8;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 24px max(8px, env(safe-area-inset-bottom));
            box-sizing: border-box;

            > button {
                height: 45px;
                font-size: 16px;
                flex: 1;

                &:first-child {
                    margin-right: 12px;
                }
            }
        }
    }

    app-payment-lines {
        padding: 12px 30px;
        background: white;
        box-shadow: 0 0 10px 0 rgba(4, 0, 55, 0.3);
    }
}
