@import 'src/variables';

:host {
    width: 100vw;
    z-index: 1000;
    background-color: #ffffff;
    box-sizing: border-box;

    .toolbar {
        height: $header-height;
        position: relative;

        mat-toolbar {
            position: absolute;
            top: 0;
            z-index: 3;
            padding: 0;
            background-color: #fff;
            height: 100%;

            .back-button {
                color: $light-text-color;
                font-size: $normal-text-font-size;

                mat-icon {
                    width: 28px;
                    height: 28px;
                    font-size: 28px;
                }
            }
        }

        .toolbar-box-shadow {
            position: absolute;
            top: calc(20px + env(safe-area-inset-top));
            left: 0;
            width: 100%;
            height: 40px;
            z-index: 2;
            border-radius: 20%;
            box-shadow: 0 0 6px 5px rgba(204, 204, 215, 0.7);
        }
    }
}
