<div class="toolbar safe-header">
    <mat-toolbar>
        <button type="button" class="back-button" mat-button (click)="back()" data-qa="btnReturn">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <span>{{ 'common.back' | translate }}</span>
        </button>
    </mat-toolbar>
    <div class="toolbar-box-shadow"></div>
</div>
