<button
    type="button"
    class="close-button"
    mat-icon-button
    mat-dialog-close
    tabindex="-1"
    [attr.aria-label]="'common.close' | translate"
>
    <mat-icon>clear</mat-icon>
</button>
<div class="icon-container">
    <ng-container [ngSwitch]="type">
        <app-iban-icon [width]="60" [height]="40" *ngSwitchCase="'iban'"></app-iban-icon>
        <app-rib-icon [width]="60" [height]="40" *ngSwitchCase="'rib'"></app-rib-icon>
        <app-identity-icon [width]="60" [height]="40" *ngSwitchCase="'identity'"></app-identity-icon>
    </ng-container>
    <img class="state-icon" src="assets/svg/icon-invalid.svg" alt="invalid icon" />
</div>
<div class="title">
    {{ 'profile.bankDetails.invalidDocument.' + type + '.' + status + '.title' | translate }}
</div>
<div
    class="subtitle"
    [innerHTML]="'profile.bankDetails.invalidDocument.' + type + '.' + status + '.subtitle' | translate"
></div>
<div
    class="subtitle bold"
    *ngIf="reason"
    [innerHTML]="'profile.bankDetails.invalidDocument.reason' | translate: { reason: reason }"
></div>
<div class="buttons">
    <button type="button" mat-stroked-button mat-dialog-close color="primary">
        {{ 'common.close' | translate }}
    </button>
    <button type="button" mat-flat-button mat-dialog-close="true" color="primary">
        {{ 'common.modify' | translate }}
    </button>
</div>
