<section appDeviceClasses *ngIf="canDisplay$ | async">
    <h3>{{ 'popularBrands.title' | translate }}</h3>

    <mat-chip-list class="chip-list">
        <mat-chip
            *ngFor="let b of popularBrands$ | async; trackBy: trackById"
            routerLink="/search"
            [queryParams]="{ brands: b.id }"
            [attr.aria-label]="b.label"
            (click)="onLinkClicked()"
        >
            <div class="text">{{ b.label }}</div>
        </mat-chip>
    </mat-chip-list>
</section>
