@import 'src/variables';

:host {
    display: flex;

    &.handset {
        justify-content: flex-start;
    }
    &.desktop {
        justify-content: center;
    }

    section {
        padding: 20px;

        &.handset {
            width: calc(100vw - 40px);
        }
        &.desktop {
            width: $desktop-max-width;
        }

        mat-chip {
            cursor: pointer;
            min-height: 36px;
        }
    }
}
