@import 'src/variables';

:host {
    display: flex;

    &.handset {
        justify-content: flex-start;
    }
    &.desktop {
        justify-content: center;
    }

    section {
        padding: 20px;

        content-visibility: auto;
        &.handset {
            contain-intrinsic-size: 541px;
        }
        &.desktop {
            contain-intrinsic-size: 641px;
        }

        &.handset {
            width: calc(100vw - 40px);
        }
        &.desktop {
            width: $desktop-max-width;
        }
    }

    h4 {
        margin-top: -6px;
        color: $light-text-color;
    }

    .search-card-title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search-card-title {
            font-size: 14px;
            color: $kia-dark-blue;
        }

        button[mat-icon-button] {
            color: $medium-text-color;

            &.yellow {
                color: $kia-yellow;
            }
        }
    }

    .search-criteria-container {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        color: $medium-text-color;
    }

    .products {
        margin-top: 16px;

        &.handset {
            display: flex;
            overflow: auto;

            app-product-card {
                margin-right: 8px;
                width: 180px;
            }
        }

        &.desktop {
            display: grid;
            grid-gap: 6px;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
            row-gap: 30px;
            grid-column-gap: 20px;
            grid-row-gap: 30px;

            app-product-card {
                width: 100%;
            }
        }
    }

    .see-all-button {
        display: block;
        border-radius: 28px;
        width: 160px;
        font-size: 15px;
        margin: 12px auto 0;
    }
}
