<section *ngIf="canDisplay$ | async" appDeviceClasses>
    <h3>{{ 'home.sections.last-search.title' | translate }}</h3>
    <h4>{{ 'home.sections.last-search.subtitle' | translate }}</h4>

    <div class="products" appDeviceClasses>
        <app-product-card
            *ngFor="let product of displayedProducts$ | async; trackBy: trackById"
            [product]="product"
            [displayOwner]="true"
            (productClickedEvent)="onProductClicked($event)"
        ></app-product-card>
    </div>

    <a
        routerLink="/search"
        [queryParams]="queryParams$ | async"
        kia-button
        class="see-all-button"
        (click)="onSeeAllButtonClicked()"
    >
        {{ 'common.seeAll' | translate }}
    </a>
</section>
