<div class="loader-container" *ngIf="isLoading$ | async">
    <mat-spinner color="primary" [diameter]="30"></mat-spinner>
</div>

<ng-container *ngIf="product">
    <div class="product-scroll" #scrollProducts>
        <!-- TODO : refactor to use <app-breadcrumb> component -->
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ol>
                <li>
                    <a [routerLink]="['/']"> {{ 'navigation.home' | translate }}</a>
                </li>
                <li>
                    <a
                        [routerLink]="['/search']"
                        [queryParams]="{ category: product.productType?.subCategory?.category?.id }"
                    >
                        {{ 'product.category.' + product.productType?.subCategory?.category?.labelKey | translate }}
                    </a>
                </li>
                <li>
                    <a
                        [routerLink]="['/search']"
                        [queryParams]="{
                            category: product.productType?.subCategory?.category?.id,
                            subCategory: product.productType?.subCategory?.id
                        }"
                    >
                        {{ 'product.sub_category.' + product.productType?.subCategory?.labelKey | translate }}
                    </a>
                </li>
                <li>{{ product.label }}</li>
            </ol>
        </nav>

        <div class="content">
            <app-product-desktop-photo class="photo" [product]="product"></app-product-desktop-photo>
            <app-product-desktop-description
                class="description"
                [product]="product"
                [isInLot]="(isInLot$ | async) === true"
                (closeEvent)="close()"
            ></app-product-desktop-description>
        </div>

        <hr />

        <app-user-products-desktop
            class="product-list"
            [hiddenProducts]="[product]"
            [owner]="product.owner"
            [scrollEl]="scrollProducts"
            [product]="product"
        ></app-user-products-desktop>
    </div>

    <div
        class="cart mat-elevation-z2"
        [class.displayed]="(isCurrentUser$ | async) === false && (hasCartForSellerId$ | async) === true"
    >
        <ng-container *ngIf="(isCurrentUser$ | async) === false && (hasCartForSellerId$ | async) === true">
            <div class="lot-pricing">
                <div class="product-price" data-qa="productPrice">
                    {{ (lotOpenBySellerId$ | async)?.totalPrice | currency }}
                </div>
                <div class="shipping-cost" data-qa="shippingCost">
                    {{ 'chat.shippingCostNotIncluded' | translate }}
                </div>
            </div>

            <div class="lot-actions">
                <app-images-mini [products]="(lotOpenBySellerId$ | async)?.products || []"></app-images-mini>
                <a
                    type="button"
                    kia-button
                    data-qa="btnContinue"
                    [routerLink]="['/chat', (discussionByLotId$ | async)?.id]"
                >
                    {{ 'common.buy' | translate }}
                </a>
            </div>
        </ng-container>
    </div>
</ng-container>
