@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
}

.breadcrumb {
    grid-column-end: span 2;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px 0 24px;

    ol {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        color: $light-text-color;
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
            a {
                text-decoration: none;
                color: $light-text-color;
                outline: none;

                &:focus {
                    text-decoration: underline;
                }
            }
        }

        li + li::before {
            margin: 0 10px;
            content: '/';
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    app-product-desktop-photo {
        flex: 1;
        padding: 0px 8px 12px 24px;
    }

    app-product-desktop-description {
        padding: 12px 24px 12px 8px;
    }
}

.description {
    width: 380px;
}

app-c2c-regulation {
    margin: 20px;
}

.product-scroll {
    flex: 1;
    overflow: visible auto;
}

hr {
    border-top: 1px solid $kia-lighten-dark-blue;
}

.cart {
    background: $app-background-color;
    position: absolute;
    bottom: 70px;
    right: 30px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 16px;
    box-sizing: border-box;
    transition: 300ms ease-in-out;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    z-index: 1000;

    &.displayed {
        opacity: 1;
        transform: scale(1);
    }

    .lot-pricing {
        display: flex;
        font-weight: bold;
        color: $kia-dark-blue;
        margin-bottom: 4px;

        .nb-products {
            font-size: $normal-text-font-size;
        }

        .product-price {
            font-size: 16px;
        }

        .shipping-cost {
            margin-left: 10px;
            font-size: $small-text-font-size;
            color: $light-text-color;
            font-weight: 400;
        }
    }

    .lot-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > button {
            height: 45px;
            padding: 0 22px;
        }
    }
}
