<div class="container">
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        tabindex="-1"
        class="close-button"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>

    <div class="icon-container">
        <mat-icon>priority_high</mat-icon>
    </div>

    <div class="content">
        <div [innerHTML]="'deleteAccount.title' | translate: { email: mail$ | async }"></div>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'deleteAccount.placeholder' | translate }}</mat-label>
            <input
                type="text"
                matInput
                [placeholder]="'deleteAccount.placeholder' | translate"
                [formControl]="email!"
            />
        </mat-form-field>

        <div>
            <button
                kia-button
                variant="warn"
                type="button"
                (click)="onConfirmButtonClicked()"
                [disabled]="!!email?.invalid"
            >
                {{ 'deleteAccount.confirm' | translate }}
            </button>
        </div>
    </div>
</div>
