@import 'src/variables';

$selected-color: #edf7ed;

.shipping-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.desktop {
        max-height: 80vh;
    }

    .no-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $darker-background-color;
        padding: 6px 6px 20px 6px;
        box-sizing: border-box;

        > p {
            color: $kia-dark-blue;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }
    }

    .select-address {
        background-color: $kia-dark-blue;
        color: white;
        display: flex;
        align-items: center;
        padding: 10px 12px;
        box-sizing: border-box;

        .mat-form-field-wrapper {
            padding: 0 !important;
        }

        > * {
            flex: 1;
        }

        > p {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            margin-right: 6px;
        }
    }

    .widget-container {
        position: relative;
        flex: 1;
        overflow-y: auto;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.12);
        }

        .widget-loading {
            z-index: 10;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #zone-widget {
            z-index: 0;
            height: 100%;
            overflow-y: auto;
        }

        .widget-failed {
            z-index: 20;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
                text-align: center;
                margin: 10px;
            }

            button {
                margin-top: 12px;
            }
        }
    }
}

.MRW-Content {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;

    .MRW-Results {
        flex: 1 !important;
        overflow-y: auto !important;
    }
}

.MR-Widget {
    border: none !important;
    margin: 0 !important;

    .MRW-Title {
        display: none;
    }
}

.MRW-Search {
    background-color: #f2f2f5 !important;
}

.MRW-Results {
    margin: 0 !important;
}

.MR-Widget .MRW-Results {
    height: auto !important;
}

.PR-List-Item {
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 24px !important;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5ea;
    border-left: none !important;
    font-family: Arial, sans-serif !important;
    margin-bottom: 0 !important;
    position: relative !important;

    > * {
        color: $medium-text-color !important;
        font-size: 12px !important;
    }

    .PR-Name {
        color: $kia-dark-blue !important;
        font-size: 16px !important;
    }

    &.PR-Selected {
        background-color: $selected-color !important;
        border-left: 8px solid $kia-green !important;
    }

    &.PR-Selected:before {
        position: absolute;
        right: 16px;
        top: 16px;
    }
}

.Detail-Selected {
    background-color: $selected-color !important;

    .InfoWindowFull-Hours {
        padding: 20px 30px;
        box-sizing: border-box;

        .PR-Hours {
            font-family: Arial, sans-serif !important;

            .d {
                background: white !important;
            }

            th {
                font-size: $normal-text-font-size !important;
                color: $medium-text-color !important;
                font-weight: normal;
            }

            td {
                font-size: $normal-text-font-size !important;
                color: $kia-dark-blue;
            }
        }
    }

    .InfoWindowFull-Image {
        display: flex !important;
        justify-content: center !important;
        width: 100% !important;
        padding: 24px 0 !important;
    }
}

.shipping-actions {
    width: 100%;
    background-color: #f7f7f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px max(8px, env(safe-area-inset-bottom));
    box-sizing: border-box;

    > button {
        height: 45px;
        font-size: 16px;
        flex: 2;
    }

    > .back {
        flex: 1;
        margin-right: 10px;
    }

    .chose-relay-btn {
        padding: 0 12px;
    }
}
