<div class="shipping-container" appDeviceClasses>
    <div class="address-management-container">
        <div class="no-address" *ngIf="(hasAddresses$ | async) === false; else selectAddress">
            <p>{{ 'payment.needDefaultAddress' | translate }}</p>
            <button
                type="button"
                mat-flat-button
                color="primary"
                (click)="openAddAddressDialog()"
                data-qa="btnOpenAdressDialog"
            >
                {{ 'payment.needDefaultAddressButton' | translate }}
            </button>
        </div>
        <ng-template #selectAddress>
            <div class="select-address" data-qa="selectAdress">
                <p>{{ 'payment.displayRelayNear' | translate }}</p>
                <mat-form-field class="white-form-field">
                    <mat-label>{{ 'profile.link.myAddresses' | translate }}</mat-label>
                    <mat-select [formControl]="addressControl!" data-qa="adressSelecter">
                        <mat-option *ngFor="let address of addresses$ | async" [value]="address" data-qa="adressName">
                            {{ address.addressName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </ng-template>
    </div>
    <div class="widget-container">
        <ng-container *ngIf="(hasAddresses$ | async) === false">
            <div class="overlay"></div>
        </ng-container>

        <ng-container *ngIf="(hasAddresses$ | async) === true">
            <!-- Widget loading -->
            <div class="widget-loading" *ngIf="(widgetStatus$ | async) === 'loading'">
                <mat-spinner color="primary" [diameter]="30"></mat-spinner>
            </div>

            <!-- Widget -->
            <div
                id="zone-widget"
                data-qa="zoneWidget"
                *ngIf="displayWidget"
                (click)="detectChanges()"
                (cdkObserveContent)="onParcelShopContentChanged($event)"
                [hidden]="(widgetStatus$ | async) !== 'loaded'"
            ></div>

            <!-- Widget failed to load -->
            <div class="widget-failed" *ngIf="(widgetStatus$ | async) === 'failed'">
                <div>
                    {{ 'payment.mondialRelay.notAvailable' | translate }}
                </div>

                <button type="button" mat-flat-button color="primary" (click)="reloadMRButtonClicked()">
                    {{ 'payment.mondialRelay.reload' | translate }}
                </button>
            </div>
        </ng-container>
    </div>
    <!-- Parcelshop code -->
    <input #idRelay type="hidden" id="parcel-shop-code" name="ParcelShopCode" />

    <div class="shipping-actions">
        <button type="button" class="back" mat-stroked-button color="primary" (click)="goBack()" data-qa="btnReturn">
            {{ 'common.back' | translate }}
        </button>
        <button
            type="button"
            class="chose-relay-btn"
            kia-button
            (click)="confirm()"
            [disabled]="!idRelay.value"
            data-qa="btnConfirm"
        >
            {{ 'payment.choseRelay' | translate }}
        </button>
    </div>
</div>
