@import 'src/variables';

.title-container {
    color: $kia-dark-blue;
    text-align: center;
    margin-bottom: 20px;

    .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
    }

    .subtitle {
        font-style: normal;
        font-size: 10px;
        line-height: 12px;
    }
}

.example {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .and {
        margin: 0 10px;
    }

    .image-container {
        width: 80px;
        height: auto;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        .orientation {
            position: absolute;
            bottom: 4px;
            right: 0;
            background-color: $kia-dark-blue;
            color: $app-background-color;
            text-transform: uppercase;
            border-radius: 4px;
            padding: 2px;
            font-size: 12px;
        }
    }
}
