<div class="title-container">
    <div class="title">
        {{ 'profile.bankDetails.editIdentity.type.title' | translate }}
    </div>
    <div class="subtitle">
        {{ 'profile.bankDetails.editIdentity.type.subtitle' | translate }}
    </div>
</div>
<app-edit-identity-document-card
    (selected)="documentTypeChanged.emit($event)"
    [group]="identityForm"
    [type]="documentType.ID_CARD"
>
    <div class="example">
        <div class="image-container">
            <img src="assets/images/identities/id_card_recto.png" alt="id card recto" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.recto' | translate }}</span>
        </div>
        <span class="and">+</span>
        <div class="image-container">
            <img src="assets/images/identities/id_card_verso.png" alt="id card verso" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.verso' | translate }}</span>
        </div>
    </div>
</app-edit-identity-document-card>
<app-edit-identity-document-card
    (selected)="documentTypeChanged.emit($event)"
    [group]="identityForm"
    [type]="documentType.PASSPORT_EU"
>
    <div class="example">
        <div class="image-container">
            <img src="assets/images/identities/passport.png" alt="id card recto" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.doublePage' | translate }}</span>
        </div>
    </div>
</app-edit-identity-document-card>
<app-edit-identity-document-card
    (selected)="documentTypeChanged.emit($event)"
    [group]="identityForm"
    [type]="documentType.PASSPORT_OUTSIDE_EU"
>
    <div class="example">
        <div class="image-container">
            <img src="assets/images/identities/passport.png" alt="id card recto" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.doublePage' | translate }}</span>
        </div>
    </div>
</app-edit-identity-document-card>
<app-edit-identity-document-card
    *ngIf="driverLicenceEnabled"
    (selected)="documentTypeChanged.emit($event)"
    [group]="identityForm"
    [type]="documentType.DRIVER_LICENCE"
>
    <div class="example">
        <div class="image-container">
            <img src="assets/images/identities/old_driver_licence_recto.png" alt="id card recto" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.recto' | translate }}</span>
        </div>
        <span class="and">+</span>
        <div class="image-container">
            <img src="assets/images/identities/old_driver_licence_verso.png" alt="id card verso" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.verso' | translate }}</span>
        </div>
    </div>
    <div class="example">
        <div class="image-container">
            <img src="assets/images/identities/driver_licence_recto.png" alt="id card recto" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.recto' | translate }}</span>
        </div>
        <span class="and">+</span>
        <div class="image-container">
            <img src="assets/images/identities/driver_licence_verso.png" alt="id card verso" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.verso' | translate }}</span>
        </div>
    </div>
</app-edit-identity-document-card>
<app-edit-identity-document-card
    (selected)="documentTypeChanged.emit($event)"
    [group]="identityForm"
    [type]="documentType.RESIDENCE_PERMIT"
>
    <div class="example">
        <div class="image-container">
            <img src="assets/images/identities/residence_permit_recto.png" alt="id card recto" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.recto' | translate }}</span>
        </div>
        <span class="and">+</span>
        <div class="image-container">
            <img src="assets/images/identities/residence_permit_verso.png" alt="id card verso" />
            <span class="orientation">{{ 'profile.bankDetails.editIdentity.verso' | translate }}</span>
        </div>
    </div>
</app-edit-identity-document-card>
