<h2 mat-dialog-title>{{ 'offline-notification.title' | translate }}</h2>
<mat-dialog-content>
    <div class="picture-container">
        <app-offline-notification-icon></app-offline-notification-icon>
    </div>
    <p>{{ 'offline-notification.messages.0' | translate }}</p>
    <p>{{ 'offline-notification.messages.1' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button kia-button type="button" mat-dialog-close>{{ 'common.closeDialog' | translate }}</button>
</mat-dialog-actions>
