<svg xmlns="http://www.w3.org/2000/svg" width="30" height="34.108" viewBox="0 0 30 34.108">
    <g transform="translate(-15 -9.9)">
        <g transform="translate(15 16.02)">
            <path
                class="a"
                d="M44.23,39.221A3.008,3.008,0,0,0,45,37.21a2.977,2.977,0,0,0-3-3H36.141a18.39,18.39,0,0,0,.813-5.05V28.18a3.972,3.972,0,0,0-3.98-3.98H31.99a1,1,0,0,0-.984.77l-.556,2.14c-.77,3.039-3.167,6.419-5.692,7.019A3.028,3.028,0,0,0,21.976,32.2H15.984a.968.968,0,0,0-.984.984V51.2a.968.968,0,0,0,.984.984h5.991a2.94,2.94,0,0,0,2.7-1.712L28.1,51.632a10.687,10.687,0,0,0,3.466.556H39.95a2.977,2.977,0,0,0,3-3,3.215,3.215,0,0,0-.214-1.113,2.992,2.992,0,0,0,2.225-2.91,3.092,3.092,0,0,0-.77-2.011,3.008,3.008,0,0,0,.77-2.011A2.914,2.914,0,0,0,44.23,39.221ZM22.96,49.193a.968.968,0,0,1-.984.984H16.969V34.214h5.007a.968.968,0,0,1,.984.984Zm17.033-8.987h1.969a.984.984,0,1,1,0,1.969H39.95a.984.984,0,0,0,0,1.969h2.011a.984.984,0,1,1,0,1.969H39.95a.984.984,0,0,0,0,1.969.984.984,0,0,1,0,1.969H31.6a8.886,8.886,0,0,1-2.825-.471l-3.809-1.07V36.14a8.1,8.1,0,0,0,4.494-2.91,14.63,14.63,0,0,0,2.953-5.649l.342-1.412h.214a2.009,2.009,0,0,1,2.011,2.011v.984a16.264,16.264,0,0,1-.942,5.05H31.99a.984.984,0,0,0,0,1.969h9.971a.984.984,0,1,1,0,1.969H39.95a.968.968,0,0,0-.984.984A1.08,1.08,0,0,0,39.993,40.206Z"
                transform="translate(-15 -24.2)"
            />
        </g>
        <g transform="translate(19.023 38.057)">
            <path
                class="a"
                d="M26.369,76.681a.968.968,0,0,1-.984.984.984.984,0,0,1,0-1.969A.968.968,0,0,1,26.369,76.681Z"
                transform="translate(-24.4 -75.694)"
            />
        </g>
        <g transform="translate(32.974 9.9)">
            <path
                class="a"
                d="M57.984,9.9a.968.968,0,0,0-.984.984v2.054a.984.984,0,0,0,1.969,0V10.884A.968.968,0,0,0,57.984,9.9Z"
                transform="translate(-57 -9.9)"
            />
        </g>
        <g transform="translate(26.608 12.607)">
            <g transform="translate(0 0)">
                <path
                    class="a"
                    d="M45.238,17.926l-1.412-1.412a1,1,0,1,0-1.412,1.412l1.412,1.412a1,1,0,0,0,1.412-1.412Z"
                    transform="translate(-42.125 -16.225)"
                />
            </g>
        </g>
        <g transform="translate(37.949 12.607)">
            <g transform="translate(0 0)">
                <path
                    class="a"
                    d="M71.738,16.514a1.007,1.007,0,0,0-1.412,0l-1.412,1.412a1,1,0,1,0,1.412,1.412l1.412-1.412A1.007,1.007,0,0,0,71.738,16.514Z"
                    transform="translate(-68.625 -16.225)"
                />
            </g>
        </g>
    </g>
</svg>
