<button type="button" class="case" (click)="search('category')" [disabled]="disableLinks">
    <div class="content">
        <div class="title">
            {{ 'product.detail.category' | translate }}
        </div>
        <div class="subtitle" data-qa="productCategory">
            {{ 'product.category.' + product?.productType?.subCategory?.category?.labelKey | translate }}
        </div>
    </div>
    <mat-icon *ngIf="!disableLinks">chevron_right</mat-icon>
</button>

<button type="button" class="case" (click)="search('subCategory')" [disabled]="disableLinks">
    <div class="content">
        <div class="title">
            {{ 'product.detail.subCategory' | translate }}
        </div>
        <div class="subtitle" data-qa="productSubCategory">
            {{ 'product.sub_category.' + product?.productType?.subCategory?.labelKey | translate }}
        </div>
    </div>
    <mat-icon *ngIf="!disableLinks">chevron_right</mat-icon>
</button>

<button type="button" class="case" (click)="search('productType')" [disabled]="disableLinks">
    <div class="content">
        <div class="title">
            {{ 'product.detail.productType' | translate }}
        </div>
        <div class="subtitle" data-qa="productType">
            {{ 'product.type.' + product?.productType?.labelKey | translate }}
        </div>
    </div>
    <mat-icon *ngIf="!disableLinks">chevron_right</mat-icon>
</button>

<button type="button" class="case" (click)="search('brands')" [disabled]="disableLinks">
    <div class="content">
        <div class="title">
            {{ 'product.detail.brand' | translate }}
        </div>
        <div class="subtitle brand-subtitle" data-qa="productBrand">
            <span>{{ product?.brand?.label }}</span>
            <button
                type="button"
                mat-icon-button
                color="primary"
                class="suggest-button"
                *ngIf="(isLogged$ | async) === true && product?.brand?.id === otherBrandId"
                [matTooltip]="'product.detail.suggest-brand' | translate"
                (click)="onSuggestBrandButtonClicked($event)"
            >
                <mat-icon class="lightbulb-button material-icons-outlined">lightbulb</mat-icon>
            </button>
        </div>
    </div>
    <mat-icon *ngIf="!disableLinks">chevron_right</mat-icon>
</button>

<div class="two-cases">
    <div class="case">
        <div class="content">
            <div class="title">
                {{ 'product.detail.size' | translate }}
            </div>
            <div class="subtitle" data-qa="productSize">
                {{ 'product.size.' + product?.size?.labelKey | translate }}
            </div>
        </div>
    </div>
    <div class="case">
        <div class="content">
            <div class="title">
                {{ 'product.detail.seasonality' | translate }}
            </div>
            <div class="subtitle" data-qa="productSeasonality">
                {{ 'product.seasonality.' + product?.seasonality | translate }}
            </div>
        </div>
    </div>
</div>

<div class="case">
    <div class="content">
        <div class="title">
            {{ 'product.detail.colors' | translate: { count: product?.color?.length } }}
        </div>
        <div class="subtitle" data-qa="productColors">
            {{ color }}
        </div>
    </div>
</div>

<div class="two-cases">
    <div class="case">
        <div class="content">
            <div class="title">
                {{ 'product.detail.addedDate' | translate }}
            </div>
            <div class="subtitle">
                {{ product?.creationDate | date: 'dd/MM/yyyy HH:mm' }}
            </div>
        </div>
    </div>

    <div class="case" *ngIf="displayProductViews">
        <div class="content">
            <div class="title">
                {{ 'product.detail.views' | translate }}
            </div>
            <div class="subtitle">
                <ng-container *ngIf="(viewsLoading$ | async) === true">
                    <mat-spinner [diameter]="15"></mat-spinner>
                </ng-container>
                <ng-container *ngIf="(viewsLoading$ | async) === false">
                    <ng-container *ngIf="(views$ | async) === undefined">-</ng-container>
                    <ng-container *ngIf="(views$ | async) !== undefined">
                        {{ views$ | async | number }}
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>
