@import 'src/variables';

:host {
    .two-cases {
        display: flex;

        .case:first-child {
            border-right: solid $content-background-color 0.1px;
        }
    }

    .case {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        box-sizing: border-box;
        border: none;
        border-bottom: solid $content-background-color 0.1px;
        background-color: transparent;
        width: 100%;

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .title {
                font-style: normal;
                font-size: 12px;
                line-height: 14px;
                color: $light-text-color;
            }

            .subtitle {
                margin-top: 3px;
                font-style: normal;
                font-size: 16px;
                line-height: 18px;
                color: $kia-dark-blue;
                display: flex;
            }
        }

        mat-icon {
            color: $kia-lighten-dark-blue;
        }
    }

    .brand-subtitle {
        position: relative;

        .suggest-button {
            position: absolute;
            top: -16px;
            left: 38px;

            .lightbulb-button {
                color: $kia-dark-blue;
            }
        }
    }
}
