<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.cookies' | translate"
></app-header-with-title>

<div class="cookies-container" appDeviceClasses data-qa="cookies">
    <div class="title">{{ 'text.cookies.title' | translate }}</div>

    <div class="form" *ngIf="displayChangeConsentButton$ | async">
        <button mat-flat-button color="primary" (click)="onCookieConsentButtonClicked()">
            {{ 'profile.cookies.change' | translate }}
        </button>
    </div>

    <div class="text" [innerHTML]="'text.cookies.content' | translate | safeHtml"></div>
</div>
