<div class="document-card">
    <div class="content">
        <div class="icon-container">
            <app-iban-icon></app-iban-icon>
            <ng-container [ngSwitch]="ibanDocumentSimplifiedStatus$ | async">
                <img
                    *ngSwitchCase="SimplifiedDocumentStatus.NOT_FILLED"
                    class="state-icon"
                    src="assets/svg/icon-not-fill.svg"
                    alt="icon"
                />
                <img
                    *ngSwitchCase="SimplifiedDocumentStatus.TO_BE_VERIFIED"
                    class="state-icon"
                    src="assets/svg/icon-pending.svg"
                    alt="icon"
                />
                <img
                    *ngSwitchCase="SimplifiedDocumentStatus.ACCEPTED"
                    class="state-icon"
                    src="assets/svg/icon-valid.svg"
                    alt="icon"
                />
                <img
                    *ngSwitchCase="SimplifiedDocumentStatus.REJECTED"
                    class="state-icon"
                    src="assets/svg/icon-invalid.svg"
                    alt="icon"
                />
            </ng-container>
        </div>
        <div class="title">
            {{ 'profile.bankDetails.iban' | translate }}
        </div>
    </div>
    <div class="state" [ngSwitch]="ibanDocumentSimplifiedStatus$ | async">
        <button
            type="button"
            mat-flat-button
            color="primary"
            (click)="edit()"
            *ngSwitchCase="SimplifiedDocumentStatus.NOT_FILLED"
        >
            {{ 'profile.bankDetails.fillIn' | translate }}
        </button>
        <button
            type="button"
            mat-button
            class="secondary-button pending"
            (click)="openPendingValidationDialog()"
            *ngSwitchCase="SimplifiedDocumentStatus.TO_BE_VERIFIED"
        >
            {{ 'profile.bankDetails.pendingValidation' | translate }}
        </button>
        <button
            type="button"
            mat-button
            class="secondary-button rejected"
            (click)="openInvalidDocumentDialog()"
            *ngSwitchCase="SimplifiedDocumentStatus.REJECTED"
        >
            {{ 'profile.bankDetails.rejected' | translate }}
        </button>
        <button
            type="button"
            mat-button
            class="secondary-button"
            (click)="edit()"
            *ngSwitchCase="SimplifiedDocumentStatus.ACCEPTED"
        >
            {{ 'profile.bankDetails.edit' | translate }}
        </button>
    </div>
</div>
