@import 'src/variables';

.login-form {
    background-color: $content-background-color;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    max-width: 448px;
    margin: auto;

    &.handset {
        padding-bottom: calc(#{$footer-height} + 20px);
    }

    .spinner {
        height: 70vh;
        align-items: center;
    }

    .login-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 0;
        padding: 40px;
        margin: 40px 0;
        box-sizing: border-box;

        h1 {
            margin-top: 0;

            .subtitle {
                display: block;
                font-size: 0.7em;
            }
        }

        .login-button {
            margin-bottom: 12px;
        }

        a {
            width: 100%;
        }

        a.reset-password-link {
            text-align: center;
            margin-top: 20px;
        }

        .error-container {
            background-color: $kia-light-red;
            color: $kia-red;
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
            border-radius: 8px;
            padding: 12px;
            margin-bottom: 18px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            > button {
                color: $kia-red;
                border: none;
                background: none;
                padding: 0;
                text-decoration: underline;
                cursor: pointer;
                margin-top: 6px;
                font-size: 12px;

                &:focus {
                    outline: none;
                }
            }
        }

        .success-container {
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
            background-color: $kia-light-green;
            color: $kia-green;
            border-radius: 12px;
            padding: 12px;
            margin-bottom: 18px;
        }
    }

    app-other-links {
        margin-bottom: 20px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding: 0 24px 24px;

        .version {
            text-align: center;
            color: $light-text-color;
            padding-bottom: 12px;
        }

        .lemonway-information {
            margin-top: 20px;
            color: $light-text-color;
            text-align: center;

            .logo {
                vertical-align: middle;
                height: 30px;
                margin: 0 4px;
            }
        }
    }
}
