<app-main-header *ngIf="deviceService.isHandset$ | async"></app-main-header>

<!-- TODO : rewrite HTML to not use <form> on the entire page... -->
<!-- 💡 : do not use ngSubmit or type="submit" if you want the form to work with Samsung Pass -->
<form [formGroup]="loginForm!" (keyup.enter)="login()" class="login-form" name="loginForm" appDeviceClasses>
    <div class="spinner" *ngIf="isLoading$ | async">
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>
    <div class="login-container" *ngIf="(isLoading$ | async) === false">
        <h1>
            {{ 'login.title.0' | translate }} <span class="subtitle">{{ 'login.title.1' | translate }}</span>
        </h1>
        <mat-form-field>
            <mat-label>{{ 'login.email' | translate }}</mat-label>
            <input matInput formControlName="email" type="email" data-qa="email" autocomplete="email" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'login.password' | translate }}</mat-label>
            <input #passwordInputEl matInput formControlName="password" type="password" data-qa="password" />
            <button mat-icon-button matSuffix type="button" (click)="showOrHidePassword()">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm?.controls?.password?.errors?.invalidEmailOrPassword">
                {{ 'login.invalidEmailOrPassword.0' | translate }} <br />
                {{ 'login.invalidEmailOrPassword.1' | translate }}
            </mat-error>
        </mat-form-field>
        <div class="error-container" *ngIf="showEmailConfirmationError || showLoginError || showEmailResentError">
            <ng-container *ngIf="showEmailConfirmationError && !showEmailResentError">
                {{ 'login.notVerifiedEmail' | translate }}
                <button type="submit" (click)="onClickOnResend()">
                    {{ 'login.reSendEmail' | translate }}
                </button>
            </ng-container>
            <ng-container *ngIf="showLoginError">
                {{ 'login.invalidEmailOrPassword.0' | translate }} <br />
                {{ 'login.invalidEmailOrPassword.1' | translate }}
            </ng-container>
            <ng-container *ngIf="showEmailResentError">
                {{ 'error.FIREBASE_007' | translate }}
            </ng-container>
        </div>
        <div class="success-container" *ngIf="confirmationEmailSent">
            {{ 'login.confirmationEmailResent' | translate }}
        </div>
        <button
            kia-button
            type="button"
            (click)="login()"
            class="login-button"
            [disabled]="loginForm.invalid"
            data-qa="btnLogin"
        >
            {{ 'login.loginAction' | translate }}
        </button>
        <a
            class="kiabi-links-dark"
            [routerLink]="['/sign-up']"
            queryParamsHandling="preserve"
            [preserveFragment]="false"
            data-qa="btnRegister"
        >
            {{ 'login.registerAction' | translate }}
        </a>
        <a class="reset-password-link" routerLink="/reset-password" data-qa="btnResetPassword">
            {{ 'login.forgotYourPassword' | translate }}
        </a>
    </div>
    <app-other-links *ngIf="(isLoading$ | async) === false"></app-other-links>

    <div class="footer" *ngIf="(isLoading$ | async) === false">
        <div class="version">
            {{ 'profile.version' | translate: { number: appVersion } }}
        </div>
        <p class="lemonway-information" [innerHTML]="'profile.lemonwayInformation' | translate | safeHtml"></p>
    </div>
</form>
