@import 'src/variables';

.user-blocked-banner {
    background-color: $kia-red;
    padding: 10px 50px;
    font-size: 12px;
    box-sizing: border-box;
    height: $beta-banner-height;
    display: flex;
    align-items: center;
    text-align: center;

    &.handset {
        padding: 0;
    }

    div {
        flex: 1;
        color: white;
        text-decoration: none;
    }
}
