@import 'src/variables';

:host {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    background-color: white;
}

header {
    border-bottom: 1px solid #f7f7f7;
}
