<header>
    <app-beta-banner
        *ngIf="
            showBanner &&
            (userProfileSelectors.isNotBlockedByAdmin$ | async) &&
            (userProfileSelectors.isNotInVacationMode$ | async)
        "
    ></app-beta-banner>
    <app-user-blocked-banner *ngIf="userProfileSelectors.isBlockedByAdmin$ | async"></app-user-blocked-banner>
    <app-vacation-mode-banner *ngIf="userProfileSelectors.isInVacationMode$ | async"></app-vacation-mode-banner>
    <app-navigation-desktop></app-navigation-desktop>
    <app-categories-desktop></app-categories-desktop>
</header>
