app-credits {
    display: flex;
    flex-direction: column;

    &.handset {
        height: 100%;
    }

    .credits-tabs-container {
        flex: 1;

        &.desktop {
            display: flex;
            justify-content: center;
        }

        &.handset {
            height: 100%;
            overflow-y: auto;
        }
    }

    mat-tab-group {
        height: 100%;

        &.desktop {
            width: 650px;

            mat-tab-header {
                box-shadow: 0 0 12px #0400372e;
            }
        }

        .mat-tab-body-wrapper {
            height: 100%;
            padding: 0;
        }
    }

    .mat-tab-label-container {
        height: 62px;

        .mat-tab-list {
            display: flex;
            align-items: center;

            .mat-tab-labels {
                flex: 1;
            }
        }
    }

    .spinner-container {
        height: 200px;
        display: flex;

        mat-spinner {
            margin: auto;
        }
    }
}
