<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.myJackpots' | translate"
    [icon]="'assets/svg/Profil_Cagnottes_icon.svg'"
></app-header-with-title>
<div class="credits-tabs-container" appDeviceClasses>
    <mat-tab-group mat-stretch-tabs appDeviceClasses>
        <mat-tab [label]="'profile.cashCredit.cash' | translate">
            <app-cash-credit
                *ngIf="!loading"
                [credit]="credit?.cashAmount"
                [holdingCredit]="credit?.cashAmountOnHold"
                [minimumAmount]="properties?.minimumMoneyOutAmount"
                (redeemCashEvent)="redeemCash()"
            ></app-cash-credit>
        </mat-tab>
        <mat-tab [label]="'profile.cashCredit.voucher' | translate">
            <app-store-credit
                *ngIf="!loading"
                [generating]="generatingVoucher"
                [credit]="credit"
                [vouchers]="vouchers"
                (redeemVoucherEvent)="redeemVoucher()"
                (nextVouchers)="getNextVouchers()"
            ></app-store-credit>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="spinner-container" *ngIf="loading">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
</div>
