@import 'src/variables';

:host {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    display: flex;
    background-color: #e5e5ea;
    padding: 6px 18px;
    border-radius: 24px;
    height: 24px;
    align-items: center;
    margin-right: 8px;
    margin-top: 8px;

    app-color-preview,
    .label {
        margin-left: 9px;
        font-size: 14px;
    }

    .color {
        width: 22px;
        height: 22px;
        border-radius: 22px;
        margin-left: 8px;
    }

    button {
        height: auto;
        width: auto;

        .mat-icon {
            display: flex;
            height: 14px;
            width: 14px;
            font-size: 14px;
            line-height: 14px;
        }
    }
}

button.clear {
    display: flex;
    color: $kia-dark-blue;
    align-items: center;
    padding-left: 16px;
    font-size: 14px;
    margin-top: 8px;
}
