<ng-container *ngIf="hasSortFilter$ | async">
    <div class="filter" *ngIf="orderBy$ | async as orderBy">
        <button type="button" mat-icon-button (click)="removeOrderByFromFilter()">
            <mat-icon>clear</mat-icon>
        </button>
        <span class="label" *ngIf="orderBy.field === 'creationDate' && orderBy.order === 'desc'">
            {{ 'filter.sortByLatestProducts' | translate }}
        </span>
        <span class="label" *ngIf="orderBy.field === 'price' && orderBy.order === 'asc'">
            {{ 'filter.sortByPriceAsc' | translate }}
        </span>
        <span class="label" *ngIf="orderBy.field === 'price' && orderBy.order === 'desc'">
            {{ 'filter.sortByPriceDesc' | translate }}
        </span>
        <span class="label" *ngIf="orderBy.field === 'relevance' && orderBy.order === 'desc'">
            {{ 'filter.sortByRelevanceDesc' | translate }}
        </span>
    </div>
</ng-container>

<div class="filter" *ngIf="keyword$ | async as keyword">
    <button type="button" mat-icon-button (click)="removeSearchTextFromFilter()">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ keyword }}</span>
</div>

<div class="filter" *ngFor="let brand of brands$ | async">
    <button type="button" mat-icon-button (click)="removeBrandFromFilter(brand)">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ brand.label }}</span>
</div>

<div class="filter" *ngFor="let color of colors$ | async">
    <button type="button" mat-icon-button (click)="removeColorFromFilter(color)">
        <mat-icon>clear</mat-icon>
    </button>
    <app-color-preview [color]="color"></app-color-preview>
    <span class="label">{{ 'color.' + color.labelKey | translate }}</span>
</div>

<div class="filter" *ngFor="let size of sizes$ | async">
    <button type="button" mat-icon-button (click)="removeSizeFromFilter(size)">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ 'product.size.' + size.labelKey | translate }}</span>
</div>

<div class="filter" *ngFor="let condition of conditions$ | async">
    <button type="button" mat-icon-button (click)="removeConditionFromFilter(condition)">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ 'condition.label.' + condition.labelKey | translate }}</span>
</div>

<div class="filter" *ngIf="category$ | async as category">
    <button type="button" mat-icon-button (click)="removeCategoryFromFilter()">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ 'product.category.' + category.labelKey | translate }}</span>
</div>

<div class="filter" *ngIf="subCategory$ | async as subCategory">
    <button type="button" mat-icon-button (click)="removeSubCategoryFromFilter()">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ 'product.sub_category.' + subCategory.labelKey | translate }}</span>
</div>

<div class="filter" *ngFor="let productType of productsTypes$ | async">
    <button type="button" mat-icon-button (click)="removeProductTypeFromFilter(productType)">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ 'product.type.' + productType.labelKey | translate }}</span>
</div>

<div class="filter" *ngIf="minPrice$ | async as minPrice">
    <button type="button" mat-icon-button (click)="removeMinPriceFromFilter()">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ 'filter.price.start' | translate: { price: minPrice | currency } }}</span>
</div>

<div class="filter" *ngIf="maxPrice$ | async as maxPrice">
    <button type="button" mat-icon-button (click)="removeMaxPriceFromFilter()">
        <mat-icon>clear</mat-icon>
    </button>
    <span class="label">{{ 'filter.price.stop' | translate: { price: maxPrice | currency } }}</span>
</div>

<ng-container *ngIf="seasonality$ | async as seasonality">
    <div class="filter" *ngIf="seasonality !== 'ALL'">
        <button mat-icon-button type="button" (click)="removeSeasonalityFilter()">
            <mat-icon>clear</mat-icon>
        </button>
        <span class="label">{{ 'product.seasonality.' + seasonality | translate }}</span>
    </div>
</ng-container>

<button mat-flat-button type="button" class="clear" (click)="resetFilter()" *ngIf="displayClearLink$ | async">
    {{ 'filter.clear-long' | translate }}
</button>

<button
    mat-flat-button
    type="button"
    class="clear ml-12"
    (click)="saveCurrentSearch()"
    *ngIf="displaySaveSearchButton$ | async"
>
    <mat-icon>star_border</mat-icon>
    {{ 'searchPage.saveSearch' | translate }}
</button>
