<app-is-stable-warning *ngIf="displayIsStableWarning"></app-is-stable-warning>

<div
    *ngIf="isAuthorized"
    appDeviceClasses
    [ngClass]="{ 'no-navigation': (device.isHandset$ | async) && (displayBottomNavigation$ | async) === false }"
>
    <app-navigation
        *ngIf="(device.isHandset$ | async) && (displayBottomNavigation$ | async)"
        [hidden]="isKeyboardDisplay"
    ></app-navigation>
    <app-header-desktop *ngIf="device.isDesktop$ | async"></app-header-desktop>
    <section
        class="app-container"
        [ngClass]="{
            'no-padding-bottom': isKeyboardDisplay,
            'vacation-banner': (userProfileSelectors.userProfile$ | async)?.status === userProfileStatus.VACATION
        }"
    >
        <div
            class="content"
            [class.fluid-container]="hasFluidContainer$ | async"
            [class.beta]="showBanner || (userProfileSelectors.isBlockedByAdmin$ | async)"
        >
            <router-outlet></router-outlet>
        </div>
    </section>
</div>

<div class="background-blur" *ngIf="displayBlurredBackground$ | async"></div>
<div class="background-shadow" *ngIf="displayInstallPanel$ | async"></div>

<app-cookie-consent-panel
    *ngIf="displayCookieConsentPanel$ | async"
    [@fadeOutOnLeave]
    class="mat-elevation-z4"
></app-cookie-consent-panel>

<app-activate-notifications
    *ngIf="displayActivateNotifications$ | async"
    [@fadeInOnEnter]
    [@fadeOutOnLeave]
    class="mat-elevation-z4"
></app-activate-notifications>

<app-install-panel
    *ngIf="displayInstallPanel$ | async"
    [@slideInUpOnEnter]
    [@slideOutDownOnLeave]
    class="mat-elevation-z4"
></app-install-panel>
