@import 'src/variables';

.app-container {
    padding-bottom: calc(#{$footer-height} + env(safe-area-inset-bottom));
    box-sizing: border-box;

    &.vacation-banner {
        padding-bottom: calc(#{$footer-height} + #{$footer-height} + env(safe-area-inset-bottom));
    }

    &.no-padding-bottom {
        padding-bottom: 0 !important;
    }
}

.desktop {
    height: 100%;

    .app-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .content {
        flex: 1 0 auto;
        margin-top: $desktop-header-height;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &.beta {
            margin-top: calc(#{$desktop-header-height} + #{$beta-banner-height});
        }

        &.fluid-container {
            max-width: $desktop-max-width;
        }
    }
}

.handset {
    height: 100%;

    .app-container {
        height: calc((var(--vh, 1vh) * 100) - env(safe-area-inset-top));

        .content {
            height: 100%;
        }
    }
}

.content {
    background-color: $content-background-color;
}

.no-navigation {
    height: 100%;

    .app-container {
        height: 100%;
        padding-bottom: 0;
    }
}

.background-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.background-shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}
