<div class="maintenance-container">
    <div class="content" *ngIf="!loading; else loader">
        <img src="assets/svg/Messagerie_Statut_articleIndispo_icon_dark.svg" alt="" />
        <p>{{ 'maintenance.title' | translate }}</p>
        <button type="button" kia-button (click)="refresh()">
            {{ 'maintenance.refresh' | translate }}
        </button>
    </div>
    <ng-template #loader>
        <div class="spinner">
            <mat-spinner [diameter]="30" color="primary"></mat-spinner>
        </div>
    </ng-template>
</div>
