<div class="iban-form-container">
    <form autocomplete="off" [formGroup]="ibanForm!">
        <mat-form-field>
            <mat-label>{{ 'profile.bankDetails.editRib.input.holder' | translate }}</mat-label>
            <input matInput required type="text" formControlName="holder" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'profile.bankDetails.editRib.input.iban' | translate }}</mat-label>
            <input matInput required type="text" formControlName="iban" />
            <mat-error *ngIf="ibanForm?.controls?.iban?.errors?.required">
                {{ 'profile.bankDetails.editRib.errors.iban.required' | translate }}
            </mat-error>
            <mat-error *ngIf="ibanForm?.controls?.iban?.errors?.invalidPattern">
                {{ 'profile.bankDetails.editRib.errors.iban.invalidPattern' | translate }}
            </mat-error>
            <mat-error *ngIf="ibanForm?.controls?.iban?.errors?.invalidChecksum">
                {{ 'profile.bankDetails.editRib.errors.iban.invalidChecksum' | translate }}
            </mat-error>
        </mat-form-field>
    </form>
    <div class="text" [innerHTML]="'profile.bankDetails.editRib.text' | translate: { email: contactAddress }"></div>
</div>
