@import 'src/variables';

.iban-form-container {
    mat-form-field {
        width: 100%;
    }

    .text {
        margin-top: 10px;
        font-style: normal;
        font-size: 11px;
        line-height: 14px;
        color: $medium-text-color;

        .danger {
            color: $kia-red !important;
        }

        .link {
            text-decoration: underline;
        }
    }
}
