@import 'src/variables';

.information-container {
    margin: 0 10px;

    .information {
        display: flex;
        text-transform: uppercase;
        font-size: 12px;
        color: $medium-text-color;
        margin: 8px 0;

        .icon {
            width: 28px;
        }
    }
}
