<div class="information-container">
    <div class="information">
        <div class="icon">
            <img src="assets/svg/icon-email-verified.svg" alt="email" />
        </div>
        {{ 'profile.view.information.emailVerified' | translate }}
    </div>
    <div class="information">
        <div class="icon">
            <img src="assets/svg/icon-favorite.svg" alt="favorite" />
        </div>
        <div *ngIf="user?.creationDate; else notSpecified">
            {{
                'profile.view.information.registrationDate'
                    | translate: { date: user?.creationDate | date: 'MMMM yyyy' }
            }}
        </div>
    </div>

    <ng-template #notSpecified>{{ 'profile.view.information.notSpecified' | translate }}</ng-template>
</div>
