@import 'src/variables';

:host {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background: white;
    border-radius: 15px 15px 0 0;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px;

        .logo {
            width: 32px;
            height: 32px;
        }

        .actions {
            display: flex;

            button,
            a {
                display: block;
                font-size: 14px;
                height: 40px;
            }

            > *:last-child {
                margin-left: 14px;
            }
        }
    }

    .content {
        margin: 18px 18px 0 18px;

        .text {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 14px;
        }

        .images {
            height: 280px;
            margin-bottom: -90px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .btn-link {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: $kia-dark-blue;
        text-decoration: underline;
        cursor: pointer;
    }
}
