<div class="header">
    <img class="logo" src="/assets/icons/icon-72x72.png" />

    <div class="actions">
        <button type="button" class="btn-link" (click)="onDontAskButtonClicked()">
            {{ 'install.actions.dontAsk' | translate }}
        </button>

        <a
            *ngIf="isAndroidWebBrowser"
            [href]="appStoreUrl"
            target="_blank"
            style="width: 120px"
            (click)="onInstallButtonClicked()"
        >
            <img alt="Disponible sur Google Play" src="/assets/images/install/google-play-badge.svg" />
        </a>
        <a
            *ngIf="isiOSWebBrowser"
            [href]="appStoreUrl"
            target="_blank"
            style="display: inline-block; border-radius: 13px"
            (click)="onInstallButtonClicked()"
        >
            <img alt="Download on the App Store" src="/assets/images/install/app-store-badge.svg" />
        </a>
    </div>
</div>

<hr />

<div class="content">
    <div class="text">
        {{ 'install.text.1' | translate }}
    </div>

    <div class="images">
        <img src="/assets/images/install/1.webp" />
        <img src="/assets/images/install/2.webp" />
    </div>
</div>
