@import 'src/variables';

$line-height: 80px;

.product-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $line-height;
    font-size: 14px;

    .remove-product {
        background-color: #f7f7f8;
        height: $line-height;
        min-width: 30px;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: none;
    }

    .disable {
        opacity: 0.3;
        cursor: not-allowed;
    }

    .product-line_details {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
        border: none;
        background-color: transparent;

        .product-line_image {
            margin-right: 12px;

            app-images-mini {
                height: 60px;
            }
        }

        .product-line_infos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .left-content {
        color: $kia-dark-blue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        .label {
            line-height: 14px;
        }

        .details {
            font-size: $small-text-font-size;
            color: $light-text-color;
            line-height: $small-text-font-size;
            text-align: left;
        }

        .unavailable {
            color: $kia-red;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
        }
    }

    .right-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: 24px;
        margin-right: 10px;

        .product-price {
            font-weight: bold;
            color: $kia-dark-blue;
        }

        mat-icon {
            color: $light-text-color;
        }
    }

    .compact {
        margin-left: 6px;
        margin-right: 6px;
    }
}
