<div class="product-line">
    <button type="button" *ngIf="showRemove" class="remove-product" (click)="removeFromLot()">
        <img src="/assets/svg/Generique_icon_supprimer.svg" alt="delete button" />
    </button>
    <button type="button" class="product-line_details" (click)="click()">
        <div class="left-content">
            <div class="product-line_image">
                <app-images-mini [products]="[product!]"></app-images-mini>
            </div>
            <div class="product-line_infos">
                <div class="label" data-qa="productLabel">{{ product?.label }}</div>
                <div class="details" data-qa="productDetails">
                    <span data-qa="productSize"> {{ 'product.size.' + product?.size?.labelKey | translate }} - </span>
                    <span data-qa="productBrand"> {{ product?.brand?.label }} - </span>
                    <span data-qa="productLabel">
                        {{ 'condition.label.' + product?.condition?.labelKey | translate }}
                    </span>
                </div>
                <div class="unavailable" *ngIf="isUnavailable" data-qa="productUnavailable">
                    {{ 'chat.productUnavailable' | translate }}
                </div>
            </div>
        </div>
        <div class="right-content" [ngClass]="{ compact: compact }">
            <div class="product-price" *ngIf="showPrice" data-qa="productPrice">{{ product?.price | currency }}</div>
            <mat-icon *ngIf="showArrow" data-qa="next">keyboard_arrow_right</mat-icon>
        </div>
    </button>
</div>
