<app-user-navigation *ngIf="deviceService.isHandset$ | async">
    <div class="header-title">
        <span>{{ 'profile.link.myAddresses' | translate }}</span>
        <app-addresses-icon></app-addresses-icon>
    </div>
</app-user-navigation>

<div class="loader-container" *ngIf="loading$ | async">
    <mat-spinner color="primary" [diameter]="30"></mat-spinner>
</div>
<div class="user-addresses-container" appDeviceClasses>
    <div class="content" *ngIf="user">
        <app-user-address-card
            (deleteEvent)="deleteAddress(address)"
            (modifyEvent)="editAddress(address)"
            (changeDefaultAddressEvent)="setDefaultAddress(address)"
            [address]="address"
            *ngFor="let address of addresses"
        ></app-user-address-card>
    </div>
    <div class="footer" appDeviceClasses>
        <button kia-button type="button" (click)="openAddAddressDialog()" data-qa="btnOpenAddAdress">
            {{ 'userAddresses.addNew' | translate }}
        </button>
    </div>
</div>
