@import 'src/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;

    app-user-navigation {
        height: 60px;

        > mat-toolbar.handset {
            background-color: white !important;
        }
    }

    .header-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: $kia-dark-blue;
        display: flex;
        align-items: center;

        > span {
            white-space: pre-line;
            text-align: right;
        }

        app-adresses-icon {
            margin-right: 17px;
            margin-left: 7px;
        }
    }

    .user-addresses-container {
        flex: 1;
        width: 100%;
        overflow-y: auto;
        background-color: $content-background-color;

        &.handset {
            padding-bottom: calc(#{$footer-height} + 20px);
        }

        &.desktop {
            box-sizing: border-box;
            max-width: 650px;
            margin: 0 auto;
            padding-bottom: $footer-height;
        }

        .content {
            margin: 20px;
            display: flex;
            flex-direction: column;

            app-user-address-card {
                display: block;
                margin: 10px 0;
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: center;

            &.handset {
                z-index: 1000;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                height: $footer-height;
                background-color: $darker-background-color;
                padding-bottom: env(safe-area-inset-bottom);
            }

            > button {
                height: 45px;
                font-size: 16px;
            }
        }
    }
}
