<svg xmlns="http://www.w3.org/2000/svg" width="21.468" height="25" viewBox="0 0 21.468 25">
    <g transform="translate(-5.07 -6.501)">
        <path
            class="a"
            d="M63.511,55.083A1.088,1.088,0,1,1,64.6,54,1.089,1.089,0,0,1,63.511,55.083Zm0-1.378A.291.291,0,1,0,63.8,54,.291.291,0,0,0,63.511,53.7Z"
            transform="translate(-41.935 -33.931)"
        />
        <g transform="translate(5.07 6.501)">
            <path
                class="a"
                d="M26.369,18.57h-.278V11.541A1.263,1.263,0,0,0,24.83,10.28H13.006V8.611a.611.611,0,0,0-1.021-.452l-1.2.976-1.2-.976a.611.611,0,0,0-1.021.452V10.28H7.831A1.263,1.263,0,0,0,6.57,11.541V30.933a1.263,1.263,0,0,0,1.261,1.261h17a1.263,1.263,0,0,0,1.261-1.261V23.752h.278a.863.863,0,0,0,.862-.862V19.432A.863.863,0,0,0,26.369,18.57Zm-1.076-7.029v7.028H23.912V11.077h.918A.464.464,0,0,1,25.293,11.541ZM9.355,9.005l1.094.887a.529.529,0,0,0,.665,0l1.094-.887V10.28H9.355ZM7.368,30.933V11.541a.464.464,0,0,1,.463-.463H23.115V18.57h-.486a2.591,2.591,0,0,0,0,5.182h.486V31.4H7.831A.464.464,0,0,1,7.368,30.933Zm17.926,0a.464.464,0,0,1-.463.463h-.918V23.752h1.381Zm-2.665-8.046a1.727,1.727,0,0,1,0-3.454l3.739,0,0,3.455Z"
                transform="translate(-6.167 -7.598)"
            />
            <path
                class="a"
                d="M23.734,31.5h-17A1.666,1.666,0,0,1,5.07,29.837V10.445A1.667,1.667,0,0,1,6.735,8.781h.324V7.515a1.014,1.014,0,0,1,1.7-.75l.931.755.949-.77a1.014,1.014,0,0,1,1.679.765V8.78H23.734A1.666,1.666,0,0,1,25.4,10.445v6.631a1.268,1.268,0,0,1,1.14,1.26v3.457a1.267,1.267,0,0,1-1.14,1.259v6.785A1.666,1.666,0,0,1,23.734,31.5Zm-.515-1.6h.515a.061.061,0,0,0,.06-.06V23.059h-.575ZM6.734,10.385a.061.061,0,0,0-.06.06V29.837a.061.061,0,0,0,.06.06h14.88V23.059h-.083a2.994,2.994,0,0,1,0-5.988h.083V10.385ZM24.6,22.252h.672a.457.457,0,0,0,.223-.058H21.532a2.13,2.13,0,0,1,0-4.26l3.96,0a.454.454,0,0,0-.219-.056H21.532a2.188,2.188,0,0,0,0,4.376Zm1.074-4.139,0,3.9a.457.457,0,0,0,.056-.219V18.336A.458.458,0,0,0,25.674,18.113Zm-.806.626H21.532a1.324,1.324,0,1,0,0,2.647h3.337ZM23.219,17.07h.575V10.445a.061.061,0,0,0-.061-.06h-.514ZM10.677,8.781h.031V8.756Zm-2.015,0h.031l-.031-.025Z"
                transform="translate(-5.07 -6.501)"
            />
        </g>
        <g transform="translate(10.249 14.988)">
            <path
                class="a"
                d="M27.977,43.854a2.141,2.141,0,1,1,2.141-2.141A2.143,2.143,0,0,1,27.977,43.854Zm0-3.475a1.334,1.334,0,1,0,1.334,1.334A1.336,1.336,0,0,0,27.977,40.379Z"
                transform="translate(-25.433 -39.17)"
            />
            <path
                class="a"
                d="M26.88,43.161a2.544,2.544,0,1,1,2.544-2.544A2.547,2.547,0,0,1,26.88,43.161Zm-1.738-2.544a1.74,1.74,0,0,0,1.738,1.738c.039,0,.077,0,.115,0-.038,0-.077,0-.115,0A1.74,1.74,0,0,1,25.142,40.617Zm1.738-.931a.932.932,0,1,0,.658.273A.932.932,0,0,0,26.88,39.686Zm1.737.931Zm-1.733-1.737,0,0h0Zm0,0h0Z"
                transform="translate(-24.336 -38.073)"
            />
        </g>
        <g transform="translate(9.035 19.774)">
            <path
                class="a"
                d="M27.684,61.163a.4.4,0,0,1-.4-.4,2.578,2.578,0,0,0-5.156,0,.4.4,0,1,1-.806,0,3.385,3.385,0,0,1,6.769,0A.4.4,0,0,1,27.684,61.163Z"
                transform="translate(-20.915 -56.972)"
            />
            <path
                class="a"
                d="M26.587,60.469a.807.807,0,0,1-.806-.806,2.175,2.175,0,1,0-4.35,0,.806.806,0,0,1-1.613,0,3.788,3.788,0,1,1,7.576,0A.807.807,0,0,1,26.587,60.469Zm-2.981-3.788a2.985,2.985,0,0,1,2.981,2.981h0a2.982,2.982,0,0,0-5.963,0A2.985,2.985,0,0,1,23.606,56.681Z"
                transform="translate(-19.818 -55.875)"
            />
        </g>
    </g>
</svg>
