<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <g transform="translate(-234 -524)">
        <g transform="translate(241.53 531.529)">
            <path
                class="b"
                d="M186.934,219.116H181.1a1.569,1.569,0,0,0-1.122.466,1.587,1.587,0,0,0-.466,1.122V226a1.591,1.591,0,0,0,1.588,1.588h5.831A1.589,1.589,0,0,0,188.515,226V220.7A1.589,1.589,0,0,0,186.934,219.116Zm.522,6.882a.529.529,0,0,1-.529.529H181.1a.533.533,0,0,1-.529-.529V220.7a.533.533,0,0,1,.529-.529h2.386v2.407a.529.529,0,1,0,1.059,0v-2.407h2.379a.529.529,0,0,1,.529.529Z"
                transform="translate(-179.515 -210.645)"
            />
            <path
                class="b"
                d="M196.385,218.179a6.936,6.936,0,0,1-3.449,2.915c-.007.007-.015.007-.022.014a.88.88,0,0,1-.176.064h-.007a.258.258,0,0,1-.1.014.485.485,0,0,1-.227-.049.53.53,0,0,1-.322-.48.515.515,0,0,1,.322-.48v-.007a5.914,5.914,0,0,0,3.149-2.682,5.559,5.559,0,0,0,.461-4.433,5.816,5.816,0,0,0-2.922-3.452,6.207,6.207,0,0,0-4.606-.445,5.96,5.96,0,0,0-3.581,2.816l-.212.4h2.2a.53.53,0,1,1,0,1.059h-3.83a.544.544,0,0,1-.549-.529v-3.692a.55.55,0,0,1,1.1,0v2.753l.513-.8a7.237,7.237,0,0,1,6.085-3.3,7.114,7.114,0,0,1,6.876,5.089A6.614,6.614,0,0,1,196.385,218.179Z"
                transform="translate(-180.397 -207.866)"
            />
        </g>
    </g>
</svg>
