<app-filter-item-selectable [value]="(allSelected$ | async) || false" (valueChange)="selectAll()" [groupItem]="true">
    {{ 'filter.all' | translate }} "{{ category && 'product.category.' + category.labelKey | translate }}"
</app-filter-item-selectable>
<app-filter-item-non-selectable
    *ngFor="let subCategory of subCategories$ | async; trackBy: trackBySubCategoryId"
    (selected)="toggleSubCategory(subCategory)"
    [attr.data-qa]="subCategory.labelKey"
>
    {{ 'product.sub_category.' + subCategory.labelKey | translate }}
    <mat-icon>keyboard_arrow_right</mat-icon>
</app-filter-item-non-selectable>
