<div class="order-card-container mat-elevation-z1">
    <div
        class="todo"
        *ngIf="
            lot.status !== LotStatusEnum.SOLD &&
            lot.status !== LotStatusEnum.CANCELLED &&
            lot.status !== LotStatusEnum.RESOLVED
        "
    >
        <mat-icon>update</mat-icon>
    </div>
    <div
        class="information"
        [class.information-todo]="
            lot.status !== LotStatusEnum.SOLD &&
            lot.status !== LotStatusEnum.CANCELLED &&
            lot.status !== LotStatusEnum.RESOLVED
        "
    >
        <div>
            <div
                class="title"
                [class.sold]="lot.status === LotStatusEnum.SOLD || lot.status === LotStatusEnum.RESOLVED"
                [class.cancelled]="lot.status === LotStatusEnum.CANCELLED"
                data-qa="transactionStatus"
            >
                <mat-icon *ngIf="lot.status === LotStatusEnum.SOLD || lot.status === LotStatusEnum.RESOLVED">
                    done
                </mat-icon>
                <mat-icon *ngIf="lot.status === LotStatusEnum.CANCELLED">clear</mat-icon>
                <div>
                    {{ 'orders.card.title.' + lot.status | translate }}
                </div>
            </div>
            <div class="product" *ngIf="lot.products">
                <span *ngIf="lot.products.length > 0">
                    {{ lot.products[lot.products.length - 1].label }}
                </span>
                <div class="other-product" *ngIf="(lot.products.length || 0) > 1">
                    {{ 'chat.otherArticle' | translate: { count: (lot.products.length || 0) - 1 } }}
                </div>
            </div>
        </div>
        <div class="more">
            {{
                'orders.card.moreInformation'
                    | translate: { id: lot.id, date: lot.tracking?.paymentDate | date: 'dd/MM/yyyy' }
            }}
        </div>
        <div class="price">
            <ng-container *ngIf="refund > 0 && isBuyer">
                <span class="price-refund">
                    {{ total | currency }}
                </span>
                <mat-icon class="h-24px">keyboard_arrow_right</mat-icon>
            </ng-container>
            <span>
                {{ totalAfterRefund | currency }}
            </span>
        </div>
    </div>
    <div class="actions">
        <app-images-mini [products]="lot.products"></app-images-mini>
        <button type="button" class="detail-button" (click)="openDetailDialog()">
            {{ 'orders.card.viewDetail' | translate }}
        </button>
    </div>
</div>
