@import 'src/variables';

mat-icon {
    user-select: none;
}

.order-card-container {
    background-color: white;
    min-height: 80px;
    border-radius: 8px;
    display: flex;
    margin: 15px 0;
    padding: 15px;
    position: relative;
    overflow: hidden;

    .todo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-right-width: 45px;
        border-top: 45px solid $kia-dark-blue;

        mat-icon {
            color: white;
            position: absolute;
            top: -40px;
            left: 4px;
            font-size: 18px;
            height: 18px;
            width: 18px;
        }
    }

    .information {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &.information-todo {
            margin-left: 24px;
        }

        .title {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            color: $kia-dark-blue;
            display: flex;
            align-items: center;

            mat-icon {
                font-weight: bold;
                font-size: 20px;
            }

            &.sold {
                color: $kia-green;
            }

            &.cancelled {
                color: $kia-red;
            }
        }

        .product {
            font-style: normal;
            font-size: 11px;
            line-height: 12px;
            color: $medium-text-color;

            .other-product {
                color: $kia-dark-blue;
            }
        }

        .more {
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
            color: $light-text-color;
        }

        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $kia-dark-blue;

            .price-refund {
                text-decoration: line-through;
            }

            .h-24px {
                height: 24px;
            }
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        app-images-mini {
            height: 65px;
        }

        .detail-button {
            font-style: normal;
            font-size: 11px;
            line-height: 12px;
            color: $medium-text-color;
            background: none;
            border: none;
            text-decoration: underline;
            padding: 0;

            &:focus {
                outline: none;
            }
        }
    }
}
