<div class="search-handset-header">
    <button mat-icon-button type="button" color="primary" (click)="goBackToFilters()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <h2>{{ 'filter.productsCount' | translate: { count: productsCount$ | async } }}</h2>
    <div class="relative">
        <button mat-icon-button type="button" color="primary" (click)="openFiltersDialog()">
            <mat-icon>tune</mat-icon>
        </button>
        <div class="has-filter-pin" *ngIf="hasFilter$ | async"></div>
    </div>
</div>
