@import 'src/variables';

.search-handset-header {
    background-color: $app-background-color;
    padding: 16px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $border-color;

    h2 {
        margin: 0 12px;
        color: $kia-dark-blue;
        font-size: 14px;
        font-weight: normal;
    }

    .relative {
        position: relative;
    }

    .has-filter-pin {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: $kia-dark-blue;
        position: absolute;
        right: 3px;
        top: 3px;
    }
}
