<div class="cgu-dialog-container">
    <div class="dialog-header">
        <div class="title">{{ 'text.' + data.type + 'Cgu.title' | translate }}</div>
        <button
            type="button"
            mat-icon-button
            mat-dialog-close
            tabindex="-1"
            class="close-dialog-button"
            [attr.aria-label]="'common.close' | translate"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="dialog-container">
        <div [innerHTML]="'text.' + data.type + 'Cgu.content' | translate: { email: contactAddress } | safeHtml"></div>
    </div>
</div>
