@import 'src/variables';

.cgu-dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;

    .dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-weight: bold;
            font-size: 20px;
            line-height: 22px;
            color: $kia-dark-blue;
        }

        .close-dialog-button {
            color: $medium-text-color;
        }
    }

    .dialog-container {
        flex: 1;
        overflow-y: auto;
        margin-top: 20px;

        h4 {
            font-weight: bold !important;
            font-size: 20px !important;
            line-height: 22px !important;
            color: $kia-dark-blue !important;
            margin: 20px 0;
        }

        h5 {
            font-style: normal !important;
            font-size: 16px !important;
            line-height: 18px !important;
            color: $kia-dark-blue !important;
            margin: 10px 0;
        }

        * {
            color: $medium-text-color;
            font-size: 12px;
        }
    }
}
