<ng-container [formGroup]="form!" novalidate>
    <input name="user" type="search" hidden />
    <mat-form-field class="password-field" (blur)="onTouched()">
        <mat-label>
            {{ 'passwordWithConfirm.' + (resettingPassword ? 'newPassword' : 'password') | translate }}
        </mat-label>
        <input #passwordInputEl matInput formControlName="value" type="password" required autocomplete="new-password" />
        <mat-error *ngIf="form?.controls?.value?.errors?.pattern">
            {{ 'passwordWithConfirm.error.pattern' | translate }}
        </mat-error>
        <mat-hint *ngIf="!form?.controls?.value?.errors?.pattern">
            {{ 'passwordWithConfirm.error.pattern' | translate }}
        </mat-hint>
        <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="showOrHidePassword()"
            *ngIf="form?.controls?.value?.value"
        >
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="password-field" (blur)="onTouched()">
        <mat-label>{{ 'passwordWithConfirm.confirmPassword' | translate }}</mat-label>
        <input
            #passwordConfirmationInputEl
            matInput
            formControlName="confirmValue"
            type="password"
            required
            autocomplete="new-password"
        />
        <mat-error *ngIf="form?.controls?.confirmValue?.errors?.mustMatch">
            {{ 'passwordWithConfirm.error.match' | translate }}
        </mat-error>
        <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="showOrHidePasswordConfirmation()"
            *ngIf="form?.controls?.confirmValue?.value"
        >
            <mat-icon>{{ showPasswordConfirmation ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>
</ng-container>
