@import 'src/variables';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
    background-image: url('/assets/images/Cagnottes_cash_visuel_Bg@2x.jpg');
    background-size: cover;
    background-position: center;

    .credit-container-amount {
        width: 244px;
        height: 125px;
        background: rgba(255, 255, 255, 0.7) 0 0 no-repeat padding-box;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .available-credits {
            font-size: $large-text-font-size;
            color: $medium-text-color;
        }

        .credit-amount {
            display: flex;
            justify-content: center;
            font-size: 50px;
        }
    }
}

.content {
    padding: 12px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 18px;
        font-weight: bold;
        color: $kia-dark-blue;
        text-align: center;
    }

    mat-form-field {
        width: 190px;
    }
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darker-background-color;
    height: 60px;

    button:first-child {
        margin-right: 10px;
    }
}
