<div class="header">
    <div class="credit-container-amount">
        <div class="available-credits">{{ 'profile.cashCredit.availableCashCredit' | translate }}</div>
        <div class="credit-amount" data-qa="cashCreditAmount">{{ amount | currency }}</div>
    </div>
</div>
<div class="content">
    <p class="title">{{ 'profile.cashCredit.amountToRedeem' | translate }}</p>
    <mat-form-field>
        <mat-label class="required" data-qa="cashCreditAmount">{{ 'profile.cashCredit.amount' | translate }}</mat-label>
        <input
            matInput
            inputmode="decimal"
            autocomplete="off"
            type="number"
            [formControl]="amountControl!"
            data-qa="cashAmountField"
        />
        <mat-hint>{{ 'profile.cashCredit.maxPossible' | translate: { amount: amount | currency } }}</mat-hint>
        <mat-error *ngIf="amountControl?.errors?.min">
            {{ 'profile.cashCredit.error.lower' | translate: { amount: minimumAmount | currency } }}
        </mat-error>
        <mat-error *ngIf="amountControl?.errors?.max">
            {{ 'profile.cashCredit.error.higher' | translate: { amount: amount | currency } }}
        </mat-error>
        <mat-error *ngIf="amountControl?.errors?.currencyPattern">
            {{ 'profile.cashCredit.error.currencyPattern' | translate }}
        </mat-error>
    </mat-form-field>
</div>
<div class="buttons">
    <button type="button" kia-button variant="bordered" mat-dialog-close data-qa="btnCancel">
        {{ 'common.back' | translate }}
    </button>
    <button
        type="button"
        kia-button
        [disabled]="!!amountControl?.invalid"
        (click)="transferCredit()"
        data-qa="btnConfirm"
    >
        {{ 'common.validate' | translate }}
    </button>
</div>
<div class="loader-container" *ngIf="loading">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
</div>
