:host {
    display: flex;
    padding-left: 40px;

    input {
        width: 100%;
        max-width: 400px;
        background-color: #f7f7f8;
        border-radius: 8px;
        border: 0;
        padding: 0 10px;
        outline: none;
        min-height: 42px;
    }

    button[type='reset'] {
        margin-left: -40px;
    }

    .hidden {
        display: none;
    }
}
