<input
    type="text"
    data-qa="searchInput"
    [formControl]="searchInput"
    [placeholder]="'navigation.search.searchbar' | translate"
/>

<button
    mat-icon-button
    type="reset"
    data-qa="btnResetFilter"
    [attr.aria-label]="'navigation.search.reset' | translate"
    (click)="resetFilter()"
    *ngIf="searchInput.value"
>
    <mat-icon>clear</mat-icon>
</button>

<button
    mat-icon-button
    type="button"
    class="ml-12"
    [matTooltip]="'filter.searchHistory.button' | translate"
    [matMenuTriggerFor]="searchHistoryMenu"
    [class.hidden]="isNotLogged$ | async"
>
    <mat-icon>star_border</mat-icon>
</button>
<mat-menu class="search-history-menu" #searchHistoryMenu>
    <app-search-history (selected)="onSearchSelected($event)"></app-search-history>
</mat-menu>
