<div class="cgu-modification-dialog-container">
    <ng-container *ngIf="!loading; else loadingContainer">
        <img class="icon" src="assets/svg/Generalite_rulls_icon.svg" alt="icon" />
        <div class="title">
            {{ 'cguModificationDialog.' + type + '.title' | translate }}
        </div>
        <div class="content">
            {{ 'cguModificationDialog.' + type + '.content' | translate }}
        </div>
        <a class="open-cgu-button" (click)="openCgu()">
            {{ 'cguModificationDialog.open' | translate }}
        </a>
        <button type="submit" kia-button (click)="accept()">
            {{ 'common.accept' | translate }}
        </button>
    </ng-container>
    <ng-template #loadingContainer>
        <mat-spinner color="primary" [diameter]="40"></mat-spinner>
    </ng-template>
</div>
