@import 'src/variables';

.cgu-modification-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 360px;

    .icon {
        margin: 20px 0;
    }

    .title {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: $kia-dark-blue;
        margin-bottom: 20px;
    }

    .content {
        text-align: center;
        font-style: normal;
        font-size: 16px;
        line-height: 18px;
        color: $kia-dark-blue;
        margin-bottom: 20px;
    }

    .open-cgu-button {
        color: $medium-text-color;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
    }
}
