@import 'src/variables';

:host {
    svg {
        .white {
            .a {
                fill: #fff;
            }
        }

        .kia-dark-blue {
            .a {
                fill: $kia-dark-blue;
            }
        }
    }
}
