<div class="product-sheet">
    <div class="product-images">
        <app-product-bonus-sticker
            *ngIf="(isCurrentUser$ | async) === false"
            [price]="product?.price || 0"
        ></app-product-bonus-sticker>
        <app-product-carousel [pictures]="product?.pictures || []"></app-product-carousel>
        <button
            type="button"
            class="report-button"
            (click)="onReportButtonClicked()"
            *ngIf="
                (isLogged$ | async) &&
                (isCurrentUser$ | async) === false &&
                product?.productStatus !== ProductStatusEnum.UNAVAILABLE
            "
            [disabled]="!!product?.owner?.hasBlockedMe"
            appDisableIfUserBlocked
        >
            <img src="assets/svg/icon_signaler_abus_white.svg" alt="report icon" />
        </button>
        <button type="button" class="like-button" (click)="onLikeButtonClicked($event)" appDisableIfUserBlocked>
            <app-heart-icon [active]="isProductFavorite$ | async"></app-heart-icon>

            <div class="like-text" *ngIf="!loadingLikes; else loadingLikesSpinner">{{ nbLikes || 0 }}</div>
            <ng-template #loadingLikesSpinner>
                <mat-spinner [diameter]="15"></mat-spinner>
            </ng-template>
        </button>
    </div>
    <div class="product-container">
        <div class="header">
            <div>
                <div class="title" data-qa="productTitle">{{ product?.label }}</div>
                <div class="information">{{ product?.brand?.label }}</div>
                <div class="information">
                    {{ 'product.size.' + product?.size?.labelKey | translate }} -
                    {{ 'condition.label.' + product?.condition?.labelKey | translate }}
                </div>
            </div>
            <div class="price" data-qa="productPrice">
                {{ product?.price | currency }}
            </div>
        </div>

        <!-- TODO: en attente de la donnée "product.owner.rate" pour ajout de la fonctionnalité d'affichage du rating -->
        <app-shipping-promo
            *ngIf="(isCurrentUser$ | async) === false && product?.productStatus !== ProductStatusEnum.UNAVAILABLE"
            [content]="'product.detail.shipping-text' | translate: { fee: transportFee$ | async | number: '1.2-2' }"
        ></app-shipping-promo>
        <div class="warning-message" *ngIf="product?.productStatus === ProductStatusEnum.UNAVAILABLE">
            <mat-icon>report_problem</mat-icon>
            <div class="text">{{ 'product.detail.unavailable' | translate }}</div>
        </div>
        <div
            class="warning-message"
            *ngIf="
                product?.owner?.status === UserProfileStatus.VACATION &&
                product?.productStatus !== ProductStatusEnum.UNAVAILABLE
            "
        >
            <mat-icon>report_problem</mat-icon>
            <div class="text">{{ 'product.detail.vacation' | translate }}</div>
        </div>
        <div class="warning-message" *ngIf="product?.productStatus === ProductStatusEnum.MODERATED">
            <mat-icon>report_problem</mat-icon>
            <div class="text">{{ 'product.detail.moderated' | translate }}</div>
        </div>
        <div class="description-container">
            <div class="title">{{ 'product.detail.ownerText' | translate }}</div>
            <div class="content" [innerHTML]="product?.description | hashtag | safeHtml"></div>
        </div>

        <ng-container
            *ngIf="(hasCartForSellerId$ | async) === true && product?.productStatus !== ProductStatusEnum.UNAVAILABLE"
        >
            <div class="actions">
                <ng-container *ngIf="(isInLot$ | async) === false">
                    <button
                        type="button"
                        kia-button
                        (click)="onAddToLotButtonClicked()"
                        data-qa="btnAddToLot"
                        appDisableIfUserBlocked
                        [disabled]="!!product?.owner?.hasBlockedMe"
                    >
                        {{ 'product.detail.addToLot' | translate }}
                    </button>
                </ng-container>

                <ng-container *ngIf="(isInLot$ | async) === true">
                    <button
                        type="button"
                        kia-button
                        (click)="onRemoveFromLotButtonClicked()"
                        data-qa="btnRemoveFromLot"
                        appDisableIfUserBlocked
                        [disabled]="!!product?.owner?.hasBlockedMe"
                    >
                        {{ 'product.detail.removeFromLot' | translate }}
                    </button>
                </ng-container>
            </div>
        </ng-container>

        <app-product-detail [product]="product" [disableLinks]="disableLinks"></app-product-detail>

        <app-user-pro-information *ngIf="product?.owner?.type === 'PROFESSIONAL'"></app-user-pro-information>

        <div
            class="share"
            *ngIf="canShareProduct"
            [class.bg-transparent]="product?.owner?.type === 'PROFESSIONAL' && (device.isHandset$ | async) === true"
        >
            <button type="button" mat-stroked-button color="primary" (click)="onShareButtonClicked()">
                <mat-icon class="m-5">share</mat-icon>
                <span class="m-5">{{ 'product.detail.share.label' | translate }}</span>
            </button>
        </div>

        <app-c2c-regulation></app-c2c-regulation>
        <ng-content></ng-content>
    </div>
</div>
