@import 'src/variables';

$vertical-padding: 25px;

.product-sheet {
    display: flex;
    flex-direction: column;

    .product-images {
        position: relative;

        app-product-bonus-sticker {
            display: block;
            position: absolute;
            top: 20px;
            left: calc(100vw - 95px);
            z-index: 10;
        }

        button.report-button {
            background: none;
            display: block;
            position: absolute;
            bottom: 15px;
            z-index: 10;
            margin: 0 0 8px 8px;
            padding: 2px 4px;
            border: 5px solid transparent;
            transition: border-color 0.2s ease-in-out;

            &:focus {
                outline: none;
                border: 5px solid $kia-dark-blue;
                border-radius: 4px;
            }
        }

        .like-button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 12px;
            bottom: 30px;
            left: calc(100vw - 75px);
            height: 32px;
            min-width: 52px;
            background-color: $app-background-color;
            border: none;
            border-radius: 16px !important;
            z-index: 10;
            box-shadow: 0 3px 5px -4px rgb(0 0 0 / 20%), 0 0px 0px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);

            .like-text {
                font-size: 14px;
                color: $kia-dark-blue;
                margin-left: 6px;
            }

            mat-spinner {
                margin-left: 6px;
            }

            &:focus {
                outline: none;
                border: 3px solid $kia-dark-blue;
            }
        }
    }

    .product-container {
        background-color: $content-background-color;
        padding-top: 20px;
        padding-bottom: env(safe-area-inset-bottom);
        width: 100%;
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;

        &:before {
            content: ' ';
            mask-image: url('/assets/svg/profile-border.svg');
            mask-size: cover;
            mask-position: center;
            background-color: $content-background-color;
            height: 26px;
            position: absolute;
            z-index: -1;
            top: -15px;
            width: 100%;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            padding: 0 $vertical-padding;

            .title {
                font-style: normal;
                font-size: 18px;
                line-height: 20px;
                color: $kia-dark-blue;
                margin-bottom: 8px;
            }

            .information {
                font-style: normal;
                font-size: 16px;
                line-height: 18px;
                color: $medium-text-color;
            }

            .price {
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                color: $kia-dark-blue;
            }
        }

        app-shipping-promo {
            display: block;
            margin-bottom: 20px;
            padding: 0 $vertical-padding;
        }

        app-user-pro-information {
            display: block;
            margin: 25px;
        }

        .warning-message {
            display: flex;
            align-items: center;
            background-color: $kia-light-orange;
            color: $kia-orange;
            border-radius: 12px;
            padding: 12px;
            margin: 0 $vertical-padding 20px;

            > mat-icon {
                margin-right: 10px;
            }

            .text {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
            }
        }

        .description-container {
            margin-bottom: 20px;
            padding: 0 $vertical-padding;

            .title {
                font-style: normal;
                font-size: 12px;
                line-height: 14px;
                color: $light-text-color;
                text-transform: uppercase;
            }

            .content {
                margin-top: 4px;
                font-style: italic;
                font-size: 14px;
                line-height: 16px;
                color: $kia-dark-blue;
                overflow-wrap: break-word;
            }
        }

        .actions {
            margin: 20px 24px;

            > button {
                width: 100%;
            }
        }

        app-product-detail {
            background: white;
            display: block;
            margin: 0 $vertical-padding 0;
        }

        .share {
            background: white;
            margin: 0 $vertical-padding 20px;
            display: flex;
            padding: 12px;

            &.bg-transparent {
                background: transparent;
            }

            > button {
                width: 100%;
                height: 40px;

                .m-5 {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }

        .content {
            flex: 1;
        }

        app-c2c-regulation {
            margin: 20px 25px 0;
        }
    }
}
