<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.faq' | translate"
></app-header-with-title>

<div class="faq-container" appDeviceClasses>
    <div class="title">{{ 'text.faq.title' | translate }}</div>
    <div class="part" *ngFor="let groupedFaq of groupedFaqs; index as i">
        <div class="separator" *ngIf="i !== 0"></div>
        <div class="title">
            {{ 'text.faq.' + groupedFaq.category + '.title' | translate }}
        </div>
        <div class="accordion-container">
            <mat-accordion [multi]="true">
                <mat-expansion-panel *ngFor="let faq of groupedFaq.faqs">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ faq.title }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="subject-container">
                        <quill-view [content]="faq.content" format="html"></quill-view>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
