@import 'src/variables';

app-faq {
    height: 100%;
    display: flex;
    flex-direction: column;

    .faq-container {
        flex: 1;
        overflow-y: auto;
        background-color: $content-background-color;
        padding: 24px;

        &.handset {
            padding-bottom: calc(#{$footer-height} + 24px + env(safe-area-inset-bottom));
        }

        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            color: $kia-dark-blue;
            margin-bottom: 10px;
        }

        .part {
            display: flex;
            flex-direction: column;
            align-items: center;

            .separator {
                height: 1px;
                border-radius: 1px;
                background-color: $kia-dark-blue;
                width: 200px;
                margin: 20px 0;
            }

            .title {
                margin: 20px 0;
                font-weight: bold;
                font-size: 18px;
                line-height: 20px;
                color: $kia-dark-blue;
                width: 100%;
            }

            .accordion-container {
                padding: 12px;
                border-radius: 8px;
                background-color: $app-background-color;
                margin-bottom: 20px;

                .mat-expansion-panel {
                    box-shadow: none !important;

                    .mat-expansion-panel-header {
                        padding: 15px 10px !important;

                        .mat-expansion-panel-header-title {
                            font-weight: bold;
                            font-size: 15px;
                            line-height: 17px;
                            color: $kia-dark-blue;
                        }
                    }
                }

                .subject-container {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;

                    h2 {
                        color: $kia-dark-blue;
                        font-size: 16px;
                        margin: 0 0 5px 0;
                    }

                    p,
                    ul {
                        color: $medium-text-color;
                        font-size: 14px;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
