<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
    <g transform="translate(-5.771 -4.766)">
        <path
            [attr.fill]="active ? '#040037' : '#b3b2c2'"
            d="M6.447,21.249h0a1.977,1.977,0,0,1-1.188-.373,1.135,1.135,0,0,1-.492-.907v-.441A1.528,1.528,0,0,1,6.449,18.25H22.085a1.977,1.977,0,0,1,1.191.374l.038.031a1.124,1.124,0,0,1,.453.873l0,.442a1.529,1.529,0,0,1-1.682,1.28H6.447Z"
            transform="translate(1.004 -5.484)"
        />
        <path
            [attr.fill]="active ? '#040037' : '#b3b2c2'"
            d="M17.249,26.086h0a1.977,1.977,0,0,1-.373,1.188,1.135,1.135,0,0,1-.907.492h-.441a1.528,1.528,0,0,1-1.279-1.682V10.448a1.977,1.977,0,0,1,.374-1.191l.031-.038a1.124,1.124,0,0,1,.873-.453l.442,0a1.529,1.529,0,0,1,1.28,1.682V26.085Z"
            transform="translate(-0.48 -4)"
        />
    </g>
</svg>
