<div class="redeem-voucher-dialog-container" data-qa="confirmationPopup">
    <button type="button" mat-icon-button mat-dialog-close tabindex="-1" [attr.aria-label]="'common.close' | translate">
        <mat-icon>clear</mat-icon>
    </button>
    <div class="content">
        <div class="not-generated" *ngIf="!generatingFailed && !generatingSuccess">
            <app-warning-icon color="#ff7600" [width]="50" [height]="50"></app-warning-icon>
            <h1>{{ 'profile.storeCredit.dialog.confirmation' | translate }}</h1>
            <p class="description" data-qa="voucherAmount">
                {{ 'profile.storeCredit.dialog.description' | translate: { amount: amount | currency } }}
            </p>
            <p class="question">{{ 'profile.storeCredit.dialog.question' | translate }}</p>
        </div>
        <div class="generated-success" *ngIf="generatingSuccess">
            <app-success-icon [width]="50" [height]="50"></app-success-icon>
            <p class="question" data-qa="voucherAmount">
                {{ 'profile.storeCredit.dialog.generatedSuccess' | translate: { mail: mail$ | async } }}
            </p>
            <p class="description">{{ 'profile.storeCredit.dialog.checkMail' | translate }}</p>
        </div>
        <div class="generated-failed" *ngIf="generatingFailed">
            <app-error-icon [width]="50" [height]="50"></app-error-icon>
            <p class="question" data-qa="voucherAmount">
                {{ 'profile.storeCredit.dialog.generatedError' | translate }}
            </p>
            <p class="description">{{ 'profile.storeCredit.dialog.startAgain' | translate }}</p>
        </div>
    </div>
    <div class="buttons">
        <button
            *ngIf="!generatingFailed && !generatingSuccess"
            type="button"
            kia-button
            variant="bordered"
            mat-dialog-close
            data-qa="btnCancel"
        >
            {{ 'profile.storeCredit.dialog.cancel' | translate }}
        </button>
        <button
            *ngIf="!generatingFailed && !generatingSuccess"
            type="button"
            kia-button
            (click)="redeemVoucher()"
            data-qa="btnConfirm"
        >
            {{ 'profile.storeCredit.dialog.confirm' | translate }}
        </button>
        <button
            *ngIf="generatingFailed || generatingSuccess"
            type="button"
            kia-button
            variant="bordered"
            (click)="close()"
            data-qa="btnCancel"
        >
            {{ 'common.back' | translate }}
        </button>
    </div>
    <div class="loader-container" *ngIf="loading">
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>
</div>
