@import 'src/variables';

.redeem-voucher-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    > button {
        position: absolute;
        top: 0;
        right: 0;
        color: $kia-lighten-dark-blue;
    }

    .content {
        margin-top: 60px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .generated-failed,
        .generated-success,
        .not-generated {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 30px;
            font-weight: bold;
            color: $kia-dark-blue;
            text-align: center;
            margin-bottom: 0;
        }

        .description {
            margin-top: 0;
            font-size: $very-large-text-font-size;
            font-weight: bold;
            text-align: center;
            color: $kia-dark-blue;
        }

        .question {
            font-size: $large-text-font-size;
            text-align: center;
            color: $kia-dark-blue;
        }

        mat-form-field {
            width: 190px;
        }
    }

    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        margin-bottom: 30px;

        button:first-child {
            margin-right: 10px;
        }
    }
}
