<app-header-with-title *ngIf="deviceService.isHandset$ | async" [title]="'guide-photo.title' | translate">
    <app-take-photo-icon [width]="20" [height]="15" [color]="'#b3b2c2'"></app-take-photo-icon>
</app-header-with-title>

<div class="guide-photo-container" appDeviceClasses>
    <div class="information-container intro-container">
        <div class="title-container">
            <div class="icon-container">
                <div class="dots-line"></div>
                <img
                    class="icon"
                    src="assets/svg/Profil_guide_CommentPrendrePhoto_intro_icon.svg"
                    alt="photo icon"
                    loading="lazy"
                />
                <div class="dots-line"></div>
            </div>
            <div class="title">{{ 'guide-photo.title' | translate }}</div>
        </div>
        <div class="lines"></div>
        <div class="column-text">
            <div class="subtitle">{{ 'guide-photo.subtitle' | translate }}</div>
        </div>
        <div class="lines"></div>
    </div>

    <div class="information-container advise-container">
        <div class="title" [innerHTML]="'guide-photo.advise.title' | translate"></div>

        <div class="advise-items-container" appDeviceClasses>
            <div class="advise-item-container">
                <div class="number">1</div>
                <img src="assets/images/guide/photo/1.png" loading="lazy" />
                <div class="title">{{ 'guide-photo.advise.1.title' | translate }}</div>
                <div class="subtitle">{{ 'guide-photo.advise.1.subtitle' | translate }}</div>
            </div>

            <div class="advise-item-container">
                <div class="number">2</div>
                <img src="assets/images/guide/photo/2.png" loading="lazy" />
                <div class="title">{{ 'guide-photo.advise.2.title' | translate }}</div>
                <div class="subtitle">{{ 'guide-photo.advise.3.subtitle' | translate }}</div>
            </div>

            <div class="advise-item-container">
                <div class="number">3</div>
                <img src="assets/images/guide/photo/3.png" loading="lazy" />
                <div class="title">{{ 'guide-photo.advise.3.title' | translate }}</div>
                <div class="subtitle">{{ 'guide-photo.advise.3.subtitle' | translate }}</div>
            </div>

            <div class="advise-item-container">
                <div class="number">4</div>
                <img src="assets/images/guide/photo/4.png" loading="lazy" />
                <div class="title">{{ 'guide-photo.advise.4.title' | translate }}</div>
                <div class="subtitle">{{ 'guide-photo.advise.4.subtitle' | translate }}</div>
            </div>

            <div class="advise-item-container">
                <div class="number">5</div>
                <img src="assets/images/guide/photo/5.png" loading="lazy" />
                <div class="title">{{ 'guide-photo.advise.5.title' | translate }}</div>
                <div class="subtitle">{{ 'guide-photo.advise.5.subtitle' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="dark-container information-container however-container">
        <div class="title" [innerHTML]="'guide-photo.however.title' | translate"></div>

        <div class="however-items-container" appDeviceClasses>
            <div class="however-item-container">
                <img src="assets/images/guide/photo/boy.png" loading="lazy" />
                <div class="title">{{ 'guide-photo.however.boy.title' | translate }}</div>
                <div class="subtitle">{{ 'guide-photo.however.boy.subtitle' | translate }}</div>
            </div>

            <div class="however-item-container">
                <img src="assets/images/guide/photo/girl.png" loading="lazy" />
                <div class="title">{{ 'guide-photo.however.girl.title' | translate }}</div>
                <div class="subtitle">{{ 'guide-photo.however.girl.subtitle' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="information-container inspiration-container">
        <div class="lines"></div>

        <div class="title" [innerHTML]="'guide-photo.inspiration.title' | translate"></div>

        <div class="slider">
            <img src="assets/images/guide/photo/slider/0.png" loading="lazy" />
            <img src="assets/images/guide/photo/slider/1.png" loading="lazy" />
            <img src="assets/images/guide/photo/slider/2.png" loading="lazy" />
            <img src="assets/images/guide/photo/slider/3.png" loading="lazy" />
        </div>

        <img
            class="icon"
            src="assets/svg/Profil_guide_CommentPrendrePhoto_BesoinInspiration_smiley_icon.svg"
            alt="smiley icon"
            loading="lazy"
        />
        <div class="subtitle">{{ 'guide-photo.inspiration.subtitle' | translate }}</div>
    </div>

    <a class="back-to-home-container information-container" routerLink="/" id="back-to-home">
        <div class="title-container">
            <div class="icon-container">
                <img
                    class="icon"
                    src="assets/svg/Profil_guide_CommentMarche_retourHP_icon.svg"
                    alt="sell icon"
                    loading="lazy"
                />
            </div>
            <div class="title" [innerHTML]="'guide-photo.backToHome' | translate"></div>
        </div>
    </a>
</div>
