@import 'src/variables';

app-guide-photo {
    height: 100%;
    display: flex;
    flex-direction: column;

    .guide-photo-container {
        flex: 1;
        overflow-y: auto;
        background-color: $content-background-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.handset {
            padding-bottom: env(safe-area-inset-bottom);
        }

        &.desktop {
            box-sizing: border-box;
            max-width: 650px;
            border-radius: 8px;
            margin: 40px auto;

            .rounded-top-corner {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }

            .options .option .icon {
                background-color: white !important;
            }
        }

        .intro-container {
            background-image: url('/assets/images/guide/photo/Profil_guide_CommentPrendrePhoto_intro_visuel.png');
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 30px 80px 30px !important;

            .title {
                display: flex;
                flex-direction: row;

                h3 {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                    letter-spacing: 0;
                    color: $kia-dark-blue;
                    text-transform: uppercase;
                    align-self: flex-end;
                }

                .interrogation-point {
                    height: 55px;
                    position: relative;
                    margin-left: -4px;
                    margin-top: 8px;
                }
            }

            .subtitle {
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                text-align: center;
                color: $kia-dark-blue;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .text {
                font-style: normal;
                font-size: 12px;
                line-height: 14px;
                color: #0f1733;
                padding: 20px;
                border-radius: 8px;
                background: rgba(247, 247, 248, 0.8);
                text-align: center;
                margin-bottom: 20px;

                .important {
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $kia-dark-blue;
                }
            }

            .buttons {
                display: flex;
                justify-content: space-around;
                width: 100%;

                > button {
                    width: 120px;
                }
            }
        }

        .information-container {
            padding: 30px 15px;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;

            &#back-to-home {
                color: $kia-dark-blue;
            }

            .options {
                display: flex;
                margin-bottom: 20px;
                position: relative;
                width: 100%;

                &.wave-background:after {
                    position: absolute;
                    height: 30px;
                    width: 100%;
                    background-color: $medium-text-color;
                    mask-image: url('/assets/svg/Schema2_etapes_vague.svg');
                    mask-size: contain;
                    mask-position: center;
                    content: ' ';
                    top: 5px;
                    z-index: 1;
                }

                .option {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 1;
                    margin: 0 5px;
                    z-index: 2;

                    .icon {
                        height: 40px;
                        width: auto;
                        margin-bottom: 10px;
                        padding: 10px;
                        background-color: $content-background-color;
                    }

                    .index {
                        background-color: $medium-text-color;
                        color: white;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 25px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    .text {
                        font-style: normal;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        color: $kia-dark-blue;
                    }
                }
            }

            .lines {
                width: 0;
                height: 30px;
                border-left: 2px dotted $kia-dark-blue;
                margin: 10px 0;
            }

            .inline-text {
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                color: $kia-dark-blue;
            }

            .special-text {
                background-color: $kia-dark-blue;
                color: white;
                padding: 2px;
                margin-right: 2px;
            }

            .column-text {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .primary-text {
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: $kia-dark-blue;
            }

            .secondary-text {
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: $medium-text-color;
            }

            .title-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
                width: 100%;

                .icon-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 20px;

                    .icon {
                        margin: 0 35px;
                    }

                    .dots-line {
                        border-top: 2px dotted $kia-dark-blue;
                        height: 0;
                        flex: 1;
                    }
                }

                .title {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }

        .dark-container {
            background-color: $kia-dark-blue;
            color: white;

            .title-container {
                .icon-container .dots-line {
                    border-color: white;
                }

                .title {
                    color: white;
                }
            }

            .options .option {
                .icon {
                    background-color: $kia-dark-blue !important;
                }

                .text {
                    color: white;
                }
            }

            .lines {
                border-color: white;
            }

            .primary-text {
                color: white;
            }

            .inline-text {
                color: white;
            }

            .special-text {
                background-color: white;
                color: $kia-dark-blue;
            }

            .white-button {
                background-color: white;
                color: $kia-dark-blue;
                height: 45px;
                font-size: 16px;
                margin-top: 20px;

                .mat-button-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }

        .advise-container {
            > .title {
                font-weight: bold;
                text-transform: uppercase;
            }

            .advise-items-container {
                margin-top: 20px;

                &.desktop {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 30px;

                    > .advise-item-container:last-child {
                        grid-column: 1 / span 2;
                        margin: 0 60px;
                    }
                }

                .advise-item-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 26px;

                    .number {
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        background: $medium-text-color;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 28px;
                        z-index: 1;
                    }

                    > img {
                        margin-top: -12px;
                    }

                    .title {
                        margin-top: 22px;
                        text-align: center;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 14px;
                    }

                    .subtitle {
                        margin-top: 12px;
                        text-align: center;
                        font-size: 13px;
                    }
                }
            }
        }

        .however-container {
            > .title {
                font-weight: bold;
                text-transform: uppercase;
            }

            .however-items-container {
                margin-top: 20px;

                &.desktop {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 30px;
                }

                .however-item-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 26px;

                    .title {
                        margin-top: 22px;
                        text-align: center;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 14px;
                    }

                    .subtitle {
                        margin-top: 12px;
                        text-align: center;
                        font-size: 13px;
                    }
                }
            }
        }

        .inspiration-container {
            > .title {
                margin-top: 10px;
                font-weight: bold;
                text-transform: uppercase;
            }

            .slider {
                margin-top: 30px;
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
                overflow-x: auto;

                img {
                    margin: 3px;
                    height: 300px;
                }
            }

            .icon {
                margin-top: 20px;
            }

            > .subtitle {
                margin-top: 20px;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
            }
        }

        .back-to-home-container {
            text-decoration: auto;
            background: white;
        }
    }
}
