<section *ngIf="canDisplay$ | async" appDeviceClasses>
    <h3>{{ 'home.sections.categories.title' | translate }}</h3>

    <ul *ngIf="displayBeautifulVersion">
        <li *ngFor="let category of categories$ | async; trackBy: trackById">
            <a routerLink="/search" [queryParams]="{ category: category.id }" (click)="onLinkClicked()">
                <!-- TODO : icon -->
                <div class="circle"></div>
                <div class="text">{{ 'product.category.' + category.labelKey | translate }}</div>
            </a>
        </li>
    </ul>

    <mat-chip-list *ngIf="!displayBeautifulVersion">
        <mat-chip
            *ngFor="let category of categories$ | async; trackBy: trackById"
            routerLink="/search"
            [queryParams]="{ category: category.id }"
            [attr.aria-label]="'product.category.' + category.labelKey | translate"
            (click)="onLinkClicked()"
        >
            <div class="text">{{ 'product.category.' + category.labelKey | translate }}</div>
        </mat-chip>
    </mat-chip-list>
</section>
