@import 'src/variables';

:host {
    display: flex;

    &.handset {
        justify-content: flex-start;
    }
    &.desktop {
        justify-content: center;
    }

    section {
        padding: 20px;

        content-visibility: auto;
        &.handset {
            contain-intrinsic-size: 183px;
        }

        &.handset {
            width: calc(100vw - 40px);
        }
        &.desktop {
            width: $desktop-max-width;
        }

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            margin-top: 24px;
            overflow: auto;

            li {
                list-style: none;
                margin-right: 10px;

                a {
                    text-decoration: none;
                    color: $kia-dark-blue;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 80px;
                    min-width: 80px;

                    .circle {
                        width: 50px;
                        height: 50px;
                        background: rebeccapurple;
                        border-radius: 50%;
                        margin-bottom: 12px;
                    }
                    .text {
                        font-size: 14px;
                    }
                }
            }
        }

        mat-chip {
            cursor: pointer;
            min-height: 36px;
        }
    }
}
