<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
    <g transform="translate(-81 -225)">
        <g class="a" transform="translate(81 225)">
            <ellipse class="c" cx="11" cy="11" rx="11" ry="11" />
            <ellipse class="d" cx="11" cy="11" rx="10" ry="10" />
        </g>
        <path
            class="b"
            d="M330.363,209.542l2.814,2.783,1.209-1.2-2.814-2.783,2.814-2.783-1.209-1.2-2.814,2.783-2.814-2.783-1.208,1.2,2.814,2.783-2.814,2.783,1.208,1.2Z"
            transform="translate(-238.363 27.533)"
        />
    </g>
</svg>
