@import 'src/variables';

app-report-user-dialog {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: $content-background-color;
    height: 100%;

    &.handset {
        height: $pageHeight;
    }

    &.desktop {
        max-height: 95vh;

        .content {
            margin: 0 40px;
        }

        .actions {
            margin: 20px 40px;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 30px;
        color: $kia-dark-blue;
        position: relative;

        > mat-icon {
            margin-top: 18px;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
        }

        .subtitle {
            font-size: 14px;
            margin-top: 6px;
            text-align: center;
        }

        .close-button {
            position: absolute;
            top: 4px;
            right: 4px;
            color: $kia-lighten-dark-blue;

            &.desktop {
                top: -2px;
            }
        }
    }

    .report-recap-container {
        width: 100%;
        min-height: 90px;
        z-index: 2;
        position: relative;

        .box-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: 20%;
            box-shadow: 0 0 6px 5px rgba(204, 204, 215, 0.7);
        }

        .report-recap {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: $darker-background-color;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 11px 36px;
            box-sizing: border-box;

            .products {
                display: flex;
                flex-direction: column;

                .nb-products {
                    font-size: $normal-text-font-size;
                    font-weight: bold;
                    color: $kia-dark-blue;
                }
            }

            .user {
                display: flex;
                align-items: center;

                .user-nickname {
                    font-size: $large-text-font-size;
                    font-weight: bold;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    color: $kia-dark-blue;
                    margin-right: 10px;
                }

                .user-avatar {
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    > form {
        flex: 1;
        display: flex;
        flex-direction: column;

        .content {
            padding: 0 12px;
            box-sizing: border-box;
            margin-top: 24px;
            flex: 1;

            .reason,
            .text {
                width: 100%;

                .mat-form-field-outline {
                    background-color: white;
                    border-radius: 8px;
                }

                .mat-form-field-outline-start {
                    border-color: white !important;
                }

                .mat-form-field-outline-gap {
                    border-color: white !important;
                }

                .mat-form-field-outline-end {
                    border-color: white !important;
                }

                textarea {
                    color: $medium-text-color !important;
                    resize: none;
                }

                textarea::placeholder {
                    color: $light-text-color;
                }
            }
        }

        .actions {
            height: $footer-height;
            width: 100%;
            padding-bottom: env(safe-area-inset-bottom);
            background-color: $darker-background-color;
            display: flex;
            justify-content: space-around;
            align-items: center;

            > button {
                flex: 1;
                margin-right: 12px;
            }

            > button:first-child {
                margin-left: 12px;
            }
        }
    }

    .danger {
        color: $kia-red;
    }
}
