<div class="header">
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        class="close-button"
        appDeviceClasses
        tabindex="-1"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
    <mat-icon class="danger">error_outline</mat-icon>
    <div class="title danger">{{ 'dialog.actions.types.reportUser.title' | translate }}</div>
    <div class="subtitle">{{ 'dialog.actions.types.reportUser.subtitle' | translate }}</div>
</div>
<div class="report-recap-container">
    <div class="box-shadow"></div>
    <div class="report-recap">
        <div class="products">
            <div class="nb-products">
                {{ 'common.article' | translate: { amount: discussion.lot?.products?.length } }}
            </div>
            <app-images-mini [products]="discussion.lot?.products || []"></app-images-mini>
        </div>
        <div class="user">
            <span class="user-nickname" data-qa="headerNickName">{{ otherUser?.nickname | deletedUser }}</span>
            <img
                class="user-avatar"
                [src]="avatarUrl"
                [appThumbnailFormat]="{ origin: avatarUrl, format: 'chat', fallback: 'avatar' }"
                alt="avatar"
                data-qa="headerProfilePicture"
            />
        </div>
    </div>
</div>
<form [formGroup]="reportForm" (ngSubmit)="validate()">
    <div class="content">
        <mat-form-field class="reason">
            <mat-label class="required">
                {{ 'dialog.actions.types.reportUser.reason.title' | translate }}
            </mat-label>
            <mat-select formControlName="reason" data-qa="reason">
                <mat-option *ngFor="let r of discussionReportReasons" [value]="r">
                    {{ 'dialog.actions.types.reportUser.reason.' + r | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="text">
            <textarea
                matInput
                formControlName="content"
                [placeholder]="'dialog.actions.types.reportUser.textareaPlaceholder' | translate"
                rows="4"
            ></textarea>
        </mat-form-field>
        <app-image-uploader
            formControlName="pictures"
            [labelSubtitle]="'dialog.actions.types.reportUser.imageUploaderLabelSubtitle' | translate"
            [labelTitle]="'dialog.actions.types.reportUser.imageUploaderLabelTitle' | translate"
            [pictureType]="PictureType.REPORT"
        ></app-image-uploader>
    </div>
    <div class="actions">
        <button type="button" mat-dialog-close kia-button variant="bordered">{{ 'common.back' | translate }}</button>
        <button type="submit" kia-button [disabled]="!reportForm.valid">{{ 'common.validate' | translate }}</button>
    </div>
</form>
