@import 'src/variables';

app-orders {
    height: 100%;
    display: flex;
    flex-direction: column;

    .orders-container {
        flex: 1;
        overflow-y: auto;
        background: $content-background-color;
        position: relative;
        display: flex;
        justify-content: center;

        &.handset {
            padding-bottom: calc(#{$footer-height} + 12px + env(safe-area-inset-bottom));
        }
        &.desktop {
            padding: 0 25px;
        }

        mat-tab-group {
            height: 100%;

            &.handset {
                width: 100%;

                .mat-tab-body-wrapper {
                    padding: 0 12px;
                }
            }

            &.desktop {
                width: 650px;

                mat-tab-header {
                    box-shadow: 0 0 12px #0400372e;
                }
            }

            .mat-tab-body-wrapper {
                height: 100%;
                padding: 0;

                &.handset {
                    padding: 0 12px;
                }
            }
        }

        .legal-obligations {
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
            color: $medium-text-color;
        }
    }
}
