<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.myPurchasesSales' | translate"
    [icon]="'assets/svg/Profil_AchatsVentes_icon.svg'"
></app-header-with-title>

<div class="orders-container" appDeviceClasses>
    <div class="loader-container" *ngIf="isLoading$ | async">
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>
    <mat-tab-group mat-stretch-tabs dynamicHeight appDeviceClasses>
        <mat-tab [label]="'common.myPurchases' | translate">
            <app-order-card
                [lot]="purchase"
                [isBuyer]="true"
                *ngFor="let purchase of purchases$ | async"
                data-qa="purchasedOrder"
            ></app-order-card>
        </mat-tab>
        <mat-tab [label]="'common.mySales' | translate">
            <app-order-card
                [lot]="sale"
                [isBuyer]="false"
                *ngFor="let sale of sales$ | async"
                data-qa="soldOrder"
            ></app-order-card>
            <div class="legal-obligations" [innerHTML]="'common.legalObligations' | translate | safeHtml"></div>
        </mat-tab>
    </mat-tab-group>
</div>
