<div
    class="store-credit-container"
    appDeviceClasses
    infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="(device.isDesktop$ | async) === true"
>
    <div class="credit-container">
        <div class="credit-container-amount" appDeviceClasses>
            <div class="credit-amount" data-qa="voucherCreditAmount">{{ credit?.voucherAmount | currency }}</div>
            <div class="holding-credit" data-qa="voucherHoldingCredit">
                <span>{{
                    'profile.cashCredit.holdingCredit' | translate: { amount: credit?.voucherAmountOnHold | currency }
                }}</span>
                <span class="in-progress-label">{{ 'profile.cashCredit.transactionInProgress' | translate }}</span>
            </div>
        </div>

        <button
            kia-button
            type="button"
            class="transfer-button"
            variant="primary"
            [disabled]="!credit?.voucherAmount || (credit?.voucherAmount || 0) < minimumVoucherAmount"
            (click)="redeemVoucher()"
            *ngIf="device.isDesktop$ | async"
            data-qa="btnRedeemVoucher"
            appDeviceClasses
        >
            {{ 'profile.storeCredit.useStoreCredit.button' | translate: { amount: credit?.voucherAmount | currency } }}
        </button>
    </div>

    <div class="card-container">
        <div class="content">
            <div class="take-cash-container" appDeviceClasses>
                <p class="kiabi-offer">
                    <img src="/assets/svg/Logo_Kiabi_blue.svg" alt="logo kiabi" />
                    {{ 'profile.storeCredit.kiabiOffer' | translate }}
                </p>
                <div class="progress-bar-container">
                    <div class="progress-bar" [ngStyle]="{ width: progressBarWidth }"></div>
                </div>
                <p
                    class="gain-amount"
                    [innerHTML]="
                        'profile.storeCredit.gainAmount'
                            | translate: { amount: credit?.yearlyTotalContribution | currency }
                    "
                ></p>
                <p class="user-store-credit-details">
                    {{ 'profile.storeCredit.useStoreCredit.description' | translate }}
                </p>
            </div>
            <div class="vouchers-history">
                <h3 class="vouchers-history-title">{{ 'profile.storeCredit.historyTitle' | translate }}</h3>
                <div class="vouchers-history-list" appDeviceClasses>
                    <a
                        class="voucher-line"
                        type="button"
                        *ngFor="let voucher of vouchers; let first = first"
                        [ngClass]="{
                            'no-border-top': !first,
                            'red-bgc': isInLessThanAMonth(voucher),
                            disabled: voucher.status !== voucherStatus.SEND || isNotAvailable(voucher)
                        }"
                        (click)="openVoucherDialog(voucher)"
                        data-qa="voucherEmittedLine"
                    >
                        <div class="voucher-line-left">
                            <div
                                class="voucher-amount"
                                [ngClass]="{
                                    grey: isNotAvailable(voucher),
                                    orange: voucher.status === voucherStatus.INIT
                                }"
                                data-qa="voucherEmittedAmount"
                            >
                                <span>{{ voucher.value | currency }}</span>
                                <app-warning-icon
                                    *ngIf="isInLessThanAMonth(voucher)"
                                    color="#c13515"
                                    [width]="15"
                                    [height]="15"
                                ></app-warning-icon>
                                <mat-icon *ngIf="voucher.status === voucherStatus.INIT">schedule</mat-icon>
                            </div>
                            <div
                                class="available-date"
                                [ngClass]="{ green: isAfterToday(voucher), red: isInLessThanAMonth(voucher) }"
                            >
                                {{
                                    'profile.storeCredit.availableUntil'
                                        | translate: { date: getAvailabilityDate(voucher) | date: 'dd/MM/yyyy' }
                                }}
                            </div>
                        </div>
                        <div class="voucher-line-right">
                            <div class="sent-date">
                                <span *ngIf="voucher.status !== voucherStatus.INIT"
                                    >{{
                                        'profile.storeCredit.mailSentOn'
                                            | translate: { date: voucher.lastModifiedDate | date: 'dd/MM/yyyy' }
                                    }}
                                </span>
                                <span *ngIf="voucher.status === voucherStatus.INIT"
                                    >{{ 'profile.storeCredit.pending' | translate }}
                                </span>
                            </div>
                        </div>
                        <img src="assets/svg/Generique_icon_arrow_right.svg" alt="right icon" />
                    </a>
                    <div class="spinner" *ngIf="loading">
                        <mat-spinner [diameter]="20" color="primary"></mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="transfer-container" appDeviceClasses *ngIf="device.isHandset$ | async">
        <div
            class="minimum-value-error"
            *ngIf="(credit?.voucherAmount || 0) < minimumVoucherAmount && credit?.voucherAmount !== 0"
        >
            {{
                'profile.storeCredit.useStoreCredit.minimumValue'
                    | translate: { amount: minimumVoucherAmount | currency }
            }}
        </div>
        <button
            kia-button
            type="button"
            class="transfer-button"
            variant="primary"
            [disabled]="!credit?.voucherAmount || (credit?.voucherAmount || 0) < minimumVoucherAmount"
            (click)="redeemVoucher()"
            data-qa="btnRedeemVoucher"
        >
            {{ 'profile.storeCredit.useStoreCredit.button' | translate: { amount: credit?.voucherAmount | currency } }}
        </button>
    </div>
</div>
