@import 'src/variables';

.store-credit-container {
    .credit-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-image: url('/assets/images/Cagnottes_bonsAchat_visuel_Bg@2x.jpg');
        background-size: cover;
        background-position: top left;

        .credit-container-amount {
            width: 244px;
            height: 125px;
            background: rgba(255, 255, 255, 0.7) 0 0 no-repeat padding-box;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            backdrop-filter: blur(5px);

            &.desktop {
                border-radius: 8px 8px 0 0;
            }

            .credit-amount {
                display: flex;
                justify-content: center;
                font-size: 50px;
                padding-top: 12px;

                &.desktop {
                    padding-bottom: 25px;
                }
            }

            .holding-credit {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .in-progress-label {
                    font-size: $small-text-font-size;
                }
            }
        }

        .transfer-button {
            &.desktop {
                width: 244px;
                font-size: 14px;
                border-radius: 0 0 8px 8px;
            }
        }
    }

    .card-container {
        background-color: $content-background-color;
    }

    &.desktop {
        .credit-container {
            height: 320px;
        }
    }

    &.handset {
        position: relative;
        height: 100%;
        overflow: auto;

        .credit-container {
            height: 255px;
        }

        .card-container {
            position: relative;
            flex: 1;

            &:before {
                content: ' ';
                mask-image: url('/assets/svg/Bg_top.svg');
                mask-size: cover;
                mask-position: center;
                height: 26px;
                position: absolute;
                z-index: 2;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -15px;
                background-color: $content-background-color;
            }

            .content {
                position: relative;
                z-index: 3;
            }
        }
    }

    .take-cash-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px 20px 20px;

        .kiabi-offer {
            margin-top: 0;
            color: $kia-dark-blue;
            font-size: 18px;
            font-weight: bold;
            max-width: 300px;
            text-align: center;
            white-space: pre-line;
        }

        .progress-bar-container {
            width: 90%;
            height: 30px;
            border-radius: 12px;
            background-color: #ffffff;
            overflow: hidden;

            .progress-bar {
                background-color: $kia-green;
                height: 100%;
            }
        }

        .gain-amount {
            font-size: $normal-text-font-size;

            .amount {
                font-size: $large-text-font-size;
                font-weight: bold;
            }
        }

        .user-store-credit-details {
            font-size: $small-text-font-size;
            color: $light-text-color;
            text-align: center;
        }

        &.desktop {
            padding: 22px 120px;
            box-shadow: 0 0 12px #0400372e;
            background-color: $darker-background-color;
            position: relative;
        }

        &.handset {
            .incomplete-title {
                margin-bottom: 0;
            }
        }

        .incomplete-title {
            text-align: center;
            font-size: $large-text-font-size;
        }

        .incomplete-description {
            text-align: center;
            font-size: $normal-text-font-size;
        }

        .bank-info-button {
            height: 32px;
            font-size: 13px;
        }
    }

    .vouchers-history {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;

        .vouchers-history-title {
            font-size: 18px;
            font-weight: bold;
        }

        .vouchers-history-list {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            .spinner {
                margin-top: 12px;
            }

            &.handset {
                padding-bottom: 60px;
            }

            .voucher-line {
                width: 325px;
                min-width: 305px;
                height: 56px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px 10px;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                cursor: pointer;

                &.disabled {
                    cursor: not-allowed;
                    opacity: 0.6;
                }

                .voucher-line-left {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .voucher-amount {
                        font-size: $large-text-font-size;
                        color: $kia-dark-blue;
                        display: flex;

                        > span:first-child {
                            margin-right: 8px;
                        }

                        app-warning-icon {
                            height: 15px;
                        }

                        > mat-icon {
                            color: $kia-orange;
                            height: 15px;
                            width: 15px;
                            font-size: 18px;
                            position: relative;
                            left: -1px;
                            top: -1px;
                        }
                    }
                }

                .available-date {
                    font-size: $small-text-font-size;
                    color: $light-text-color;
                }
            }

            .voucher-line-right {
                height: 100%;
                display: flex;

                .sent-date {
                    font-size: $very-small-text-font-size;
                    color: $light-text-color;
                    font-style: italic;
                    align-self: flex-end;
                }
            }
        }
    }

    .notice {
        text-align: center;
        margin-top: 12px;
        color: $light-text-color;
    }

    .transfer-container {
        min-height: 60px;
        background-color: $darker-background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        z-index: 10;

        &.handset {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            .notice {
                display: none;
            }
        }

        .minimum-value-error {
            text-align: center;
            color: $kia-red;
            font-size: 12px;
            margin-bottom: 6px;
        }
    }

    .green {
        color: $kia-green !important;
    }

    .red {
        color: $kia-red !important;
    }

    .grey {
        color: $light-text-color !important;
    }

    .no-border-top {
        border-top: none !important;
    }

    .red-bgc {
        background-color: #faf2f0;
    }

    .orange {
        color: $kia-orange !important;
    }
}
