<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.215 34.792">
    <defs>
        <style>
            .a,
            .b {
                fill: #040037;
            }
            .a {
                stroke: #040037;
            }
        </style>
    </defs>
    <g transform="translate(17.107 -208.995)">
        <path
            class="a"
            d="M44.659,23.535l-8.89-9.779a1.33,1.33,0,0,0-.514-.347L31.7,12.076a1.333,1.333,0,0,0-1.721.77c-.016.044-.031.088-.043.132C29.5,14.588,27.619,15.993,25,15.993s-4.5-1.405-4.931-3.014a1.334,1.334,0,0,0-1.417-.986,1.311,1.311,0,0,0-.347.084l-3.556,1.333a1.328,1.328,0,0,0-.514.347L5.35,23.535a1.334,1.334,0,0,0,.084,1.875l6.223,5.778a1.334,1.334,0,0,0,1.764.041l.583-.5L12.572,44.3a1.334,1.334,0,0,0,1.188,1.465,1.315,1.315,0,0,0,.132.007H36.116a1.334,1.334,0,0,0,1.327-1.341c0-.044,0-.088-.007-.132L36.005,30.73l.584.5a1.333,1.333,0,0,0,1.764-.041l6.223-5.778A1.334,1.334,0,0,0,44.659,23.535Zm-7.237,4.9-2.222-1.9a1.334,1.334,0,0,0-2.181,1.153l1.625,15.418H15.365L16.99,27.688a1.333,1.333,0,0,0-2.181-1.153l-2.222,1.9-4.376-4.07L16,15.8l2.07-.778A7.811,7.811,0,0,0,25,18.66a7.811,7.811,0,0,0,6.931-3.639l2.07.778,7.792,8.57Z"
            transform="translate(-21.504 197.514)"
        />
        <g transform="translate(-31.802 184.373)">
            <path
                class="b"
                d="M30.619,41.034a1,1,0,0,0,.651.217,1.56,1.56,0,0,0,.341-.042,1.278,1.278,0,0,0,1.028-1.248,2.873,2.873,0,0,0-.7-1.9.3.3,0,0,0-.09-.22c-.431-.422-.781-.4-.995-.3-.735.3-.759,1.772-.759,1.787A2.133,2.133,0,0,0,30.619,41.034Z"
                transform="translate(-0.553 -0.244)"
            />
            <path
                class="b"
                d="M62.305,37.435v-.018a.751.751,0,0,0-.835-.25,1.136,1.136,0,0,0-.546.567h0a.3.3,0,0,0-.112.259,4.031,4.031,0,0,0-.238.97c-.021.546.121,1.552.8,1.854a.928.928,0,0,0,.374.081c.341,0,.8-.2,1.206-1.058a1.977,1.977,0,0,0-.624-2.411Z"
                transform="translate(-21.847)"
            />
            <path
                class="b"
                d="M40.543,60.042c-3.894-.829-7.935-.567-10.992,2.227-.753.69.368,1.808,1.118,1.121,2.613-2.39,6.145-2.529,9.454-1.808C41.115,61.763,41.54,60.238,40.543,60.042Z"
                transform="translate(0 -15.72)"
            />
        </g>
    </g>
</svg>
