<div class="confirm-decline-sell-dialog-container">
    <div class="clear-container">
        <mat-icon mat-dialog-close class="clickable">clear</mat-icon>
    </div>
    <div class="icon-container">
        <mat-icon>clear</mat-icon>
    </div>
    <div class="header">
        <div class="title">{{ 'lot.declineSellDialog.title' | translate }}</div>
    </div>
    <div class="content">
        <p>
            {{ 'lot.declineSellDialog.content' | translate }}
        </p>
    </div>
    <div class="footer">
        <div class="actions">
            <button type="button" mat-stroked-button color="primary" mat-dialog-close data-qa="btnReturn">
                {{ 'lot.declineSellDialog.no' | translate }}
            </button>
            <button
                type="button"
                class="yesButton"
                mat-flat-button
                color="primary"
                (click)="onYesButtonClicked()"
                data-qa="btnValidate"
            >
                {{ 'lot.declineSellDialog.yes' | translate }}
            </button>
        </div>
    </div>
</div>
