@import 'src/variables';

app-product-filters {
    .mat-stepper-horizontal {
        height: 100%;
        background: $content-background-color;

        .mat-horizontal-stepper-header-container {
            display: none;
        }

        .mat-horizontal-content-container {
            padding: 0;
            height: 100%;

            .mat-horizontal-stepper-content[aria-expanded='true'] {
                height: 100%;
            }
        }
    }
}
