<mat-horizontal-stepper [selectedIndex]="selectedStep">
    <mat-step>
        <app-filter-tab-filters
            [key]="key"
            [isDialog]="isDialog"
            (stepChange)="selectedStep = $event"
            (search)="search()"
        ></app-filter-tab-filters>
    </mat-step>
    <mat-step>
        <app-filter-tab-category
            data-qa="tabFilterCategory"
            [key]="key"
            (goBack)="selectedStep = Steps.FILTERS"
            (goNext)="onCategorySelected($event)"
            *ngIf="selectedStep === Steps.CATEGORY"
        ></app-filter-tab-category>
    </mat-step>
    <mat-step>
        <app-filter-tab-sub-category
            data-qa="tabFilterSubCategory"
            [key]="key"
            [category]="selectedCategory"
            (goBack)="selectedStep = Steps.CATEGORY"
            (goNext)="onSubCategorySelected($event)"
            (goFilters)="selectedStep = Steps.FILTERS"
            *ngIf="selectedStep === Steps.SUB_CATEGORY && !!selectedCategory"
        ></app-filter-tab-sub-category>
    </mat-step>
    <mat-step>
        <app-filter-tab-types
            data-qa="tabFilterType"
            [key]="key"
            [category]="selectedCategory"
            [subCategory]="selectedSubCategory"
            (goBack)="selectedStep = Steps.SUB_CATEGORY"
            (goFilters)="selectedStep = Steps.FILTERS"
            *ngIf="selectedStep === Steps.TYPE && !!selectedCategory && !!selectedSubCategory"
        ></app-filter-tab-types>
    </mat-step>
    <mat-step>
        <app-filter-tab-sizes
            data-qa="tabFilterSize"
            [key]="key"
            (goBack)="selectedStep = Steps.FILTERS"
            (goFilters)="selectedStep = Steps.FILTERS"
            *ngIf="selectedStep === Steps.SIZE"
        ></app-filter-tab-sizes>
    </mat-step>
    <mat-step>
        <app-filter-tab-brands
            data-qa="tabFilterBrand"
            [key]="key"
            (goBack)="selectedStep = Steps.FILTERS"
            (goFilters)="selectedStep = Steps.FILTERS"
            *ngIf="selectedStep === Steps.BRAND"
        ></app-filter-tab-brands>
    </mat-step>
    <mat-step>
        <app-filter-tab-colors
            data-qa="tabFilterColor"
            [key]="key"
            (goBack)="selectedStep = Steps.FILTERS"
            (goFilters)="selectedStep = Steps.FILTERS"
            *ngIf="selectedStep === Steps.COLOR"
        ></app-filter-tab-colors>
    </mat-step>
    <mat-step>
        <app-filter-tab-conditions
            data-qa="tabFilterCondition"
            [key]="key"
            (goBack)="selectedStep = Steps.FILTERS"
            (goFilters)="selectedStep = Steps.FILTERS"
            *ngIf="selectedStep === Steps.CONDITION"
        ></app-filter-tab-conditions>
    </mat-step>
    <mat-step>
        <app-filter-tab-seasonality
            data-qa="tabFilterCondition"
            [key]="key"
            (goBack)="selectedStep = Steps.FILTERS"
            (goFilters)="selectedStep = Steps.FILTERS"
            *ngIf="selectedStep === Steps.SEASONALITY"
        ></app-filter-tab-seasonality>
    </mat-step>
    <mat-step>
        <app-filter-tab-search-history
            data-qa="tabFilterSearchHistory"
            (goBack)="selectedStep = Steps.FILTERS"
            *ngIf="selectedStep === Steps.SEARCH_HISTORY"
        ></app-filter-tab-search-history>
    </mat-step>
</mat-horizontal-stepper>
