<div class="document-card">
    <div class="content">
        <div class="icon-container">
            <app-rib-icon></app-rib-icon>
            <img class="state-icon" src="assets/svg/icon-not-fill.svg" alt="icon" />
        </div>
        <div class="title">
            {{ 'profile.bankDetails.iban-and-rib' | translate }}
        </div>
    </div>
    <div class="state">
        <button type="button" mat-flat-button color="primary" (click)="edit()">
            {{ 'profile.bankDetails.fillIn' | translate }}
        </button>
    </div>
</div>
