<ng-container *ngIf="enableNewHomePage">
    <app-anonymous-home *ngIf="userProfileSelectors.isNotLogged$ | async" appDeviceClasses></app-anonymous-home>
    <app-authorized-home *ngIf="userProfileSelectors.isLogged$ | async" appDeviceClasses></app-authorized-home>
</ng-container>

<ng-container *ngIf="!enableNewHomePage">
    <app-home-handset *ngIf="deviceService.isHandset$ | async"></app-home-handset>
    <app-home-desktop *ngIf="deviceService.isDesktop$ | async"></app-home-desktop>
</ng-container>
