<mat-tab-group mat-stretch-tabs dynamicHeight (click)="$event.stopPropagation()">
    <mat-tab [label]="'filter.searchHistory.recent.title' | translate">
        <div class="search-card-container">
            <div class="search-card-container-title">
                {{ 'filter.searchHistory.recent.subtitle' | translate }}
            </div>
            <ng-container *ngIf="recentSearch$ | async as recentSearch">
                <app-search-card
                    [search]="search"
                    (clicked)="selected.emit($event)"
                    *ngFor="let search of recentSearch; trackBy: trackById"
                ></app-search-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab [label]="'filter.searchHistory.saved.title' | translate">
        <div class="search-card-container">
            <div class="search-card-container-title">
                {{ 'filter.searchHistory.saved.subtitle' | translate }}
            </div>
            <ng-container *ngIf="savedSearch$ | async as savedSearch">
                <app-search-card
                    [search]="search"
                    (clicked)="selected.emit($event)"
                    *ngFor="let search of savedSearch; trackBy: trackById"
                ></app-search-card>
            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>

<div class="loader-container" *ngIf="loading$ | async">
    <mat-spinner color="primary" [diameter]="30"></mat-spinner>
</div>
