@import 'src/variables';

:host {
    position: relative;
}

.search-card-container {
    display: flex;
    flex-direction: column;

    .search-card-container-title {
        padding: 0 12px 12px;
        color: $medium-text-color;
        font-size: 14px;
    }
}
