@import 'src/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;

    h4,
    div {
        color: $kia-dark-blue;
    }

    div {
        font-size: 14px;
    }

    h4 {
        margin-block-start: 1em;
        margin-block-end: 0.5em;
    }

    .header {
        h4 {
            margin-block-start: 0.5em;
        }
        div {
            font-size: 13px;
            text-align: justify;
        }
    }

    .content {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        margin-bottom: 20px;

        .consent-choice {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            > div {
                flex: 1;
            }

            .consent-partners {
                margin-top: 12px;
            }

            app-cookie-toggle-switch,
            app-cookie-mandatory-switch {
                margin-left: 30px;
                width: 80px;
            }
        }
    }

    .footer {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        > button {
            width: 400px;
        }
    }
}
