<form [formGroup]="form" class="content">
    <section class="header">
        <h4>
            {{ 'cookie-consent.dialog.title' | translate }}
        </h4>

        <div>
            <span>
                {{ 'cookie-consent.dialog.text' | translate }}
            </span>
            <a href="/other/cookies" target="_blank">
                {{ 'cookie-consent.dialog.click' | translate }}
            </a>
        </div>
    </section>

    <section>
        <h4>
            {{ 'cookie-consent.dialog.ads.title' | translate }}
        </h4>

        <div class="consent-choice">
            <div>
                <div>
                    {{ 'cookie-consent.dialog.ads.text' | translate }}
                </div>
                <div class="consent-partners">
                    {{ 'cookie-consent.dialog.ads.partners' | translate }}
                </div>
            </div>
            <app-cookie-toggle-switch formControlName="ads"></app-cookie-toggle-switch>
        </div>
    </section>

    <section>
        <h4>
            {{ 'cookie-consent.dialog.performance.title' | translate }}
        </h4>

        <div class="consent-choice">
            <div>
                {{ 'cookie-consent.dialog.performance.text' | translate }}

                <div class="consent-partners">
                    {{ 'cookie-consent.dialog.performance.partners' | translate }}
                </div>
            </div>
            <app-cookie-toggle-switch formControlName="performance"></app-cookie-toggle-switch>
        </div>
    </section>

    <section>
        <h4>
            {{ 'cookie-consent.dialog.service.title' | translate }}
        </h4>

        <div class="consent-choice">
            <div>
                {{ 'cookie-consent.dialog.service.text' | translate }}
            </div>
            <app-cookie-toggle-switch formControlName="service"></app-cookie-toggle-switch>
        </div>
    </section>

    <section>
        <h4>
            {{ 'cookie-consent.dialog.technical.title' | translate }}
        </h4>

        <div class="consent-choice">
            <div>
                {{ 'cookie-consent.dialog.technical.text' | translate }}
            </div>
            <app-cookie-mandatory-switch>
                {{ 'cookie-consent.dialog.actions.mandatory' | translate }}
            </app-cookie-mandatory-switch>
        </div>
    </section>
</form>

<div class="footer">
    <button type="button" kia-button (click)="onValidateButtonClicked()">
        {{ 'cookie-consent.dialog.actions.validate' | translate }}
    </button>
</div>
