@import 'src/variables';

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .spinner {
        height: 70vh;
        align-items: center;
    }

    .edit-profil-container {
        flex: 1;
        overflow-y: auto;
        width: 100%;
        background-color: $content-background-color;
        padding: 12px;

        &.handset {
            padding-bottom: calc(#{$footer-height} + 12px + env(safe-area-inset-bottom));
            box-sizing: border-box;
        }

        &.desktop {
            padding: 40px;
            box-sizing: border-box;
            background-color: white;
            max-width: 700px;
            border-radius: 8px;

            h1 {
                margin-top: 0;
            }
        }

        .help-button {
            color: $medium-text-color;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            > * {
                width: 100%;
            }

            mat-form-field {
                margin-bottom: 12px;
            }

            mat-slide-toggle {
                margin-bottom: 24px;
            }

            .avatar-field-container {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 24px;

                .edit-profil_avatar {
                    flex: 0 0 auto;
                    position: relative;
                    width: 100px;
                    height: 100px;
                    border: 1px solid rgba(0, 0, 0, 0.12);
                    border-radius: 5px;
                    margin-bottom: 8px;

                    .picture-error {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        height: 100%;
                        width: 100%;
                        background-color: #f7f7f8;
                        opacity: 0.8;
                        z-index: 2;
                        border: solid 1px $kia-red;

                        .images-eraser {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .icon-container {
                                width: 65px;

                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }
                    }

                    .spinner {
                        height: 100%;
                        align-items: center;
                    }

                    .edit-profil_avatar_preview {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            image-orientation: from-image;
                            border-radius: 5px;
                        }

                        .edit-profil_avatar_icon {
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            width: 22px;
                            height: 22px;
                            background-color: rgba(0, 0, 0, 0.3);
                            font-size: 14px;
                            color: white;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            > mat-icon {
                                font-size: 14px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }

                        input[type='file'] {
                            height: 100%;
                            width: 100%;
                            cursor: pointer;
                        }
                    }

                    input {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        opacity: 0;
                        z-index: 2;
                        cursor: pointer;
                    }

                    button {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        mat-icon {
                            font-size: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                .picture-error-container {
                    font-size: 13px;
                }
            }

            button {
                margin-bottom: 12px;
            }
        }
    }
}
