<div class="spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
</div>
<app-header-with-back-button *ngIf="deviceService.isHandset$ | async"></app-header-with-back-button>
<div class="edit-profil-container" *ngIf="!isLoading" appDeviceClasses>
    <h1>{{ 'userForm.title' | translate }}</h1>
    <form autocomplete="off" [formGroup]="editProfilForm!" (ngSubmit)="save()">
        <div class="avatar-field-container">
            <div class="edit-profil_avatar">
                <div class="spinner" *ngIf="isUploadingPicture">
                    <mat-spinner [diameter]="20" color="primary"></mat-spinner>
                </div>
                <div class="edit-profil_avatar_preview" *ngIf="!isUploadingPicture">
                    <div *ngIf="user?.picture?.status === 'MODERATED' && !hasNewPicture" class="picture-error">
                        <div class="images-eraser" #input>
                            <div class="icon-container">
                                <img
                                    src="assets/svg/Vendre_Ajouterphoto_icon_actif.svg"
                                    [alt]="'product.addPictures' | translate"
                                />
                            </div>
                            <input
                                type="file"
                                #pictureInput
                                [alt]="'product.addPictures' | translate"
                                accept="image/*;capture=camera"
                                (change)="editPicture($event.target!['files'])"
                            />
                        </div>
                    </div>
                    <img
                        *ngIf="!hasNewPicture"
                        [src]="getCompleteUrl(user?.picture?.fileName)"
                        [appThumbnailFormat]="{
                            origin: getCompleteUrl(user?.picture?.fileName),
                            format: 'listing',
                            fallback: 'avatar'
                        }"
                        alt="preview"
                    />
                    <!-- 💡 : Pas de thumbnails pour les images non-modérées (mais un fallback) -->
                    <img
                        *ngIf="hasNewPicture"
                        [src]="getCompleteUrl(editProfilForm?.controls?.picture?.value?.fileName)"
                        [appThumbnailFormat]="{
                            origin: getCompleteUrl(editProfilForm?.controls?.picture?.value?.fileName),
                            fallback: 'avatar'
                        }"
                        alt="preview"
                    />
                    <div class="edit-profil_avatar_icon">
                        <mat-icon>edit</mat-icon>
                    </div>
                    <input
                        type="file"
                        alt="add images"
                        accept="image/*"
                        (change)="editPicture($event.target!['files'])"
                        data-qa="btnAddImage"
                    />
                </div>
            </div>
            <mat-error class="picture-error-container" *ngIf="user?.picture?.status === 'MODERATED' && !hasNewPicture">
                {{ 'userForm.error.avatarModerated' | translate }}
            </mat-error>

            <button
                type="button"
                mat-button
                (click)="onRemovePictureButtonClicked()"
                *ngIf="editProfilForm?.controls?.picture?.value"
            >
                {{ 'userForm.removePicture' | translate }}
            </button>
        </div>

        <mat-form-field [class.mat-form-field-disabled]="status === 'REGISTERED_KYC2'">
            <mat-label>{{ 'userForm.firstName' | translate }}</mat-label>
            <input
                matInput
                maxlength="50"
                type="text"
                formControlName="firstName"
                required
                data-qa="firstName"
                [class.mat-form-field-disabled]="status === 'REGISTERED_KYC2'"
                [readonly]="status === 'REGISTERED_KYC2'"
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                class="help-button"
                (click)="openInvalidAccountStatusDialog()"
                *ngIf="status === 'REGISTERED_KYC2'"
            >
                <mat-icon>help_outline</mat-icon>
            </button>
            <mat-error *ngIf="editProfilForm?.controls?.firstName?.errors?.minlength">
                {{ 'userForm.error.minLength' | translate }}
            </mat-error>
            <mat-error *ngIf="editProfilForm?.controls?.firstName?.errors?.pattern">
                {{ 'userForm.error.pattern' | translate }}
            </mat-error>
            <mat-error *ngIf="editProfilForm?.controls?.firstName?.errors?.invalidName">
                {{ 'userForm.error.invalidName' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field [class.mat-form-field-disabled]="status === 'REGISTERED_KYC2'">
            <mat-label>{{ 'userForm.lastName' | translate }}</mat-label>
            <input
                matInput
                maxlength="50"
                type="text"
                formControlName="lastName"
                required
                data-qa="lastName"
                [class.mat-form-field-disabled]="status === 'REGISTERED_KYC2'"
                [readonly]="status === 'REGISTERED_KYC2'"
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                class="help-button"
                (click)="openInvalidAccountStatusDialog()"
                *ngIf="status === 'REGISTERED_KYC2'"
            >
                <mat-icon>help_outline</mat-icon>
            </button>
            <mat-error *ngIf="editProfilForm?.controls?.lastName?.errors?.minlength">
                {{ 'userForm.error.minLength' | translate }}
            </mat-error>
            <mat-error *ngIf="editProfilForm?.controls?.lastName?.errors?.pattern">
                {{ 'userForm.error.pattern' | translate }}
            </mat-error>
            <mat-error *ngIf="editProfilForm?.controls?.lastName?.errors?.invalidName">
                {{ 'userForm.error.invalidName' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.nickname' | translate }}</mat-label>
            <input matInput maxlength="50" type="text" formControlName="nickname" required data-qa="nickName" />
            <div matSuffix *ngIf="editProfilForm?.controls?.nickname?.status === 'PENDING'">
                <mat-spinner [diameter]="15"></mat-spinner>
            </div>
            <mat-error *ngIf="editProfilForm?.controls?.nickname?.errors?.notUnique">
                {{ 'userForm.error.nicknameTaken' | translate }}
            </mat-error>
            <mat-error *ngIf="editProfilForm?.controls?.nickname?.errors?.pattern">
                {{ 'userForm.error.invalidNickname' | translate }}
            </mat-error>
            <mat-error *ngIf="editProfilForm?.controls?.nickname?.errors?.unauthorizedName">
                {{ 'userForm.error.unauthorizedName' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.gender.title' | translate }}</mat-label>
            <mat-select formControlName="gender" required data-qa="gender">
                <mat-option value="M">{{ 'userForm.gender.men' | translate }}</mat-option>
                <mat-option value="F">{{ 'userForm.gender.women' | translate }}</mat-option>
                <mat-option value="U">{{ 'userForm.gender.unspecified' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field [class.mat-form-field-disabled]="status === 'REGISTERED_KYC2'">
            <mat-label>{{ 'userForm.birthDate' | translate }}</mat-label>
            <input
                #birthDate
                (focus)="birthDate.alt = 'true'"
                (focusout)="birthDate.alt = 'false'"
                [imask]="{ mask: '00/00/0000' }"
                matInput
                formControlName="birthDate"
                type="text"
                placeholder="JJ/MM/AAAA"
                required
                data-qa="birthdate"
                [class.mat-form-field-disabled]="status === 'REGISTERED_KYC2'"
                [readonly]="status === 'REGISTERED_KYC2'"
            />
            <button
                mat-icon-button
                matSuffix
                type="button"
                class="help-button"
                (click)="openInvalidAccountStatusDialog()"
                *ngIf="status === 'REGISTERED_KYC2'"
            >
                <mat-icon>help_outline</mat-icon>
            </button>
            <mat-hint *ngIf="birthDate.alt === 'true'">{{ 'userForm.hint.dateFormat' | translate }}</mat-hint>
            <mat-error *ngIf="editProfilForm?.controls?.birthDate?.errors?.invalidFormat">
                {{ 'userForm.error.birthdateFormat' | translate }}
            </mat-error>
            <mat-error *ngIf="editProfilForm?.controls?.birthDate?.errors?.invalidLegalDate">
                {{ 'userForm.error.invalidLegalBirthdate' | translate }}
            </mat-error>
            <mat-error *ngIf="editProfilForm?.controls?.birthDate?.errors?.invalidDate">
                {{ 'userForm.error.invalidBirthdate' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.email' | translate }}</mat-label>
            <input matInput maxlength="70" type="email" formControlName="email" required data-qa="email" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.phoneNumber' | translate }}</mat-label>
            <input matInput maxlength="13" type="tel" formControlName="phoneNumber" data-qa="phoneNumber" />
            <mat-error *ngIf="editProfilForm?.controls?.phoneNumber?.errors">
                {{ 'userForm.error.invalidPhone' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'userForm.presentation' | translate }}</mat-label>
            <textarea
                matInput
                [matTextareaAutosize]="true"
                [matAutosizeMinRows]="5"
                type="text"
                maxlength="2000"
                formControlName="presentation"
                data-qa="presentation"
            ></textarea>
            <mat-error *ngIf="editProfilForm?.controls?.presentation?.errors?.fieldModerated">
                {{ 'userForm.error.presentationModerated' | translate }}
            </mat-error>
        </mat-form-field>

        <button kia-button type="submit" (click)="save()" [disabled]="!!editProfilForm?.invalid" data-qa="btnSubmit">
            {{ 'common.save' | translate }}
        </button>

        <button kia-button variant="warn" type="button" (click)="onDeleteAccountButtonClicked()">
            {{ 'common.deleteAccount' | translate }}
        </button>
    </form>
</div>
