<div class="vacation-banner" *ngIf="user?.status === userProfileStatus.VACATION">
    <div class="label">{{ 'navigation.holidaysModeActivated' | translate }}</div>
    <button kia-button (click)="unableVacationMode()">{{ 'common.unable' | translate }}</button>
</div>
<nav>
    <ul>
        <li data-qa="goHome">
            <a
                routerLink="/"
                routerLinkActive="active"
                #rlaHome="routerLinkActive"
                [attr.aria-current]="rlaHome.isActive ? 'page' : false"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="onHomeClicked()"
            >
                <app-home-icon [active]="rlaHome.isActive"></app-home-icon>
                <span>{{ 'navigation.home' | translate }}</span>
            </a>
        </li>
        <li data-qa="goSearch">
            <a
                routerLink="/search"
                routerLinkActive="active"
                #rlaSearch="routerLinkActive"
                [queryParams]="filter$ | async"
                [attr.aria-current]="rlaSearch.isActive ? 'page' : false"
                (click)="onSearchClicked()"
            >
                <app-search-icon [active]="rlaSearch.isActive"></app-search-icon>
                <span>{{ 'navigation.search.title' | translate }}</span>
            </a>
        </li>
        <li data-qa="goSell">
            <a
                routerLink="/add"
                routerLinkActive="active"
                #rlaAdd="routerLinkActive"
                [attr.aria-current]="rlaAdd.isActive ? 'page' : false"
                appDisableIfUserBlocked
            >
                <app-sell-icon [active]="rlaAdd.isActive"></app-sell-icon>
                <span>{{ 'navigation.sell' | translate }}</span>
            </a>
        </li>
        <li data-qa="goChat">
            <a
                routerLink="/chat"
                routerLinkActive="active"
                #rlaChat="routerLinkActive"
                [attr.aria-current]="rlaChat.isActive ? 'page' : false"
            >
                <div class="icon-container">
                    <app-chat-icon [active]="rlaChat.isActive"></app-chat-icon>
                    <div class="pin" *ngIf="(unReadDiscussions$ | async) || (unReadNotifications$ | async)"></div>
                </div>
                <span>{{ 'navigation.messages' | translate }}</span>
            </a>
        </li>
        <li data-qa="goProfil">
            <div class="avatar-container">
                <ng-container *ngIf="isLogged$ | async">
                    <a
                        routerLink="/profile"
                        routerLinkActive="active"
                        #rlaProfile="routerLinkActive"
                        [attr.aria-current]="rlaProfile.isActive ? 'page' : false"
                    >
                        <app-avatar [avatar]="user?.picture" [diameter]="24"></app-avatar>
                        <span class="nickname">
                            {{ user?.nickname }}
                        </span>
                    </a>
                    <div class="profile-pin" *ngIf="isUserModerated$ | async"></div>
                </ng-container>

                <ng-container *ngIf="(isLogged$ | async) === false">
                    <a routerLink="/login" routerLinkActive="active">
                        <img class="avatar" src="assets/svg/Footer_Profils_icon.svg" alt="avatar" />
                        <span>
                            {{ 'navigation.profile' | translate }}
                        </span>
                    </a>
                </ng-container>
            </div>
        </li>
    </ul>
</nav>
