@import 'src/variables';

:host {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 1000;
    background-color: #ffffff;

    .vacation-banner {
        height: $footer-height;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        box-sizing: border-box;
        box-shadow: 0px -2px 3px rgb(50 50 50 / 25%);

        .label {
            flex: 2;
            margin-right: 10px;
        }

        > button {
            flex: 1;
        }
    }

    nav {
        width: 100%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        box-sizing: border-box;
        padding-bottom: env(safe-area-inset-bottom);
        height: calc(#{$footer-height} + env(safe-area-inset-bottom));

        ul {
            width: 100%;
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;

            li {
                height: 40px;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    color: inherit;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .icon-container {
                        height: 20px;
                        width: 20px;
                        margin-bottom: 6px;
                        position: relative;

                        .pin {
                            position: absolute;
                            top: -6px;
                            right: -6px;
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            border: 3px solid white;
                            background-color: #c13515;
                        }
                    }

                    > span {
                        font-size: 10px;
                        font-weight: bold;
                        color: $light-text-color;
                    }

                    &.active {
                        span {
                            color: $kia-dark-blue;
                        }
                    }
                }
            }

            .avatar-container {
                position: relative;

                .avatar {
                    width: 24px !important;
                    height: 24px !important;
                    margin-bottom: 3px !important;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .nickname {
                    max-width: 50px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .profile-pin {
                    position: absolute;
                    top: -2px;
                    right: -3px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    border: 3px solid white;
                    background-color: #c13515;
                }
            }
        }
    }
}
