@import 'src/variables';

.edit-identity-dialog-container {
    min-height: 100%;
    background-color: $content-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .dialog-header {
        background-color: white;
        z-index: 101;
        height: 90px;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;

        .close-icon-button {
            position: absolute;
            top: 5px;
            right: 5px;
            color: $kia-lighten-dark-blue;
        }
    }

    .dialog-content {
        margin: 40px;
    }

    .dialog-footer {
        background-color: $darker-background-color;
        z-index: 101;
        height: 50px;
        display: flex;
        position: sticky;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 8px 40px max(8px, env(safe-area-inset-bottom));

        button {
            margin: 0 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
        }

        > button:first-child {
            flex: 1;
        }

        > button:last-child {
            flex: 2;
        }
    }
}
