<div class="edit-identity-dialog-container">
    <div class="dialog-header">
        <app-stepper
            [steps]="steps"
            [activeStep]="activeStep"
            [doneSteps]="doneSteps"
            (stepClicked)="goToStep($event)"
        ></app-stepper>
        <button
            type="button"
            mat-icon-button
            mat-dialog-close
            tabindex="-1"
            class="close-icon-button"
            [attr.aria-label]="'common.close' | translate"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="dialog-content" [ngSwitch]="activeStep">
        <ng-container *ngSwitchCase="0">
            <app-edit-identity-document-type
                (documentTypeChanged)="onDocumentTypeChanged($event)"
                [identityForm]="identityForm"
            ></app-edit-identity-document-type>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <app-edit-identity-document-upload
                [type]="identityForm?.controls?.documentType?.value"
                [rectoFile]="rectoFile"
                [versoFile]="versoFile"
                (fileUploaded)="onFileUploaded($event)"
                (rectoFileUploaded)="onRectoFileUploaded($event)"
                (versoFileUploaded)="onVersoFileUploaded($event)"
            ></app-edit-identity-document-upload>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <app-edit-identity-document-recap [identityForm]="identityForm"></app-edit-identity-document-recap>
        </ng-container>
    </div>
    <div class="dialog-footer">
        <button type="button" mat-stroked-button color="primary" (click)="previousStep()">
            {{ 'common.back' | translate }}
        </button>
        <button
            type="button"
            mat-flat-button
            color="primary"
            (click)="nextStep()"
            [disabled]="nextButtonDisabled || loading"
        >
            <ng-container *ngIf="activeStep < 2; then nextStepLabel; else sendLabel"></ng-container>
            <ng-template #nextStepLabel>
                {{ 'profile.bankDetails.nextStep' | translate }}
            </ng-template>
            <ng-template #sendLabel>
                {{ 'common.send' | translate }}
            </ng-template>
        </button>
    </div>
    <div class="loader-container" *ngIf="loading">
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>
</div>
