<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <g transform="translate(-260 -709)">
        <path
            class="b"
            d="M144.032,208.354l-9.658,10.019-.05.05a.518.518,0,0,1-.72-.05h-.01l-5.046-5.365a.51.51,0,0,1-.01-.73.519.519,0,0,1,.73.01l4.726,5.025,9.328-9.689a.509.509,0,1,1,.71.73Z"
            transform="translate(139.777 512.416)"
        />
    </g>
</svg>
