<div class="header">
    <div class="title">{{ 'dialog.actions.more.title' | translate }}</div>
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        class="close-button"
        appDeviceClasses
        tabindex="-1"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
</div>
<div class="content">
    <button
        type="button"
        class="action-button"
        mat-flat-button
        [disabled]="(isCancelSellEnabled$ | async) === false"
        (click)="onCancelSellButtonClicked()"
        [matTooltip]="'dialog.actions.types.cancelSell.tooltip' | translate"
        [matTooltipDisabled]="isCancelSellEnabled$ | async"
        *ngIf="discussion && !discussion.readOnly"
    >
        <span class="action-button-wrapper">
            <mat-icon class="danger">error_outline</mat-icon>
            <span class="text">{{ 'dialog.actions.types.cancelSell.content' | translate }}</span>
            <mat-icon>chevron_right</mat-icon>
        </span>
    </button>
    <button
        type="button"
        class="action-button"
        mat-flat-button
        [disabled]="isSaleInProgressWith$ | async"
        (click)="onBlockUserButtonClicked()"
        *ngIf="(isUserBlock$ | async) === false && !discussion?.messageOnly"
    >
        <span class="action-button-wrapper">
            <mat-icon class="danger">error_outline</mat-icon>
            <span class="text">{{ 'dialog.actions.types.blockUser.content' | translate }}</span>
            <mat-icon>chevron_right</mat-icon>
        </span>
    </button>
    <button
        type="button"
        class="action-button"
        mat-flat-button
        (click)="onUnblockUserButtonClicked()"
        *ngIf="(isUserBlock$ | async) && !discussion?.messageOnly"
    >
        <span class="action-button-wrapper">
            <mat-icon class="success">check_circle_outline</mat-icon>
            <span class="text">{{ 'dialog.actions.types.unblockUser.content' | translate }}</span>
            <mat-icon>chevron_right</mat-icon>
        </span>
    </button>
    <button type="button" class="action-button" mat-flat-button (click)="onReportUserButtonClicked()">
        <span class="action-button-wrapper">
            <mat-icon class="danger">error_outline</mat-icon>
            <span class="text">{{ 'dialog.actions.types.reportUser.title' | translate }}</span>
            <mat-icon>chevron_right</mat-icon>
        </span>
    </button>
    <button
        type="button"
        class="action-button"
        mat-flat-button
        [disabled]="isSaleInProgress$ | async"
        (click)="onArchiveDiscussionButtonClicked()"
    >
        <span class="action-button-wrapper">
            <mat-icon class="danger">highlight_off</mat-icon>
            <span class="text">{{ 'dialog.actions.types.archiveDiscussion.content' | translate }}</span>
            <mat-icon>chevron_right</mat-icon>
        </span>
    </button>
</div>
<div class="actions" appDeviceClasses>
    <button type="button" kia-button variant="bordered" mat-dialog-close>
        {{ 'common.back' | translate }}
    </button>
</div>
