@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f2f2f5;
    height: 100%;

    &.handset {
        height: $pageHeight;

        .action-button {
            border-radius: 0 !important;
        }
    }

    &.desktop {
        max-height: 95vh;

        .content {
            margin: 0 40px;
        }

        .actions {
            margin: 20px 40px;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 20px;
        color: $kia-dark-blue;
        position: relative;

        .title {
            margin-top: 40px;
            font-size: 18px;
            font-weight: bold;
        }

        .subtitle {
            font-size: 14px;
            margin-top: 6px;
        }

        .close-button {
            position: absolute;
            top: 4px;
            right: 4px;
            color: $kia-lighten-dark-blue;

            &.desktop {
                top: -2px;
            }
        }
    }

    .content {
        flex: 1;
        overflow-y: auto;
        padding-top: 36px;

        > *:not(:last-child) {
            margin-bottom: 12px;
        }

        .action-button {
            width: 100%;
            min-height: 64px;

            .action-button-wrapper {
                display: flex;
                align-items: center;

                .text {
                    color: $kia-dark-blue;
                    text-align: start;
                    font-size: 16px;
                    flex: 1;
                }

                mat-icon {
                    color: $medium-text-color;
                }

                .danger {
                    color: $kia-red;
                }

                .success {
                    color: $kia-green;
                }

                mat-icon:first-child {
                    margin-right: 12px;
                }
            }
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0 max(8px, env(safe-area-inset-bottom));

        &.handset {
            background: $darker-background-color;
        }

        button:not(:last-child) {
            margin-right: 12px;
        }
    }
}
