<div class="page-not-found-container">
    <div class="page-content">
        <div class="header">
            <a class="logo" routerLink="/">
                <img src="assets/svg/logo.svg" [alt]="'main.title' | translate" />
            </a>
            <div class="links" *ngIf="deviceService.isDesktop$ | async">
                <a class="link" routerLink="/">
                    {{ 'navigation.home' | translate }}
                </a>
                <a class="link" [href]="'mailto:' + contactAddress">
                    {{ 'navigation.contact' | translate }}
                </a>
            </div>
        </div>
        <div class="content">
            <div class="icon-container">
                <img class="icon" src="assets/svg/Messagerie_Statut_articleIndispo_icon_dark.svg" alt="icon" />
                <div class="status">404</div>
            </div>
            <div class="title">{{ 'pageNotFound.title' | translate }}</div>
            <div class="description">{{ 'pageNotFound.content' | translate }}</div>
            <div class="button-container">
                <button type="button" kia-button (click)="goBack()">
                    {{ 'common.back' | translate }}
                </button>
                <a kia-button variant="bordered" routerLink="/" *ngIf="deviceService.isHandset$ | async">
                    {{ 'pageNotFound.backToHome' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
