@import 'src/variables';

.page-not-found-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: white;

    .page-content {
        height: 100%;
        width: 100%;
        max-width: $desktop-max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px;

            .logo {
                width: 280px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .links {
                display: flex;
                align-items: center;

                .link {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    color: $medium-text-color;

                    &:hover {
                        color: $kia-dark-blue;
                    }
                }

                .link:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 24px;
            max-width: 600px;
            margin: auto;

            .icon-container {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .icon {
                    height: 64px;
                    width: auto;
                }

                .status {
                    margin-left: 20px;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 50px;
                    text-transform: uppercase;
                    color: $kia-dark-blue;
                }
            }

            .title {
                font-weight: bold;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                color: $kia-dark-blue;
                margin-bottom: 10px;
            }

            .description {
                font-style: normal;
                font-size: 16px;
                line-height: 18px;
                color: $medium-text-color;
                text-align: center;
                margin-bottom: 20px;
            }

            .button-container {
                display: flex;
                flex-direction: column;

                *:not(:first-child) {
                    margin-top: 12px;
                }
            }
        }
    }
}
