@import 'src/variables';

:host {
    .check-icon {
        color: #ccccd7;
    }

    .empty-following {
        text-align: center;
        padding: 20px;
    }

    .grid-container {
        margin-bottom: 150px;
    }

    .grid {
        display: grid;
        box-sizing: border-box;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: $kia-dark-blue;
    }

    .handset {
        .grid {
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            padding: 10px;
            column-gap: 10px;
            row-gap: 10px;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            padding-bottom: calc(#{$footer-height} + env(safe-area-inset-bottom));
        }
    }

    .desktop {
        .grid {
            grid-template-columns: repeat(4, 1fr);
            margin: 0 25px;
            column-gap: 20px;
            row-gap: 30px;
            grid-column-gap: 20px;
            grid-row-gap: 30px;
        }
    }

    .card {
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        width: inherit;
        text-decoration: none;

        .avatar-container {
            z-index: 8;
            width: 100%;
            height: 150px;
            position: relative;

            .avatar {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .vacations-icon {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 36px;
            height: 36px;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 14px;
            color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-hidden-container {
            .card-container {
                position: relative;
                z-index: 9;
                width: 100%;
                flex: 1;
                background-color: $app-background-color;

                &:before {
                    content: ' ';
                    mask-image: url('/assets/svg/profile-border.svg');
                    mask-size: cover;
                    mask-position: center;
                    height: 26px;
                    position: absolute;
                    z-index: 2;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    top: -15px;
                    background-color: $app-background-color;
                }

                .content {
                    position: relative;
                    z-index: 3;
                    padding-bottom: 10px;

                    .information {
                        padding: 0 20px;

                        .pseudo-container {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            app-chip {
                                margin-right: 8px;
                            }

                            .pseudo {
                                text-align: center;
                                font-size: 18px;
                                font-weight: bold;
                                color: $kia-dark-blue;
                                max-width: 125px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }

                            .vacation-mode {
                                font-size: $small-text-font-size;
                                color: $kia-red;
                                display: flex;
                                align-items: center;
                                border: 1px solid $kia-red;
                                border-radius: 10px;
                                padding: 2px 6px;
                                margin-left: 8px;

                                > mat-icon {
                                    font-size: 14px;
                                    width: 14px;
                                    height: 14px;
                                    margin-right: 6px;
                                }
                            }
                        }

                        .presentation {
                            margin-top: 7px;
                            margin-bottom: 10px;
                            font-style: italic;
                            font-size: 14px;
                            color: $medium-text-color;
                            line-height: 20px;
                            white-space: pre-line;
                        }

                        .rating {
                            border-radius: 8px;
                            height: 50px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 10px;
                            margin: 15px 0;
                            text-decoration: none;
                            background: $darker-background-color;

                            .rating-title {
                                font-style: normal;
                                font-size: 12px;
                                line-height: 14px;
                                color: $light-text-color;
                            }

                            .user-rating-number {
                                font-style: normal;
                                font-size: 16px;
                                line-height: 18px;
                                color: $kia-dark-blue;
                                margin-left: 3px;
                            }

                            .arrow {
                                color: $light-text-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .loader {
        margin-top: 10px;
        * {
            margin: auto;
        }
    }
}
