@import 'src/variables';

:host {
    .neutral {
        fill: #000000;

        path {
            stroke: white;
            stroke-width: 2%;
        }

        .icon {
            fill: #b3b2c2;
        }
    }

    .kia-dark-blue {
        fill: #000000;

        path {
            stroke: white;
            stroke-width: 2%;
        }

        .icon {
            fill: $kia-dark-blue;
        }
    }
}
