@import 'src/variables';

app-lemonway-cgu {
    height: 100%;
    display: flex;
    flex-direction: column;

    .lemonway-cgu-container {
        flex: 1;
        overflow-y: auto;
        background-color: $content-background-color;
        padding: 24px;

        &.handset {
            padding-bottom: calc(#{$footer-height} + 24px + env(safe-area-inset-bottom));
        }

        .title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .title {
                color: $kia-dark-blue;
                font-weight: bold;
                font-size: 24px;
                line-height: 26px;
                margin: 10px 0;
            }

            .subtitle {
                color: $kia-dark-blue;
                font-style: normal;
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }

        h4 {
            font-weight: bold !important;
            font-size: 20px !important;
            line-height: 22px !important;
            color: $kia-dark-blue !important;
            margin: 20px 0;
        }

        h5 {
            font-style: normal !important;
            font-size: 16px !important;
            line-height: 18px !important;
            color: $kia-dark-blue !important;
            margin: 10px 0;
        }

        * {
            color: $medium-text-color;
            font-size: 12px;
        }
    }
}
