<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.lemonWayCgu' | translate"
></app-header-with-title>
<div class="lemonway-cgu-container" appDeviceClasses data-qa="lemonWayCgu">
    <div class="title-container">
        <img src="assets/images/lemonway/Lemon-Way-Logo-Inline-200px.png" alt="lemonway logo" />
        <div class="title">{{ 'text.lemonWayCgu.title' | translate }}</div>
        <div class="subtitle">{{ 'text.lemonWayCgu.version' | translate }}</div>
    </div>
    <div [innerHTML]="'text.lemonWayCgu.content' | translate | safeHtml"></div>
</div>
