@import 'src/variables';

.payment-lines {
    background-color: white;

    .payment-line {
        display: flex;
        justify-content: space-between;
        color: $light-text-color;
        font-size: $small-text-font-size;
        font-weight: normal;
        line-height: 20px;

        &.small {
            font-size: $small-text-font-size;
        }

        &.normal {
            font-size: $normal-text-font-size;
            color: $kia-dark-blue;
            font-weight: bold;
        }

        &.uppercase {
            text-transform: uppercase;
        }

        .inline-flex {
            display: flex;
            align-items: center;
        }

        .more-information {
            height: 18px;
            width: 18px;
            background: $darker-background-color;
            border-radius: 50px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            cursor: help;
            border: none;
        }

        .striked-price {
            text-decoration: line-through;
        }
    }

    mat-divider {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}
