<div class="payment-lines">
    <div class="payment-line normal">
        <span>
            {{ 'common.article' | translate: { amount: lot?.products?.length } }}
            <ng-container *ngIf="totalProductsWithNegociation !== lot?.totalPrice">
                - {{ 'payment.totalNegociated' | translate }}
            </ng-container>
        </span>
        <span>
            <span class="striked-price" *ngIf="totalProductsWithNegociation !== lot?.totalPrice">
                {{ lot?.totalPrice | currency }}
            </span>
            <span data-qa="strikedPrice">{{ totalProductsWithNegociation | currency }}</span>
        </span>
    </div>
    <div class="payment-line small" data-qa="shippingFees">
        <span>{{ 'payment.shippingFees' | translate }}</span>
        <span data-qa="shippingFees">{{ shippingFees | currency }}</span>
    </div>
    <div class="payment-line small">
        <div class="inline-flex">
            {{ 'payment.handlingFees' | translate }}
            <button
                type="button"
                class="more-information"
                #tooltip="matTooltip"
                (click)="tooltip.toggle()"
                [matTooltip]="'order.feesDescription' | translate"
            >
                ?
            </button>
        </div>
        <span data-qa="handlingFees">{{ handlingFees | currency }}</span>
    </div>
    <div class="payment-line small" *ngIf="!recap">
        <span>{{ 'payment.totalToPay' | translate }}</span>
        <span data-qa="totalToPay">{{ total | currency }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="payment-line small">
        <span>{{ 'payment.cashCredits' | translate }}</span>
        <span data-qa="cashCredits">{{ cash | currency }}</span>
    </div>
    <div class="payment-line small" *ngIf="recap">
        <span>{{ 'payment.creditCard' | translate }}</span>
        <span data-qa="cardCredits">{{ leftToPay | currency }}</span>
    </div>
    <div class="payment-line small" *ngIf="recap && refund > 0">
        <span>{{ 'payment.refund' | translate }}</span>
        <span data-qa="refund">{{ refund * -1 | currency }}</span>
    </div>
    <div class="payment-line normal uppercase" *ngIf="!recap">
        <span>{{ 'payment.leftToPay' | translate }}</span>
        <span data-qa="leftToPay">{{ leftToPay | currency }}</span>
    </div>
    <div class="payment-line normal uppercase" *ngIf="recap">
        <span>{{ 'payment.totalToPay' | translate }}</span>
        <span data-qa="totalToPay">{{ total | currency }}</span>
    </div>
</div>
