<app-header-with-title *ngIf="deviceService.isHandset$ | async" [title]="'profile.link.notifications' | translate">
</app-header-with-title>

<div class="container" appDeviceClasses>
    <div class="title">
        {{ 'notifications.title' | translate }}
    </div>

    <form [formGroup]="form">
        <mat-list class="list" role="list">
            <mat-list-item>
                <div class="list-item">
                    <div>{{ 'notifications.features.commercialEmail' | translate }}</div>
                    <mat-slide-toggle formControlName="acceptCommercialContact" color="primary"></mat-slide-toggle>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <div>{{ 'notifications.features.email' | translate }}</div>
                    <mat-slide-toggle formControlName="acceptMailNotification" color="primary"></mat-slide-toggle>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item>
                <div class="list-item">
                    <div>{{ 'notifications.features.push' | translate }}</div>
                    <mat-slide-toggle
                        *ngIf="pushSupported"
                        formControlName="acceptPushNotification"
                        color="primary"
                    ></mat-slide-toggle>
                    <div *ngIf="!pushSupported" class="not-supported">
                        {{ 'notifications.push.notSupported' | translate }}
                    </div>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </form>

    <div class="description">
        {{ 'notifications.description' | translate }}
    </div>
</div>
