@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        flex: 1;
        max-width: 600px;

        &.desktop {
            align-self: center;
        }

        .title {
            color: $kia-dark-blue;
            font-size: 16px;
            text-align: center;
            margin: 32px;
        }

        .list {
            padding-top: 0;
            background-color: #ffffff;

            .list-item {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: $kia-dark-blue;
                font-size: 14px;

                .not-supported {
                    color: #817f9a;
                }
            }
        }

        .description {
            color: #817f9a;
            font-size: 12px;
            margin: 16px;
        }
    }
}
