<button mat-button class="filter-desktop-button" type="button" [disabled]="disabled" [matMenuTriggerFor]="menu">
    {{ title }}
    <mat-icon>expand_more</mat-icon>
</button>
<mat-menu class="filter-desktop-menu" #menu>
    <ng-content></ng-content>
</mat-menu>
