@import 'src/variables';

.filter-desktop-button {
    background: #ffffff 0 0 no-repeat padding-box;
    border: 1px solid #e5e5ea;
    border-radius: 8px;
    color: $medium-text-color;
    margin-right: 8px;
    padding-right: 8px;
}

.filter-desktop-menu {
    &.mat-menu-panel {
        max-width: 320px;
    }

    .mat-menu-content:not(:empty) {
        padding-top: 0;
        padding-bottom: 0;
    }
}
