@import 'src/variables';

.beta-banner {
    background-color: $kia-dark-blue;
    padding: 10px 50px;
    font-size: 12px;
    box-sizing: border-box;
    height: $beta-banner-height;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &.handset {
        padding: 0;
    }
}
