<div class="dialog-header">
    <app-rib-icon></app-rib-icon>
    <div class="title">
        {{ 'profile.bankDetails.rib.title' | translate }}
    </div>
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        tabindex="-1"
        class="close-icon-button"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
</div>

<div class="dialog-content">
    <div class="text">
        {{ 'profile.bankDetails.editRib.ribInformation' | translate }}
    </div>
    <app-upload-kyc-document
        [file]="ribForm.controls.rib?.value"
        [fileType]="fileType.KYC_RIB"
        (documentUploaded)="onDocumentUploaded($event)"
    ></app-upload-kyc-document>
    <div class="additional-info">
        {{ 'profile.bankDetails.documentAcceptedFormats' | translate }}
    </div>
</div>

<div class="dialog-footer">
    <button mat-stroked-button type="button" color="primary" (click)="onBackButtonClicked()">
        {{ 'common.back' | translate }}
    </button>
    <button
        mat-flat-button
        type="button"
        color="primary"
        (click)="onSendButtonClicked()"
        [disabled]="disabled$ | async"
    >
        {{ 'common.send' | translate }}
    </button>
</div>

<div class="loader-container" *ngIf="loading">
    <mat-spinner color="primary" [diameter]="30"></mat-spinner>
</div>
