@import 'src/variables';

:host {
    min-height: 100%;
    background-color: $content-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .dialog-header {
        z-index: 101;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 8px 8px 0 0;
        background-color: $app-background-color;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            margin-top: 10px;
            text-align: center;
            font-style: normal;
            font-size: 16px;
            line-height: 15px;
            color: $kia-dark-blue;
        }

        .close-icon-button {
            position: absolute;
            top: 5px;
            right: 5px;
            color: $kia-lighten-dark-blue;
        }
    }

    .dialog-content {
        margin: 40px;

        .text {
            font-size: 14px;
            text-align: center;
            font-style: normal;
            line-height: 16px;
            color: $medium-text-color;
            margin-bottom: 24px;
        }

        .additional-info {
            text-align: center;
            font-style: normal;
            font-size: 10px;
            line-height: 12px;
            color: $kia-dark-blue;
        }
    }

    .dialog-footer {
        background-color: $darker-background-color;
        z-index: 101;
        padding: 8px 40px max(8px, env(safe-area-inset-bottom));
        height: 50px;
        display: flex;
        position: sticky;
        bottom: 0;
        right: 0;
        left: 0;

        button {
            margin: 0 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 16px;
        }

        > button:first-child {
            flex: 1;
        }

        > button:last-child {
            flex: 2;
        }
    }
}
