<ul class="categories" [ngClass]="state" (appClickOutside)="closeCategory()">
    <li *ngFor="let category of categories$ | async" data-qa="categoriesList">
        <button
            type="button"
            class="category"
            (click)="toggleCategory(category)"
            [ngClass]="{ active: (categoryDisplayed$ | async)?.id === category.id }"
            data-qa="menuCategory"
        >
            {{ 'product.category.' + category.labelKey | translate }}
        </button>
        <div
            class="sub-categories mat-elevation-z2"
            *ngIf="(categoryDisplayed$ | async)?.id === category.id"
            data-qa="subCategoriesList"
        >
            <ul>
                <li class="category-link">
                    <a
                        routerLink="/search"
                        [queryParams]="{ category: category.id }"
                        (click)="closeCategory()"
                        data-qa="menuCategory2"
                    >
                        <app-sell-shirt-icon></app-sell-shirt-icon>
                        {{ 'navigation.seeAll' | translate }}
                    </a>
                </li>
                <li *ngFor="let subCategory of (categoryDisplayed$ | async)?.subCategories">
                    <a
                        routerLink="/search"
                        [queryParams]="{ category: category.id, subCategory: subCategory.id }"
                        (click)="closeCategory()"
                        data-qa="menuSubCategory"
                    >
                        {{ 'product.sub_category.' + subCategory.labelKey | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <a href="https://kiabi.com/" target="_blank" class="external-link" appExternalLink>kiabi.com</a>
    </li>
</ul>
