@use "sass:math";
@import 'src/variables';

$expended-height: 56px;

:host {
    display: block;
    background-color: white;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

ul.categories {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

    & > li {
        flex-grow: 1;
        text-align: center;
        height: $expended-height;
        line-height: $expended-height;

        button.category {
            position: relative;
            display: block;
            text-decoration: none;
            color: $kia-dark-blue;
            overflow: hidden;
            cursor: pointer;
            background: transparent;
            border: none;
            font-size: inherit;
            height: 100%;
            width: 100%;
            margin: auto;
            outline: none;

            &:before {
                background: 0 0;
                border-color: transparent transparent $kia-dark-blue;
                border-style: solid;
                border-width: 0 6px 6px;
                content: '';
                display: block;
                margin-left: -6px;
                position: absolute;
                left: 50%;
                width: 0;
                transition: bottom ease-in-out 0.2s;
                height: 0;
                bottom: -6px;
            }
            &.active:before,
            &:hover:before,
            &:focus:before {
                bottom: 0;
            }
        }
    }

    &.expended li {
        height: $expended-height;
        line-height: $expended-height;
        transition: height 0.3s ease-out, line-height 0.3s ease-out;
    }

    &.collapsed li {
        height: $expended-height - 20px;
        line-height: $expended-height - 20px;
        transition: height 0.3s ease-in, line-height 0.3s ease-in;
    }
}

$sub-category-font-size: 0.8rem;
$sub-category-line-height: $sub-category-font-size * 2;
$sub-category-columns: 4;
$sub-category-column-items: 7;

.sub-categories {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    padding: 32px 52px;
    text-align: left;
    box-sizing: border-box;

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: $sub-category-line-height * $sub-category-column-items;
        font-size: $sub-category-font-size;
        list-style: none;
        max-width: 800px;
        padding: 0;
        margin: 0 auto;
        padding-left: 70px;

        li {
            height: $sub-category-line-height;
            line-height: $sub-category-line-height;
            width: math.div(1, $sub-category-columns) * 100%;

            a {
                display: flex;
                color: $medium-text-color;
                text-decoration: none;
                font-size: 12px;

                &:hover {
                    color: $kia-dark-blue;
                }
                &:focus {
                    text-decoration: underline;
                }
            }

            &.category-link {
                padding-bottom: 10px;

                a {
                    font-weight: bold;
                    color: $kia-dark-blue;
                    font-size: 12px;

                    &:hover {
                        color: $medium-text-color;
                    }

                    app-sell-shirt-icon {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

a.external-link {
    position: relative;
    display: block;
    font-weight: bolder;
    color: $kia-dark-blue;
    font-size: 16px;
    text-decoration: none;
    text-align: center;

    &:before {
        background: $kia-dark-blue;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        margin: 0 auto;
        width: 100%;
        max-width: 50%;
        transition: opacity ease-in-out 0.2s;
        opacity: 0;
    }

    &:hover:before {
        background: $kia-dark-blue;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        transition: opacity ease-in-out 0.2s;
        opacity: 1;
    }
}
