<svg id="svg-smiley" xmlns="http://www.w3.org/2000/svg" width="83.001" height="80" viewBox="0 0 83.001 80">
    <g id="smiley" transform="translate(0.001)">
        <g id="noun_disagreement_2278687" transform="translate(24.009 27.184)">
            <path
                id="Tracé_2119"
                data-name="Tracé 2119"
                d="M31.325,45.8a2.34,2.34,0,0,0,1.523.508,3.666,3.666,0,0,0,.8-.1,2.989,2.989,0,0,0,2.4-2.918,6.718,6.718,0,0,0-1.635-4.448.7.7,0,0,0-.211-.515c-1.008-.987-1.826-.945-2.326-.7-1.72.7-1.776,4.145-1.776,4.18C30.063,43.062,30.19,44.895,31.325,45.8Z"
                transform="translate(-29.535 -37.23)"
                fill="#817f9a"
            />
            <path
                id="Tracé_2120"
                data-name="Tracé 2120"
                d="M64.624,37.848v-.042a1.755,1.755,0,0,0-1.953-.585A2.658,2.658,0,0,0,61.4,38.546h0a.7.7,0,0,0-.261.606,9.439,9.439,0,0,0-.557,2.27c-.049,1.276.282,3.63,1.882,4.335a2.171,2.171,0,0,0,.874.19c.8,0,1.875-.465,2.82-2.474s.338-4.011-1.459-5.64Z"
                transform="translate(-38.596 -37.127)"
                fill="#817f9a"
            />
            <path
                id="Tracé_2121"
                data-name="Tracé 2121"
                d="M55.53,60.6c-9.085-1.939-18.515-1.325-25.646,5.21-1.758,1.614.858,4.23,2.609,2.622,6.1-5.59,14.338-5.914,22.06-4.23C56.866,64.62,57.858,61.053,55.53,60.6Z"
                transform="translate(-29.301 -43.93)"
                fill="#817f9a"
            />
        </g>
        <path
            id="Soustraction_1"
            data-name="Soustraction 1"
            d="M80.036,80a6.971,6.971,0,0,1-4.661-2.223L62.945,64.851a33.573,33.573,0,0,1-11.626,7.569,37.9,37.9,0,0,1-13.831,2.845A37.7,37.7,0,0,1,10.95,10.979a37.513,37.513,0,0,1,64.028,26.6,41.456,41.456,0,0,1-1.655,11.57A29.107,29.107,0,0,1,68.2,59.3l13.05,13.34A5.779,5.779,0,0,1,83,76.867a3.425,3.425,0,0,1-1.021,2.481A2.9,2.9,0,0,1,80.036,80ZM37.827,8.482A29.4,29.4,0,0,0,8.462,37.92,29.371,29.371,0,1,0,37.827,8.482Z"
            transform="translate(-0.001 0)"
            fill="#817f9a"
        />
    </g>
</svg>

<svg id="svg-shadow" xmlns="http://www.w3.org/2000/svg" width="94" height="9" viewBox="0 0 94 9">
    <ellipse id="Ellipse_20" data-name="Ellipse 20" cx="47" cy="4.5" rx="47" ry="4.5" fill="#e5e5ea" />
</svg>
