@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;

    .spinner {
        height: 70vh;
        align-items: center;
    }

    .product-handset {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }

    .product-handset-scroll {
        flex: 1;
        // TODO: Check merge
        // height: calc(100% - #{$product-footer-height});
        // position: relative;
        overflow: visible auto;
    }

    .product-footer {
        background: $app-background-color;
        height: $product-footer-height;
        min-height: $product-footer-height;
        padding: 0 6px;
        box-sizing: border-box;
        display: flex;
        align-items: center;

        > button {
            flex: 1;
            padding: 0 8px;
            margin-right: 4px;
            margin-left: 4px;
        }

        .bg-yellow {
            color: $kia-dark-blue;
            background: $kia-yellow;
        }

        .footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            box-sizing: border-box;

            .lot-pricing {
                display: flex;
                font-weight: bold;
                color: $kia-dark-blue;
                margin-bottom: 4px;

                .nb-products {
                    font-size: $normal-text-font-size;
                }

                .product-price {
                    font-size: 16px;
                }

                .shipping-cost {
                    margin-left: 10px;
                    font-size: $small-text-font-size;
                    color: $light-text-color;
                    font-weight: 400;
                }
            }

            .lot-actions {
                display: flex;
                align-items: center;
                justify-content: space-between;

                > button {
                    height: 45px;
                    padding: 0 22px;
                }
            }
        }
    }
}
