<ng-container *ngIf="isLoading$ | async">
    <app-header-with-back-button></app-header-with-back-button>
    <div class="spinner">
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>
</ng-container>

<ng-container *ngIf="(isLoading$ | async) === false">
    <app-header-with-profil [user]="product?.owner"></app-header-with-profil>
    <div class="product-handset">
        <div class="product-handset-scroll" #productScroll>
            <app-product-sheet [product]="product">
                <app-user-dressing-handset
                    [user]="product?.owner"
                    [hiddenProducts]="[product!]"
                    [scrollEl]="productScroll"
                    *ngIf="hasMoreThanOneProductInDressing$ | async"
                ></app-user-dressing-handset>
            </app-product-sheet>
        </div>

        <app-user-blocked-warning [user]="product?.owner"></app-user-blocked-warning>

        <div class="product-footer mat-elevation-z4">
            <ng-container *ngIf="(isBlocked$ | async) === false; else backTemplate">
                <ng-container *ngIf="(isCurrentUser$ | async) === true">
                    <ng-container *ngIf="product?.productStatus !== ProductStatusEnum.UNAVAILABLE; else backTemplate">
                        <a kia-button [routerLink]="['/product', product?.id, 'update']" data-qa="updateProduct">
                            {{ 'common.modify' | translate }}
                        </a>
                        <button
                            type="button"
                            kia-button
                            variant="bordered"
                            (click)="deleteProduct()"
                            data-qa="btnDeleteFromBundle"
                        >
                            {{ 'product.delete' | translate }}
                        </button>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="(isCurrentUser$ | async) === false">
                    <ng-container *ngIf="(hasCartForSellerId$ | async) === true">
                        <div class="footer">
                            <div class="lot-pricing">
                                <div class="product-price" data-qa="productPrice">
                                    {{ (lotOpenBySellerId$ | async)?.totalPrice | currency }}
                                </div>
                                <div class="shipping-cost" data-qa="shippingCost">
                                    {{ 'chat.shippingCostNotIncluded' | translate }}
                                </div>
                            </div>

                            <div class="lot-actions">
                                <app-images-mini
                                    [products]="(lotOpenBySellerId$ | async)?.products || []"
                                ></app-images-mini>
                                <a
                                    type="button"
                                    kia-button
                                    data-qa="btnContinue"
                                    [routerLink]="['/chat', (discussionByLotId$ | async)?.id]"
                                >
                                    {{ 'common.buy' | translate }}
                                </a>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="(hasCartForSellerId$ | async) === false">
                        <button
                            type="button"
                            kia-button
                            variant="bordered"
                            (click)="startDiscussion()"
                            data-qa="btnStartDiscussion"
                            *ngIf="product?.owner?.type !== UserType.PROFESSIONAL"
                            appDisableIfUserBlocked
                            [disabled]="
                                product?.owner?.hasBlockedMe || product?.owner?.status === UserProfileStatus.VACATION
                            "
                        >
                            {{ 'common.contactSeller' | translate }}
                        </button>
                        <button
                            type="button"
                            kia-button
                            (click)="buy()"
                            data-qa="btnBuy"
                            [disabled]="
                                product?.owner?.hasBlockedMe || product?.owner?.status === UserProfileStatus.VACATION
                            "
                            appDisableIfUserBlocked
                        >
                            {{ 'common.buy' | translate }}
                        </button>
                        <button
                            type="button"
                            kia-button
                            class="bg-yellow"
                            *ngIf="hasMoreThanOneProductInDressing$ | async"
                            (click)="createLot()"
                            data-qa="btnCreateLot"
                            [disabled]="
                                product?.owner?.hasBlockedMe || product?.owner?.status === UserProfileStatus.VACATION
                            "
                            appDisableIfUserBlocked
                        >
                            {{ 'common.createLot' | translate }}
                        </button>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-template #backTemplate>
                <button type="button" kia-button variant="bordered" (click)="goBack()" data-qa="cancelBundle">
                    {{ 'common.back' | translate }}
                </button>
            </ng-template>
        </div>
    </div>
</ng-container>
