@import 'src/variables';

:host {
    display: flex;
    align-items: center;

    mat-icon {
        color: $kia-green;
        margin-right: 12px;
    }

    span {
        font-size: 14px;
    }
}
