@import 'src/variables';

.type-container {
    background-color: $app-background-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin-bottom: 10px;
    transition: background-color 250ms ease-in-out;

    &.selected {
        background-color: $kia-light-green;
    }

    input {
        margin: 0 30px;

        &:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            position: relative;
            top: -2px;
            left: -1px;
            border: $kia-lighten-dark-blue 2px solid;
            background-color: $app-background-color;
            content: ' ';
            display: inline-block;
            visibility: visible;
        }

        &:checked:after {
            width: 13px;
            height: 13px;
            border-radius: 15px;
            position: relative;
            top: -2px;
            left: -1px;
            background-color: $kia-green;
            border-color: $kia-light-green;
            box-shadow: $kia-green 0 0 0 2px;
            content: ' ';
            display: inline-block;
            visibility: visible;
        }
    }

    label {
        display: flex;
        flex-direction: column;
        color: $kia-dark-blue;
        flex: 1;
    }
}
