<div class="type-container" [ngClass]="{ selected: isSelected }">
    <input id="{{ type }}" type="radio" [value]="type" [checked]="isSelected" (change)="selected.emit(type)" />
    <label for="{{ type }}">
        {{ 'profile.bankDetails.editIdentity.type.' + type?.toLowerCase() | translate }}
        <ng-content></ng-content>
    </label>
</div>
