@import 'src/variables';

$navigation-height: 84px;

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: $navigation-height;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        margin: 0;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 0 5px 30px;
            width: 200px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .search {
        padding-top: 10px;
        flex-grow: 1;
    }

    nav {
        flex: 1 1 0;
        height: 100%;
        width: 240px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            width: 80px;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                span {
                    font-style: normal;
                    font-size: 12px;
                    line-height: 14px;
                    cursor: pointer;
                    color: #b3b2c2;
                    position: absolute;
                    top: 50px;
                }

                &.active {
                    span {
                        color: $kia-dark-blue;
                    }
                }

                app-sell-icon,
                .icon-container {
                    margin-bottom: 10px;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .avatar {
                height: 50px;
                width: 80px;
                text-align: center;
                padding-top: 2px;

                img {
                    max-width: 28px;
                    border-radius: 50%;
                }

                .image-container {
                    position: relative;
                    max-width: 28px;
                    height: 28px;
                    margin: 0 auto;

                    .image-avatar {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            .nickname {
                max-width: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .icon-container,
            .icon-notification-container {
                position: relative;

                .pin {
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    border: 3px solid white;
                    background-color: #c13515;
                }

                .profile-pin {
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    border: 3px solid white;
                    background-color: #c13515;
                }

                .notification-pin {
                    position: absolute;
                    top: -2px;
                    right: -2px;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    border: 3px solid white;
                    background-color: #c13515;
                }
            }

            img {
                position: relative;
            }
        }
    }

    .mat-icon {
        display: block;
    }

    .actions {
        position: absolute;
        right: 0;
        top: $navigation-height;
        z-index: 2;
        background-color: #f7f7f8;
        box-shadow: -4px 4px 6px #04003733;
    }
}
