<h1 [attr.aria-label]="'main.title' | translate">
    <a class="logo" routerLink="/" (click)="reload()">
        <img src="assets/svg/logo.svg" [alt]="'main.title' | translate" loading="lazy" data-qa="logoSecondHand" />
    </a>
</h1>
<div class="search">
    <app-navigation-search></app-navigation-search>
</div>
<nav>
    <ul>
        <li data-qa="goSell">
            <a
                routerLink="/add"
                routerLinkActive="active"
                #rlaSell="routerLinkActive"
                [attr.aria-current]="rlaSell.isActive ? 'page' : false"
                appDisableIfUserBlocked
            >
                <app-sell-icon [active]="rlaSell.isActive"></app-sell-icon>
                <span>{{ 'navigation.sell' | translate }}</span>
            </a>
        </li>

        <li data-qa="goChat">
            <a
                routerLink="/chat"
                routerLinkActive="active"
                #rlaChat="routerLinkActive"
                [attr.aria-current]="rlaChat.isActive ? 'page' : false"
            >
                <div class="icon-container">
                    <app-chat-icon [active]="(isChatRouteActive$ | async) === true"></app-chat-icon>
                    <div class="pin" *ngIf="unReadDiscussions$ | async"></div>
                </div>
                <span>{{ 'navigation.messages' | translate }}</span>
            </a>
        </li>
        <li *ngIf="userProfile$ | async as user; else notLogged" data-qa="goProfil">
            <a
                routerLink="/profile"
                routerLinkActive="active"
                #rlaProfile="routerLinkActive"
                [attr.aria-current]="rlaProfile.isActive ? 'page' : false"
            >
                <div class="avatar">
                    <div class="image-container">
                        <img
                            alt=""
                            class="image-avatar"
                            [src]="user.avatarURL"
                            [appThumbnailFormat]="{ origin: user.avatarURL, format: 'chat', fallback: 'avatar' }"
                        />
                        <div class="profile-pin" *ngIf="isUserModerated$ | async"></div>
                    </div>
                </div>

                <span class="nickname" data-qa="nickName">{{ user.nickname }}</span>
            </a>
        </li>
        <ng-template #notLogged>
            <li data-qa="goProfil">
                <a routerLink="/login" routerLinkActive="active">
                    <img src="assets/svg/Header_Profil_icon_OFF.svg" alt="🙂" />
                    <span>{{ 'navigation.profile' | translate }}</span>
                </a>
            </li>
        </ng-template>
        <li data-qa="goNotifications" *ngIf="isLogged$ | async">
            <a
                role="button"
                [matMenuTriggerFor]="notificationsHistory"
                (click)="setNotificationRead()"
                (menuOpened)="notificationColor = 'kia-dark-blue'"
                (menuClosed)="notificationColor = 'neutral'"
            >
                <div class="icon-notification-container">
                    <app-notification-icon [size]="28" [color]="notificationColor"></app-notification-icon>
                    <div class="notification-pin" *ngIf="unReadNotifications$ | async"></div>
                </div>
            </a>
            <mat-menu class="notification-history-popover" #notificationsHistory>
                <app-notification-history></app-notification-history>
            </mat-menu>
        </li>
    </ul>
</nav>
