<div class="address-card">
    <div class="left">
        <div class="information">
            <div class="address-name">{{ address?.addressName }}</div>
            <span>{{ address?.firstName }} {{ address?.lastName }}</span>
            <span>{{ address?.line1 }}</span>
            <span>{{ address?.line2 }}</span>
            <span>{{ address?.zipCode }} {{ address?.city }}</span>
            <span>{{ address?.country }}</span>
        </div>
        <div class="actions">
            <button type="button" mat-flat-button [disabled]="address?.isDefault" (click)="deleteEvent.emit()">
                {{ 'common.delete' | translate }}
            </button>
            <button type="button" mat-flat-button (click)="modifyEvent.emit()">
                {{ 'common.modify' | translate }}
            </button>
        </div>
    </div>
    <div class="right" [class.default]="address?.isDefault">
        <input
            [attr.id]="address?.addressName"
            type="radio"
            [checked]="address?.isDefault"
            (change)="changeDefaultAddressEvent.emit()"
        />
        <label [attr.for]="address?.addressName">
            {{ 'address.default' | translate }}
        </label>
    </div>
</div>
