@import 'src/variables';

.address-card {
    display: flex;
    border-radius: 8px;
    box-shadow: #04003726 0 0 8px;

    .left {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex: 1;

        .information {
            font-style: normal;
            font-size: 14px;
            line-height: 16px;
            color: $kia-dark-blue;
            padding: 20px;
            display: flex;
            flex-direction: column;

            .address-name {
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        .actions {
            border-bottom-left-radius: 9px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $darker-background-color;
            padding: 10px;

            button {
                background: none;
                text-decoration: underline;
                color: $medium-text-color;
            }

            button[disabled] {
                text-decoration: none;
                color: $light-text-color;
            }
        }
    }

    .right {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: $content-background-color;
        width: 76px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px;

        &.default {
            background-color: $kia-light-green;

            label {
                color: $kia-green;
            }
        }

        input {
            margin: 10px 0;
            cursor: pointer;

            &:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                position: relative;
                top: -2px;
                left: -1px;
                border: $kia-lighten-dark-blue 2px solid;
                background-color: $content-background-color;
                content: ' ';
                display: inline-block;
                visibility: visible;
            }

            &:checked:after {
                width: 13px;
                height: 13px;
                border-radius: 15px;
                position: relative;
                top: -2px;
                left: -1px;
                background-color: $kia-green;
                border-color: $kia-light-green;
                box-shadow: $kia-green 0 0 0 2px;
                content: ' ';
                display: inline-block;
                visibility: visible;
            }
        }

        label {
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
            color: $light-text-color;
            text-align: center;
            cursor: pointer;
        }
    }
}
