<div class="shipping-promo" [ngClass]="light ? 'light' : 'dark'">
    <app-mondial-relay-icon [width]="35" [height]="36"></app-mondial-relay-icon>
    <div class="shipping-text" [innerHTML]="content"></div>
</div>
