@import 'src/variables';

.shipping-promo {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    max-width: 400px;

    .shipping-text {
        margin: 10px 10px 10px 5px;
        white-space: pre-line;
    }

    &.light {
        background-color: transparent;
    }

    &.dark {
        background-color: $kia-lighten-dark-blue;
        font-size: 14px;
    }

    .bold {
        font-weight: bold;
    }

    .light-font {
        font-size: 15px;
        color: $light-text-color;
    }

    .small-font {
        font-size: $small-text-font-size;
    }

    app-mondial-relay-icon {
        width: 35px;
        height: 36px;
        margin: 17px;
    }
}
