<svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    width="600mm"
    height="617.04773mm"
    viewBox="0 0 600 617.04773"
    version="1.1"
    id="svg454"
    inkscape:version="0.92.4 (5da689c313, 2019-01-14)"
    sodipodi:docname="Mondial Relay.svg"
    [attr.width]="width"
    [attr.height]="height"
>
    <defs id="defs448" />
    <g inkscape:label="Calque 1" inkscape:groupmode="layer" id="layer1" transform="translate(-118.69745,430.82084)">
        <g transform="matrix(8.24357,0,0,-8.24357,-1244.409,955.76124)" id="g407">
            <g transform="translate(238.1379,105.9684)" id="g78">
                <path
                    inkscape:connector-curvature="0"
                    id="path80"
                    style="fill: #ce0c4b; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="m 0,0 c -0.153,-4.751 -3.553,-9.039 -8.199,-10.146 -19.022,-3.297 -37.363,-3.297 -56.386,0 C -69.231,-9.04 -72.63,-4.75 -72.784,0 v 49.615 c 0.153,4.751 3.554,9.038 8.199,10.146 19.023,3.296 37.364,3.297 56.386,-0.001 C -3.553,58.654 -0.153,54.366 0,49.615 Z"
                />
            </g>
            <g transform="translate(205.7088,145.9246)" id="g82">
                <path
                    inkscape:connector-curvature="0"
                    id="path84"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="m 0,0 c -4.032,0.719 -6.721,-1.441 -6.721,-4.943 v -11.564 l -6.335,3.772 v 7.792 c 0,7.007 4.848,11.902 13.056,10.894 z"
                />
            </g>
            <path
                inkscape:connector-curvature="0"
                id="path86"
                style="fill: #c7bcaf; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                d="m 213.185,145.907 h -5.983 v 5.983 h 5.983 z"
            />
            <g transform="translate(176.2576,105.2889)" id="g88">
                <path
                    inkscape:connector-curvature="0"
                    id="path90"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="M 0,0 H 2.85 V 7.377 C 2.849,8.151 3.118,8.806 3.578,9.264 4.034,9.72 4.74,9.983 5.523,9.983 c 0.678,0 1.479,-0.156 1.479,-0.156 v 2.84 c 0,0 -1.013,0.145 -1.766,0.145 C 1.908,12.804 0.009,10.449 0,7.377 Z"
                />
            </g>
            <g transform="translate(186.0788,106.4444)" id="g92">
                <path
                    inkscape:connector-curvature="0"
                    id="path94"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="m 0,0 c -0.706,0.735 -1.055,1.78 -1.054,2.997 v 4.442 c -10e-4,1.217 0.348,2.26 1.054,3 0.703,0.737 1.745,1.147 3.055,1.145 H 7.624 V 8.791 H 3.073 C 2.546,8.791 2.234,8.686 2.059,8.51 1.88,8.336 1.774,8.027 1.774,7.489 V 6.563 H 6.725 V 3.892 H 1.774 V 2.961 C 1.774,2.428 1.88,2.113 2.06,1.934 2.237,1.753 2.547,1.647 3.073,1.647 H 7.624 V -1.147 H 3.055 3.047 C 1.741,-1.147 0.701,-0.738 0,0"
                />
            </g>
            <g transform="translate(197.2103,106.4256)" id="g96">
                <path
                    inkscape:connector-curvature="0"
                    id="path98"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="m 0,0 c -0.704,0.727 -1.055,1.764 -1.054,2.98 v 8.623 H 1.775 V 3.015 c 0,-0.534 0.104,-0.862 0.282,-1.05 0.176,-0.188 0.477,-0.298 1,-0.299 H 6.991 L 6.033,-1.128 H 3.039 3.031 C 1.735,-1.128 0.699,-0.729 0,0"
                />
            </g>
            <g transform="translate(220.7446,105.2966)" id="g100">
                <path
                    inkscape:connector-curvature="0"
                    id="path102"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="m 0,0 v 4.874 l -4.276,7.858 h 3.203 L 1.416,7.805 3.921,12.732 H 7.123 L 2.847,4.874 V 0 Z"
                />
            </g>
            <g transform="translate(209.9902,110.4251)" id="g104">
                <path
                    inkscape:connector-curvature="0"
                    id="path106"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="M 0,0 1.453,4.315 2.905,0 Z M 3.815,5.817 C 3.205,7.609 2.31,7.612 1.846,7.612 H 1.06 C 0.598,7.612 -0.292,7.607 -0.909,5.817 -1.852,3.079 -4.723,-5.119 -4.723,-5.119 h 3.001 l 0.828,2.448 H 3.8 l 0.827,-2.448 h 3.001 z"
                />
            </g>
            <g transform="translate(217.7796,122.5175)" id="g108">
                <path
                    inkscape:connector-curvature="0"
                    id="path110"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="M 0,0 0.533,1.583 1.066,0 Z M 1.399,2.134 C 1.176,2.791 0.847,2.792 0.677,2.792 H 0.389 c -0.17,0 -0.497,-0.002 -0.722,-0.658 -0.347,-1.004 -1.4,-4.012 -1.4,-4.012 h 1.101 l 0.304,0.898 h 1.722 l 0.303,-0.898 h 1.101 z"
                />
            </g>
            <g transform="translate(181.968,120.7368)" id="g112">
                <path
                    inkscape:connector-curvature="0"
                    id="path114"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="M 0,0 V 0.092 Z M -0.946,-0.092 V 2.993 C -0.949,3.374 -1.212,3.667 -1.628,3.67 -2.052,3.666 -2.295,3.377 -2.299,2.993 V -0.092 H -3.344 V 2.993 C -3.347,3.375 -3.603,3.667 -4.021,3.67 -4.444,3.667 -4.7,3.375 -4.703,2.993 v -3.085 h -1.032 v 3.071 c 0.002,0.945 0.709,1.706 1.714,1.708 0.485,10e-4 0.904,-0.203 1.196,-0.528 0.29,0.326 0.718,0.528 1.197,0.528 1.011,-0.002 1.719,-0.763 1.72,-1.708 V 0 -0.092 Z"
                />
            </g>
            <g transform="translate(187.2723,122.9987)" id="g116">
                <path
                    inkscape:connector-curvature="0"
                    id="path118"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="M 0,0 C 0.001,-0.798 0.564,-1.437 1.245,-1.439 1.92,-1.437 2.484,-0.798 2.484,0 2.484,0.792 1.921,1.431 1.245,1.433 0.564,1.431 0,0.792 0,0 m -1.045,0 c 0.003,1.343 0.963,2.423 2.29,2.425 C 2.566,2.423 3.527,1.343 3.529,0 3.527,-1.348 2.566,-2.429 1.245,-2.432 -0.082,-2.429 -1.042,-1.348 -1.045,0"
                />
            </g>
            <g transform="translate(197.9778,124.9385)" id="g120">
                <path
                    inkscape:connector-curvature="0"
                    id="path122"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="m 0,0 c 0.31,-0.309 0.479,-0.749 0.479,-1.229 v -3.065 h -1.037 v 3.085 C -0.567,-0.771 -0.796,-0.54 -1.242,-0.532 -1.68,-0.54 -1.91,-0.771 -1.919,-1.209 v -3.085 h -1.037 v 3.065 c -10e-4,0.48 0.169,0.92 0.479,1.229 0.316,0.317 0.755,0.486 1.235,0.485 C -0.755,0.486 -0.316,0.317 0,0"
                />
            </g>
            <g transform="translate(204.7421,124.3351)" id="g124">
                <path
                    inkscape:connector-curvature="0"
                    id="path126"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="m 0,0 h -0.716 l 0.001,-2.711 H 0 C 0.937,-2.71 1.069,-1.888 1.077,-1.349 1.068,-0.697 0.894,-0.003 0,0 M 0,-3.691 H -1.754 V 0.98 H 0 C 0.645,0.98 1.18,0.756 1.548,0.346 1.916,-0.061 2.115,-0.648 2.115,-1.356 2.115,-2.058 1.911,-2.642 1.54,-3.053 1.171,-3.462 0.637,-3.691 0.002,-3.691 H 0"
                />
            </g>
            <path
                inkscape:connector-curvature="0"
                id="path128"
                style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                d="m 210.87,125.315 h 1.038 v -4.671 h -1.038 z"
            />
            <g transform="translate(225.7742,120.6442)" id="g130">
                <path
                    inkscape:connector-curvature="0"
                    id="path132"
                    style="fill: #ffffff; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="M 0,0 C -0.476,-0.001 -0.857,0.147 -1.115,0.414 -1.373,0.682 -1.502,1.061 -1.502,1.509 V 4.67 h 1.039 V 1.522 C -0.444,1.129 -0.371,1.044 0.006,1.026 H 1.449 V 0 Z"
                />
            </g>
            <g transform="translate(203.5711,158.0667)" id="g134">
                <path
                    inkscape:connector-curvature="0"
                    id="path136"
                    style="fill: #c7bcaf; fill-opacity: 1; fill-rule: nonzero; stroke: none"
                    d="m 0,0 c 0,-2.01 -1.629,-3.639 -3.639,-3.639 -2.01,0 -3.639,1.629 -3.639,3.639 0,2.01 1.629,3.639 3.639,3.639 C -1.629,3.639 0,2.01 0,0"
                />
            </g>
        </g>
    </g>
</svg>
