<svg xmlns="http://www.w3.org/2000/svg" width="57.763" height="52.118" viewBox="0 0 57.763 52.118">
    <g transform="translate(-19.439 -100.102)">
        <g transform="translate(42.857 121.105) rotate(-7)">
            <g transform="translate(0 11.47)">
                <g transform="translate(0 0)">
                    <path
                        class="a"
                        d="M81.139,404.567H55.98a1.71,1.71,0,0,1-.261-.017l.268.037a1.948,1.948,0,0,1-.436-.117l.241.1a1.736,1.736,0,0,1-.312-.168c-.084-.054-.127-.141.06.054-.04-.04-.09-.077-.131-.117-.013-.013-.124-.114-.117-.131,0,.013.171.241.054.06a1.862,1.862,0,0,1-.168-.312l.1.241a1.949,1.949,0,0,1-.117-.436c.013.09.023.178.037.268a4.6,4.6,0,0,1-.017-.57V391.184c0-.563,0-1.129,0-1.693a1.954,1.954,0,0,1,.017-.245c-.013.09-.023.178-.037.268a1.944,1.944,0,0,1,.117-.436l-.1.241a1.739,1.739,0,0,1,.168-.312c.054-.084.141-.127-.054.06.04-.04.077-.09.117-.131.013-.013.114-.124.131-.117-.013,0-.241.171-.06.054a1.863,1.863,0,0,1,.312-.168l-.241.1a1.947,1.947,0,0,1,.436-.117l-.268.037a7.34,7.34,0,0,1,.858-.017H81.112a1.709,1.709,0,0,1,.261.017l-.268-.037a1.947,1.947,0,0,1,.436.117l-.241-.1a1.74,1.74,0,0,1,.312.168c.084.054.127.141-.06-.054.04.04.09.077.131.117.013.013.124.114.117.131,0-.013-.171-.241-.054-.06a1.862,1.862,0,0,1,.168.312l-.1-.241a1.945,1.945,0,0,1,.117.436c-.013-.09-.023-.178-.037-.268a4.6,4.6,0,0,1,.017.57v12.276c0,.563,0,1.129,0,1.693a1.957,1.957,0,0,1-.017.245c.013-.09.023-.178.037-.268a1.949,1.949,0,0,1-.117.436l.1-.241a1.74,1.74,0,0,1-.168.312c-.054.084-.141.127.054-.06-.04.04-.077.091-.117.131-.013.013-.114.124-.131.117.013,0,.241-.171.06-.054a1.857,1.857,0,0,1-.312.168l.241-.1a1.949,1.949,0,0,1-.436.117l.268-.037a1.876,1.876,0,0,1-.235.017,1.005,1.005,0,0,0,0,2.011,2.816,2.816,0,0,0,2.437-1.445,2.958,2.958,0,0,0,.345-1.4v-14.24a2.786,2.786,0,0,0-2.792-2.792H56.07c-.07,0-.141,0-.211,0a2.8,2.8,0,0,0-2.363,1.481,3.011,3.011,0,0,0-.325,1.371V400.6c0,1.062-.01,2.125,0,3.187a2.821,2.821,0,0,0,2.8,2.792c.211,0,.422,0,.637,0H81.146a1.017,1.017,0,0,0,1.005-1.006A1.032,1.032,0,0,0,81.139,404.567Z"
                        transform="translate(-53.167 -386.7)"
                    />
                </g>
            </g>
            <g transform="translate(0 16.428)">
                <g transform="translate(0)">
                    <path
                        class="a"
                        d="M54.183,536.668H81.755c.372,0,.744,0,1.116,0h.047a1.005,1.005,0,1,0,0-2.011H55.346c-.372,0-.744,0-1.116,0h-.047a1.005,1.005,0,1,0,0,2.011Z"
                        transform="translate(-53.176 -534.656)"
                    />
                </g>
            </g>
            <g transform="translate(3.881 22.617)">
                <g transform="translate(0)">
                    <path
                        class="a"
                        d="M169.983,721.311h6.948a1.005,1.005,0,1,0,0-2.011h-6.948a1.005,1.005,0,1,0,0,2.011Z"
                        transform="translate(-168.976 -719.3)"
                    />
                </g>
            </g>
            <g transform="translate(4.405 0)">
                <g transform="translate(0 0)">
                    <path
                        class="a"
                        d="M192.82,49.588v4.152l1.005-1.005h-3.449a9.358,9.358,0,0,1-1.227-.037l.268.037a4.158,4.158,0,0,1-1.039-.285l.241.1a4,4,0,0,1-.677-.365c-.054-.037-.107-.074-.161-.114-.111-.077.1.077.1.077-.013,0-.07-.057-.084-.07-.1-.084-.2-.174-.292-.265s-.171-.181-.251-.275c-.027-.034-.114-.147,0,0s.034.047.013.013c-.037-.054-.077-.107-.114-.161a4.264,4.264,0,0,1-.375-.7l.1.241a4.327,4.327,0,0,1-.282-1.042c.013.09.023.178.037.268a4.414,4.414,0,0,1,0-1.113c-.013.09-.023.178-.037.268a4.26,4.26,0,0,1,.282-1.039l-.1.241a4.263,4.263,0,0,1,.362-.68c.037-.054.074-.111.114-.161.017-.023.037-.047.054-.07-.181.255-.111.141-.06.084.084-.1.171-.2.265-.292s.178-.171.275-.251l.084-.07c.087-.074-.194.141-.1.077.054-.037.107-.077.161-.114a4.233,4.233,0,0,1,.7-.375l-.241.1a4.3,4.3,0,0,1,1.039-.285l-.268.037a4.415,4.415,0,0,1,1.113,0L190,46.478a4.3,4.3,0,0,1,1.039.282l-.241-.1a4.23,4.23,0,0,1,.677.362c.054.037.107.074.161.114.111.077-.1-.077-.1-.077.017,0,.07.054.084.067.1.084.2.171.292.265s.171.178.251.275c.023.027.047.057.07.084.074.087-.141-.194-.077-.1.037.054.077.107.114.161a4.235,4.235,0,0,1,.375.7l-.1-.241a4.3,4.3,0,0,1,.282,1.039c-.013-.09-.023-.178-.037-.268.017.181.03.365.03.553a1.005,1.005,0,1,0,2.011,0,5.145,5.145,0,0,0-3.023-4.669,5.3,5.3,0,0,0-3.194-.339,5.1,5.1,0,0,0-2.534,1.388,5.149,5.149,0,0,0,3.626,8.778c1.341.007,2.681,0,4.022,0h.1a1.019,1.019,0,0,0,1.005-1.005V49.588a1.005,1.005,0,0,0-2.011,0Z"
                        transform="translate(-184.589 -44.473)"
                    />
                </g>
            </g>
            <g transform="translate(15.743 2.82)">
                <g transform="translate(0 0)">
                    <path
                        class="a"
                        d="M522.9,132.326v2.728a1.019,1.019,0,0,0,1.005,1.005h2.443a4.267,4.267,0,0,0,1.984-.422,3.686,3.686,0,0,0,1.488-1.414,3.739,3.739,0,0,0-.184-4.055,3.909,3.909,0,0,0-1.81-1.354,3.685,3.685,0,0,0-2.162-.08,3.761,3.761,0,0,0-2.765,3.593,1.005,1.005,0,0,0,2.011,0,2.772,2.772,0,0,1,.027-.372c-.013.09-.023.178-.037.268a2.809,2.809,0,0,1,.191-.694l-.1.241a2.63,2.63,0,0,1,.231-.426c.023-.037.05-.07.074-.107.1-.144-.168.194-.05.067.054-.06.107-.121.164-.178s.117-.111.178-.161c.124-.107-.208.147-.064.05.03-.02.06-.044.091-.064a2.861,2.861,0,0,1,.446-.241l-.241.1a2.805,2.805,0,0,1,.694-.191l-.268.037a3.069,3.069,0,0,1,.744,0l-.268-.037a2.775,2.775,0,0,1,.694.194l-.241-.1a2.8,2.8,0,0,1,.429.231c.037.023.07.054.107.077-.248-.154-.134-.107-.064-.05s.121.107.178.164.111.117.164.178c.107.124-.147-.208-.05-.064.02.03.043.06.064.091a2.858,2.858,0,0,1,.241.446l-.1-.241a2.8,2.8,0,0,1,.191.694c-.013-.09-.023-.178-.037-.268a2.908,2.908,0,0,1,0,.744c.013-.091.023-.178.037-.268a2.723,2.723,0,0,1-.191.694l.1-.241a2.65,2.65,0,0,1-.231.429c-.023.037-.05.074-.074.107-.1.144.168-.194.05-.064-.054.06-.107.121-.164.178s-.117.111-.178.164-.194.114.067-.047c-.03.02-.06.044-.091.064a3.2,3.2,0,0,1-.446.245l.241-.1a2.969,2.969,0,0,1-.694.194l.268-.037a6.89,6.89,0,0,1-.911.027H523.9l1.006,1.005v-2.728a1.005,1.005,0,0,0-2.011-.01Z"
                        transform="translate(-522.899 -128.609)"
                    />
                </g>
            </g>
        </g>
        <g transform="matrix(0.208, -0.978, 0.978, 0.208, 19.407, 140.185)">
            <path
                class="a"
                d="M3.21.326.594.765A.732.732,0,0,0,.836,2.209l2.616-.436A22.631,22.631,0,0,1,15.1,2.906a.749.749,0,0,0,.257.043.732.732,0,0,0,.257-1.418A24.112,24.112,0,0,0,3.21.326Z"
                transform="translate(21.253 24.144)"
            />
            <path
                class="a"
                d="M.072,8.37a.732.732,0,0,0,.976.346h0L16.424,1.394a.732.732,0,1,0-.63-1.322L.418,7.393a.732.732,0,0,0-.346.976Z"
                transform="translate(22.702 13.912)"
            />
            <path
                class="a"
                d="M.449,16.8a.732.732,0,0,0,.957-.394L2.471,13.85A21.937,21.937,0,0,0,3.643.587.732.732,0,0,0,2.208.878L2.214.9A20.482,20.482,0,0,1,1.12,13.286L.056,15.84A.733.733,0,0,0,.449,16.8Z"
                transform="translate(14.14 4.383)"
            />
            <path
                class="a"
                d="M0,2.2A2.2,2.2,0,1,0,2.2,0,2.2,2.2,0,0,0,0,2.2Zm2.929,0A.732.732,0,1,1,2.2,1.464.732.732,0,0,1,2.929,2.2Z"
                transform="translate(38.077 26.36)"
            />
            <path
                class="a"
                d="M4.393,2.2a2.2,2.2,0,1,0-2.2,2.2A2.2,2.2,0,0,0,4.393,2.2Zm-2.929,0a.732.732,0,1,1,.732.732A.732.732,0,0,1,1.464,2.2Z"
                transform="translate(20.503 5.858)"
            />
            <circle class="a" cx="1.464" cy="1.464" r="1.464" transform="translate(14.646 0)" />
            <path
                class="a"
                d="M0,1.464a.732.732,0,1,0,1.464,0V.732A.732.732,0,1,0,0,.732Z"
                transform="translate(35.88 3.661)"
            />
            <path
                class="a"
                d="M.732,0A.732.732,0,0,0,0,.732v.732a.732.732,0,1,0,1.464,0V.732A.732.732,0,0,0,.732,0Z"
                transform="translate(35.88 0)"
            />
            <path
                class="a"
                d="M1.464,0H.732a.732.732,0,0,0,0,1.464h.732A.732.732,0,1,0,1.464,0Z"
                transform="translate(37.345 2.197)"
            />
            <path
                class="a"
                d="M1.464,0H.732a.732.732,0,0,0,0,1.464h.732A.732.732,0,0,0,1.464,0Z"
                transform="translate(33.684 2.197)"
            />
            <path
                class="a"
                d="M4.409,5.141a.732.732,0,0,0,.732-.732V.732A.732.732,0,0,0,4.409,0H.732A.732.732,0,0,0,0,.732V4.409a.732.732,0,0,0,.732.732ZM1.464,1.464H3.677V3.677H1.464Z"
                transform="translate(27.078 8.039)"
            />
            <path
                class="a"
                d="M.188,7.8a.733.733,0,0,0,1.034.054l7.322-6.59A.732.732,0,0,0,7.564.178L.242,6.768A.733.733,0,0,0,.188,7.8Z"
                transform="translate(17.575 13.922)"
            />
            <path
                class="a"
                d="M1.464,1.464V.732A.732.732,0,0,0,0,.732v.732a.732.732,0,0,0,1.464,0Z"
                transform="translate(38.809 16.841)"
            />
            <path
                class="a"
                d="M.205,1.241l.518.518A.732.732,0,0,0,1.758.723L1.241.206A.732.732,0,0,0,.205,1.241Z"
                transform="translate(40.89 15.992)"
            />
            <path
                class="a"
                d="M1.464,0H.732a.732.732,0,0,0,0,1.464h.732A.732.732,0,1,0,1.464,0Z"
                transform="translate(41.738 13.912)"
            />
            <path
                class="a"
                d="M.732,1.973a.73.73,0,0,0,.518-.215l.518-.518A.732.732,0,0,0,.732.205L.214.723a.732.732,0,0,0,.518,1.25Z"
                transform="translate(40.881 11.333)"
            />
            <path
                class="a"
                d="M.732,0A.733.733,0,0,0,0,.732v.732a.732.732,0,0,0,1.464,0V.732A.733.733,0,0,0,.732,0Z"
                transform="translate(38.809 10.251)"
            />
            <path
                class="a"
                d="M1.241.206A.732.732,0,0,0,.205,1.241l.518.518A.732.732,0,0,0,1.758.723Z"
                transform="translate(36.229 11.333)"
            />
            <path
                class="a"
                d="M8.752,3.133a.733.733,0,0,0-.591-.5L6.012,2.322,5.053.375a.762.762,0,0,0-1.314,0L2.777,2.322.628,2.635A.732.732,0,0,0,.221,3.884L1.775,5.4,1.409,7.54a.732.732,0,0,0,1.063.775L4.394,7.3l1.922,1.01A.733.733,0,0,0,7.379,7.54L7.013,5.4,8.568,3.884A.732.732,0,0,0,8.752,3.133ZM5.712,4.619a.733.733,0,0,0-.211.647l.182,1.058-.948-.5a.732.732,0,0,0-.681,0l-.952.5.182-1.058a.733.733,0,0,0-.207-.647l-.77-.749,1.062-.155a.732.732,0,0,0,.551-.4l.474-.961.474.961a.733.733,0,0,0,.551.4l1.062.155Z"
                transform="translate(0 0.033)"
            />
            <path
                class="a"
                d="M8.49,5.214l-.3-.453A11.048,11.048,0,0,0,.836.007.732.732,0,0,0,.594,1.451,9.583,9.583,0,0,1,6.182,4.566,4.321,4.321,0,0,0,3.253,6.578,2.929,2.929,0,0,0,8.367,9.433a4.255,4.255,0,0,0,.475-1.88,3.578,3.578,0,0,1,.16,3.8.732.732,0,0,0,1.259.747c.007-.011.013-.022.019-.034A5.111,5.111,0,0,0,8.493,5.214Zm-1.4,3.5A1.464,1.464,0,1,1,4.526,7.3l.007-.012A2.743,2.743,0,0,1,6.516,6a.74.74,0,0,1,.366.085C7.5,6.431,7.533,7.927,7.09,8.719Z"
                transform="translate(32.969 31.489)"
            />
        </g>
    </g>
</svg>
