@import 'src/variables';

:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    padding: 12px 21px 6px;
    height: 42px;
}

.title {
    color: $kia-dark-blue;
}

.mat-form-field {
    max-width: 100px;
    margin-left: 8px;
}

.reset-button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;

    mat-icon {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 20px;
    }
}

// remove input number arrows
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
