<div class="title" *ngIf="device.isHandset$ | async">
    {{ 'filter.price.label' | translate }}
</div>

<div [formGroup]="priceForm!">
    <mat-form-field appearance="standard">
        <mat-label>{{ 'filter.price.min' | translate }}</mat-label>
        <span matPrefix>€ &nbsp;</span>
        <input
            matInput
            type="number"
            inputmode="decimal"
            data-qa="minPrice"
            autocomplete="off"
            min="0"
            max="999"
            formControlName="minPrice"
        />
        <button
            type="button"
            *ngIf="!!minPriceControl?.value"
            (click)="removeMinPriceFilter()"
            matSuffix
            class="reset-button"
            data-qa="btnClearMinPrice"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>{{ 'filter.price.max' | translate }}</mat-label>
        <span matPrefix>€ &nbsp;</span>
        <input
            matInput
            type="number"
            inputmode="decimal"
            data-qa="maxPrice"
            autocomplete="off"
            min="1"
            max="999"
            formControlName="maxPrice"
        />
        <button
            type="button"
            *ngIf="!!maxPriceControl?.value"
            (click)="removeMaxPriceFilter()"
            matSuffix
            class="reset-button"
            data-qa="btnClearMaxPrice"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
</div>
