<div class="address-selector">
    <mat-radio-group [formControl]="currentValueControl" aria-label="Select an address">
        <ng-template ngFor let-address [ngForOf]="addresses" let-last="last" let-first="first">
            <mat-radio-button [value]="address" *ngIf="(!showAll && first) || showAll" data-qa="selctedAdress">
                <div class="address">
                    <p>{{ address.addressName }}</p>
                    <p>{{ address.firstName }} {{ address.lastName }}</p>
                    <p>
                        {{ address.line1 }} <span *ngIf="address.line2">{{ ', ' + address.line2 }}</span>
                    </p>
                    <p>{{ address.zipCode }} {{ address.city }}, {{ address.country }}</p>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-radio-button>
        </ng-template>
    </mat-radio-group>
    <button
        *ngIf="!showAll && addresses.length !== 0"
        type="button"
        mat-button
        (click)="showAll = true"
        data-qa="btnSelectOtherAdress"
    >
        {{ 'userAddresses.selectOther' | translate }}
    </button>
    <button
        *ngIf="showAll || addresses.length === 0"
        type="button"
        mat-button
        (click)="addNewAddress()"
        data-qa="btnCreateNewAdress"
    >
        {{ 'userAddresses.addNew' | translate }}
    </button>
</div>
