.address-selector {
    display: flex;
    flex-direction: column;

    mat-radio-group {
        display: flex;
        flex-direction: column;
    }

    .address {
        display: flex;
        flex-direction: column;
        margin: 6px 0 12px 6px;

        p {
            margin: 0;
            font-size: 14px;
        }
    }

    button {
        margin-bottom: 12px;
    }
}
