<svg
    version="1.1"
    id="Calque_1"
    xmlns="http://www.w3.org/2000/svg"
    x="0px"
    y="0px"
    viewBox="0 0 456.34 101.18"
    style="enable-background: new 0 0 456.34 101.18"
    xml:space="preserve"
>
    <g>
        <g>
            <rect x="5.92" y="5.59" class="st0" width="442.5" height="88.49"></rect>
        </g>
        <g>
            <path
                class="st1"
                d="M46.56,39.24c-1.41-1.96-3.21-3.11-5.67-3.11c-2.46,0-4.62,1.86-4.62,4.27c0,2.16,1.81,3.52,5.27,4.87
                c2.81,1.1,4.87,2.21,6.38,3.51c2.46,2.11,3.36,4.82,3.36,8.03c0,7.68-4.82,12.95-12.45,12.95c-5.22,0-9.04-2.96-11.65-7.38
                l4.77-4.67c1.1,3.21,3.97,5.52,6.83,5.52c2.76,0,4.87-2.26,4.87-5.47c0-2.76-1.76-4.32-5.17-5.62c-6.63-2.51-9.84-5.12-9.84-10.9
                c0-6.23,4.62-11.35,11.05-11.35c3.67,0,8.23,1.86,10.34,4.22L46.56,39.24z"
            ></path>
            <path
                class="st1"
                d="M74.73,30.91v6.43h-12.2v8.33h11.75v6.43H62.53v10.24h12.2v6.43H55.15V30.91H74.73z"
            ></path>
            <path
                class="st1"
                d="M104.96,40.95c-2.06-2.56-5.27-4.02-8.33-4.02c-6.78,0-11.15,6.08-11.15,13.06c0,6.83,4.57,12.75,11.1,12.75
                c3.21,0,6.33-1.66,8.38-4.02v8.79c-2.81,1.31-5.52,2.26-8.59,2.26c-10.64,0-18.53-9.14-18.53-19.63c0-11,7.78-20.23,18.68-20.23
                c3.01,0,5.87,0.8,8.44,2.21V40.95z"
            ></path>
            <path
                class="st1"
                d="M126.45,69.77c-11.25,0-18.73-8.53-18.73-19.98c0-11.6,7.78-19.88,18.73-19.88c11.1,0,18.73,8.43,18.73,19.88
                C145.18,61.23,137.75,69.77,126.45,69.77z M137.55,49.48c0-6.53-4.42-12.3-11.15-12.3c-6.53,0-11.05,5.67-11.05,12.3
                c0,6.98,3.77,13,11.1,13C133.83,62.49,137.55,56.46,137.55,49.48z"
            ></path>
            <path
                class="st1"
                d="M154.12,29.9l19.93,26.46h0.1V30.91h7.38v38.61h-5.32l-19.93-26.46h-0.1v25.71h-7.38V29.9H154.12z"
            ></path>
            <path
                class="st1"
                d="M197.7,30.91c4.42,0,9.24,1.61,12.75,5.17c3.46,3.51,5.27,8.49,5.27,13.81c0,5.17-1.76,10.04-5.27,13.61
                c-3.51,3.56-8.23,5.27-12.8,5.27H186.9V30.91H197.7z M194.29,62.34h1.05c8.59,0,12.75-4.27,12.75-12.5s-4.12-12.5-12.75-12.5
                h-1.05V62.34z"
            ></path>
            <path
                class="st1"
                d="M238.92,30.91v6.43h-12.2v8.33h11.75v6.43h-11.75v10.24h12.2v6.43h-19.58V30.91H238.92z"
            ></path>
            <path
                class="st1"
                d="M267.79,29.9l9.34,24.95l8.94-24.95h5.32l5.67,38.86h-7.43l-3.01-23.5h-0.1l-8.59,24h-2.56l-8.28-24h-0.1
                l-3.36,23.5h-7.43l6.38-38.86H267.79z"
            ></path>
            <path
                class="st1"
                d="M317.65,29.9l14.36,38.86h-7.88l-2.91-7.98h-13.15l-3.11,7.98h-7.78l14.76-38.86H317.65z M310.17,54.76h8.99
                L314.44,41h-0.1L310.17,54.76z"
            ></path>
            <path class="st1" d="M341.65,30.91v37.86h-7.38V30.91H341.65z"></path>
            <path
                class="st1"
                d="M352.35,29.9l19.93,26.46h0.1V30.91h7.38v38.61h-5.32l-19.93-26.46h-0.1v25.71h-7.38V29.9H352.35z"
            ></path>
        </g>
        <rect x="407.03" y="4.66" class="st1" width="41.07" height="90"></rect>
        <g>
            <path
                class="st2"
                d="M422.03,85.79h4.94v-0.02c-0.6-0.46-0.94-1.13-0.94-1.88c0-1.58,1.28-2.64,2.9-2.64c1.58,0,2.9,1.05,2.9,2.63
                c0,0.76-0.32,1.44-0.91,1.89v0.02h0.76v0.94h-9.65V85.79z M428.89,82.19c-1.14,0-1.99,0.72-1.99,1.86c0,1.03,0.9,1.78,1.98,1.78
                c1.16,0,2.09-0.7,2.09-1.8C430.97,82.92,430.11,82.19,428.89,82.19z"
            ></path>
            <path
                class="st2"
                d="M426.18,79.75l3.94-1.94l-3.94-1.78v-1.06l8.59,4.06v1.06l-3.6-1.78l-4.98,2.53V79.75z"
            ></path>
        </g>
        <g>
            <path
                class="st2"
                d="M419.03,67.63h8.01v-0.05l-8.01-5.87v-4.56l8.76,7.2l10.22-7.6v4.76l-8.54,6.07v0.05h8.54v3.7h-18.99V67.63z"
            ></path>
            <path class="st2" d="M419.03,52.01h18.99v3.7h-18.99V52.01z"></path>
            <path
                class="st2"
                d="M418.53,40.62l19.49-7.2v3.95l-4,1.46v6.6l4,1.56v3.9l-19.49-7.4V40.62z M430.99,44.38v-4.51l-6.9,2.37v0.05
                L430.99,44.38z"
            ></path>
            <path
                class="st2"
                d="M419.03,27.55c0-3.63,1.64-5.57,5.14-5.57c1.41,0,2.92,0.48,3.7,1.66c0.38-2.01,2.37-3.25,4.76-3.25
                c3.5,0,5.39,2.37,5.39,5.99v5.89h-18.99V27.55z M426.94,28.58v-0.45c0-1.99-0.68-2.69-2.49-2.69c-1.61,0-2.44,0.7-2.44,2.72v0.43
                H426.94z M435.04,28.58v-1.03c0-1.49-0.3-2.37-0.81-2.85c-0.5-0.48-1.18-0.6-1.91-0.6c-1.28,0-2.04,0.53-2.37,1.69
                c-0.15,0.53-0.2,1.21-0.2,2.01v0.78H435.04z"
            ></path>
            <path class="st2" d="M419.03,14.65h18.99v3.7h-18.99V14.65z"></path>
        </g>
    </g>
</svg>
