<div class="search-input-wrapper">
    <mat-icon class="search-icon">search</mat-icon>
    <input
        type="search"
        autocomplete="off"
        class="search-input"
        data-qa="searchInput"
        [formControl]="searchControl"
        [placeholder]="'searchPage.searchArticle' | translate"
    />
    <button
        mat-icon-button
        type="button"
        class="clear-input"
        data-qa="btnClearSearchInput"
        (click)="searchControl.reset()"
        *ngIf="searchControl.value"
    >
        <mat-icon>clear</mat-icon>
    </button>
</div>
