@import 'src/variables';

.search-input-wrapper {
    background-color: $app-background-color;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 12px;

    .search-icon {
        font-size: 28px;
        line-height: 28px;
        height: 28px;
        width: 28px;
    }

    .search-input {
        background-color: $app-background-color;
        border: none !important;
        outline: none !important;
        height: 42px;
        flex: 1;
        font-size: 14px;
        margin-left: 6px;
    }

    .clear-input {
        background-color: #ccc;
        color: $app-background-color;
        border-radius: 50% !important;
        height: 24px;
        width: 24px;
        line-height: 24px;

        mat-icon {
            height: 18px;
            width: 18px;
            line-height: 18px;
            font-size: 18px;
        }
    }
}
