@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f2f2f5;

    &.handset {
        height: $pageHeight;
    }

    &.desktop {
        max-height: 95vh;

        .product-infos {
            margin: 0 40px;
        }

        .content {
            margin: 0 40px;
            margin-top: 20px;
        }

        .actions {
            margin: 20px 40px;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 20px;
        color: $kia-dark-blue;
        position: relative;

        .title {
            margin-top: 40px;
            font-size: 18px;
            font-weight: bold;
        }

        .subtitle {
            font-size: 14px;
            margin-top: 6px;
        }

        .back-button {
            position: absolute;
            left: 10px;
            top: 6px;
            padding: 0;
            padding-right: 10px;

            font-size: 14px;
            color: $light-text-color;

            mat-icon {
                width: 28px;
                height: 28px;
                font-size: 28px;
            }
        }

        .close-button {
            position: absolute;
            top: 4px;
            right: 4px;
            color: $kia-lighten-dark-blue;

            &.desktop {
                top: -2px;
            }
        }
    }

    .product-infos {
        padding: 12px 0;
        background-color: $darker-background-color;
        z-index: 100;
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            margin-left: 16px;
        }

        div {
            margin-left: 20px;
        }
    }

    .content {
        flex: 1;
        overflow-y: auto;
        margin-top: 10px;

        mat-form-field {
            display: block;
            margin: 12px;

            textarea {
                height: 140px;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px max(8px, env(safe-area-inset-bottom));

        button:not(:last-child) {
            margin-right: 12px;
        }
    }
}
