<div class="header">
    <div class="title">{{ 'product.report.step2.title' | translate }}</div>
    <div class="subtitle">{{ 'product.report.step2.subtitle' | translate }}</div>

    <button type="button" class="back-button" mat-button (click)="onBackButtonClicked()" data-qa="btnReturn">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span>{{ 'common.back' | translate }}</span>
    </button>

    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        class="close-button"
        appDeviceClasses
        tabindex="-1"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
</div>

<div class="product-infos mat-elevation-z4" *ngIf="product$ | async as product">
    <img [src]="product.image" alt="product image" [appThumbnailFormat]="{ origin: product.image, format: 'chat' }" />
    <div>{{ product.label }}</div>
</div>

<div class="content">
    <mat-form-field>
        <textarea
            matInput
            [formControl]="content"
            placeholder="Merci de nous donner plus d'informations ici."
        ></textarea>
    </mat-form-field>
</div>

<div class="actions">
    <button type="button" kia-button variant="bordered" (click)="onBackButtonClicked()">
        {{ 'common.back' | translate }}
    </button>
    <button type="button" kia-button (click)="onValidatedClicked()" [disabled]="(canValidate$ | async) === false">
        {{ 'common.validate' | translate }}
    </button>
</div>
