<div class="edit-rib-dialog-container">
    <div class="dialog-header">
        <app-stepper
            [steps]="steps"
            [activeStep]="activeStep"
            [doneSteps]="doneSteps"
            (stepClicked)="goToStep($event)"
        ></app-stepper>
        <button
            type="button"
            mat-icon-button
            mat-dialog-close
            tabindex="-1"
            class="close-icon-button"
            [attr.aria-label]="'common.close' | translate"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="dialog-content" [ngSwitch]="activeStep">
        <ng-container *ngSwitchCase="0">
            <app-edit-iban-form [ibanForm]="ibanForm"></app-edit-iban-form>
        </ng-container>
        <ng-container *ngSwitchCase="1">
            <div class="text">
                {{ 'profile.bankDetails.editRib.ribInformation' | translate }}
            </div>
            <app-upload-kyc-document
                [file]="ibanForm.controls.rib?.value"
                [fileType]="fileType.KYC_RIB"
                (documentUploaded)="onDocumentUploaded($event)"
            ></app-upload-kyc-document>
            <div class="additional-info">
                {{ 'profile.bankDetails.documentAcceptedFormats' | translate }}
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <app-edit-rib-document-recap [userIban]="ibanForm.value"></app-edit-rib-document-recap>
        </ng-container>
    </div>
    <div class="dialog-footer">
        <button type="button" mat-stroked-button color="primary" (click)="previousStep()">
            {{ 'common.back' | translate }}
        </button>
        <button
            type="button"
            mat-flat-button
            color="primary"
            (click)="nextStep()"
            [disabled]="nextButtonDisabled || loading"
        >
            <ng-container *ngIf="activeStep < 2; then nextStepLabel; else sendLabel"></ng-container>
            <ng-template #nextStepLabel>
                {{ 'profile.bankDetails.nextStep' | translate }}
            </ng-template>
            <ng-template #sendLabel>
                {{ 'common.send' | translate }}
            </ng-template>
        </button>
    </div>
    <div class="loader-container" *ngIf="loading">
        <mat-spinner color="primary" [diameter]="30"></mat-spinner>
    </div>
</div>
