@import 'src/variables';

:host {
    .breadcrumb {
        grid-column-end: span 2;
        display: flex;
        align-items: center;
        height: 60px;

        ol {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            color: $light-text-color;
            list-style: none;
            padding-left: 0;

            li {
                display: inline-block;
                a {
                    text-decoration: none;
                    color: $light-text-color;
                    outline: none;

                    &:focus {
                        text-decoration: underline;
                    }
                }
            }

            li + li::before {
                margin: 0 10px;
                content: '/';
            }
        }
    }
}
