<nav aria-label="Breadcrumb" class="breadcrumb">
    <ol>
        <li *ngFor="let breadcrumbLink of breadcrumbLinks$ | async">
            <a [routerLink]="breadcrumbLink.commands" *ngIf="!!breadcrumbLink.commands">
                {{ breadcrumbLink.labelKey | translate: breadcrumbLink.translateParams }}
            </a>
            <span *ngIf="!breadcrumbLink.commands">
                {{ breadcrumbLink.labelKey | translate: breadcrumbLink.translateParams }}
            </span>
        </li>
    </ol>
</nav>
