@import 'src/variables';

:host {
    display: flex;
    justify-content: center;
    align-items: center;

    .a {
        transition: ease-in-out 0.3s;
        fill: transparent;
        stroke: $kia-dark-blue;
        fill-rule: evenodd;
    }

    .secondary {
        .a {
            fill: transparent;
            stroke: $light-text-color;
        }
    }

    .active {
        .a {
            fill: $kia-red;
            stroke: $kia-red;
        }
    }
}
