@import 'src/variables';

app-filter-category-desktop {
    .go-back {
        color: $kia-lighten-dark-blue !important;

        &:hover {
            text-decoration: none !important;
        }
    }

    .mat-stepper-horizontal {
        height: 100%;
        background: $content-background-color;

        .mat-horizontal-stepper-header-container {
            display: none;
        }

        .mat-horizontal-content-container {
            padding: 0;
            height: 100%;

            .mat-horizontal-stepper-content[aria-expanded='true'] {
                height: 100%;
                overflow-y: auto;
                background-color: $content-background-color;
            }
        }
    }
}
