<mat-horizontal-stepper [selectedIndex]="step">
    <mat-step>
        <app-filter-categories
            class="overlay categories"
            [key]="key"
            (goNext)="onCategorySelected($event)"
        ></app-filter-categories>
    </mat-step>
    <mat-step>
        <button type="button" kia-button variant="link" class="go-back" (click)="goBackToCategories()">
            <mat-icon>keyboard_arrow_left</mat-icon>
            {{ 'common.back' | translate }}
        </button>
        <app-filter-sub-categories
            class="overlay subcategories"
            [category]="selectedCategory"
            [key]="key"
            (goNext)="onSubCategorySelected($event)"
            (quit)="onQuit()"
            *ngIf="step === steps.SUBCATEGORIES && !!selectedCategory"
        ></app-filter-sub-categories>
    </mat-step>
    <mat-step>
        <button type="button" kia-button variant="link" class="go-back" (click)="goBackToSubCategories()">
            <mat-icon>keyboard_arrow_left</mat-icon>
            {{ 'common.back' | translate }}
        </button>
        <app-filter-types
            class="overlay type"
            [category]="selectedCategory"
            [subCategory]="selectedSubCategory"
            [key]="key"
            (quit)="onQuit()"
            *ngIf="step === steps.TYPE && !!selectedCategory && !!selectedSubCategory"
        ></app-filter-types>
    </mat-step>
</mat-horizontal-stepper>
