@import 'src/variables';

:host {
    border-radius: 10px;
    padding: 1px 6px;
    font-size: 12px;
    height: fit-content;

    &.primary {
        color: $kia-dark-blue;
        border: 1px solid $kia-dark-blue;
    }
    &.success {
        color: $kia-green;
        border: 1px solid $kia-green;
    }
    &.danger {
        color: $kia-red;
        border: 1px solid $kia-red;
    }
    &.light-blue {
        color: $kia-light-blue;
        border: 1px solid $kia-light-blue;
    }
    &.pink {
        color: $kia-pink;
        border: 1px solid $kia-pink;
    }
}
