<nav class="main-header-container">
    <ul>
        <li>
            <a class="logo" [routerLink]="['/']" (click)="onHomeClicked()">
                <app-logo></app-logo>
            </a>
        </li>
    </ul>
</nav>
