@import 'src/variables';

.main-header-container {
    height: $header-height;
    width: 100vw;
    z-index: 1000;
    background-color: #ffffff;

    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        li {
            height: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &:first-child {
                display: flex;
                justify-content: flex-start !important;
                align-items: center;
                flex: 5 !important;

                .back-button {
                    height: 6vh;
                    display: flex;
                    align-items: center;
                    margin-left: 12px;

                    mat-icon {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        font-size: 36px;
                    }
                }

                .logo {
                    margin-left: 12px;
                    width: 216px;

                    app-logo {
                        width: 100%;
                        height: 48px;
                    }
                }
            }

            a {
                position: relative;
                color: inherit;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
