@import 'src/variables';

.cash-credit-container {
    .credit-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-image: url('/assets/images/Cagnottes_cash_visuel_Bg@2x.jpg');
        background-size: cover;
        background-position: center;

        .credit-container-amount {
            width: 244px;
            height: 125px;
            background: rgba(255, 255, 255, 0.7) 0 0 no-repeat padding-box;
            border-radius: 8px;
            display: flex;
            flex-direction: column;

            &.desktop {
                border-radius: 8px 8px 0 0;

                &.full-rounded {
                    border-radius: 8px;
                }
            }

            .credit-amount {
                display: flex;
                justify-content: center;
                font-size: 50px;
                padding-top: 12px;

                &.desktop {
                    padding-bottom: 25px;
                }
            }

            .holding-credit {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .in-progress-label {
                    font-size: $small-text-font-size;
                }
            }
        }

        .transfer-button {
            &.desktop {
                width: 244px;
                font-size: 14px;
                border-radius: 0 0 8px 8px;
            }
        }
    }

    .card-container {
        background-color: $app-background-color;
    }

    &.desktop {
        .credit-container {
            height: 320px;
        }
    }

    &.handset {
        .credit-container {
            height: 255px;
        }

        .card-container {
            position: relative;
            flex: 1;

            &:before {
                content: ' ';
                mask-image: url('/assets/svg/Bg_top.svg');
                mask-size: cover;
                mask-position: center;
                height: 26px;
                position: absolute;
                z-index: 2;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -15px;
                background-color: $app-background-color;
            }

            .content {
                position: relative;
                z-index: 3;
            }
        }
    }

    .take-cash-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px 20px 20px;
        background-color: $app-background-color;

        &.desktop {
            padding-left: 120px;
            padding-right: 120px;

            app-warning-icon {
                position: relative;
                top: -15px;
                border: 10px solid white;
                border-radius: 50%;
                background-color: #ffffff;
            }

            .incomplete-title {
                margin-top: 0;
            }

            .bank-info-button {
                margin-top: 20px;
            }
        }

        &.handset {
            .incomplete-title {
                margin-bottom: 0;
            }
        }

        > .error {
            color: $kia-red;
        }

        > .warning {
            color: $kia-orange;
        }

        .incomplete-title {
            text-align: center;
            font-size: $large-text-font-size;
        }

        .incomplete-description {
            text-align: center;
            font-size: $normal-text-font-size;
        }

        .bank-info-button {
            height: 32px;
            font-size: 13px;
        }
    }

    .notice {
        text-align: center;
        margin-top: 12px;
        color: $light-text-color;
    }

    .transfer-container {
        min-height: 60px;
        background-color: $darker-background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        z-index: 10;

        &.handset {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;

            .notice {
                display: none;
            }
        }
    }
}
.legal-obligations-container {
    display: flex;
    flex-direction: column;

    &.desktop {
        background-color: $darker-background-color;
        padding: 20px;
    }

    &.handset {
        background-color: $content-background-color;
        padding: 0 20px 120px 20px;
    }

    .legal-obligations {
        font-size: 11px;
        color: $medium-text-color;
        padding: 12px;
        text-align: center;
    }

    .legal-obligations-links {
        display: flex;
        justify-content: space-around;

        .legal-obligations-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 11px;
            color: $kia-dark-blue;
        }
    }
}
