<div
    class="cash-credit-container"
    appDeviceClasses
    infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="(device.isDesktop$ | async) === true"
    [infiniteScrollContainer]="infiniteScrollSelector | async"
    [fromRoot]="true"
>
    <div class="credit-container">
        <div
            class="credit-container-amount"
            appDeviceClasses
            [class.full-rounded]="(isBankAccountCompleted$ | async) !== true"
        >
            <div class="credit-amount" data-qa="cashCreditAmount">{{ credit | currency }}</div>
            <div class="holding-credit" data-qa="cashHoldingCredit">
                <span>{{ 'profile.cashCredit.holdingCredit' | translate: { amount: holdingCredit | currency } }}</span>
                <span class="in-progress-label">{{ 'profile.cashCredit.transactionInProgress' | translate }}</span>
            </div>
        </div>

        <button
            type="button"
            kia-button
            class="transfer-button"
            variant="primary"
            [disabled]="credit === undefined || minimumAmount === undefined || credit < minimumAmount"
            (click)="openTransferCreditDialog()"
            appDeviceClasses
            data-qa="btnTransferCreditDialog"
            *ngIf="(device.isDesktop$ | async) && (isBankAccountCompleted$ | async)"
        >
            <span *ngIf="!(credit === undefined || minimumAmount === undefined || credit < minimumAmount)">
                {{ 'profile.cashCredit.transfer.action' | translate }}
            </span>
            <span *ngIf="credit === undefined || minimumAmount === undefined || credit < minimumAmount">
                {{ 'profile.cashCredit.transfer.notice' | translate: { amount: minimumAmount | currency } }}
            </span>
        </button>
    </div>

    <div class="card-container">
        <div class="content">
            <div
                class="take-cash-container"
                appDeviceClasses
                *ngIf="(loading$ | async) === false && (isBankAccountIncomplete$ | async)"
            >
                <app-warning-icon color="#c13515" [width]="30" [height]="30"></app-warning-icon>
                <p class="incomplete-title error">{{ 'profile.cashCredit.cantTransfer.incomplete' | translate }}</p>
                <p class="incomplete-description error">
                    {{ 'profile.cashCredit.cantTransfer.description' | translate }}
                </p>
                <a
                    kia-button
                    variant="primary"
                    class="bank-info-button"
                    routerLink="/profile/bank-details"
                    appDeviceClasses
                    data-qa="btnCantTransfer"
                >
                    {{ 'profile.cashCredit.cantTransfer.button' | translate }}
                </a>
            </div>
            <div
                class="take-cash-container"
                appDeviceClasses
                *ngIf="(loading$ | async) === false && (isBankAccountPendingValidation$ | async)"
            >
                <app-warning-icon color="#FF7600" [width]="30" [height]="30"></app-warning-icon>
                <p class="incomplete-title warning">{{ 'profile.bankDetails.pending-validation.title' | translate }}</p>
                <p class="incomplete-description warning">
                    {{ 'profile.bankDetails.pending-validation.subtitle' | translate }}
                </p>
                <a
                    kia-button
                    variant="primary"
                    class="bank-info-button"
                    routerLink="/profile/bank-details"
                    appDeviceClasses
                    data-qa="btnCantTransfer"
                >
                    {{ 'profile.cashCredit.cantTransfer.seeDocuments' | translate }}
                </a>
            </div>
            <app-cash-history class="cash-history" [cashHistory]="cashHistory$ | async"></app-cash-history>
        </div>
    </div>

    <div
        class="transfer-container"
        *ngIf="(device.isHandset$ | async) && (isBankAccountCompleted$ | async)"
        appDeviceClasses
    >
        <button
            type="button"
            kia-button
            class="transfer-button"
            variant="primary"
            [disabled]="credit === undefined || minimumAmount === undefined || credit < minimumAmount"
            (click)="openTransferCreditDialog()"
            appDeviceClasses
            data-qa="btnTransferCreditDialog"
        >
            {{ 'profile.cashCredit.transfer.action' | translate }}
        </button>
        <div
            class="notice"
            data-qa="notice"
            *ngIf="credit === undefined || minimumAmount === undefined || credit < minimumAmount"
        >
            {{ 'profile.cashCredit.transfer.notice' | translate: { amount: minimumAmount | currency } }}
        </div>
    </div>
</div>

<div
    class="legal-obligations-container"
    appDeviceClasses
    [ngStyle]="{ backgroundColor: (isBankAccountCompleted$ | async) ? '#ffffff' : '' }"
>
    <p class="legal-obligations">{{ 'common.legalObligations' | translate }}</p>
    <div class="legal-obligations-links">
        <div class="legal-obligations-link">
            <span>{{ 'common.legalObligationsFiscal' | translate }}</span>
            <span [innerHTML]="'common.legalObligationsFiscalLink' | translate | safeHtml"></span>
        </div>
        <div class="legal-obligations-link">
            <span>{{ 'common.legalObligationsSocial' | translate }}</span>
            <span [innerHTML]="'common.legalObligationsSocialLink' | translate | safeHtml"></span>
        </div>
    </div>
</div>

<div class="loader-container" *ngIf="loading$ | async">
    <mat-spinner [diameter]="30" color="primary"></mat-spinner>
</div>
