<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.practicalInfos' | translate"
></app-header-with-title>

<div class="content" appDeviceClasses>
    <div class="title" *ngIf="deviceService.isDesktop$ | async">
        {{ 'profile.link.practicalInfos' | translate }}
    </div>

    <div class="links">
        <mat-nav-list class="list">
            <a mat-list-item routerLink="/other/qa">
                <div class="link">
                    <div class="title-container">
                        <div class="title">{{ 'profile.link.faq' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
        </mat-nav-list>

        <mat-nav-list class="list">
            <a mat-list-item routerLink="/other/cookies">
                <div class="link">
                    <div class="title-container">
                        <div class="title">{{ 'profile.link.cookies' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink="/other/privacy">
                <div class="link">
                    <div class="title-container">
                        <div class="title">{{ 'profile.link.privacy' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink="/other/cgu">
                <div class="link">
                    <div class="title-container">
                        <div class="title">{{ 'profile.link.secondHandCgu' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink="/other/lemonway-cgu">
                <div class="link">
                    <div class="title-container">
                        <div class="title">{{ 'profile.link.lemonWayCgu' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
        </mat-nav-list>

        <mat-nav-list class="list">
            <a mat-list-item routerLink="/other/listing-conditions">
                <div class="link">
                    <div class="title-container">
                        <div class="title">{{ 'profile.link.listingConditions' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
        </mat-nav-list>

        <mat-nav-list class="list">
            <a mat-list-item routerLink="/other/legal-notice">
                <div class="link">
                    <div class="title-container">
                        <div class="title">{{ 'profile.link.legalNotice' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
        </mat-nav-list>

        <mat-nav-list class="list">
            <a mat-list-item routerLink="/other/contact-us">
                <div class="link">
                    <div class="title-container">
                        <div class="title">{{ 'profile.link.contactUs' | translate }}</div>
                    </div>
                    <mat-icon class="next-button">keyboard_arrow_right</mat-icon>
                </div>
            </a>
        </mat-nav-list>
    </div>
</div>
