@import 'src/variables';

:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
        height: 100%;
        flex: 1;

        &.desktop {
            margin: 0 auto;
            width: 600px;
        }

        > .title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            color: $kia-dark-blue;
        }

        .links {
            .list {
                padding-top: 0;
                background-color: #ffffff;
                border-radius: 8px;
                margin-top: 12px;

                .link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 50px;
                    width: 100%;

                    .title-container {
                        display: flex;
                        align-items: center;

                        .icon {
                            margin-right: 10px;
                            color: $kia-lighten-dark-blue;
                        }

                        .title {
                            font-size: 16px;
                            line-height: 15px;
                            color: $kia-dark-blue;
                        }
                    }

                    .next-button {
                        color: $kia-lighten-dark-blue;
                    }
                }

                a.link {
                    text-decoration: none;
                }
            }
        }
    }
}
