@import 'src/variables';

.success-notification-dialog-container {
    position: relative;

    .close-button {
        position: absolute;
        z-index: 2;
        top: 4px;
        right: 4px;
        color: $medium-text-color;
    }

    .icon-container {
        position: relative;
        height: 100px;
        margin-bottom: 20px;

        > * {
            position: absolute;
            padding: 10px;
            bottom: -20px;
            left: calc(50% - 40px);
        }

        mat-icon {
            width: 60px;
            height: 60px;
            font-size: 60px;
            color: white;
            background-color: $kia-green;
            border-radius: 50%;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;

        .title {
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;
            color: $kia-dark-blue;
            text-align: center;
            margin-bottom: 4px;
        }

        .content {
            font-style: normal;
            font-size: 14px;
            line-height: 16px;
            color: $medium-text-color;
            text-align: center;
        }

        .actions {
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}
