<div class="success-notification-dialog-container">
    <button
        type="button"
        mat-icon-button
        mat-dialog-close
        tabindex="-1"
        class="close-button"
        [attr.aria-label]="'common.close' | translate"
    >
        <mat-icon>clear</mat-icon>
    </button>
    <div class="icon-container" data-qa="btnDone">
        <mat-icon *ngIf="type === 'success'">done</mat-icon>
        <app-warning-icon *ngIf="type === 'warning'" [height]="60" [width]="60" color="#ff7600"></app-warning-icon>
    </div>
    <div class="container">
        <div class="title">
            {{ title }}
        </div>
        <div class="content">
            {{ content }}
        </div>

        <div class="actions">
            <button *ngIf="backButtonEnable" type="submit" kia-button variant="bordered" mat-dialog-close>
                {{ 'common.back' | translate }}
            </button>
            <button type="submit" kia-button [mat-dialog-close]="true">
                {{ buttonContent }}
            </button>
        </div>
    </div>
</div>
