<app-header-with-title
    *ngIf="deviceService.isHandset$ | async"
    [title]="'profile.link.privacy' | translate"
></app-header-with-title>
<div class="privacy-container" appDeviceClasses data-qa="pricavy">
    <div class="title">{{ 'text.privacy.title' | translate }}</div>
    <div [innerHTML]="'text.privacy.content' | translate: { email: contactEmail } | safeHtml"></div>
</div>
