@import 'src/variables';

app-privacy {
    height: 100%;
    display: flex;
    flex-direction: column;

    .privacy-container {
        flex: 1;
        overflow-y: auto;
        background-color: $content-background-color;
        padding: 24px;

        &.handset {
            padding-bottom: calc(#{$footer-height} + 24px + env(safe-area-inset-bottom));
        }

        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            color: $kia-dark-blue;
            margin-bottom: 20px;
        }

        h4 {
            font-weight: bold !important;
            font-size: 20px !important;
            line-height: 22px !important;
            color: $kia-dark-blue !important;
            margin: 20px 0;
        }

        h5 {
            font-style: normal !important;
            font-size: 16px !important;
            line-height: 18px !important;
            color: $kia-dark-blue !important;
            margin: 10px 0;
        }

        h6 {
            font-weight: bold !important;
            font-size: 14px !important;
            line-height: 16px !important;
            margin: 10px 0;
        }

        .table {
            border-collapse: collapse;

            td {
                max-width: 60vw;
            }
        }

        .table,
        th,
        td {
            border: 1px solid $kia-dark-blue;
        }

        * {
            color: $medium-text-color;
            font-size: 12px;
            word-break: break-word;
        }
    }
}
