<div class="pro-information">
    <div class="block-container">
        <app-quality-icon class="block-icon"></app-quality-icon>
        <div class="text-block">
            <div class="title">{{ 'proInformation.quality.title' | translate }}</div>
            <div class="subtitle">{{ 'proInformation.quality.subtitle' | translate }}</div>
        </div>
    </div>
    <div class="block-container">
        <app-delivery-icon class="block-icon"></app-delivery-icon>
        <div class="text-block">
            <div class="title">{{ 'proInformation.delivery.title' | translate }}</div>
            <div class="subtitle">{{ 'proInformation.delivery.subtitle' | translate }}</div>
        </div>
    </div>
    <div class="block-container">
        <app-free-return-icon class="block-icon"></app-free-return-icon>
        <div class="text-block">
            <div class="title">{{ 'proInformation.free-return.title' | translate }}</div>
            <div class="subtitle">{{ 'proInformation.free-return.subtitle' | translate }}</div>
        </div>
    </div>
</div>
