@import 'src/variables';

.pro-information {
    display: flex;
    flex-direction: column;

    .block-container {
        display: flex;
        align-items: center;
        margin-top: 12px;

        .block-icon {
            display: flex;
            border: 1px solid $kia-dark-blue;
            border-radius: 50%;
            padding: 4px;
        }

        .text-block {
            margin-left: 12px;

            .title {
                font-size: 12px;
                font-weight: bold;
                color: $kia-dark-blue;
            }
            .subtitle {
                font-size: 11px;
                color: $medium-text-color;
                margin-top: 2px;
            }
        }
    }
}
