<mat-radio-group class="radio-group" (change)="onValueChanged($event.value)">
    <mat-radio-button
        color="primary"
        class="radio-button"
        [value]="seasonality.value"
        [checked]="seasonality.selected"
        *ngFor="let seasonality of seasonalityList$ | async"
    >
        <ng-container [ngSwitch]="seasonality.value">
            <app-all-seasonality-icon
                class="icon"
                [height]="20"
                [width]="20"
                *ngSwitchCase="'ALL'"
            ></app-all-seasonality-icon>
            <app-summer-icon class="icon" [height]="20" [width]="20" *ngSwitchCase="'SUMMER'"></app-summer-icon>
            <app-winter-icon class="icon" [height]="20" [width]="20" *ngSwitchCase="'WINTER'"></app-winter-icon>
        </ng-container>
        {{ 'product.seasonality.' + seasonality.value | translate }}
    </mat-radio-button>
</mat-radio-group>
