.radio-group {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0;

    .radio-button {
        height: 50px;
        background-color: white;
        color: #040037;
        font-weight: bold;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 0 6px;
        box-sizing: border-box;
        display: flex;
    }
}
