$app-background-color: #ffffff;
$content-background-color: #f2f2f5;
$darker-background-color: #f7f7f8;
$current-selection-background-color: #edf7ed;

$kia-dark-blue: #040037;
$kia-lighten-dark-blue: #ccccd7;
$kia-blue: #00008c;
$kia-light-blue: #667fe5;
$kia-purple: #6d658d;
$kia-light-red: #f4cbd1;
$kia-red: #c13515;
$kia-light-green: #d2ebd3;
$kia-green: #4caf50;
$kia-light-orange: #ffeddd;
$kia-orange: #ff7600;
$kia-yellow: #ffc400;
$kia-pink: #eb5980;

$header-height: 60px;
$beta-banner-height: 40px;
$footer-height: 60px;
$desktop-max-width: 1200px;
$desktop-header-height: 140px;
$product-footer-height: 90px;

$medium-text-color: #817f9a;
$light-text-color: #b3b2c2;
$very-large-text-font-size: 18px;
$large-text-font-size: 16px;
$normal-text-font-size: 14px;
$small-text-font-size: 12px;
$very-small-text-font-size: 10px;

$box-shadow-color: #00000029;
$border-color: #ebecf0;

$desktop-dialog-max-height: 95vh;

// 🍎 : ios_safari workaround to full-height management (@link src/main.ts)
$pageHeight: calc(var(--vh, 1vh) * 100);
