/* You can add global styles to this file, and also import other style files */
@import 'src/variables';
@import 'src/scrollbar';

@import '~quill/dist/quill.core.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Euro Sans Bold';
    //noinspection CssUnknownTarget
    src: url('assets/fonts/Euro Sans Bold/Euro Sans Bold.otf');
}

@font-face {
    font-family: 'DIN Bold';
    //noinspection CssUnknownTarget
    src: url('assets/fonts/DIN Bold/DIN Bold.otf');
}

html {
    color: $kia-dark-blue;
    font-family: 'Roboto', Arial, sans-serif !important;
}

html * {
    @include scrollbar;
}

body {
    margin: 0;
    background: $content-background-color;
    overscroll-behavior-y: contain; // 💡 : Disables pull-to-refresh but allows overscroll glow effects.
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: env(safe-area-inset-top);
    box-sizing: border-box;
}

.safe-header {
    padding-top: env(safe-area-inset-top) !important;
    box-sizing: border-box;
}

.kiabi-highlight-light {
    background-color: #ffffff;
    color: $kia-dark-blue;
    display: inline-block;
    height: 1.5em;
}

.kiabi-highlight-dark {
    background-color: $kia-dark-blue;
    color: #ffffff;
    display: inline-block;
    height: 1.5em;
}

.bold {
    font-weight: bold !important;
}

.price {
    font-family: 'DIN Bold';
}

.light-flat-button {
    border: 1px solid $kia-dark-blue !important;
    color: $kia-dark-blue !important;
}

.kiabi-links-dark,
.kiabi-links-light {
    width: 100px;
    line-height: 35px;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 6px;
    text-decoration: none;
    text-align: center;
}

.kiabi-links-dark {
    color: $kia-dark-blue;
    border-color: $kia-dark-blue;
}

.kiabi-links-light {
    color: #ffffff;
    border-color: #ffffff;
}

.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.clickable {
    cursor: pointer;
}

.full-screen-dialog {
    .mat-dialog-container {
        padding: env(safe-area-inset-top) 0 0 0 !important;
        border-radius: 0 !important;
        box-sizing: border-box;
    }
}

.full-screen-rounded-dialog {
    .mat-dialog-container {
        padding: env(safe-area-inset-top) 0 0 0 !important;
        box-sizing: border-box;
    }
}

.no-padding-dialog {
    .mat-dialog-container {
        padding: env(safe-area-inset-top) 0 0 0 !important;
        max-height: $desktop-dialog-max-height;
        overflow: hidden;
        box-sizing: border-box;
    }
}

.smaller-padding-dialog {
    .mat-dialog-container {
        padding: calc(env(safe-area-inset-top) + 12px) 0 0 0 !important;
        max-height: $desktop-dialog-max-height;
        overflow: hidden;
        box-sizing: border-box;
    }
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.65);
    display: flex;
    z-index: 100;

    mat-spinner {
        margin: auto;
    }
}

.white-form-field {
    .mat-form-field-outline,
    .mat-form-field-label,
    .mat-select-value-text,
    .mat-select-arrow {
        color: white !important;
        font-weight: normal;
    }
}

.mat-checkbox-layout {
    white-space: normal !important;

    .mat-checkbox-label {
        line-height: 12px !important;
    }
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.mat-tab-label {
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    opacity: 1 !important;
    color: $medium-text-color;
}

.mat-tab-label-active {
    font-weight: bold;
    color: $kia-dark-blue;
}

.mat-tab-body-wrapper {
    padding-top: 20px;
}

.darker-backdrop {
    background-color: rgba(0, 0, 0);
}

.transparent-dialog-container {
    mat-dialog-container {
        background: none;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
    }
}

.custom-width-mat-select-panel {
    min-width: calc(100% + 32px) !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.mb-12 {
    margin-bottom: 12px;
}

.ml-12 {
    margin-left: 12px !important;
}

.mr-6 {
    margin-right: 6px;
}

mat-horizontal-stepper.no-step-header .mat-horizontal-stepper-header-container {
    display: none !important;
}

mat-horizontal-stepper.full-screen .mat-horizontal-content-container {
    padding: 0;
}

button:enabled,
input[type='file']::-webkit-file-upload-button, // 💡 : Fix Chrome shadow DOM input
input[type='file']:enabled {
    cursor: pointer;
}

mat-list-item[disableripple] {
    cursor: inherit !important;
    background-color: inherit !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $kia-dark-blue;
    padding: 24px;
    box-sizing: border-box;
}

/* CSS for splashscreen */
.splash-screen {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 60px;

    div {
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 800px;
    }

    #logo {
        enable-background: new 0 0 456.34 101.18;

        .st0 {
            fill: #ffffff;
            stroke: #1c1533;
            stroke-width: 2.6009;
        }

        .st1 {
            fill: #1c1533;
        }

        .st2 {
            fill: #ffffff;
        }
    }

    #spinner {
        display: block;
        margin: 40px auto;
        fill: $kia-dark-blue;
    }

    .splash-screen-text {
        height: 40px;
        text-align: center;
        margin-top: 80px;
        color: $kia-dark-blue;
        opacity: 0;
        transition: opacity ease-in-out 0.3s;

        &.visible {
            opacity: 1;
        }
    }
}

.disabledLink {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.2;
    text-decoration: none;
    pointer-events: none;
}

.mat-radio-button {
    &:not(:first-child) {
        margin-left: 16px;
    }

    .mat-radio-label-content {
        display: flex;
        align-items: center;
        font-size: 14px;

        .icon {
            margin-right: 6px;
        }
    }
}

.ql-editor {
    padding: 0 !important;
    font-size: $normal-text-font-size !important;
}

.cursor-auto {
    cursor: auto;
}

.highlighted {
    background: $kia-dark-blue;
    color: white !important;
    padding: 4px 2px;
    border-radius: 4px;
}

.no-product-found {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;

    * {
        text-align: center;
    }

    .no-product-found-title {
        color: $kia-dark-blue;
        font-size: 22px;
        font-weight: bold;
        margin-top: 20px;
    }

    .tips {
        display: flex;
        flex-direction: column;
        align-items: center;

        .tips-title {
            color: $kia-dark-blue;
            margin-bottom: 18px;
        }

        .tips-item {
            color: $medium-text-color;
            margin-top: 8px;
        }
    }
}

.search-history-menu {
    background-color: $content-background-color;
    max-width: 340px !important;
    height: 420px;
}

input#_capacitor-camera-input {
    display: none;
}

.notification-history-popover {
    max-width: 340px !important;
    max-height: 420px !important;

    .mat-menu-content {
        padding: 0px !important;
    }
}

.snackbar-light {
    background: $content-background-color;
    color: $kia-dark-blue;
}
