@import 'src/variables';

.confirm-professional-sell-dialog-container {
    position: relative;
    height: 100%;

    .clear-container {
        position: absolute;
        top: 0;
        right: 0;

        mat-icon {
            color: $medium-text-color;
        }
    }

    .confirm-sell-recap,
    .confirm-sell-confirm {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .header {
        width: 100%;
        background-color: white;
        color: $kia-dark-blue;
        text-align: center;

        &.large {
            padding: 24px 36px;
            box-sizing: border-box;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.small {
            height: 90px;
            padding: 24px 32px;
            box-sizing: border-box;
        }

        .title {
            font-weight: bold;
            font-size: 18px;
        }

        .subtitle {
            font-size: 14px;
        }
    }

    .content {
        background-color: $content-background-color;
        padding: 20px;
        box-sizing: border-box;
        flex: 1;
        overflow-y: auto;

        .recap-title {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $kia-dark-blue;
            text-transform: uppercase;
            border-bottom: $kia-dark-blue solid 1px;

            .icon {
                margin-right: 10px;
            }
        }

        .products {
            position: relative;
            background-color: white;
            display: flex;
            flex-direction: column;
            padding: 0 12px;
            box-sizing: border-box;
        }

        .remuneration-mode-radio-group {
            display: flex;
            flex-direction: column;

            .voucher-card {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                .voucher-card-incentive {
                    width: 100%;
                    height: 150px;
                    background-image: url('/assets/images/Tunnel_commande_BonusKiabi_Bg.jpg');
                    background-size: cover;
                    border-radius: 8px 8px 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;

                    .voucher-card-incentive-content {
                        background-color: rgba(4, 0, 55, 0.8);
                        display: flex;
                        align-items: center;
                        color: white;
                        border-radius: 8px;
                        height: 90px;
                        padding: 10px;

                        .voucher-card-incentive-content-text {
                            display: flex;
                            flex-direction: column;
                            margin-left: 12px;

                            .title {
                                display: flex;
                                align-items: baseline;
                                text-transform: uppercase;
                                font-weight: bold;
                                font-size: 12px;
                                margin-bottom: 10px;

                                > img {
                                    height: 9px;
                                    margin-left: 2px;
                                }
                            }

                            .incentive-content {
                                color: $kia-lighten-dark-blue;
                                font-size: 14px;
                                white-space: pre-line;
                            }
                        }
                    }
                }
            }

            .voucher-radio-button-container,
            .cash-radio-button-container {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                height: 100px;
                border-radius: 0 0 8px 8px;

                &.selected {
                    background-color: $kia-light-green;
                }
                .radio-button {
                    color: $kia-dark-blue;
                    width: 85%;

                    .label {
                        white-space: pre-wrap;
                        margin-left: 20px;
                        font-size: 14px;
                    }
                }
            }

            .cash-radio-button-container {
                margin-bottom: 20px;
                border-radius: 8px;
            }

            .large {
                font-weight: bold;
                font-size: 16px;
            }

            .amount {
                font-weight: bold;
                font-size: 20px;
            }

            .white {
                color: white;
            }
        }

        .selection-info {
            font-size: 10px;
            text-align: center;
            color: $kia-dark-blue;

            > p {
                margin-bottom: 2px;
                margin-top: 2px;
            }

            > p:last-child {
                font-weight: bold;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;

        .summary {
            height: 50px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: $kia-dark-blue;
            font-size: 14px;
            font-weight: bold;

            .stroked-price {
                text-decoration: line-through;
            }
        }

        .actions {
            height: 70px;
            background-color: $darker-background-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px 10px 10px;
            box-sizing: border-box;

            > button:first-child {
                margin-right: 10px;
            }

            .large-btn {
                flex: 1;
                padding: 0 10px;
            }
        }
    }

    .confirm-sell-confirm {
        .content {
            display: flex;
            align-items: center;
            justify-content: center;

            mat-form-field {
                width: 300px;
            }
        }
    }
}
