<div class="confirm-professional-sell-dialog-container">
    <div class="clear-container">
        <button
            type="button"
            mat-icon-button
            mat-dialog-close
            tabindex="-1"
            [attr.aria-label]="'common.close' | translate"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <div class="confirm-sell-recap" *ngIf="step === 0">
        <div class="header large">
            <span class="title">{{ 'chat.remunerationModeDialog.title1' | translate }}</span>
        </div>
        <div class="content">
            <div class="recap-title">
                <img class="icon" src="assets/svg/Tunnel_commande_Titre_Articles.svg" alt="icon" />
                {{ 'common.article' | translate: { amount: lot.products.length } }}
            </div>
            <div class="products">
                <div class="product-line" *ngFor="let product of lot.products; let last = last">
                    <app-product-line [product]="product" [showArrow]="false" [showPrice]="false"></app-product-line>
                    <mat-divider *ngIf="!last"></mat-divider>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="summary">
                <div>
                    {{ 'chat.confirmProfessionalDialog.summary' | translate: { amount: this.lot.products.length } }}
                </div>
                <div data-qa="price">
                    <span class="stroked-price" *ngIf="lot.totalPrice !== totalProductsWithNegociation">
                        {{ lot.totalPrice | currency: 'EUR' }}
                    </span>
                    {{ totalProductsWithNegociation | currency: 'EUR' }}
                </div>
            </div>
            <div class="actions">
                <button
                    type="button"
                    kia-button
                    variant="bordered"
                    (click)="refuse()"
                    data-qa="btnOpenDialogRefuseSell"
                >
                    {{ 'chat.remunerationModeDialog.oups' | translate }}
                </button>
                <button
                    type="button"
                    class="large-btn"
                    kia-button
                    (click)="next()"
                    data-qa="btnConfirmRecep"
                    appDisableIfUserBlocked
                >
                    {{ 'chat.remunerationModeDialog.yesAllProduct' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div class="confirm-sell-confirm" *ngIf="step === 1">
        <div class="header large">{{ 'chat.confirmProfessionalDialog.title2' | translate }}</div>

        <div class="content">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'chat.confirmProfessionalDialog.trackingNumberLabel' | translate }}</mat-label>
                <mat-icon matSuffix>local_shipping</mat-icon>
                <input matInput type="string" [formControl]="trackingNumber" aria-labelledby="enter tracking number" />
            </mat-form-field>
        </div>

        <div class="footer">
            <div class="summary">
                <div>
                    {{ 'chat.confirmProfessionalDialog.summary' | translate: { amount: this.lot.products.length } }}
                </div>
                <div data-qa="price">
                    <span class="stroked-price" *ngIf="lot.totalPrice !== totalProductsWithNegociation">
                        {{ lot.totalPrice | currency: 'EUR' }}
                    </span>
                    {{ totalProductsWithNegociation | currency: 'EUR' }}
                </div>
            </div>
            <div class="actions">
                <button type="button" kia-button variant="bordered" (click)="previous()" data-qa="btnPrevious">
                    {{ 'common.back' | translate }}
                </button>
                <button
                    type="submit"
                    class="large-btn"
                    kia-button
                    (click)="confirm()"
                    [disabled]="trackingNumber.invalid"
                    data-qa="btnConfirm"
                >
                    {{ 'common.validate' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
