<div class="confirm-unblock-user-dialog-container">
    <div class="clear-container">
        <mat-icon mat-dialog-close class="clickable">clear</mat-icon>
    </div>
    <div class="icon-container">
        <app-success-icon [width]="60" [height]="60"></app-success-icon>
    </div>
    <div class="header">
        <div class="title">{{ 'lot.unblockUserDialog.title' | translate }}</div>
    </div>
    <div class="content">
        <p>
            {{ 'lot.unblockUserDialog.content' | translate }}
        </p>
    </div>
    <div class="footer">
        <div class="actions">
            <button type="button" mat-stroked-button color="primary" mat-dialog-close data-qa="btnReturn">
                {{ 'lot.unblockUserDialog.no' | translate }}
            </button>
            <button type="button" mat-flat-button color="primary" (click)="onYesButtonClicked()" data-qa="btnValidate">
                {{ 'lot.unblockUserDialog.yes' | translate }}
            </button>
        </div>
    </div>
</div>
