@import 'src/variables';

app-contact-us {
    height: 100%;
    display: flex;
    flex-direction: column;

    .container {
        flex: 1;
        overflow-y: auto;
        background-color: $content-background-color;

        .send-contact-success-container {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            margin: 20px auto;
            width: calc(100% - 20px);
            max-width: 448px;
            box-sizing: border-box;
            text-align: center;

            .icon-container {
                position: relative;
                height: 100px;
                margin-bottom: 20px;

                > * {
                    position: absolute;
                    padding: 10px;
                    bottom: -20px;
                    left: calc(50% - 40px);
                }

                mat-icon {
                    width: 60px;
                    height: 60px;
                    font-size: 60px;
                    color: white;
                    background-color: $kia-green;
                    border-radius: 50%;
                }
            }
        }

        &.handset {
            padding-bottom: calc(#{$footer-height} + 24px + env(safe-area-inset-bottom));
        }

        .title {
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            color: $kia-dark-blue;
            margin-bottom: 20px;
        }

        form {
            background-color: $content-background-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &.handset {
                padding-bottom: $footer-height;
            }

            .contact-us-container {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                border-radius: 8px;
                margin: 20px 0;
                width: calc(100% - 20px);
                box-sizing: border-box;

                mat-form-field {
                    margin-bottom: 12px;
                }

                a {
                    width: 100%;
                }

                re-captcha {
                    margin: 10px auto 20px auto;
                }
            }
        }
        .gdpr-reminder {
            font-size: 12px;
            color: $light-text-color;
            padding: 20px;
        }
    }
}
