<app-header-with-title *ngIf="deviceService.isHandset$ | async" title="Nous contacter"></app-header-with-title>
<div class="container" appDeviceClasses data-qa="contact-us">
    <ng-container *ngIf="contactSend; else form">
        <div class="send-contact-success-container">
            <div class="icon-container" data-qa="btnDone">
                <mat-icon>done</mat-icon>
            </div>
            <p [innerHTML]="'contact.success.title' | translate"></p>
            <a routerLink="/" mat-flat-button color="primary">
                {{ 'contact.success.backButton' | translate }}
            </a>
        </div>
    </ng-container>
    <ng-template #form>
        <form [formGroup]="contactUsForm!" (ngSubmit)="sendContactUs()" name="contactUsForm" appDeviceClasses>
            <div class="contact-us-container">
                <h1>{{ 'contact.title' | translate }}</h1>
                <mat-form-field>
                    <mat-label class="required">{{ 'contact.form.theme' | translate }}</mat-label>
                    <mat-select formControlName="theme" data-qa="theme"
                        ><!--(selectionChange)="loadSubjectsForTheme()"-->
                        <mat-option *ngFor="let t of listTheme" [value]="t">{{ t.labelKey }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Uncomment when it will be used
                <mat-form-field>
                    <mat-label  class="required">{{ 'contact.form.subject' | translate }}</mat-label>
                    <mat-select formControlName="subject" data-qa="subject" [disabled]="!this.theme">
                        <mat-option *ngFor="let s of listSubject" [value]="s">{{ s.labelKey }}</mat-option>
                    </mat-select>
                </mat-form-field>
                -->
                <mat-form-field>
                    <mat-label class="required">{{ 'userForm.email' | translate }}</mat-label>
                    <input
                        autocomplete="email"
                        matInput
                        maxlength="70"
                        formControlName="email"
                        type="email"
                        data-qa="email"
                    />
                    <mat-error *ngIf="contactUsForm?.controls?.email?.errors?.invalid">
                        {{ 'userForm.error.emailInvalid' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.email?.errors?.pattern">
                        {{ 'userForm.error.emailFormat' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.email?.errors?.maxLength">
                        {{ 'userForm.error.maxLength' | translate: { value: 70 } }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="required">{{ 'userForm.firstName' | translate }}</mat-label>
                    <input
                        autocomplete="given-name"
                        maxlength="50"
                        matInput
                        formControlName="firstName"
                        type="text"
                        data-qa="firstName"
                    />
                    <mat-error *ngIf="contactUsForm?.controls?.firstName?.errors?.minlength">
                        {{ 'userForm.error.minLength' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.firstName?.errors?.pattern">
                        {{ 'userForm.error.pattern' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.firstName?.errors?.invalidName">
                        {{ 'userForm.error.invalidName' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.firstName?.errors?.maxLength">
                        {{ 'userForm.error.maxLength' | translate: { value: 50 } }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="required">{{ 'userForm.lastName' | translate }}</mat-label>
                    <input
                        autocomplete="family-name"
                        maxlength="50"
                        matInput
                        formControlName="lastName"
                        type="text"
                        data-qa="lastName"
                    />
                    <mat-error *ngIf="contactUsForm?.controls?.lastName?.errors?.minlength">
                        {{ 'userForm.error.minLength' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.lastName?.errors?.pattern">
                        {{ 'userForm.error.pattern' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.lastName?.errors?.invalidName">
                        {{ 'userForm.error.invalidName' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.lastName?.errors?.maxLength">
                        {{ 'userForm.error.maxLength' | translate: { value: 50 } }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ 'contact.form.command' | translate }}</mat-label>
                    <input
                        autocomplete="command-number"
                        minlength="1"
                        matInput
                        formControlName="commandNumber"
                        type="number"
                        data-qa="commandNumber"
                    />
                    <mat-error *ngIf="contactUsForm?.controls?.commandNumber?.errors?.maxLength">
                        {{ 'userForm.error.maxLength' | translate: { value: 50 } }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="required">{{ 'contact.form.message' | translate }}</mat-label>
                    <textarea
                        matInput
                        [matTextareaAutosize]="true"
                        [matAutosizeMinRows]="5"
                        type="text"
                        maxlength="2000"
                        formControlName="message"
                        data-qa="message"
                    ></textarea>
                    <mat-error *ngIf="contactUsForm?.controls?.message?.errors?.minlength">
                        {{ 'userForm.error.minLength' | translate }}
                    </mat-error>
                    <mat-error *ngIf="contactUsForm?.controls?.message?.errors?.maxLength">
                        {{ 'userForm.error.maxLength' | translate: { value: 2000 } }}
                    </mat-error>
                </mat-form-field>

                <re-captcha formControlName="reCaptcha"></re-captcha>
                <button
                    kia-button
                    type="submit"
                    class="contact-us-button"
                    [disabled]="!!contactUsForm?.invalid"
                    data-qa="btnSubmit"
                >
                    {{ 'common.send' | translate }}
                </button>
            </div>
            <div class="gdpr-reminder">
                <p [innerHTML]="'text.signup.0' | translate"></p>
                <p [innerHTML]="'text.signup.1' | translate"></p>
            </div>
        </form>
        <div class="loader-container" *ngIf="loading$ | async">
            <mat-spinner [diameter]="30" color="primary"></mat-spinner>
        </div>
    </ng-template>
</div>
