<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    [attr.width]="width"
    [attr.height]="height"
    viewBox="0 0 40 22.5"
>
    <defs>
        <clipPath id="a"><rect class="a" width="24.725" height="12.088" rx="4" transform="translate(0)" /></clipPath>
    </defs>
    <g transform="translate(-146.5 -269)">
        <path
            class="a"
            d="M40.833,17.5H9.167C6.889,17.5,5,18.633,5,20V37.5C5,38.867,6.889,40,9.167,40H40.833C43.111,40,45,38.867,45,37.5V20C45,18.633,43.111,17.5,40.833,17.5Zm2,20H7.167V20H42.833Z"
            transform="translate(141.5 251.5)"
        />
        <g class="b" transform="translate(154.775 274)">
            <path
                class="a"
                d="M28.378,13.091H26.786v-6A5.489,5.489,0,0,1,24.729,8.3V6.852a4.6,4.6,0,0,0,1.354-.773,2.939,2.939,0,0,0,1-1.329h1.292ZM37.3,11.612v1.479H31.715a3.844,3.844,0,0,1,.544-1.589A10.577,10.577,0,0,1,34.049,9.51a11.262,11.262,0,0,0,1.32-1.36,1.752,1.752,0,0,0,.329-.975,1.108,1.108,0,0,0-.286-.819,1.216,1.216,0,0,0-1.584.014,1.542,1.542,0,0,0-.34,1L31.9,7.209a2.6,2.6,0,0,1,.89-1.887,2.987,2.987,0,0,1,1.87-.572,2.7,2.7,0,0,1,1.932.663,2.175,2.175,0,0,1,.7,1.649,2.87,2.87,0,0,1-.2,1.068,4.344,4.344,0,0,1-.637,1.062,10.2,10.2,0,0,1-1.043,1.06q-.754.691-.955.918a2.748,2.748,0,0,0-.326.442Zm2.18-.725,1.541-.187a1.459,1.459,0,0,0,.4.9,1.085,1.085,0,0,0,.782.312,1.074,1.074,0,0,0,.83-.374,1.45,1.45,0,0,0,.337-1.009,1.352,1.352,0,0,0-.323-.952,1.03,1.03,0,0,0-.788-.351,2.778,2.778,0,0,0-.731.119l.176-1.3a1.4,1.4,0,0,0,.986-.28,1,1,0,0,0,.34-.79.858.858,0,0,0-.912-.918.959.959,0,0,0-.7.283,1.331,1.331,0,0,0-.351.827L39.6,6.92a3.28,3.28,0,0,1,.462-1.2,2.084,2.084,0,0,1,.861-.708,2.893,2.893,0,0,1,1.238-.258,2.469,2.469,0,0,1,1.881.748,1.894,1.894,0,0,1-.612,3.128,1.934,1.934,0,0,1,1.142.686A1.989,1.989,0,0,1,45,10.6a2.5,2.5,0,0,1-.8,1.864,2.984,2.984,0,0,1-3.859.122A2.55,2.55,0,0,1,39.476,10.887Zm10.793,2.2V11.419h-3.4V10.025l3.6-5.275H51.81v5.27h1.031v1.4H51.81v1.672Zm0-3.071V7.181L48.36,10.02Zm4.515.935,1.587-.164a1.361,1.361,0,0,0,.4.853,1.092,1.092,0,0,0,.771.314,1.07,1.07,0,0,0,.844-.405,1.843,1.843,0,0,0,.346-1.221,1.673,1.673,0,0,0-.343-1.147A1.142,1.142,0,0,0,57.5,8.8a1.622,1.622,0,0,0-1.23.606l-1.292-.187L55.793,4.9H60v1.49H57L56.75,7.8a2.434,2.434,0,0,1,2.884.5,2.775,2.775,0,0,1,.737,2,3,3,0,0,1-.595,1.83,2.637,2.637,0,0,1-2.249,1.1,2.792,2.792,0,0,1-1.876-.618A2.544,2.544,0,0,1,54.784,10.954Z"
                transform="translate(-34.179 -2.453)"
            />
        </g>
        <line class="c" y2="11.863" transform="translate(179 274.5)" />
        <line class="c" y2="11.863" transform="translate(154.5 274.5)" />
    </g>
</svg>
