<svg xmlns="http://www.w3.org/2000/svg" width="20" height="28.629" viewBox="0 0 20 28.629">
    <g transform="translate(-7.2 -6.375)">
        <g transform="translate(7.956 6.375)">
            <g transform="translate(0 8.145)">
                <path
                    class="a"
                    d="M16.79,50.828a1.1,1.1,0,0,0,.87-.73l.084-.281a1.121,1.121,0,0,0-.477-1.319l.281-.814.814.281.449-1.291,7.913,2.61a2.186,2.186,0,0,0,.589.112,1.814,1.814,0,0,0,1.712-1.207l.224-.645a1.785,1.785,0,0,0-1.122-2.3L20.3,42.606l.449-1.291-.814-.281.281-.814h.112a1.149,1.149,0,0,0,1.066-.758l.084-.281a1.149,1.149,0,0,0-.673-1.431l-5.163-1.8a1.642,1.642,0,0,0-.365-.056,1.149,1.149,0,0,0-1.066.758l-.084.281a.982.982,0,0,0,.056.842.931.931,0,0,0,.421.449l-.281.814-.814-.281-2.329,6.65.814.281-.281.814H11.6a1.149,1.149,0,0,0-1.066.758l-.084.281a1.149,1.149,0,0,0,.673,1.431l2.413.842C13.535,49.846,16.818,50.884,16.79,50.828Zm3.227-7.436L27.93,46.03a.948.948,0,0,1,.589,1.235l-.224.645a.948.948,0,0,1-1.235.589l-7.913-2.61ZM14.91,37.219l.084-.281a.27.27,0,0,1,.253-.2.1.1,0,0,1,.084.028l5.163,1.8a.261.261,0,0,1,.168.337l-.084.281a.27.27,0,0,1-.253.2.1.1,0,0,1-.084-.028l-1.628-.561-3.536-1.235a.744.744,0,0,1-.168-.14Zm4.49,2.75-.281.786-4.041-1.4.281-.786,2.273.786Zm-5.416-.112,5.416,1.88.224.084h.028L17.884,46.9l-5.668-1.992ZM16.79,47.4l-.281.786-4.041-1.4L12.749,46Zm-5.416.786a.281.281,0,0,1-.168-.365l.084-.281a.27.27,0,0,1,.253-.2.1.1,0,0,1,.084.028l5.163,1.8a.281.281,0,0,1,.168.365l-.084.281a.292.292,0,0,1-.365.168Z"
                    transform="translate(-10.25 -35.76)"
                />
                <path
                    class="a"
                    d="M16.442,50.609a10.755,10.755,0,0,1-1.554-.444c-.714-.223-1.557-.494-1.732-.562l-.036-.016-2.4-.838a1.3,1.3,0,0,1-.76-1.608l.083-.276a1.3,1.3,0,0,1,1.2-.858h.012l.2-.587-.814-.281,2.422-6.915.813.28.2-.576a1.037,1.037,0,0,1-.381-.453,1.109,1.109,0,0,1-.057-.949l.08-.269a1.3,1.3,0,0,1,1.2-.858,1.714,1.714,0,0,1,.4.06l5.175,1.8a1.3,1.3,0,0,1,.761,1.608l-.083.277a1.3,1.3,0,0,1-1.2.858h-.012l-.2.586.814.281-.449,1.29,7.694,2.593a1.892,1.892,0,0,1,1.122.97,1.93,1.93,0,0,1,.088,1.51l-.224.645a1.946,1.946,0,0,1-1.844,1.3,2.3,2.3,0,0,1-.628-.118L18.54,46.492l-.45,1.293-.813-.281-.2.58A1.251,1.251,0,0,1,17.52,49.5l-.083.277a1.239,1.239,0,0,1-.949.822A.127.127,0,0,1,16.442,50.609Zm-3.124-1.246c.461.161,2.82.909,3.1.965a.957.957,0,0,0,.748-.636l.082-.274a.979.979,0,0,0-.417-1.16l-.095-.059.363-1.052.814.281.448-1.289,8.044,2.653a2.05,2.05,0,0,0,.545.105,1.666,1.666,0,0,0,1.579-1.112l.224-.646a1.652,1.652,0,0,0-.075-1.293,1.615,1.615,0,0,0-.958-.828l-7.964-2.684.449-1.292-.813-.281.359-1.041h.212a1.013,1.013,0,0,0,.935-.666l.081-.272a1.015,1.015,0,0,0-.592-1.26l-5.157-1.794a1.461,1.461,0,0,0-.319-.048,1.013,1.013,0,0,0-.935.667l-.081.272a.847.847,0,0,0,.044.733.811.811,0,0,0,.368.4l.1.058-.365,1.056-.814-.281L11,44.966l.813.28-.359,1.041h-.212a1.013,1.013,0,0,0-.935.667l-.081.272a1.014,1.014,0,0,0,.591,1.26Zm2.926.421a.391.391,0,0,1-.145-.027l-5.135-1.8a.419.419,0,0,1-.249-.539l.083-.276a.408.408,0,0,1,.387-.3.246.246,0,0,1,.154.044l5.139,1.787a.42.42,0,0,1,.255.542l-.083.277a.45.45,0,0,1-.225.244A.427.427,0,0,1,16.245,49.784ZM11.067,47.7,16.2,49.494a.134.134,0,0,0,.108-.005.161.161,0,0,0,.081-.083l.08-.269a.145.145,0,0,0-.086-.194l-5.2-1.813a.132.132,0,0,0-.115.09l-.086.287A.144.144,0,0,0,11.067,47.7Zm15.971.643a1.063,1.063,0,0,1-.386-.073l-8.041-2.652.962-2.763,8.045,2.681a1.1,1.1,0,0,1,.645.575,1.06,1.06,0,0,1,.031.844l-.223.641a1.1,1.1,0,0,1-.575.644A1.074,1.074,0,0,1,27.038,48.343Zm-8.069-2.9,7.778,2.565a.79.79,0,0,0,.63-.02.82.82,0,0,0,.428-.48l.225-.647a.787.787,0,0,0-.021-.627.818.818,0,0,0-.48-.428l-7.782-2.594Zm-2.732,2.568-4.306-1.5.375-1.05,4.306,1.5Zm-3.946-1.667,3.776,1.311.186-.522L12.477,45.82Zm5.322.377L11.68,44.634l1.86-5.315,5.754,2h.2Zm-5.576-2.257,5.4,1.9,1.673-4.807-.121-.045-5.28-1.833Zm6.809-3.889-4.306-1.5.375-1.049,4.306,1.5ZM14.9,38.906l3.776,1.311.186-.522-3.776-1.311Zm5.067.255a.248.248,0,0,1-.154-.044l-1.6-.553-3.536-1.235a.818.818,0,0,1-.221-.174l-.041-.041.006-.295.084-.281a.408.408,0,0,1,.387-.3.246.246,0,0,1,.154.044l5.139,1.787a.449.449,0,0,1,.236.2.372.372,0,0,1,.017.318l-.08.269A.408.408,0,0,1,19.968,39.16ZM14.693,37a.448.448,0,0,0,.091.074l5.186,1.808a.132.132,0,0,0,.115-.089l.086-.287a.1.1,0,0,0,0-.094.167.167,0,0,0-.086-.072l-5.2-1.813a.131.131,0,0,0-.115.089l-.08.267Z"
                    transform="translate(-9.893 -35.4)"
                />
            </g>
            <g transform="translate(6.014 0)">
                <rect
                    class="a"
                    width="6.201"
                    height="0.842"
                    transform="matrix(0.329, -0.944, 0.944, 0.329, 0.14, 5.996)"
                />
                <path
                    class="a"
                    d="M32.259,12.788a.144.144,0,0,1-.046-.008l-.795-.278a.14.14,0,0,1-.086-.178l2.043-5.855a.141.141,0,0,1,.072-.08.139.139,0,0,1,.107-.006l.795.277a.14.14,0,0,1,.086.179l-2.043,5.855a.14.14,0,0,1-.132.094Zm-.616-.5.53.185,1.95-5.59-.53-.185Z"
                    transform="translate(-31.324 -6.375)"
                />
            </g>
            <g transform="translate(8.018 3.798)">
                <rect
                    class="a"
                    width="4.069"
                    height="0.842"
                    transform="matrix(0.329, -0.944, 0.944, 0.329, 0.14, 3.982)"
                />
                <path
                    class="a"
                    d="M39.4,24.31a.137.137,0,0,1-.046-.008l-.795-.277a.14.14,0,0,1-.086-.179L39.813,20a.141.141,0,0,1,.179-.086l.795.277a.14.14,0,0,1,.086.179l-1.34,3.842a.141.141,0,0,1-.133.094Zm-.616-.5.53.185,1.248-3.577-.53-.185Z"
                    transform="translate(-38.465 -19.911)"
                />
            </g>
            <g transform="translate(10.383 5.465)">
                <rect
                    class="a"
                    width="2.105"
                    height="0.842"
                    transform="matrix(0.329, -0.944, 0.944, 0.329, 0.14, 2.127)"
                />
                <path
                    class="a"
                    d="M47.83,28.395a.14.14,0,0,1-.046-.008l-.795-.277a.141.141,0,0,1-.086-.179l.693-1.987a.139.139,0,0,1,.071-.08.144.144,0,0,1,.107-.006l.795.277a.141.141,0,0,1,.086.179L47.962,28.3A.14.14,0,0,1,47.83,28.395Zm-.616-.5.53.185.6-1.722-.53-.185Z"
                    transform="translate(-46.895 -25.85)"
                />
            </g>
        </g>
        <g transform="translate(7.2 31.552)">
            <g transform="translate(0)">
                <path
                    class="a"
                    d="M11.6,96.6H9.917a1.138,1.138,0,0,0-1.15,1.15v.365H7.7v1.656h8.222V98.115H14.883V97.75a.21.21,0,0,0-.028-.14c0-.449-.168-1.01-1.094-1.01Zm2.133.842a.311.311,0,0,1,.309.309v.365H9.608V97.75a.311.311,0,0,1,.309-.309Z"
                    transform="translate(-7.56 -96.46)"
                />
                <path
                    class="a"
                    d="M15.7,99.552H7.2V97.615H8.266v-.224A1.277,1.277,0,0,1,9.557,96.1H13.4a1.074,1.074,0,0,1,1.234,1.109.415.415,0,0,1,.028.182v.224H15.7Zm-8.222-.281h7.941V97.9H14.383v-.505c0-.017,0-.041,0-.056l-.027-.027V97.25c0-.585-.312-.87-.954-.87H9.557a1,1,0,0,0-1.01,1.01V97.9H7.481Zm6.9-1.946Zm-.558.57H9.108v-.505a.449.449,0,0,1,.449-.449h3.816a.449.449,0,0,1,.449.449Zm-4.434-.281h4.153v-.224a.171.171,0,0,0-.168-.168H9.557a.171.171,0,0,0-.168.168Z"
                    transform="translate(-7.2 -96.1)"
                />
            </g>
        </g>
    </g>
</svg>
