<div mat-dialog-title>{{ 'authorization.title' | translate }}</div>
<div mat-dialog-content>
    <mat-form-field (keyup.enter)="closeDialog()">
        <mat-label>{{ 'authorization.label' | translate }}</mat-label>
        <input matInput [formControl]="password" type="password" data-qa="password" />
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="closeDialog()"
        [disabled]="password.invalid"
        data-qa="btnOk"
    >
        {{ 'common.ok' | translate }}
    </button>
</div>
