@import 'src/variables';

.spinner {
    height: 70vh;
    align-items: center;
}

.update-product-container {
    height: 100%;
    overflow-y: auto;
    width: 100%;

    &.handset {
        height: calc(100% - #{$footer-height});
    }
}
