<app-main-header *ngIf="deviceService.isHandset$ | async"></app-main-header>
<div class="update-product-container" appDeviceClasses *ngIf="!isLoading">
    <app-product-form
        *ngIf="product"
        [edit]="true"
        [product]="product"
        (dirty)="formDirty($event)"
        (saved)="formSaved()"
    ></app-product-form>
</div>
<div class="loader-container" *ngIf="isLoading">
    <mat-spinner [diameter]="40" color="primary"></mat-spinner>
</div>
