<div class="confirm-individual-sell-dialog-container">
    <div class="clear-container">
        <button
            type="button"
            mat-icon-button
            mat-dialog-close
            tabindex="-1"
            [attr.aria-label]="'common.close' | translate"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="confirm-sell-recap" *ngIf="step === 0; else confirmation">
        <div class="header large">
            <span class="title">{{ 'chat.remunerationModeDialog.title1' | translate }}</span>
        </div>
        <div class="content">
            <div class="recap-title">
                <img class="icon" src="assets/svg/Tunnel_commande_Titre_Articles.svg" alt="icon" />
                {{ 'common.article' | translate: { amount: lot.products?.length } }}
            </div>
            <div class="products">
                <div class="product-line" *ngFor="let product of lot.products; let last = last">
                    <app-product-line [product]="product" [showArrow]="false" [showPrice]="false"></app-product-line>
                    <mat-divider *ngIf="!last"></mat-divider>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="summary">
                <div>
                    {{ 'chat.remunerationModeDialog.summary' | translate: { amount: lot.products?.length } }}
                </div>
                <div data-qa="price">
                    <span class="stroked-price" *ngIf="lot.totalPrice !== totalProductsWithNegociation">{{
                        lot.totalPrice | currency: 'EUR'
                    }}</span>
                    {{ totalProductsWithNegociation | currency: 'EUR' }}
                </div>
            </div>
            <div class="actions">
                <button
                    type="button"
                    kia-button
                    variant="bordered"
                    (click)="refuse()"
                    data-qa="btnOpenDialogRefuseSell"
                >
                    {{ 'chat.remunerationModeDialog.oups' | translate }}
                </button>
                <button
                    type="button"
                    class="large-btn"
                    kia-button
                    (click)="next()"
                    data-qa="btnConfirmRecep"
                    appDisableIfUserBlocked
                >
                    {{ 'chat.remunerationModeDialog.yesAllProduct' | translate }}
                </button>
            </div>
        </div>
    </div>
    <ng-template #confirmation>
        <div class="confirm-sell-confirm">
            <div class="header large">{{ 'chat.remunerationModeDialog.title2' | translate }}</div>
            <div class="content">
                <mat-radio-group
                    class="remuneration-mode-radio-group"
                    [formControl]="remunerationMode"
                    aria-labelledby="select payment type"
                >
                    <div class="voucher-card">
                        <div class="voucher-card-incentive">
                            <div class="voucher-card-incentive-content">
                                <img src="assets/svg/Generique_icon_bonAchatKiabi_Kiabi.svg" alt="voucher icon" />
                                <div class="voucher-card-incentive-content-text">
                                    <div class="title">
                                        <span>{{
                                            'chat.remunerationModeDialog.voucherIncentiveTitle' | translate
                                        }}</span>
                                        <img src="assets/svg/Logo_Kiabi.svg" alt="logo kiabi" />
                                    </div>
                                    <div
                                        class="incentive-content"
                                        [innerHTML]="
                                            'chat.remunerationModeDialog.voucherIncentive'
                                                | translate
                                                    : {
                                                          amount:
                                                              lot.productsFinalPrice! * voucherAdditionRate
                                                              | currency: 'EUR'
                                                      }
                                        "
                                    ></div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="voucher-radio-button-container"
                            [ngClass]="{ selected: remunerationMode.value === remunerationModeEnum.VOUCHER }"
                        >
                            <mat-radio-button
                                class="radio-button"
                                [value]="remunerationModeEnum.VOUCHER"
                                data-qa="radioVoucher"
                            >
                                <div
                                    class="label"
                                    [innerHTML]="
                                        'chat.remunerationModeDialog.voucherLabel'
                                            | translate
                                                : {
                                                      amount:
                                                          lot.productsFinalPrice! +
                                                              lot.productsFinalPrice! * voucherAdditionRate
                                                          | currency: 'EUR'
                                                  }
                                    "
                                ></div>
                            </mat-radio-button>
                        </div>
                    </div>
                    <div
                        class="cash-radio-button-container"
                        [ngClass]="{ selected: remunerationMode.value === remunerationModeEnum.CASH }"
                    >
                        <mat-radio-button class="radio-button" [value]="remunerationModeEnum.CASH" data-qa="radioCash">
                            <div
                                class="label"
                                [innerHTML]="
                                    'chat.remunerationModeDialog.cashLabel'
                                        | translate: { amount: lot.productsFinalPrice | currency: 'EUR' }
                                "
                            ></div>
                        </mat-radio-button>
                    </div>
                </mat-radio-group>
                <div class="selection-info">
                    <p>{{ 'chat.remunerationModeDialog.selectionInfo1' | translate }}</p>
                    <p>{{ 'chat.remunerationModeDialog.selectionInfo2' | translate }}</p>
                </div>
            </div>
            <div class="footer">
                <div class="summary">
                    <div>
                        {{ 'chat.remunerationModeDialog.summary' | translate: { amount: lot.products?.length } }}
                    </div>
                    <div data-qa="price">
                        <span class="stroked-price" *ngIf="lot.totalPrice !== totalProductsWithNegociation">
                            {{ lot.totalPrice | currency: 'EUR' }}
                        </span>
                        {{ totalProductsWithNegociation | currency: 'EUR' }}
                    </div>
                </div>
                <div class="actions">
                    <button type="button" kia-button variant="bordered" (click)="previous()" data-qa="btnPrevious">
                        {{ 'common.back' | translate }}
                    </button>
                    <button
                        type="submit"
                        class="large-btn"
                        kia-button
                        (click)="confirm()"
                        [disabled]="remunerationMode.invalid"
                        data-qa="btnConfirm"
                    >
                        {{ 'chat.remunerationModeDialog.validateChoice' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </ng-template>
</div>
