<div class="add-address-dialog">
    <div class="header" appDeviceClasses>
        <div class="title">
            <ng-container *ngIf="addAsDefaultAddress; else addTitle">
                {{ 'profile.addAddressDialog.defaultAddressTitle' | translate }}
            </ng-container>
            <ng-template #addTitle>
                <ng-container *ngIf="!address; else editTitle">
                    {{ 'profile.addAddressDialog.addTitle' | translate }}
                </ng-container>
                <ng-template #editTitle>
                    {{ 'profile.addAddressDialog.editTitle' | translate }}
                </ng-template>
            </ng-template>
        </div>
        <div class="subtitle" *ngIf="addAsDefaultAddress || !address">
            {{ 'profile.addAddressDialog.addTitle2' | translate }}
        </div>
        <button
            type="button"
            mat-icon-button
            mat-dialog-close
            class="close-button"
            appDeviceClasses
            tabindex="-1"
            [attr.aria-label]="'common.close' | translate"
        >
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div class="content">
        <form class="address-form" [formGroup]="addressForm!" (ngSubmit)="save()" autocomplete="off">
            <div class="form-content">
                <mat-form-field class="full-size-input no-pb">
                    <mat-label>{{ 'addressForm.name' | translate }}</mat-label>
                    <input
                        maxlength="50"
                        matInput
                        formControlName="addressName"
                        placeholder="{{ 'addressForm.name' | translate }}"
                        data-qa="adressName"
                    />
                </mat-form-field>
                <div class="form-row">
                    <mat-form-field class="no-pb">
                        <mat-label class="required">{{ 'addressForm.firstName' | translate }}</mat-label>
                        <input
                            autocomplete="given-name"
                            maxlength="50"
                            matInput
                            formControlName="firstName"
                            placeholder="{{ 'addressForm.firstName' | translate }}"
                            data-qa="adressFirstName"
                        />
                    </mat-form-field>
                    <mat-form-field class="no-pb">
                        <mat-label class="required">{{ 'addressForm.lastName' | translate }}</mat-label>
                        <input
                            autocomplete="family-name"
                            maxlength="50"
                            matInput
                            formControlName="lastName"
                            placeholder="{{ 'addressForm.lastName' | translate }}"
                            data-qa="adressLastName"
                        />
                    </mat-form-field>
                </div>
                <mat-form-field class="full-size-input">
                    <mat-label class="required">{{ 'addressForm.line1' | translate }}</mat-label>
                    <input
                        autocomplete="street-address"
                        matInput
                        formControlName="line1"
                        placeholder="{{ 'addressForm.line1' | translate }}"
                        data-qa="adressAdressLine1"
                    />
                    <mat-error *ngIf="addressForm?.controls?.line1?.errors?.maxlength">{{
                        'addAddress.maxLength' | translate
                    }}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-size-input no-pb">
                    <mat-label>{{ 'addressForm.line2' | translate }}</mat-label>
                    <input
                        autocomplete="address-line2"
                        maxlength="30"
                        matInput
                        formControlName="line2"
                        placeholder="{{ 'addressForm.line2' | translate }}"
                        data-qa="adressAdressLine2"
                    />
                </mat-form-field>
                <div class="form-row">
                    <mat-form-field class="full-size-input no-pb">
                        <mat-label class="required">{{ 'addressForm.zipCode' | translate }}</mat-label>
                        <input
                            autocomplete="postal-code"
                            maxlength="5"
                            matInput
                            formControlName="zipCode"
                            placeholder="{{ 'addressForm.zipCode' | translate }}"
                            data-qa="adressAdressPostCode"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-size-input city-form-field no-pb">
                        <mat-label class="required">{{ 'addressForm.city' | translate }}</mat-label>
                        <input
                            autocomplete="address-level2"
                            maxlength="30"
                            matInput
                            formControlName="city"
                            placeholder="{{ 'addressForm.city' | translate }}"
                            data-qa="adressAdressCity"
                        />
                    </mat-form-field>
                </div>
                <mat-form-field class="full-size-input no-pb">
                    <mat-label class="required">{{ 'addressForm.country' | translate }}</mat-label>
                    <input
                        autocomplete="country-name"
                        maxlength="100"
                        matInput
                        formControlName="country"
                        placeholder="{{ 'addressForm.country' | translate }}"
                        data-qa="adressAdressCountry"
                    />
                </mat-form-field>
                <mat-slide-toggle color="primary" formControlName="isDefault" *ngIf="!addAsDefaultAddress">
                    {{ 'addressForm.isDefault' | translate }}
                </mat-slide-toggle>
            </div>
            <div class="footer">
                <div class="button-container">
                    <button type="button" kia-button mat-dialog-close variant="bordered" data-qa="btnReturn">
                        {{ 'common.back' | translate }}
                    </button>
                    <button kia-button type="submit" [disabled]="!!addressForm?.invalid" data-qa="btnSave">
                        <ng-container *ngIf="!address; else editLabel">
                            {{ 'common.add' | translate }}
                        </ng-container>
                        <ng-template #editLabel>
                            {{ 'common.modify' | translate }}
                        </ng-template>
                    </button>
                </div>
                <div
                    class="notice"
                    [innerHTML]="'profile.addAddressDialog.notice' | translate: { email: contactEmail } | safeHtml"
                ></div>
            </div>
        </form>
    </div>
    <div class="loader-container" *ngIf="loading">
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>
</div>
