@import 'src/variables';

.add-address-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-bottom: env(safe-area-inset-bottom);

    .header {
        background: $app-background-color;
        position: relative;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.desktop {
            height: 60px;
        }

        .title {
            max-width: 70%;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: $kia-dark-blue;
            margin: 0 auto;
            text-align: center;
        }

        .subtitle {
            font-size: 16px;
            color: $medium-text-color;
            text-align: center;
        }

        .close-button {
            position: absolute;
            top: 4px;
            right: 4px;
            color: $kia-lighten-dark-blue;

            &.desktop {
                top: -2px;
            }
        }
    }

    .content {
        overflow: auto;

        .address-form {
            background: $darker-background-color;

            .form-content {
                display: flex;
                flex-direction: column;
                padding: 20px;
            }

            .full-size-input {
                width: 100%;
            }

            mat-slide-toggle label {
                color: $medium-text-color;
            }

            .no-pb {
                .mat-form-field-wrapper {
                    padding-bottom: 6px !important;
                }
            }

            .form-row {
                display: flex;

                mat-form-field {
                    flex: 1;

                    &:not(:first-child) {
                        margin-left: 6px;
                    }

                    .mat-form-field-infix {
                        width: unset !important;
                    }
                }

                .city-form-field {
                    flex: 3;
                }
            }

            .footer {
                background: $app-background-color;
                display: flex;
                flex-direction: column;
                padding: 20px;

                .button-container {
                    display: flex;

                    button {
                        margin: 0 4px;
                        padding: 6px 0;
                        flex: 1;
                    }
                }

                .notice {
                    margin-top: 20px;
                    font-style: normal;
                    font-size: 10px;
                    line-height: 13px;
                    color: $medium-text-color;

                    .link {
                        font-weight: bold;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
