<div class="header" *ngIf="deviceService.isHandset$ | async">
    <button mat-icon-button type="button" color="primary" (click)="back()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="page-title">
        <h2>{{ 'suggestion.title' | translate }}</h2>
        <span>{{ 'filter.productsCount' | translate: { count: (totalProducts$ | async) } }}</span>
    </div>
</div>

<div class="content">
    <div class="list-container" #contentScrollEl>
        <div class="desktop-title" *ngIf="deviceService.isDesktop$ | async">
            <h2>{{ 'suggestion.title' | translate }}</h2>
        </div>
        <app-product-list
            [loading]="isLoading$ | async"
            [products]="suggestions$ | async"
            [parentScrollEl]="contentScrollEl"
            [totalElements]="totalProducts$ | async"
            (fetchProducts)="onLoadMore()"
        ></app-product-list>
    </div>
</div>
