@import 'src/variables';

:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        background-color: $app-background-color;
        padding: 16px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $border-color;

        span {
            color: $kia-dark-blue;
            font-size: 13px;
            font-weight: normal;
            margin-top: 5px;
        }
    }

    .header-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: $kia-dark-blue;
        display: flex;
        align-items: center;

        > span {
            white-space: pre-line;
            text-align: right;
        }

        app-heart-icon {
            margin-right: 17px;
            margin-left: 7px;
        }
    }

    .content {
        height: 100%;
        flex: 1;

        .empty-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            padding: 10px;

            .title {
                font-size: 18px;
                font-weight: bold;
                color: $kia-dark-blue;
                margin-top: 20px;
            }

            .subtitle {
                font-size: 16px;
                color: $medium-text-color;
                margin-top: 10px;
            }

            a {
                margin-top: 20px;
            }
        }

        .list-container {
            padding: 15px 6px 6px 6px;
            height: calc(100vh - 140px);
        }
    }

    .page-title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h2 {
            font-weight: bold;
            font-size: 16px;
            line-height: 1.2em;
            color: $kia-dark-blue;
            margin: 0;
        }
    }

    .desktop-title {
        text-align: center;
    }
}
