<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 126">
    <g>
        <g>
            <g class="st0">
                <g>
                    <path
                        class="st1"
                        d="M158.16,49.26c0.01-0.3,0.05-0.6,0.05-0.9c0-0.1-0.01-0.2-0.01-0.3c0-0.2,0.01-0.4,0.01-0.6l-0.05,0.03
					c-0.46-13.45-11.49-24.23-25.05-24.23c-13.86,0-25.1,11.24-25.1,25.1c0,12.65,9.36,23.08,21.53,24.81
					c-3.02,10.03-12.31,17.32-23.33,17.32v8.96C134.34,99.46,157.21,77.16,158.16,49.26"
                    />
                    <path
                        class="st1"
                        d="M93.06,49.26c0.01-0.3,0.05-0.6,0.05-0.9c0-0.1-0.01-0.2-0.01-0.3c0-0.2,0.01-0.4,0.01-0.6l-0.05,0.03
					C92.59,34.04,81.57,23.26,68,23.26c-13.86,0-25.1,11.24-25.1,25.1c0,12.65,9.36,23.08,21.53,24.81
					C61.41,83.2,52.12,90.49,41.1,90.49v8.96C69.24,99.46,92.1,77.16,93.06,49.26"
                    />
                </g>
            </g>
        </g>
    </g>
    <g>
        <g>
            <g class="st0">
                <g>
                    <path
                        class="st1"
                        d="M41.15-79.02c-0.01,0.3-0.05,0.6-0.05,0.9c0,0.1,0.01,0.2,0.01,0.3c0,0.2-0.01,0.4-0.01,0.6l0.05-0.03
					c0.46,13.45,11.49,24.23,25.05,24.23c13.86,0,25.1-11.24,25.1-25.1c0-12.65-9.36-23.08-21.53-24.81
					c3.02-10.03,12.31-17.32,23.33-17.32v-8.96C64.97-129.21,42.1-106.91,41.15-79.02"
                    />
                    <path
                        class="st1"
                        d="M106.25-79.02c-0.01,0.3-0.05,0.6-0.05,0.9c0,0.1,0.01,0.2,0.01,0.3c0,0.2-0.01,0.4-0.01,0.6l0.05-0.03
					c0.47,13.45,11.49,24.23,25.05,24.23c13.86,0,25.1-11.24,25.1-25.1c0-12.65-9.36-23.08-21.53-24.81
					c3.02-10.03,12.31-17.32,23.33-17.32v-8.96C130.07-129.21,107.2-106.91,106.25-79.02"
                    />
                </g>
            </g>
        </g>
    </g>
</svg>
