@import 'src/variables';

:host {
    height: $header-height;
    width: 100vw;
    z-index: 1000;
    background-color: #ffffff;
    box-sizing: border-box;
    display: block;

    .toolbar {
        height: 60px;
        position: relative;

        mat-toolbar {
            position: absolute;
            top: 0;
            z-index: 3;
            padding: 0;
            background-color: #fff;
            height: 100%;

            .back-button {
                color: $light-text-color;
                font-size: $normal-text-font-size;

                mat-icon {
                    width: 28px;
                    height: 28px;
                    font-size: 28px;
                }
            }

            .spacer {
                flex: 1 1 auto;
            }

            .title {
                color: $kia-dark-blue;
                font-weight: bold;
                font-size: 16px;
                display: flex;
                align-items: center;
                margin-right: 10px;

                > span {
                    margin-right: 10px;
                    white-space: normal;
                    text-align: right;
                    line-height: 1.2em;
                }

                .img {
                    height: 45px;
                    width: 45px;
                }
            }
        }

        .toolbar-box-shadow {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 40px;
            z-index: 2;
            border-radius: 20%;
            box-shadow: 0 0 6px 5px rgba(204, 204, 215, 0.7);
        }
    }
}
