<div class="toolbar">
    <mat-toolbar>
        <button type="button" class="back-button" mat-button (click)="back()" data-qa="btnHeaderReturn">
            <mat-icon>keyboard_arrow_left</mat-icon>
            <span>{{ 'common.back' | translate }}</span>
        </button>
        <span class="spacer"></span>
        <div class="title" data-qa="headerTitle">
            <span *ngIf="title">{{ title }}</span>
            <img [src]="icon" alt="icon" *ngIf="icon" />
            <ng-content *ngIf="!icon"></ng-content>
        </div>
    </mat-toolbar>
    <div class="toolbar-box-shadow"></div>
</div>
