<div class="iban-recap-container">
    <div class="iban-title-container">
        <app-iban-icon class="icon"></app-iban-icon>
        <div class="title">{{ 'profile.bankDetails.editRib.iban' | translate }}</div>
    </div>
    <div class="information">
        <div class="name">{{ userIban?.holder }}</div>
        <div class="iban">{{ userIban?.iban }}</div>
    </div>
</div>
<div class="rib-title">
    <img src="assets/svg/icon-rib-blue.svg" alt="rib icon" />
    <div class="title">{{ 'profile.bankDetails.editRib.rib' | translate }}</div>
</div>
<div class="rib-preview-container">
    <app-file-preview [file]="rib"></app-file-preview>
</div>
