@import 'src/variables';

.iban-recap-container {
    background-color: $app-background-color;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    .iban-title-container {
        display: flex;
        align-items: center;

        .icon {
            margin-right: 10px;
        }

        .title {
            margin-right: 20px;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            color: $kia-dark-blue;
        }
    }

    .information {
        display: flex;
        flex-direction: column;
        color: $kia-dark-blue;

        .name {
            font-style: normal;
            font-size: 16px;
            line-height: 18px;
        }

        .iban {
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.rib-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .title {
        margin-left: 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $kia-dark-blue;
    }
}

.rib-preview-container {
    background-color: $app-background-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 350px;
}
