<div class="moderated-product-container">
    <h3>{{ 'moderation.title' | translate }}</h3>
    <p [innerHTML]="'moderation.one' | translate"></p>
    <span class="spacer"></span>
    <p class="error">{{ 'moderation.two' | translate }}</p>
    <div class="button-container">
        <button type="button" kia-button variant="bordered-bold" compact (click)="modifyProduct($event)">
            {{ 'moderation.button' | translate }}
        </button>
    </div>
</div>
