@import 'src/variables';

.moderated-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: calc(100% - 60px);
    margin: 30px 0;

    .spacer {
        width: 45px;
        height: 1px;
        border-bottom: solid 1px;
        margin: 8px 0;
    }

    p {
        font-size: 14px;
        margin: 0 4px;
    }

    .error {
        font-size: 13px;
        color: $kia-red;
    }

    .button-container {
        width: 100%;
        max-width: 150px;
    }
}
