<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="width" [attr.height]="height" viewBox="0 0 30 30">
    <defs>
        <style>
            .a {
                fill: #fff;
            }
            .b {
                fill: #4caf50;
            }
        </style>
    </defs>
    <circle class="a" cx="13.697" cy="13.697" r="13.697" transform="translate(1.074 1.075)" />
    <path
        class="b"
        d="M15,0A15,15,0,1,0,30,15,15.044,15.044,0,0,0,15,0ZM12,22.5,4.5,15l2.1-2.1L12,18.3,23.4,6.9,25.5,9Z"
        transform="translate(0 0)"
    />
</svg>
