@import 'src/variables';

:host {
    height: 660px;

    button {
        display: flex;
        align-items: center;
        background: none;
        border: none;

        &.report-abuse {
            padding: 10px 10px 0;
            color: $light-text-color;
        }

        app-report-product-icon {
            margin-left: -10px;
            margin-right: -6px;
        }

        span {
            font-size: 13px;
            margin-left: 6px;
        }
    }
}

.pictures-container {
    display: flex;
}

.pictures-selection-container {
    .picture-container {
        width: 80px;
        height: 110px;
        margin-bottom: 6px;
        border: 4px solid transparent;

        transition: ease 0.1s;

        &.selected {
            border: 4px solid $kia-dark-blue;
        }

        .picture {
            width: 100%;
            height: 100%;
            border: none;
            padding: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.selected-picture-container {
    position: relative;
    width: 500px;
    height: 660px;
    margin: auto;

    app-product-bonus-sticker {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        z-index: 100;
    }

    .picture {
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .like-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 12px;
        bottom: 15px;
        right: 20px;
        height: 32px;
        min-width: 52px;
        background-color: $app-background-color;
        border: none;
        border-radius: 16px !important;
        z-index: 200;
        box-shadow: 0 3px 5px -4px rgb(0 0 0 / 20%), 0 0px 0px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);

        .like-text {
            font-size: 14px;
            color: $kia-dark-blue;
            margin-left: 6px;
        }

        mat-spinner {
            margin-left: 6px;
        }

        &:focus {
            outline: none;
            border: 3px solid $kia-dark-blue;
        }
    }

    app-c2c-regulation {
        padding-top: 10px;
    }
}

.pro-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .quality-block {
        justify-self: center;
        display: flex;
        align-items: center;
        margin-top: 12px;
    }

    .delivery-block {
        justify-self: center;
        display: flex;
        align-items: center;
        margin-top: 12px;
    }

    .free-return-block {
        justify-self: center;
        display: flex;
        align-items: center;
        margin-top: 12px;
    }

    .text-block {
        margin-left: 12px;
        max-width: 170px;

        .title {
            font-size: 12px;
            font-weight: bold;
            color: $kia-dark-blue;
        }

        .subtitle {
            font-size: 11px;
            color: $medium-text-color;
            margin-top: 2px;
        }
    }
}
