<div class="pictures-container">
    <div class="pictures-selection-container" *ngIf="pictures.length > 1">
        <div
            class="picture-container"
            *ngFor="let picture of pictures; let index = index"
            [ngClass]="{ selected: index === selectedIndex }"
        >
            <button type="button" class="picture" (click)="onPictureClicked(picture, index)" data-qa="picture">
                <img
                    alt=""
                    [src]="getFileUrl(picture.fileName!)"
                    [appThumbnailFormat]="{ origin: getFileUrl(picture.fileName!), format: 'product-medium' }"
                    (load)="onImageLoaded(picture)"
                />
            </button>
            <div class="loader-container" *ngIf="picture.loading">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </div>
    </div>

    <div class="selected-picture-container">
        <app-product-bonus-sticker
            *ngIf="(viewHisProduct$ | async) === false"
            [price]="product?.price || 0"
        ></app-product-bonus-sticker>

        <button type="button" class="picture" (click)="openImageInFullScreen(selectedPicture)" data-qa="picture">
            <img
                alt=""
                [src]="selectedPictureUrl"
                [appThumbnailFormat]="{ origin: selectedPictureUrl, format: 'product-large' }"
                (load)="onImageLoaded()"
            />
        </button>

        <div class="loader-container" *ngIf="isSelectedPictureLoading">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>

        <div class="pro-information" *ngIf="product?.owner?.type === UserType.PROFESSIONAL">
            <div class="quality-block">
                <app-quality-icon></app-quality-icon>

                <div class="text-block">
                    <div class="title">{{ 'proInformation.quality.title' | translate }}</div>
                    <div class="subtitle">{{ 'proInformation.quality.subtitle' | translate }}</div>
                </div>
            </div>

            <div class="delivery-block">
                <app-delivery-icon></app-delivery-icon>

                <div class="text-block">
                    <div class="title">{{ 'proInformation.delivery.title' | translate }}</div>
                    <div class="subtitle">{{ 'proInformation.delivery.subtitle' | translate }}</div>
                </div>
            </div>

            <div class="free-return-block">
                <app-free-return-icon></app-free-return-icon>

                <div class="text-block">
                    <div class="title">{{ 'proInformation.free-return.title' | translate }}</div>
                    <div class="subtitle">{{ 'proInformation.free-return.subtitle' | translate }}</div>
                </div>
            </div>
        </div>

        <button
            class="report-abuse"
            type="button"
            (click)="onReportButtonClicked()"
            *ngIf="(isLogged$ | async) && (viewHisProduct$ | async) === false && !isProductUnavailable"
            appDisableIfUserBlocked
            [disabled]="product?.owner?.hasBlockedMe"
        >
            <app-report-product-icon
                [width]="40"
                [height]="40"
                [variant]="'light'"
                [hasShadow]="false"
            ></app-report-product-icon>
            <span>{{ 'product.report.title' | translate }}</span>
        </button>

        <button type="button" class="like-button" (click)="onLikeButtonClicked($event)" appDisableIfUserBlocked>
            <app-heart-icon [active]="!!(isProductFavorite$ | async)"></app-heart-icon>
            <span class="like-text" *ngIf="!loadingLikes; else loadingLikesSpinner">{{ nbLikes || 0 }}</span>
            <ng-template #loadingLikesSpinner>
                <mat-spinner [diameter]="15"></mat-spinner>
            </ng-template>
        </button>
    </div>
</div>
