<div class="avatar-container" appDeviceClasses>
    <a
        appDeviceClasses
        class="edit-link"
        routerLink="/profile/edit"
        *ngIf="(deviceService.isDesktop$ | async) && (isCurrentUser$ | async)"
    >
        <mat-icon>edit</mat-icon>
    </a>
    <img
        alt=""
        class="avatar"
        [src]="avatarURL$ | async"
        [appThumbnailFormat]="{ origin: (avatarURL$ | async) || '', format: 'product-medium', fallback: 'avatar' }"
    />
</div>

<a
    appDeviceClasses
    class="edit-link"
    routerLink="/profile/edit"
    *ngIf="(deviceService.isHandset$ | async) && (isCurrentUser$ | async)"
>
    <mat-icon>edit</mat-icon>
</a>

<div class="card-hidden-container" appDeviceClasses>
    <div class="card-container" appDeviceClasses>
        <div class="content">
            <div class="information">
                <div class="pseudo-container">
                    <app-chip *ngIf="user?.type === UserType.PROFESSIONAL" variant="pink">PRO</app-chip>
                    <div class="pseudo">{{ user?.nickname }}</div>
                    <div class="vacation-mode" *ngIf="user?.status === UserProfileStatus.VACATION">
                        <mat-icon>beach_access</mat-icon>
                        <span>{{ 'common.holidaysModeActivated' | translate }}</span>
                    </div>
                </div>
                <div class="presentation" *ngIf="user?.presentationStatus === 'OK'">
                    {{ user?.presentation }}
                </div>
                <app-user-information [user]="user" *ngIf="user?.type !== UserType.PROFESSIONAL"></app-user-information>
                <app-user-pro-information *ngIf="user?.type === 'PROFESSIONAL'"></app-user-pro-information>

                <a class="rating" routerLink="rating" appDeviceClasses>
                    <div class="flex-column">
                        <div class="title">{{ 'profile.view.rating' | translate }}</div>
                        <div class="flex-row">
                            <app-rating [rate]="user?.rate || 0"></app-rating>
                            <span class="user-rating-number" data-qa="commentNumber"> ({{ user?.totalRate }}) </span>
                        </div>
                    </div>
                    <mat-icon class="arrow">chevron_right</mat-icon>
                </a>

                <div class="following-stats" *ngIf="user">
                    <mat-icon>groups</mat-icon>
                    <a
                        [routerLink]="['/profile', user.id, 'followers']"
                        [innerHTML]="'profile.view.followers' | translate: { total: user?.totalFollowers || 0 }"
                    >
                    </a>
                    <span class="dot">·</span>
                    <a
                        [routerLink]="['/profile', user.id, 'following']"
                        [innerHTML]="'profile.view.following' | translate: { total: user?.totalFollowing || 0 }"
                    >
                    </a>
                </div>

                <ng-container
                    *ngIf="
                        (deviceService.isHandset$ | async) && (isCurrentUser$ | async) === false && (isLogged$ | async)
                    "
                >
                    <button
                        class="subscription-button"
                        mat-stroked-button
                        type="button"
                        color="primary"
                        [disabled]="followingLoading$ | async"
                        *ngIf="(isFollowing$ | async) === false; else unsubscribeButton"
                        (click)="onSubscriptionButtonClicked()"
                    >
                        {{ 'following.followDressing' | translate }}
                    </button>
                    <ng-template #unsubscribeButton>
                        <button
                            class="subscription-button"
                            mat-flat-button
                            type="button"
                            color="primary"
                            [disabled]="followingLoading$ | async"
                            (click)="onUnsubscriptionButtonClicked()"
                        >
                            {{ 'following.unfollowDressing' | translate }}
                        </button>
                    </ng-template>
                </ng-container>
            </div>

            <ng-content></ng-content>
        </div>

        <ng-container *ngIf="(displayShare && canShareDressing) || (deviceService.isDesktop$ | async)">
            <hr />

            <div class="share">
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="onShareButtonClicked()"
                    *ngIf="displayShare && canShareDressing"
                >
                    <mat-icon class="m-5">share</mat-icon>
                    <span class="m-5">{{ 'profile.view.share' | translate }}</span>
                </button>
            </div>
        </ng-container>
    </div>
</div>
