@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
}

.avatar-container {
    z-index: 8;
    width: 100%;
    height: 320px;

    &.desktop {
        margin-top: 60px;
        position: relative;
    }

    &.handset {
        position: fixed;
        top: 60px;
    }

    .avatar {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.edit-link {
    position: absolute;
    right: 10px;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &.handset {
        top: calc(10px + #{$header-height});
        z-index: 20;
    }

    &.desktop {
        top: 10px;
    }
}

.vacations-icon {
    position: absolute;
    left: 10px;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.handset {
        top: calc(10px + #{$header-height});
        z-index: 20;
    }

    &.desktop {
        top: 10px;
    }
}

.desktop {
    &:before {
        background-color: $app-background-color;
    }

    .content {
        background-color: $app-background-color;
    }
}

.handset {
    &:before {
        background-color: $content-background-color;
    }

    .content {
        background-color: $content-background-color;
    }
}

.card-hidden-container {
    &.handset {
        height: calc(100vh - #{$header-height} - #{$footer-height});
        position: relative;
        z-index: 10;
    }

    .card-container {
        position: relative;
        z-index: 9;
        width: 100%;
        flex: 1;

        &.desktop {
            background-color: $app-background-color;
        }

        &.handset {
            position: absolute;
            padding-bottom: env(safe-area-inset-bottom);
            top: calc(320px + #{$header-height});
        }

        &:before {
            content: ' ';
            mask-image: url('/assets/svg/profile-border.svg');
            mask-size: cover;
            mask-position: center;
            height: 26px;
            position: absolute;
            z-index: 2;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -15px;
        }

        .content {
            position: relative;
            z-index: 3;

            .information {
                padding: 0 20px;

                .rating {
                    border-radius: 8px;
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 15px;
                    margin: 15px 0;
                    text-decoration: none;

                    &.desktop {
                        background: $darker-background-color;
                    }

                    &.handset {
                        background: $app-background-color;
                    }

                    .title {
                        font-style: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: $light-text-color;
                    }

                    .user-rating-number {
                        font-style: normal;
                        font-size: 16px;
                        line-height: 18px;
                        color: $kia-dark-blue;
                        margin-left: 10px;
                    }

                    .arrow {
                        color: $light-text-color;
                    }
                }

                .following-stats {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 15px;
                    margin: 15px 0;
                    color: $medium-text-color;

                    mat-icon {
                        font-size: 24px;
                        margin-right: 12px;
                    }

                    a {
                        font-size: 14px;
                        text-decoration: none;
                        color: $kia-dark-blue;
                    }

                    .dot {
                        margin-left: 6px;
                        margin-right: 6px;
                        font-size: 20px;
                    }
                }

                .pseudo-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    app-chip {
                        margin-right: 8px;
                    }

                    .pseudo {
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        color: $kia-dark-blue;
                        max-width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .vacation-mode {
                        font-size: $small-text-font-size;
                        color: $kia-red;
                        display: flex;
                        align-items: center;
                        border: 1px solid $kia-red;
                        border-radius: 10px;
                        padding: 2px 6px;
                        margin-left: 8px;

                        > mat-icon {
                            font-size: 14px;
                            width: 14px;
                            height: 14px;
                            margin-right: 6px;
                        }
                    }
                }

                .presentation {
                    margin-top: 7px;
                    margin-bottom: 10px;
                    font-style: italic;
                    font-size: 14px;
                    color: $medium-text-color;
                    line-height: 20px;
                    white-space: pre-line;
                }
            }
        }
    }
}

hr {
    border-top: 1px solid $kia-lighten-dark-blue;
    margin: 0;
}

.share {
    display: flex;
    flex-direction: column;
    padding: 20px;

    > button {
        width: 100%;
        height: 45px;
    }

    .subscription-button {
        margin-top: 10px;
    }
}

.m-5 {
    margin-left: 5px;
    margin-right: 5px;
}
.subscription-button {
    width: 100%;
    margin-bottom: 10px;
}
