<ng-container *ngIf="hidden; else fullText">
    {{ 'text.c2cRegulation' | translate | truncateWithDots: 100 }}
    <button type="button" (click)="viewAll()">
        {{ 'common.seeAll' | translate }}
    </button>
</ng-container>
<ng-template #fullText>
    {{ 'text.c2cRegulation' | translate }}
</ng-template>
