@import 'src/variables';

:host {
    display: block;
    font-size: 12px;
    color: $medium-text-color;
    text-align: justify;

    button {
        font-size: 12px;
        background: none;
        outline: none;
        border: none;
        color: $kia-dark-blue;
        padding: 0;
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}
