@import 'src/variables';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title {
        font-size: 18px;
        font-weight: bold;
        color: $kia-dark-blue;
        margin-top: 20px;
    }

    .subtitle {
        font-size: 16px;
        color: $medium-text-color;
        margin-top: 10px;
    }

    a {
        margin-top: 20px;
    }
}
