<app-animated-hanger></app-animated-hanger>
<div class="title">{{ 'dressing.empty.title' | translate }}</div>
<div class="subtitle">{{ 'dressing.empty.subtitle' | translate }}</div>
<a routerLink="/add" mat-flat-button color="primary">{{ 'dressing.empty.button' | translate }}</a>
