@import 'src/variables';

.search-desktop-filter {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    .opened,
    .closed {
        transition: max-height 450ms ease-in-out, opacity 250ms ease-in-out;
    }

    .opened {
        max-height: 500px;
        opacity: 1;
    }

    .closed {
        max-height: 0;
        opacity: 0;
    }

    h2 {
        display: flex;
        align-items: center;
        color: $medium-text-color;
        font-size: 20px;
        font-weight: normal;
        margin: 0;

        strong {
            color: $kia-dark-blue;
            margin-left: 6px;
        }

        .count {
            font-size: 14px;
            font-style: italic;
            color: $medium-text-color;
            margin-left: 8px;
        }
    }
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6px;
}
