<div class="search-desktop-filter">
    <div>
        <h2>
            {{ 'filter.results' | translate }}
            <span *ngIf="keyword$ | async" style="margin-left: 4px">:</span>
            <strong *ngIf="keyword$ | async as searchText">{{ searchText }}</strong>

            <span class="count" [ngSwitch]="loading$ | async">
                <ng-container *ngSwitchCase="false">
                    ({{ 'searchPage.results' | translate: { count: totalElements$ | async } }})
                </ng-container>
                <ng-container *ngSwitchCase="true">
                    <mat-spinner [diameter]="16" color="primary"></mat-spinner>
                </ng-container>
            </span>
        </h2>
    </div>
    <section class="filters">
        <app-product-filter-desktop [key]="filterKey"></app-product-filter-desktop>
    </section>
    <section>
        <app-selected-filters *ngIf="(hasFilter$ | async) === true" [key]="filterKey"></app-selected-filters>
    </section>
</div>
