<mat-radio-group class="radio-group" (change)="select($event)">
    <ng-container *ngFor="let sort of sorts; trackBy: trackBySortId">
        <mat-radio-button
            [value]="{ field: sort.field, order: sort.order }"
            [checked]="sort.selected"
            color="primary"
            class="radio-button"
        >
            {{ sort.label | translate }}
        </mat-radio-button>
    </ng-container>
</mat-radio-group>
