@import 'src/variables';

:host {
    display: flex;

    &.handset {
        justify-content: flex-start;
    }
    &.desktop {
        justify-content: center;
    }

    section {
        padding: 20px;
        content-visibility: auto;

        &.handset {
            contain-intrinsic-size: 1218px;
        }
        &.desktop {
            contain-intrinsic-size: 1716px;
        }

        &.handset {
            width: calc(100vw - 40px);
        }
        &.desktop {
            width: $desktop-max-width;
        }
    }

    .products {
        display: grid;
        grid-gap: 6px;

        &.handset {
            grid-template-columns: repeat(2, 1fr);

            app-product-card {
                width: 100%;
            }
        }

        &.desktop {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 20px;
            row-gap: 30px;
            grid-column-gap: 20px;
            grid-row-gap: 30px;

            app-product-card {
                width: 100%;
            }
        }
    }

    .see-all-button {
        display: block;
        border-radius: 28px;
        width: 160px;
        font-size: 15px;
        margin: 12px auto 0;
    }
}
