<app-user-navigation></app-user-navigation>
<div class="user-dressing-container" [class.has-banner]="showBanner" appDeviceClasses>
    <div
        *ngIf="(productsSelectors.loading$ | async) === true"
        [ngClass]="{
            'loader-container': (productsSelectors.productsInDressing$ | async)?.length === 0,
            spinner: productsSelectors.loading$ | async
        }"
    >
        <mat-spinner [diameter]="30" color="primary"></mat-spinner>
    </div>

    <div
        *ngIf="
            ((productsSelectors.loading$ | async) === false &&
                (productsSelectors.productsInDressing$ | async)?.length) ||
            0 <= 0
        "
        class="empty-container"
    >
        <app-empty-dressing-card></app-empty-dressing-card>
    </div>

    <div
        class="user-dressing-scroll"
        #userDressingScrollEl
        *ngIf="(productsSelectors.productsInDressing$ | async)?.length || 0 > 0"
    >
        <div class="title">
            <div [innerHTML]="'profile.view.dressing.mine' | translate"></div>
        </div>

        <app-product-list
            *ngIf="productsSelectors.hasProductInDressing$ | async; else noProduct"
            [products]="productsSelectors.productsInDressing$ | async"
            [parentScrollEl]="userDressingScrollEl"
            [totalElements]="productsSelectors.totalProducts$ | async"
            (fetchProducts)="onScroll()"
        ></app-product-list>
        <ng-template #noProduct>
            <div class="no-product-container">
                <button type="button" mat-flat-button color="primary" (click)="navigateToAddProduct()">
                    {{ 'dressing.noProductButton' | translate }}
                </button>
            </div>
        </ng-template>
    </div>
</div>
