@import 'src/variables';

app-user-dressing {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-dressing-container {
    background-color: $content-background-color;
    flex: 1;

    &.desktop {
        height: calc(100vh - 200px);
    }

    &.desktop.has-banner {
        height: calc(100vh - 240px);
    }

    .empty-container {
        height: 100%;
        padding: 24px;
        display: flex;
        justify-content: center;
    }

    .user-dressing-scroll {
        height: 100%;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            color: $kia-dark-blue;

            .subtitle {
                font-style: normal;
                font-size: 20px;
                line-height: 23px;
            }
        }

        .no-product-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
