<button type="button" [disabled]="disabled" (click)="selected.emit()">
    <span class="title">{{ title }}</span>
    <span class="action">
        <span class="placeholder" *ngIf="!hasEntry && !disabled">{{ placeholder }}</span>
        <span class="disabledPlaceholder" *ngIf="disabled">{{ disabledPlaceholder }}</span>
        <span class="indicator" *ngIf="hasEntry">◉</span>
        <img
            class="select"
            src="../../../../../../../assets/svg/Generique_icon_arrow_right.svg"
            alt="arrow right icon"
        />
    </span>
</button>
