@import 'src/variables';

:host {
    display: flex;

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        background-color: white;
        padding: 12px 21px;
        margin: 3px 14px 3px 0;
        height: 48px;
        box-sizing: border-box;
        font-size: 16px;
        width: 100%;
        border: 0;

        &:disabled {
            opacity: 0.3;
        }

        .title,
        .indicator {
            color: $kia-dark-blue;
        }

        .title {
            display: block;
        }

        .action {
            display: flex;
        }

        .placeholder {
            color: $light-text-color;
        }

        .disabledPlaceholder {
            color: $kia-red;
            font-size: 13px;
        }

        img.select {
            margin-left: 14px;
        }
    }
}
